


// general styles
	.mark{
		font-style: italic;
	}
	[hidden] {
		display: none;
	}



// mixins



// hilite (on focus)
	.hilite(@outline_offset:0) {
		outline-offset: @outline_offset;
		outline: 1px solid @color_hilite;
		box-shadow: 0 0 10px @color_hilite; //rgba(26, 154, 245, .5);
		opacity: 1;
		z-index: 1;

		&.input_value {
			padding-right: 2em;
		}
	}



// generic html inputs appearance
	.dd_input {
		font-size: 1em;
		height: 2.0em;

		margin-right: 0.5em;
		padding: 0.5em;
		//border-radius: 3px;
		border: none;
		outline: 1px solid #eeebeb;

		transition: all .5s ease, padding 0s;
		//transition: padding 0s;
		opacity: 0.75;
		vertical-align: bottom;

		// &.typology_selector { // , &input[type="select"]
		&,select {
			width: 100%;
		}

		// on focus inputs, adds a soft shadow and outline
		&:focus {
			.hilite;
		}
	}



// base mixins
	.section_record_base {
		margin: 0;
		padding: 0;
		// flex config
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
		flex-wrap: wrap;
		flex-flow: column;
		width: 100%;
	}
	.section_group_body_base {
		margin: 0;
		padding: 0;
		// flex config
		display: flex;
		justify-content: flex-start;
		align-items: stretch;
		align-content: stretch;
		flex-wrap: wrap;
	}
	.component_base {
		margin: 0;
		padding: 0;
		// flex config
		display: flex;
		flex-wrap: wrap;
		flex: 0 1 50%; // <'flex-grow'> <'flex-shrink'>? || <'flex-basis'>
		align-content: flex-start; // maintain items flow from top to bottom
		//flex: 0 1 auto;
		z-index: auto; // (!) important to allow fullscreen configs like tinymce

		input[type="text"], input[type="number"], input[type="url"], input[type="password"], button[type="submit"], textarea, select, .contenteditable {

			li & {
				width: 100%;
				outline: 1px solid #eeebeb;
				outline-offset: 0;
			}
			font-size: 1em;
			height: 2.0em;
			width: 100%;
			margin-right: 0.5em;

			// padding: 0.5em;
			//border-radius: 3px;
			border: none;
			outline: 1px solid #eeebeb;

			transition: all .5s ease, padding 0s;
			//transition: padding 0s;
			opacity: 0.75;

			padding: 0;
			padding-left: 0.5em;
			padding-right: 0.5em;

			// on focus inputs, adds a soft shadow and outline
			&:focus {
				.hilite;
			}
		}

		select  {
			li & {
				margin-right: 0.5em;
			}
		}
		input[type="radio"] {
			//height: 1.2em;
			font-size: 1em;
		}
	}//end .component_base



// page
	.wrapper_page {
		// display: grid;
		// padding: 1em;
		// padding-top: 2.1em;

		padding: 0;

		width: calc(100vw - 1em);
		min-height: 100vh;

		>.content_data {
			padding: 1em;
			//padding-top: 2.1em;
		}
	}



// area
	.area {

		>.label {
			font-size: 1.6em;
			padding-top: 0.5em;
			padding-bottom: 0.5em;
			padding-left: 0.2em;
		}

		>.content_data {
			display: flex;
			flex-wrap: wrap;
		}

		.widget_container {
			//background-color: #d9efd3;
			background-color: #fce8d2;
			border-radius: 0.5em;
			margin: 0.35em;
			//flex: 1 1 32.5%;
			flex: 1 1 49%;

			&#search_query_object_test_enviroment {
				flex: 1 1 100%;
				background-color: #3883fa;

				>.widget_label {
					//background-color: #3275e2;
				}
				>.widget_body {
					padding: 0;
					background-color: #f3f3f3;
					>.body_info {
						padding: 0;
					}
				}
			}//end search_query_object_test_enviroment

			&#php_info {
				flex: 1 1 100%;
				background-color: #9999cc;

				>.widget_label {
					background-color: #777bb3;
				}

				iframe.php_info_iframe {
					margin: 0;
					padding: 0;
					width: 100%;
				}
			}//end php_info

			&#search_query_object_test_enviroment {

				#json_editor_container {
					height: 50vh;
				}
			}

			>.widget_label {
				padding: 1em;
				//background-color: #73A266;
				background-color: @color_orange_dedalo;
				color: #ffffff;
				//font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 0.025em;
				user-select: none;
				cursor: pointer;

				&:before {
					content: " ";
					.build_button('gear.svg', white, 0.7);
					float: right;
					margin: 0;
					cursor: default;
				}
			}
			>.widget_body {
				padding: 1em;

				>.link {
					cursor: pointer;
					user-select: none;
					padding-bottom: 0.25em;

					&:active {
						opacity: 0.5;
					}
					&:before {
						content: " ";
						.build_button('arrow-circle-right.svg', #3F3F3F, 1);
						vertical-align: text-bottom;
						padding: 0;
						margin: 0;
						margin-right: 0.3em;
						height: 1.2em;
					}
				}

				>.body_info {
					padding-top: 0.5em;
					padding-bottom: 0.5em;
					font-size: 0.9em;
					color: #676464;

					>h6 {
						//font-weight: bold;
						font-size: 1.2em;
						padding: 0.5em;
						padding-left: 0;
					}

					>pre {
						margin-top: 1em;
					}

					>.command {
						font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
						font-size: 0.8em;
						padding: 0.5em;
						border: 1px solid #ccc;
						background-color: #f5f5f5;
						display: flex;
						margin-bottom: 0.25em;

						>.vkey {
							font-size: 4em;
							padding: 0.20em;
							position: relative;
							background-color: #ccc;
						}
						>.vkey_value {
							padding: 0.5em;
							font-size: 0.9em;
							line-height: 1.25em;
							word-break: break-all;
							white-space: pre-wrap;
							//color: #000;
						}
					}
				}

				>.body_response {
					border-top: 1px solid rgba(108, 108, 108, 0.27);
					padding-top: 0.5em;
					padding: 0.5em;
					margin-top: 0.5em;
					width: 100%;
					max-width: 100%;
					overflow: auto;

					padding: 0;
					margin: 0;
					border: none;

					>* {
						padding: 0.5em;
					}


					//* {
					//	max-width: 100%;
					//	white-space: normal;
					//}

					&.preload {
						min-height: 3em;

						>* {
							//visibility: hidden;
							opacity: 0.3;
						}
					}

					>pre {
						margin-top: 1em;
						white-space: pre-wrap;
						pre {
							white-space: initial;
							//white-space: pre-wrap;
						}
					}

					>.clean:after {
						// .icon_svg;
						// //background-image: url(../../themes/default/icons/eraser.svg);
						// .background_icon('eraser.svg');
						cursor: pointer;

						.build_button('eraser.svg', white, 1)
					}
				}
			}
		}

		>.buttons {
			padding: 1em;
			width: 100%;
			background-color: #f5f2e8;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			border-radius: 0.25em;
			display: flex;
			flex-direction: row-reverse;

			>.button {
				background-color: #FD891D;
				color: #ffffff;
				display: block;
				width: auto;
				padding: 1em;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				border-radius: 0.25em;

				&:hover {
					color: #000000;
				}
				&:active {
					color: #ffffff;
				}
			}
		}

	}//end area



// section
	.wrapper_section {

		>.label {
			position: absolute;
			left: 54px;
			margin-top: 1px;
			font-size: 1.2em;

			@media screen and (max-width: @width_break_point_1) {
				position: initial;
				margin-bottom: 1em;
			}
		}

		>.buttons {
			padding: 0;
			width: 100%;
			// background-color: #f5f2e8;
			// margin-top: 0.5em;
			// margin-bottom: 0.5em;
			// border-radius: 0.25em;
			display: flex;
			flex-direction: row-reverse;

			>.button {
				background-color: #FD891D;
				color: #ffffff;
				display: block;
				width: auto;
				padding: 1em;
				padding-top: 0.5em;
				padding-bottom: 0.5em;
				border-radius: 0.25em;
				margin: 0.5em;
				height: auto;

				&:hover {
					color: #000000;
				}
				&:active {
					color: #ffffff;
				}
			}
		}

		&.list {
			>.paginator {
				margin-bottom: 0.25em;
				margin-top: 0.25em;
			}
		}

		&.edit {
			width: calc(100vw - 18em);

			@media screen and (max-width: @width_break_point_1) {
				width: 100%;
			}


			&.full_width {
				width: 100%;
			}

			>.filter {
				min-height: 28px;
			}

			>.content_data {
				display: flex;
				flex-wrap: wrap;
				width: 100%;

				//&:before {
				//	content: "Section edit";
				//	font-weight: bold;
				//	width: 100%;
				//	padding: 1em;
				//}

				>*:not(.full_width) {
					flex: 1;
				}

				//&:before {
				//	content: "Section edit";
				//	font-weight: bold;
				//	width: 100%;
				//	padding: 1em;
				//	flex-basis: 100%;
				//}
			}
		}//end &.edit


		&.list {
			>.content_data {
				//display: flex;
				//flex-wrap: wrap;
				width: 100%;

				//&:before {
				//	content: "Section list";
				//	font-weight: bold;
				//	width: 100%;
				//	padding: 1em;
				//	flex-basis: 100%;
				//}
			}

		}//end &.list


	}//section



// section_record
	.section_record {

		&.edit {
			.section_record_base; // flex base config
				//background-color: #DBF5FF;
				outline: 1px solid rgba(216, 216, 216, 0.43);

				//&:before {
				//	content: "Section record";
				//	font-weight: bold;
				//	width: 100%;
				//	padding: 1em;
				//}

				// inside content_data
				>.content_data & {
					margin-left: 0;
				}
		}//end &.edit


		&.list {
			position: relative;
			background-color: #f7f7f7;
			display: grid;
			width: 100%;
			height: 100%;
			margin-right: 0.5em;
			outline: 1px solid #EAEAEA;

			// portal and autocomplete
			li & {
				//background-color: #F4FF2F;
				display: flex;

				.id_column {
					flex: 0 0 5em;
				}
			}

			// hover main row
			.section > &&:hover {
				//&:after {
				//	content: " ";
				//	display: block;
				//	position: absolute;
				//	left: 0;
				//	bottom: 0;
				//	height: 100%;
				//	width: 100%;
				//	//background-color: #000000;
				//	//opacity: 0.035;
				//	border-bottom: 3px solid #000000;
				//	border-top: 3px solid #000000;
				//}
				div {
					background-color: #E4E4E4 !important;
				}
			}

			>div {
				height: auto;
				//display: inline-block;
				padding: 1em;
				//padding-left: 1em;
				//padding-right: 0;
				flex: 1 0;
				//padding: 0;
				//outline: 1px solid #EAEAEA;
				word-wrap: break-word;
				word-break: break-all;
				overflow: hidden;

				.component_autocomplete & {
					display: inline-block;
				}

				&.info {
					border-left: 1px solid #eaeaea;
					//margin-left: 1em;
				}

				&.id_column {
					//display: flex;
					//flex-wrap: wrap;
					//align-self: flex-start;
					//display: table;
					padding-left: 0.25em;
					padding-right: 0.5em;

					@height_line : 1.2em;

					>div {
						flex: 1 1 100%;
						display: flex;
						flex-wrap: wrap;
						align-items: center;
						justify-content: flex-end;
						min-height: @height_line;
					}

					// a {
					// 	background-size: cover;
					// 	background-repeat: no-repeat;
					// 	background-position: center;
					// 	background-color: #2c2c2e;
					// 	width: @height_line + 0.1;
					// 	height: @height_line;
					// 	margin-left: 0.3em;
					// 	opacity: 0.7;
					// }

					>.edit_line {
						//background-color: #CDFFA9;
						//flex-direction: row-reverse;

						>span {
							display: inline-block;
							font-size: @height_line + 0.02;
							//height: @height_line;

							margin-left: 0.2em;
							margin-right: 0.35em;
						}

						// >a {
						// 	//.icon_svg;
						// 	//background-image: url(../../themes/default/icons/edit.svg);
						// 	// .background_icon('edit.svg');
						// 	.build_button('edit.svg', black, 1);

						// 	&.tm_preview {
						// 		.build_button('eye.svg', black, 1);
						// 	}
						// 	&.link {
						// 		.build_button('link.svg', black, 1);
						// 	}
						// }

					}

					>.delete_line {
						//background-color: #FA913B;
						//flex-direction: row-reverse;
						margin-top: 0.5em;

						>span {
							display: inline-block;
							font-size: @height_line + 0.02;
							//height: @height_line;
						}

						// >a {
						// 	//.icon_svg;
						// 	//background-image: url(../../themes/default/icons/trash-o.svg);
						// 	// .background_icon('trash-o.svg');
						// 	.build_button('trash-o.svg', black, 1);
						// }
					}
				}//end id_column

			}

			>.breakdown {
				padding: 0;
			}

		}//end &.list


	}//end .section_record.edit



// section_group
	.section_group {

		&.edit {

			// inside .section_record.edit context
			.section_record.edit & {
				//background-color: bisque;
				//outline: 1px solid rgba(216, 216, 216, 0.43);
				width: 100%;
				//border: 1px solid #BFBFBF;

				>.label {
					background-color: @color_grey_dark;
					//background-image: url('../../themes/default/bg_black.png');
					color: #ffffff;
					padding: 1em;
					cursor: pointer;
					&:active {
						opacity: 0.5;
					}
				}
				>.content_data {
					// flex base config
					.section_group_body_base;

					//>.wrapper_component:last-of-type {
					////>.wrapper_component:nth-last-of-type(1) {
					//	flex-grow: 0;
					//	background-color: #FF0000 !important;
					//}
				}
			}

		}//end &.edit


		&.list {

		}//end &.list

	}//end .section_group



// component
	.wrapper_component {
		position: relative;

		&.active {
			// box-shadow: 3px 5px 8px 1px #c6c6c6;
			z-index: 1;
			.buttons_container {
				display: block !important;
			}
		}

		&.edit, &.search {
			>.content_data {
				max-height: inherit;
			}

			// component_av
			&.component_av {
				>.content_data {
					max-height: @media_max_height;
					height: 100%;

					// posterframe
					.posterframe  {
						// height: 100%;
						max-height: 100%;
						// width: 100%;
						max-width: 100%;
						min-width: 100%;
						//min-height: 14em;
						//background-position: initial;
						//background-size: cover;
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						object-fit: contain;
						object-position: center;
						align-self: center;

						// on focus adds a soft shadow and outline
						&:focus {
							.hilite(-1px);
						}
					}
				}
			}

			// component_check_box
			&.component_check_box {
				>.content_data {
					overflow: auto;
				}
			}

			// component_date
			&.component_date {
				>.content_data {
					.flatpickr {
						position: relative;
						>a {
							position: absolute;
							right: 0;
							top: 0.25em;
							opacity: 0.5;
						}
					}
					.remove {
						position: initial;
					}
				}
			}

			// component_filter
			&.component_filter {

				>.buttons_container {
					display: none;
					background-color: #ffffff;
					// background-color: #BDFF69;
					flex: 0 1 1em;
					padding: 0; // 0.15em;
					// border-radius: 0.25em;
					width: 2em;

					// 2
					position: absolute;
					top: 0;
					right: 0;

					// 3
					// left: 100%;
					// right: 0;
					z-index: 1;
					background-color: @color_orange_dedalo;
					height: 100%;
					box-shadow: 2px 2px 5px 0 rgba(38, 38, 38, 0.3);
					border-top-right-radius: 0.25em;
					border-bottom-right-radius: 0.25em;
				}
				>.content_data {
				}
			}

			// component json
			&.component_json {
				>.buttons_container {
					.button_fullscreen {
						// .build_button('full_screen.svg');
						// position: absolute;
						// top: 9px;
						// z-index: 4;
						// right: 99px;
						// background-color: white;
						// cursor: pointer;
					}
				}
				>.content_data {
					height: 100%;
					// max-height: @media_max_height;
					padding-bottom: 3em;
					min-height: 30.5em;

					.inputs_container>li {
						// align-items: initial;

					}

					// override json editor
					.ace_gutter {
						// z-index: unset;
					}
					div.jsoneditor-mode-code{
						// height: 100vh; //100vh if you want full screen
					}
				}
			}

			// component_image
			&.component_image {
				// @width_break_point_2
				&.wide {
					flex: 1 1 100%;
				}
				>.content_data {
					height: 100%;
					max-height: @media_max_height;
					margin-bottom: 0.5em;

					ul {
						height: 100%;
						width: 100%;
						>li{
							// background-color: #dcdc28;
							background-color: #f5f5f5;
							height: @media_max_height;
							width: 100%;
							text-align: center;
							display: flex;
							align-items: center;
							justify-content: center;

							.image  {
								// visibility: hidden;
								height: 100%;
								// height: auto;
								max-height: 100%;
								// width: 100%;
								max-width: 100%;
								//min-height: 14em;

								// on focus adds a soft shadow and outline
								&:focus {
									.hilite(-1px);
								}
							}
							// img {
							// 	padding: 0;
							// 	flex: 1;
							// }
							canvas {
								background-color: #59d61d;
							}
							.canvas[resize] {
								height: 100%;

								// testing
								// max-height: 100%;
								// max-width: 100%;

								// width: 100%;
								// max-height: 100%;
								// max-width: 100%;
								// object-fit: contain;
								// object-position: center;
							}
						}
					}
				}
				>.quality_selector {
					margin: 0;
					margin-left: 1em;
					margin-right: 1em;
					margin-bottom: 1em;
				}
			}


			// component_input_text
			&.component_input_text {
				>.content_data {
					.button.remove {
						position: absolute;
						right: 0.5em;
						top: .25em;
						z-index: 1;
					}
				}
			}

			// component pdf
			&.component_pdf {

				>.content_data {
					height: calc(100% - 1.5em);

					>ul {
						li {
							flex-wrap: wrap;
							align-items: flex-start;
							iframe {
								flex: 0 0 100%;
								height: calc(100% - 3.5em);
								min-height: 50em;
							}
							.fields {
								flex: 0 0 100%;
								display: block;
								text-align: left;
								text-transform: capitalize;
								background-color: #3c3c3c;
								color: white;
								padding: 1.25em;
								padding-left: 1.5em;
								margin: 0;
								font-size: 0.8em;
								input {
									width: 5em;
									margin-left: 1em;
									text-align: center;
								}
							}
						}
					}
				}
			}

			// component_radio_button
			&.component_radio_button {
				>.content_data {

				}
			}

			// component_svg
			&.component_svg {
				>.content_data {
					max-height: @media_max_height;
				}
				img.image {
					padding: 0;
					height: 100%;
					//max-height: 10em;
					width: 100%;
				}
			}

			// component_text_area
			&.component_text_area {
				.layer_selector{
					width: 10em;
					background-color: @color_orange_dedalo;
					position: absolute;
					right: 0;
					top: 0;
					padding: 0;
					text-align: right;

					>.button {
						margin: 0.5em;
						float: none;
						display: inline-block;
						&.add {
							float: left;
						}
					}

					>ul.layer_ul {
						text-align: left;
						clear: both;


						// border: 0.5px solid #777;

						>li{
							display: grid;
							grid-template-columns: 1em 1em auto 1em;
							align-items: center;
							border-bottom: 1px solid #777;
							border-left: 1px solid #777;
							border-right: 1px solid #777;
							cursor: pointer;
							background-color: #ffffff;
							height: 30px;

							&:hover {
								background-color: @color_orange_dedalo;
								color: #ffffff;
							}
							&:active {
								background-color: #ffffff;
								color: initial;
							}


							// .layer_icon {
							//
							// }
							.layer_id {
								justify-self: center;
							}
							.user_layer_name {

							}
							// .layer_color_box {
							// 	background-color: #ffffff;
							// 	.layer_color {
							// 		width: 80%;
							// 		height: 20px;
							// 		border-radius: 19px;
							// 	}
							// }
						}
						>li:first-child {
							border-top: 0.5px solid #777;
						}

					}
				}


				>.content_data {
					// min-height: @media_max_height;
					// background-color: #BEF0FA;

					>ul {
						>li {
							z-index: inherit;
						}
					}
				}
			}

			// component_section_id
			&.component_section_id {
				flex: 0 0 100%;
				background-color: @color_orange_dedalo !important;
				flex-direction: row-reverse;
				color: white;
				display: flex;

				.label {
					color: white;
					flex: auto;
				}

				>.content_data {
					flex: 0 0 3em;
					.section_id {
						font-weight: bold;
						font-size: larger;
						letter-spacing: 0.05em;
					}
				}
			}
		}//end &.edit


		&.list {

			&.component_image, &.component_av, &.component_svg {
				padding: 0;
				background-color: #ffffff;
				text-align: center;
				display: block;

				>img {
					padding: 0;
					height: 100%;
					max-height: 5em;
					width: auto;
					// fit image contains
					object-fit: contain;
					object-position: center;
					// center horizontally
					position: absolute;
					left: 50%;
					transform: translate(-50%);
				}
			}
		}//end &.list


		&.edit_in_list {

			>*  {
				padding: 0 !important;
			}
		}//end &.edit_in_list


		// inside .section_record.edit context
		//.section_record.edit &, .components_container & { 22
		.section_record &, .wrapper_tool &, .search_group & {
			// flex base config
			.component_base;

			background-color: rgba(251, 251, 251, 0.70); //#FBFBFB;
			outline: 1px solid rgba(216, 216, 216, 0.43);

			>* {
				&:not(mark) {
					padding: 1em;
				}

				&.paginator {
					padding: 0;

    				>.wrapper_paginator {
    					// margin-top: 0.5em;
    					// margin-left: 0.5em;
    				}
				}
			}

			>.label {
				// background-color: #FEDACF;
				// flex: 1 0 calc(20% - 2em);
				flex: 1 1 100%;
				padding-bottom: 0;
				padding-top: 0.75em;
				// color: #7c7c7c;

				letter-spacing: 0.5px;
				text-overflow: ellipsis;
				overflow: hidden;
				white-space: nowrap;
				cursor: default;
				font-family: Oxygen,"Helvetica Neue",Helvetica,Arial,sans-serif;
				font-weight: 100;
				color: #9e9e9e;
			}

			>.top {
				display: flex;
				// background-color: bisque;
				flex: 0 1 100%;
				align-items: center;
				justify-content: flex-end;
				padding-top: 0.75em;
   				padding-bottom: 0;

   				>select.mono {
					background-color: transparent;
					outline: none;
					-webkit-appearance: none;
					-moz-appearance: none;
					text-indent: 1px;
					text-overflow: '';
					/* text-align: right; */
					width: auto;

					pointer-events: none;
   				}
			}

			>.buttons_container {
				background-color: @color_orange_dedalo;
				display: none;
				flex: 0 1 1em;
				padding: 0; // 0.15em;
				padding-top: 0.5em;
				position: absolute;
				top: 0;
				width: 2em;
				min-height: 100%;
				left: 100%;
				z-index: 1;
				box-shadow: 2px 2px 5px 0 rgba(38, 38, 38, 0.3);
				border-top-right-radius: 0.25em;
				border-bottom-right-radius: 0.25em;

				// >.tools_buttons_container {
					// border-top: 1px solid #ffe5cb;
					// padding-top: 0.5em;
					// display: table;
					// margin-top: 2em;
				// }

				// Vector editor
					.vector_editor {
						.add_mask('vector_editor.svg');
					}
					// tool buttons container
					.vector_editor_tools {

						>.button {
							background-color: #ffffff;
						}

						.layer_selector {
							float: right;
							width: 11em;
							background-color: @color_orange_dedalo;
							position: absolute;
							right: 2em;
							top: 0;
							padding: 0;
							text-align: right;

							>.button {
								margin: 0.5em;
								float: none;
								display: inline-block;
								&.add {
									float: left;
								}
							}

							>ul.layer_ul {
								text-align: left;
								clear: both;
							    max-height: 200px;
									overflow: auto;

								// border: 0.5px solid #777;

								>li{
									display: grid;
									grid-template-columns: 1.5em 1.2em auto 1.5em 1em;
									height: 30px;
									align-items: center;
									border-bottom: 1px solid #777;
									border-left: 1px solid #777;
									border-right: 1px solid #777;
									cursor: pointer;
									background-color: #ffffff;

									&:hover {
										background-color: @color_orange_dedalo;
										color: #ffffff;
										&.raster_layer{
											background-color: #ffffff;
											color: initial;
										}
									}
									&:active {
										background-color: @color_orange_dedalo;
										color: #000;
									}
									&.active{
										background-color: #e6e6e6;
										color: #000;
										font-weight: bold;
										user-select: none;
									}

									.layer_icon {
										// .build_button('eye.svg', black, 1);
										background-color: black;
										justify-self: center;
										opacity: 0.2;
										&:hover {
											opacity: 0.5 !important;
										}
										&.active{
											// background-color: unset !important;
											opacity: 1;
										}
									}
									.layer_id {

									}
									.user_layer_name {


									}
									.layer_delete {
										// .build_button('trash_light.svg', black, 1);
										background-color: black;
										justify-self: center;
									}

									.layer_color {
										width: 12px;
										height: 12px;
										border-radius: 12px;
									}

								}
								>li:first-child {
									border-top: 0.5px solid #777;
								}
							}
						}//end layer_selector

						.open_layer_selector {
							text-align: center;
							border-radius: 2px;
							width: calc(100% - 0.6em);
							margin-left: 0.3em;
							height: 1.25em;
							line-height: 1.25em;
							&.vector_tool_active {
								background-color: #FFFFFF;
							}
						}
						.pointer {
							.add_mask('pointer.svg');
						}
						.pointer_alt {
							.add_mask('pointer_alt.svg');
						}
						.transform {
							.add_mask('pointer.svg');
						}
						.rectangle {
							.add_mask('rectangle.svg');
						}
						.circle {
							.add_mask('circle.svg');
						}
						.vector {
							.add_mask('vector.svg');
						}
						.zoom {
							.add_mask('find.svg');
						}
						.move {
							.add_mask('hand.svg');
						}
						.save {
							// .build_button('save.svg', black, 1);
							// background-color: #000000;
						}
						.button_color_picker {
							// .build_button('rectangle.svg', black, 1);
							border: 0.5px solid #3F3F3F;
						}
						.color_wheel_contaniner{
							float: right;
						}

						.vector_tool_active {
							opacity: 1;
							background-color: black;
						}
					}//end vector-editor_tools

			}//end .buttons_container

			>.content_data {
				// background-color: #B9DFF6;
				// flex: 1 0 calc(80% - 2em);
				display: flex;
				flex: 1 1 100%;
				flex-wrap: wrap;
				//flex-flow: column;
				align-items: flex-start;
				padding-top: 0.5em;

				@media screen and (max-width: @width_break_point_1) {
					flex: 1 1 100%;
				}

				>.q_operator {
					width: 3em;
				}

				>.close {
					position: absolute;
					top: -0.1em;
					right: -0.4em;
					z-index: 3;

					// position: absolute;
					// right: 1px;
					// top: 1px;
					// margin: 0;
				}

				>ul {
					&:not(.search) {
				       height: 100%;
					}
				}

				&.vertical {
					flex: 1 1 100%;
					background-color: #a1cccc5c;
					justify-content: center;
					flex-flow: unset;
				}

				>.inputs_container {
					flex: 1 1 auto;
				}

				// >.buttons_container {
					// display: none;
					// background-color: #ffffff;
					// // background-color: #BDFF69;
					// flex: 0 1 1em;
					// padding: 0; // 0.15em;
					// // border-radius: 0.25em;
					// //position: relative;

					// // 2
					// position: absolute;
					// top: 0;
					// // right: 0;

					// // 3
					// left: 100%;
					// z-index: 1;
					// background-color: @color_orange_dedalo;
					// height: 100%;
					// box-shadow: 2px 2px 5px 0 rgba(38, 38, 38, 0.3);
					// border-top-right-radius: 0.25em;
					// border-bottom-right-radius: 0.25em;

					// >*{
					// 	//margin: 0.365em;
					// 	//line-height: 1.25em;
					// }

					// >.close {
					// 	position: absolute;
					// 	top: -0.1em;
					// 	right: -0.4em;
					// 	color: @color_orange_dedalo;
					// 	opacity: 1;
					// 	z-index: 2;
					// }
				// }

				//&.nowrap {
				//	flex-wrap: nowrap;
				//	flex-flow: nowrap;
				//}
			}//end .content_data

			// @media screen and (max-width: 768px) {
			@media screen and (max-width: 1280px) {
				// flex-basis: 100% !important;
			}
		}//end .section_record &, .wrapper_tool &
	}//end .wrapper_component



	.nowrap {
		flex-wrap: nowrap !important;
		flex-flow: nowrap !important;
	}



// tool
	.tool_container {


		.wrapper_tool {
			padding: 1em;
			background-color: #F5EBB5;

			>* {
				padding: 1em;
			}

			>.tool_header {
				background-color: #B2C8F6;

				>.label {

				}

				>.description {
					font-weight: 100;
				}
			}

			>.buttons {
				background-color: #BAF1F6;
			}

			>.content_data {
				background-color: #B7F9BB;

				>* {
					//padding: 1em;
				}
			}
		}
	}//end tool_container



// dd-modal
	dd-modal {
		// z-index: 10;
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		z-index: unset;

		.header {
			padding: 1em;
			background-color: @color_orange_dedalo;
			color: white;
			font-weight: normal;
			z-index: 2;

			&.label, >.label {
				font-size: 1.4em;
				line-height: 1.4em;
			}
		}

		.iframe_container {
			// background-color: #96FD53;
			>iframe {
				height: calc(100vh - 68px);
				width: 100%;
				top: 0;
				left: 0;
				position: fixed;
				// padding-top: 68px;
				z-index: 1;

				.header_wrapper_list {
					top: 0 !important;
				}
			}
		}

		.footer {
			text-align: right;

			>*{
				margin: 1em;
				margin-left: 0;
			}
		}
	}//end dd-modal



// header_wrapper_list
	.header_wrapper_list {
		position: sticky;
		top: 2em; // default
		background-color: #2c2c2e;
		color: #efefef;
		//display: flex;
		width: 100%;
		// z-index: 1;
		display: grid;
		line-height: 1.1em;
		//font-weight: bold;
		z-index: 1;

		&.with_debug_info_bar {
			top: 3.9em;
		}
		&.with_initiator {
			top: 0;
		}

		>div {
			//display: flex;
			//flex: 1 1 100%;
			outline: 1px solid #C0C0C0;
			padding: 1em;
			padding-top: 0.5em;
    		padding-bottom: 0.5em;

			>div {
				//display: flex;
				//flex: 1 1 auto;
				outline: 1px solid #C0C0C0;
			}
		}
	}



// ul inside content data
	ul {
		.wrapper_component >.content_data & {
			//background-color: #74D6BA;
			display: flex;
			flex-wrap: wrap;
			height: inherit;
			max-height: inherit;

			>li {
				//background-color: #D7B274;
				//padding-right: 1em;
				display: flex;
				flex: 1 1 50%;
				flex-wrap: nowrap;
				line-height: 1em;
				align-items: center;
				max-height: inherit;

				// grouper cases (filter)
				&.grouper {
					flex-wrap: wrap;
					padding-bottom: 0.25em;

					>li {
						padding: 0.25em;
						padding-left: 1em;
						width: 100%;
						// height: 100%;
						height: inherit;
					}

					>.grouper_label {
						width: 100%;
						padding-top: 0.25em;
						padding-bottom: 0.25em;
						opacity: 0.7;
						font-size: 0.80em;
					}

					input {
						vertical-align: text-top;
					}
				}

				label {
					//padding-left: 0.15em;
					//padding-right: 0.5em;
					//vertical-align: baseline;
				}

				input {
					margin-right: 0.5em;
				}

				// q_operator
				>input.q_operator {
					width: 3em;
					text-align: center;
				}

			}

			&.inputs_container >li {
				position: relative;
				flex: 1 1 100%;
				z-index: 0;
				//padding-bottom: 0.25em;
			}
		}
	}



// inspector
	.inspector {
		@top_distance : 72px;
		@inspector_width : 15em;

		height: 100%;
		width: @inspector_width;
		background-color: #fcfcfc;
		position: fixed;
		top: @top_distance;
		left: calc(100vw - 16.4em);
		border: 1px solid #eee;

		@media screen and (max-width: @width_break_point_1) {
			width: 100%;
			left: 0;
			position: initial;
		}
	}//end .inspector
	// .toggle_inspector {
	// 	//background-color: #fcfcfc;
	// 	//background-image: url(../../themes/default/icons/reorder.svg);
	// 	.background_icon('reorder.svg');
	// 	background-position: center;
	// 	background-size: 78%;
	// 	background-repeat: no-repeat;
	// 	height: 1em;
	// 	width: 1em;
	// 	position: fixed;
	// 	padding: 1em;
	// 	top: @top_distance; // 4.70em;
	// 	margin-top: 0.45em;
	// 	right: 0.95em;
	// 	//left: calc(100vw - 3em);
	// 	cursor: pointer;
	// 	z-index: 9999;
	// 	//border: 1px solid @color_grey_dark;
	// 	//border-radius: 0.12em;
	// }



// input focus show next item (button remove)
	// input:focus {
	// 	padding-right: 1.75em;

	// 	& ~ .remove.display_none {
	// 		.display_block;
	// 		//position: absolute;
	// 		//right: 0.5em;
	// 		//top: 0.5em;
	// 		//opacity: 1;
	// 		//background-color: #fefefe;
	// 	}
	// }

	// .contenteditable:focus {

	// 	& ~ .display_none.remove {
	// 		.display_block;
	// 		//position: absolute;
	// 		//right: 1em;
	// 		//top: 0.20em;
	// 	}
	// }

	// input:focus ~ .display_none.email_send {
	// 	.display_block;
	// }

	// input:focus ~ .display_none.go_link {
	// 	.display_block;
	// }

	// .display_block {
	// 	display: block !important;
	// }



// tooltip
	.tooltip_toggle {
		position: relative;

		.hidden_tooltip {
			opacity: 0;
			visibility: hidden;
			// display: none;
		}

		.tooltip {
			transition: all 0.5s ease;
			position: absolute;
			top: calc(100% + 1em);//6.25em;
			left: 1em;
			z-index: 9999999999999999999;
			background-color: rgba(0, 0, 0, 0.9);
			color: #fff;
			padding: 1em;
			line-height: 1.5em;
			border-radius: 5px;
			font-size: .8em;
			width: 100%;
			max-width: 20em;
			// display: block !important;

			>.search_options_title_item {
				display: grid;
				grid-template-columns: 1fr 3fr;

				>span:first-of-type {
					text-align: center;
					font-weight: bold;
				}
			}

			&:after {
				bottom: 100%;
				left: 50%;
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
				//border-color: rgba(0, 0, 0, 0.8);
				border-bottom-color: rgba(0, 0, 0, 0.8);
				border-width: 10px;
				margin-left: -10px;
			}
		}

		&:hover .tooltip {
			transition-delay: 1s; // delay show after hover component wrapper
			visibility: visible;
			opacity: 1;
		}

	}//end .tooltip_toggle



// lock
	.lock {
		pointer-events: none;
		opacity: 0.35;
	}



// disabled_component
	.disabled_component {
		position: relative;

		>.wrapper_component {
			pointer-events: none;
			//opacity: 0.8;
			//background-color: #F7B74C
		}

		&:after {
			content: " ";
			.build_button('lock.svg', red, 1);
			position: absolute;
			top: 4px;
			right: 4px;
			// color: #fd0000;
		}
	}



// preload
	.preload {
		//background-image: url(../../themes/default/icons/preload.svg);
		// .background_icon('preload.svg');
		.build_button('preload.svg', black, 1);
		// background-repeat: no-repeat;
		// background-size: contain; // 2em 2em;
		// background-position: center;
		min-height: 3em;
		min-width: 3em;
		vertical-align: middle;
	}



// component_message
	.component_message {
		position: absolute;
		min-height: 3em;
		top: -3em;
		width: 100%;
		//text-align: right;
		color: white;
		//padding-right: 1.5em !important;
		user-select: none;
		line-height: 1.5em;

		// .wrapper_login & {
		// 	position: relative !important;
		// 	top: 0 !important;
		// }

		&.error {
			background-color: rgba(228, 8, 8, 0.90);
		}

		&.warning {
			background-color: #ED6223;
		}

		&.ok {
			background-color: rgba(10, 150, 74, 0.90);
		}

		.text {
			padding: 0.5em;

			//&:last-of-type {
			//	padding-bottom: 0;
			//}
		}

		.close {
			cursor: pointer;
			width: 1em;
			height: 1em;
			text-align: center;
			position: absolute;
			right: 0.25em;
			top: 0;
			height: 1.5em;
			// font-weight: bold;
			margin: 0;
		}
	}//end .component_message



// EXPERIMENTAL . singular for checking assignaments only
	.singular {

		&.wrapper_component {
			background-color: #F0FBA1 !important;
		}
		&.label {
			background-color: #7CFCDD !important;
			flex: 100% !important;
		}
		&.content_data {
			background-color: #F8CAB7 !important;
			flex: 0 0 90% !important;
		}

		&:after {
			content: "*";
		}
	}


// EXPERIMENTAL section custom test
	.green {
		&[class^="wrapper_"] { // affects all classes starting with 'wrapper_' (wrapper_section, wrapper_component, etc.)
		// &.wrapper_section {
			background-color: #87FA88 !important;
			padding: 1em;
			border-radius: 0.5em;
		}
	}
	.red {
		&.content_data {
			background-color: #F37656 !important;
		}
	}



// EXPERIMENTAL component custom test
	.full {
		&.wrapper_component {
			background-color: #35F9E1 !important;
			flex: 100% !important;
		}
	}


// centered
	.centered {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}



// login
	.wrapper_login {
		width: 100%;
		height: 100%;
		position: fixed; /* or absolute */
		margin: -1em;

		// background image big Dédalo
		&:before {
			content: "";
			position: absolute;

			background-image: url(../../themes/default/dedalo_icon_big.png);
			background-repeat: no-repeat;
			background-position: 0 top;
			background-size: 527px 1024px;

			width: 100%;
			height: 100%;
			z-index: -1;
			//-webkit-transform: rotate(30deg);
			transform: scaleX(-1);
		}

		>.content_data {
			// center
			// position: absolute;
			// left: 50%;
			// top: 32%;
			// transform: translate(-50%);
			.centered;
			// top: 35%;

			.component_base;

			background-color: rgba(243, 243, 243, 0.76);
			max-width: 24em;
			padding: 2em;
			border-radius: 0.5em;
			//padding-top: 1em;
			//padding-bottom: 1em;

			>.select_lang {
				width: 100%;
				height: 2.5em;
				font-size: 1em;
				background-color: #efefef;
				margin-bottom: 1em;

				// remove browser apperance style
				background: url(data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+) no-repeat 95% 50%;
				-moz-appearance: none;
				-webkit-appearance: none;
				appearance: none;
				padding-left: 1em;
				background-color: #fcfcfc;
				opacity: 0.7;
				border: 1px solid #e0e0e0;
			}

			>form {
				display: flex;
				flex-wrap: wrap;
				margin-bottom: 1em;

				>input, >button {
					flex: 1 1 100%;
					font-size: 1em !important;
				}

				>input {
					margin-bottom: 1em;
					&#username {
					}
				}

				>#auth_submit {
					height: 3em;

					>.preload {
						min-height: 2em;
						background-color: white;
						cursor: default;
					}
				}
			}//end form

			>.info {
				font-size: 0.8em;
				opacity: 0.6;

				display: grid;
				grid-template-columns: 1fr 2fr;
				line-height: 1.3em;
			}

			>.component_message {
				position: relative !important;
				top: 1em !important;
				margin-bottom: 1.5em;
				//font-size: 0.9em;
				border-radius: 0.2em;
			}
		}

	}//end wrapper_login



// input_tex_area contenteditable
	.input_tex_area {
		width: 100%;
		//height: 100%;
		background-color: #fff;
		margin-right: .25em;
		padding: .5em;
		padding-right: 1em;
		min-height: 8em;
		overflow: auto;
		max-height: 14em;
		word-break: break-word;
		//margin-top: 1.5em;


		// &:after {
		// 	content: " ";
		// 	clear: both;
		// 	width: 100%;
		// 	height: 1em;
		// 	background-color: #F1AA36;
		// }

		&:active {
			//background-color: #BCFEC2;
		}

		&:focus {
			//padding-top: 2em;
			//margin-top: 1.5em;
			//border: 1px solid #1a9af5;
			//outline: 0px solid transparent;
		}
	}// .input_tex_area



// components wrapper modifiers
	.section_record .wrapper_component,
	.wrapper_tool .wrapper_component {

		&.with_100 {
			flex: 1 1 100%;
		}

	}



// component_filter_records
	.component_filter_records {

		>.content_data {
			flex: 1 1 100% !important;
		}

		ul.inputs_container {

			>li {
				display: grid;
				grid-template-columns: 1fr 2fr 8fr;
				outline: 1px solid #eee;

				&.header_li {
					background-color: #5B5B5B;
					color: #ffffff;
					padding: 1em;
				}

				>span {
					padding-left: 1em;
					//padding-right: 0.5em;
				}
			}
		}
	}



// component_json
	.component_json {
		z-index: 1;

		button.button_save {
			display: none; // init hidden
			position: absolute;
			top: 0px;
			right: 0px;
			z-index: 1;
			height: 36px;
			// border: 1px solid #2e6cd0;
			// background-color: #b7d2fe;
			// color: #2e6cd0;

			&:before {
				background-color: #2e6cd0;
			}
			// padding-left: 1.7em;
			// padding-right: 1.7em;
			// background-color: #b7d2fd;
			// border: 1px solid #3883fa;
			// color: #3883fa;
			// line-height: 28px;
			// border-radius: 3px;
			// cursor: pointer;
			// &:active {
			// 	background-color: #8FA3C4;
			// 	color: #ffffff;
			// }

			&.warning {
				display: block;
				background-color: #e8e0e1;
				border: 1px solid darken(@color_danger, 5%);
				color: @color_danger;

				&:before {
					background-color: @color_danger;
				}
			}
		}

		.jsoneditor {
			//min-height: 30vh;
		}
	}



// component pdf
	.component_pdf {

		.pdf_viewer_frame {
			width: 100%;
			height: 100%;
		}
	}//end .component_pdf



// dd-tiny
	dd-tiny {
		width: 100%;
		height: 100%;
		// background-color: #F76CE4;
		// height: 650px;
		// border-bottom: 1px solid #ffffff;
		// margin-bottom: 1em;
		transition: opacity 0.115s ease-in-out;
		// min-height: 27em;
		min-height: @media_max_height;


		.mce-container {
			// display: none !important;

			// div.mce-fullscreen {
			    // z-index: 1;
			// }

			.mce-branding-powered-by {
				display: none;
			}

			iframe {
			}
		}
		// // Container, container body, iframe
		// .mce-tinymce, .mce-container-body {
		// 	min-height: 100% !important;
		// }
		// // Container body
		// .mce-container-body {
		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 0;
		// 	right: 0;
		// }
		// // Editing area
		// .mce-container-body .mce-edit-area {
		// 	position: absolute;
		// 	top: 30px;
		// 	bottom: 30px; // 37px;
		// 	left: 0;
		// 	right: 0;
		// }
		// // Footer
		// .mce-tinymce .mce-statusbar {
		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 0;
		// 	right: 0;
		// }
	}//end dd-tiny



// full screen
	.fullscreen {
		position: fixed !important;
		top: 0 !important;
		left: 0 !important;
		width: 100% !important;
		height: 100% !important;
		z-index: 10 !important;
		max-height: unset !important;
		background-color: #ffffff !important;

		.buttons_container {
			left: unset !important;
			right: 0 !important;
		}

		.content_data {
			padding-right: 2.7em !important;
			max-height: unset !important;

			>ul{
				width: 100% !important;
				>li{
					height: 100% !important;

					.canvas[resize] {
						height: 100%;
						width: 100%;
						// max-height: 100%;
						// max-width: 100%;
						// object-fit: contain;
						// object-position: center;
					}
				}
			}
		}
	}//end .fullscreen



// component buttons show / hide PROPOSAL !
	ul.inputs_container {
		>li {
			// default state of buttons here
			.hidden_button {
				display: none;
				// user click force show to prevents hide the button again
				&:active {
					display: inline-block;
				}
			}

			// if any li inside element is focused, show hidden buttons
			&:focus-within {
				.hidden_button {
					display: inline-block;
				}
			}
		}
	}



// json_editor
	.jsoneditor {

		>.jsoneditor-menu a.jsoneditor-poweredBy {
			top: unset;
			bottom: 0;
		    padding: 5px;
		    color: #b3b3b3;
		}

		&.isDirty {
			border: 1px solid @color_danger !important;

			>.jsoneditor-menu {
				background-color: @color_danger !important;
			}

		}

	}




// id_column
	/*
	.id_column {
		//display: flex;
		//flex-wrap: wrap;
		//align-self: flex-start;
		display: table;
		padding-left: 0.25em !important;
		padding-right: 0.5em !important;

		@height_line : 1.2em;

		>* {
			flex: 1 1 100%;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			height: @height_line;
		}

		a {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			width: @height_line + 0.1;
			height: @height_line;
			margin-left: 0.3em;
			opacity: 0.7;
		}


		>.edit_line {
			//background-color: #CDFFA9;
			//flex-direction: row-reverse;

			>span {
				display: inline-block;
				font-size: @height_line + 0.02;
				//height: @height_line;
			}

			>a {
				//.icon_svg;
				background-image: url(../../themes/default/icons/edit.svg);
			}
		}

		>.delete_line {
			//background-color: #FA913B;
			//flex-direction: row-reverse;
			margin-top: 0.5em;

			>a {
				//.icon_svg;
				background-image: url(../../themes/default/icons/trash-o.svg);
			}
		}
	}//end id_column
	*/



	/*
		.tooltip_toggle {
		  cursor: pointer;
		  position: relative;
		  z-index: 9999999999999999999;
		}

		.tooltip_toggle::before {
		  position: absolute;
		  top: -80px;
		  left: -80px;
		  background-color: green;
		  border-radius: 5px;
		  color: #fff;
		  content: attr(data-tooltip);
		  padding: 1rem;
		  text-transform: none;
		  -webkit-transition: all 0.5s ease;
		  transition: all 0.5s ease;
		  width: 15em;
		}

		.tooltip_toggle::after {
		  position: absolute;
		  top: -12px;
		  left: 9px;
		  border-left: 5px solid transparent;
		  border-right: 5px solid transparent;
		  border-top: 5px solid green;
		  content: " ";
		  font-size: 0;
		  line-height: 0;
		  margin-left: -5px;
		  width: 0;
		}

		.tooltip_toggle::before,
		.tooltip_toggle::after {
		  color: #efefef;
		  font-family: monospace;
		  font-size: 16px;
		  opacity: 0;
		  pointer-events: none;
		  text-align: center;
		}

		.tooltip_toggle:hover::before,
		.tooltip_toggle:hover::after {
		  opacity: 1;
		  -webkit-transition: all 0.75s ease;
		  transition: all 0.75s ease;
		}
		*/
