// list. Common used by section and portal



// list_body. Used in sections and portals in list mode
	.list_body {
		display: grid;
		height: 100%;
		// width: calc(100% - 1px);
		// background-color: #e1d44a;
		@media screen and (max-width: @width_break_point_0) {
			display: block;
		}

		>.header_wrapper_list {
			display: contents;
		}
		>.content_data {
			display: contents;
			outline: 1px solid @color_grey_light;

			// DES
				// .column_section_id {
				// 	display: flex;
				// 	flex-direction: column;
				// 	justify-content: flex-start;
				// 	background-color: #f6f6f6;

				// 	>button {
				// 		display: flex;
				// 		width: 100%;
				// 		margin: 0px;
				// 		padding: 0.5em;
				// 		border-radius: 0px;

				// 		// justify-content
				// 		justify-content: flex-end;
				// 		&.button_edit {
				// 			justify-content: space-between;
				// 			// justify-content: flex-end;
				// 		}
				// 		&.button_delete {
				// 			// justify-content: flex-end;
				// 		}

				// 		>.section_id {
				// 			font-size: 1.25rem;
				// 			padding-right: 3px;
				// 			padding-left: 2px;
				// 		}
				// 		>.icon {
				// 			height: 1.4rem;
				// 			width: 1.3rem;
				// 			margin-right: -2px;
				// 		}

				// 		&:hover {
				// 			z-index: 99999;

				// 			// background-color
				// 			background-color: @color_orange_dedalo;
				// 			&.button_edit {
				// 				background-color: @color_green_success;
				// 			}
				// 			&.button_delete {
				// 				background-color: @color_danger;
				// 			}

				// 			>.section_id {
				// 				color: #ffffff;
				// 			}
				// 			>.icon {
				// 				background-color: #ffffff;
				// 			}
				// 		}
				// 	}
				// }//end .column_section_id
		}

		// list_body columns inside list_body are always flex (!)
		.list_body {
			.column {
				display: flex !important;
				height: 100%;
				overflow: hidden;
			}
		}
	}
	// direct list_body from component in edit mode
	.wrapper_component.edit >.list_body {
		padding: 1rem;
		padding-top: 0px;
	}

	// portal alt_list_body
	.alt_list_body {
		// position: -webkit-sticky;
		// position: sticky;
		// display: grid;
		// box-shadow: 1px 1px 8px 0px rgb(38 38 38 / 45%);
		// z-index: 2;
		// left: 1rem;
		// top: 3.95rem;
		// // border: 1px solid #dbdbdb;
		// // border-radius: 3px;
		// overflow: hidden;
		// width: 100%;

		// position: absolute;
		// // top: 0px;
		// left: 0px;

		display: grid;
		width: 100%;
		// overflow: hidden;

		>.header_wrapper_list {
			display: contents;
		}

		// list_body columns inside list_body are always flex (!)
		.alt_list_body {
			.column {
				display: flex !important;
			}
		}
		.close_alt_list_body {
			position: absolute;
			right: 0px;
			top: 4px;
		}
	}
	// direct list_body from component in edit mode
	.wrapper_component.edit >.list_body {
		padding: 1rem;
		padding-top: 0.5rem;
	}


// section_record
	.section_record {

		&.mini {
			display: contents;
		}

		// position: relative;
		// &:hover {
		// 	&:before {
		// 		content: " ";
		// 		width: calc(100vw - 2rem);
		// 		background-color: #7d7d7d;
		// 		position: absolute;
		// 		left: 0px;
		// 		top: 0px;
		// 		z-index: 2;
		// 		height: 1px;
		// 		// box-shadow: inset 0px 2px 0px 0 @line_color;
		// 		box-shadow: 0px 2px 5px 0px #000000;
		// 		background-color: #9797974f;
		// 	}
		// }
	}


// hilite_row
	// .wrapper_section >.list_body >.content_data.section >.section_record {
		.hilite_row {
			@line_color : #acacac; // #f78a1c

			background-color: #dedede42;
			display: block;
			position: absolute;
			z-index: 1;
			// border: 1px solid #c4c4c4ee;
			box-shadow: 0px 2px 4px 0px #8e8e8e;

			pointer-events: none;
		}
	// }



// section record mobile version
	.column:before {
		display: none;
	}
	@media screen and (max-width: @width_break_point_0) {
		// hide header
		.header_wrapper_list.section {
			display: none;
		}
		// set section_record as grid
		.content_data.list.section {
			display: block;

			>.section_record.list {
				display: grid;
				grid-template-columns: 1fr;
				width: 100%;

				>.column {
					font-size: 0.9rem;
					width: 100%;

					&:before {
						display: flex;
						align-items: center;
						height: 100%;
						width: 22%;
						// width: auto;
						background-color: #eeeeee;
						padding: 0.25rem;
						padding-left: 0.5rem;
						word-break: break-word;
						font-size: 0.9rem;
					}
					&.column_section_id {
						position: -webkit-sticky;
						position: sticky;
						top: 0px;
						z-index: 1;
						// border-bottom: 1px solid #cfcfcf;
						box-shadow: 0px 4px 2px 0px #afafaf;
						font-size: 1.5rem;
						overflow: hidden;

						grid-template-columns: 22% 1fr 1fr;
						display: grid;

						&:before {
							font-size: 1.5rem;
							text-transform: uppercase;
							width: auto;
						}

						span {
							// height: 1.5rem;
							// min-width: 1.5rem;

							&.remove {
								margin-left: auto;
								margin-right: 0.5rem;
							}
						}
					}
				}
			}
		}
	}



// header_wrapper_list
	.header_wrapper_list {
		position: -webkit-sticky;
		// position: sticky;
		position: relative;
		top: 2em; // default
		color: #555555;
		width: 100%;
		display: grid;
		line-height: 1.1em;
		z-index: 1;
		font-size: 13px;

		&.with_debug_info_bar {
			top: 3.9em;
		}
		&.with_initiator {
			top: 0px;
		}

		// head_column
		.head_column {
			display: flex;
			background-color: #e1e1e1;
			border-right: 1px solid @color_grey_medium;
			border-top: 1px solid @color_grey_medium;
			overflow: hidden;

			// height: 2rem;
			padding: 0px;
			padding-left: 0.25rem;
			padding-right: 0.25rem;

			&.section_id {
				border-top-left-radius: 5px;
			}

			&:last-of-type {
				border-right: 0px;
				border-top-right-radius: 5px;
			}

			&.with_sub_header {
				display: block;
				padding-left: 0px;
				padding-right: 0px;
				padding-bottom: 0px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;

				>span {
					opacity: 0.7;
					margin-bottom: 0.15rem;
				}
			}

			// column id
			&.id {
				text-align: right;
				padding-right: 0.75em !important;
				margin: 0.5rem;
			}

			// inside component (portal case)
			.wrapper_component & {
				outline: 1px solid @color_grey_light;
				// padding: 0.5em;
				// padding-top: 0.25em;
				// padding-bottom: 0.25em;
				// padding-left: 0.25em;
				background-color: @color_grey_light;
				color: @color_grey_dark;
			}

			// header column sub-labels inside sub_header container
			.sub_header {
				display: flex;
				flex-wrap: nowrap;

				>.head_column {
					// border-right: 1px solid @color_grey_medium;
					padding: 0px;
					height: 100%;
					flex: 1;

					&:last-of-type {
						border-right: 0px;
					}
				}
			}//end .sub_header

			>.name, >.order {
				display: block;
				padding: 0px;
				margin: 0.33rem;
				margin-top: 0.3rem;
				margin-bottom: 0.4rem;
			}

			// name . label text of column
			>.name {
				.truncate_text(100%);
				margin-right: 0.1rem;
			}

			// order. column_order_group
			>.order {
				width: 13px;
				min-width: 13px;
				height: 15px;
				margin-left: 0px;
				vertical-align: text-bottom;
				cursor: pointer;
				background-image: url('../../themes/default/icons/sort_all.svg');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				opacity: 0.6;

				&:hover {
					opacity: 1;
				}
				&:active {
					opacity: 0.5;
				}

				&.asc {
					opacity: 0.8;
					background-image: url('../../themes/default/icons/sort_asc.svg');
				}

				&.desc {
					opacity: 0.8;
					// background-image: url('../../themes/default/icons/sort_desc.svg');
					background-image: url('../../themes/default/icons/sort_asc.svg');
					transform: rotate(180deg);
				}
			}//end >.order
		}


		// header column labels
			// >.head_column {
			// 	display: flex;
			// 	padding: 0px;

			// 	&.with_sub_header {
			// 		display: block;
			// 		padding-left: 0px;
			// 		padding-right: 0px;
			// 		padding-bottom: 0px;
			// 		span {
			// 			opacity: 0.7;
			// 			padding-left: 0.5em;
			// 		}
			// 	}

			// 	&.id {
			// 		text-align: right;
			// 		padding-right: 0.75em !important;
			// 	}

			// 	// inside component (portal case)
			// 	.wrapper_component & {
			// 		outline: 1px solid @color_grey_light;
			// 		padding: 0.5em;
			// 		padding-top: 0.25em;
			// 		padding-bottom: 0.25em;
			// 		padding-left: 0.25em;
			// 		background-color: @color_grey_light;
			// 		color: @color_grey_dark;
			// 	}
			// }


	}//end header_wrapper_list



// column
	.column {
		height: inherit;
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start; // vertical alignment
		justify-content: flex-start; // vertical distribution
		align-content: flex-start; // vertical distribution
		// background-color: @color_grey_untralight; // @color_grey_untralight
		// min-height: 3rem;
		// height: 100%;
		// width: 100%;
		// background-color: #91a4af;
		// margin: 1px;

		// cell outline
		outline: 1px solid @color_grey_light;

		// mobile custom
		@media screen and (max-width: @width_break_point_0) {
			// width: 72%;
			// padding-left: 0.3rem;
		}

		// every column
		&.column_section {
			// box-shadow: 0 1px #f1f1f1;
		}

		&.column_service_time_machine {
			align-items: center; // vertical alignment
		}

		.mini & {
			outline: none;

			img {
				height: 3rem;
			}
		}

		&.column_info {
			// padding: 0.5em;
		}

		&.remove_column {
			// padding-top: 0.25em;
		}

		&.component_portal {

		}

		// >*:not(.media):not(.portal):not(.edit_button) {
		// >* {
		// 	margin: 0.25rem;

		// 	@media screen and (max-width: @width_break_point_0) {
		// 		padding-left: 0.3rem;
		// 	}
		// }

		>.media, >.portal, >.edit_button {
			margin: 0px;
		}

		>.section_id {
			// padding-left: 0.33rem;
		}

		// components inside column
		.wrapper_component {
			flex: 1 1;
			// outline: 1px solid #000000 !important;
			display: block; // ?????
			padding: 0px;
			margin: 0px;
			height: 100%;

			// &.list {
			// 	background-color: #efe99b;
			// 	padding: 0.25rem;
			// }

			// >* {
				// padding: 0.25rem;
				// @media screen and (max-width: @width_break_point_0) {
				// 	padding-left: 0.3rem;
				// }
			// }

			span {
				padding: 0.25rem;
				display: inline-block;
				word-break: break-word;

				@media screen and (max-width: @width_break_point_0) {
					padding-left: 0.3rem;
				}
			}

			>span {
				// display: inline-block;
			}
		}

		.component_image {
			// background-color: #a0ecf5 !important;
		}
	}

	// rows in section in list mode must be min-height: 3rem;
	.wrapper_section.list {
		.column {
			// min-height: 3rem;

			&.column_section_id {
				min-width: 70px;
				font-size: 1.2rem;
			}
		}
	}

	// only portals of first level inside section_record
	.content_data >.section_record >.column.component_portal {
		// display: grid;
		// background-color: #e2cbf6;
	}
	// view_line case
	.wrapper_component.view_line > .content_data >.section_record >.column {
		outline: none;
		box-shadow: none;
		// padding: 0.25rem;
		height: 1.2rem;

		// background-color: antiquewhite;
		margin-bottom: 1px;

		>button {
			padding: 1px;
			padding-right: 0px;
			padding-left: 0px;
			height: 1rem;
			margin-right: 0.5rem;

			>.icon {
				height: 1rem;
				width: 1rem;
				margin: 0px;
			}
		}
	}



// id_column
	.id_column {
		//display: flex;
		//flex-wrap: wrap;
		//align-self: flex-start;
		//display: table;
		// padding-left: 0.25em;
		// padding-right: 0.5em;
		overflow: visible;
		min-width: 4.5em;

		@height_line : 1.2em;

		// >div.edit_line {
		// 	flex: 1 1 100%;
		// 	display: flex;
		// 	flex-wrap: wrap;
		// 	align-items: center;
		// 	justify-content: flex-end;
		// 	min-height: @height_line;
		// }

		// a {
		// 	background-size: cover;
		// 	background-repeat: no-repeat;
		// 	background-position: center;
		// 	background-color: #2c2c2e;
		// 	width: @height_line + 0.1;
		// 	height: @height_line;
		// 	margin-left: 0.3em;
		// 	opacity: 0.7;
		// }

		>.edit_line {
			background-color: #f8f8f8;
			//flex-direction: row-reverse;
			flex: 1 1 100%;
			display: flex;
			flex-wrap: wrap;
			height: 100%;
			align-items: flex-start;
			justify-content: flex-end;
			min-height: @height_line;
			padding: 0.5em;

			>span {
				display: inline-block;
				// font-size: @height_line + 0.02;
				font-size: @height_line - 0.1;
				padding: 0px;
				//height: @height_line;
				margin-top: 0px;
				margin-left: 0.25em;
				// margin-bottom: 0.2em;
				// margin-left: 0.2em;
				// margin-right: 0.35em;
				white-space: nowrap;

				&.section_id {
					// background-color: #b0feee;
				}
				&.edit {

				}
			}

			// >a {
			// 	//.icon_svg;
			// 	//background-image: url(../../themes/default/icons/edit.svg);
			// 	// .background_icon('edit.svg');
			// 	.fn_build_button('edit.svg', black, 1);

			// 	&.tm_preview {
			// 		.fn_build_button('eye.svg', black, 1);
			// 	}
			// 	&.link {
			// 		.fn_build_button('link.svg', black, 1);
			// 	}
			// }
		}//end >.edit_line

		>.delete_line {
			//background-color: #FA913B;
			//flex-direction: row-reverse;
			margin-top: 0.5em;

			>span {
				display: inline-block;
				font-size: @height_line + 0.02;
				//height: @height_line;
			}

			// >a {
			// 	//.icon_svg;
			// 	//background-image: url(../../themes/default/icons/trash-o.svg);
			// 	// .background_icon('trash-o.svg');
			// 	.fn_build_button('trash-o.svg', black, 1);
			// }
		}
	}//end id_column


// column_section_id
	.column.column_section_id {
		background-color: #f6f6f6;
		display: flex;
		flex-direction: column;
		align-items: center;
		// justify-content: flex-start; // vertical
		// align-items: flex-end; // horizontal
		// padding: 0px;

		// button (could be button_edit, button_delete)
		>button.button_edit, >button.button_delete, >button.link_button {
			display: flex;
			width: 100%;
			margin: 0px;
			padding: 0.5em;
			border-radius: 0px;

			// justify-content
			justify-content: flex-end;

			&.link_button {
				height: 3rem;
				// padding-right: 0.33rem;
				font-size: 1.25rem;
			}

			&.button_edit {
				justify-content: space-between;
				// justify-content: flex-end;
				@media screen and (max-width: @width_break_point_0) {
					justify-content: flex-start;
				}
			}

			&.button_delete {
				// justify-content: flex-end;
			}

			&:hover {
				z-index: 99999;

				// background-color
				background-color: @color_orange_dedalo;
				&.button_edit {
					background-color: @color_green_success;
				}
				&.button_delete {
					background-color: @color_danger;
				}

				>.section_id {
					color: #ffffff;
				}
				>.icon {
					background-color: #ffffff;
				}
			}

			>.section_id {
				font-size: 1.25rem;
				padding-right: 3px;
				padding-left: 2px;
			}

			>.icon {
				height: 1.4rem;
				width: 1.3rem;
				margin-right: -2px;
			}
		}//end >button

		// drag and drop button
		>.drag {

			// @see component_portal.less for specific styles
		}//end >.drag.icon
	}//end .column_section_id



// column_remove
	.column.column_remove {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-color: #f6f6f6;
		padding: 0px;

		>button.button_remove {
			display: flex;
			width: 100%;
			margin: 0px;
			padding: 0.5em;
			padding-top: 0.75rem;
			padding-bottom: 0.75rem;
			border-radius: 0px;
			// justify-content: flex-end;

			// &.button_remove {
				justify-content: space-between;
				// justify-content: flex-end;
				@media screen and (max-width: @width_break_point_0) {
					justify-content: flex-start;
				}
			// }

			>.icon {
				height: 1.4rem;
				width: 1.3rem;
				// margin-right: -2px;
			}

			&:hover {
				z-index: 99999;
				background-color: @color_danger;

				>.icon {
					background-color: #ffffff;
				}
			}
		}
	}//end .column_remove
