/**
* list_body
*
* Included from component_portal.less file
* Shared by section and portal.
*/

// list_body. Used in sections and portals in list mode
	.list_body {
		display: grid;
		height: 100%;
		position: relative;

		@media screen and (max-width: @width_break_point_0) {
			display: block;
		}

		>.header_wrapper_list {
			display: contents;
		}
		>.content_data {
			display: contents;

			.no_records {
				grid-column: 1/-1; // expand across all empty columns
			}
		}

		// list_body columns inside list_body are always flex (!)
		.list_body {
			.column {
				display: flex;
				height: 100%;
				flex: 1; // allow images center it
			}
		}
	}

	// portal alt_list_body
	.alt_list_body {
		display: grid;
		width: 100%;

		>.header_wrapper_list {
			display: contents;
		}

		// list_body columns inside list_body are always flex (!)
		.alt_list_body {
			.column {
				display: flex !important;
			}
		}
		.close_alt_list_body {
			position: absolute;
			right: 0px;
			top: 4px;
		}
	}
	// direct list_body from component in edit/tm mode
	.wrapper_component.edit >.list_body {
		padding: 1rem;
		padding-top: 0.5rem; // padding to label (on top)
	}

// hilite_row
	.hilite_row {
		@line_color : #acacac;
		background-color: #dedede42;
		display: block;
		position: absolute;
		z-index: 1;
		box-shadow: 0px 2px 4px 0px #8e8e8e;
		pointer-events: none;
	}

// section record mobile version
	.column:before {
		display: none;
	}
	@media screen and (max-width: @width_break_point_0) {
		// hide header
		.header_wrapper_list.section {
			display: none;
		}

		// set section_record as grid
		.content_data.list.section {
			display: block;
			padding-top: 0.25rem;

			.section_record:first-of-type {
				.column:first-of-type {
					margin-top: 0.25rem !important;
				}
			}

			>.section_record.list {
				display: grid;
				grid-template-columns: 1fr;
				width: 100%;

				>.column {
					font-size: 0.9rem;
					width: 100%;
					padding-bottom: 0;
					padding-top: 0.5rem;

					span {
						padding: unset;
					}

					.ddinfo_value {
						display: contents;
					}

					.section_record {
						display: block;
					}

					&:before {
						display: flex;
						align-items: center;
						height: 100%;
						width: 22%;
						background-color: @color_grey_light;
						padding: 0.25rem;
						padding-left: 0.5rem;
						word-break: break-word;
						font-size: 0.9rem;
						// add
						margin-right: 0.25rem;
						position: relative;
						left: -0.2rem;
						top: -0.5rem;
						height: calc(100% + 0.5rem);
						border-bottom: 1px solid @color_grey_medium;
					}
					&.column_section_id {
						position: -webkit-sticky;
						position: sticky;
						top: 0px;
						z-index: 1;
						box-shadow: 0px 4px 2px 0px @color_grey_medium_2;
						font-size: 1.5rem;
						overflow: hidden;
						margin-top: 2rem;
						margin-bottom: 0.25rem;
						grid-template-columns: 22% 1fr 1fr;
						display: grid;

						&:before {
							font-size: 1.5rem;
							text-transform: uppercase;
							width: auto;
							top: 0rem;
							margin-right: 0rem;
						}

						.button_edit {
							justify-content: flex-start;
						}

						span {

							&.section_id {
								font-size: 1.3rem;
							}

							&.icon {
								margin-left: 0.5rem;
							}

							&.remove {
								margin-left: auto;
								margin-right: 0.5rem;
							}
						}
					}
				}//end >.column
			}//end >.section_record.list
		}//end .content_data.list.section
	}//end @media screen and (max-width: @width_break_point_0)

// header_wrapper_list
	.header_wrapper_list {

		// head_column
		.head_column {
			display: flex;
			background-color: @color_grey_light;
			border-right: 1px solid @color_grey_medium;
			box-shadow: 0px 1px 0px 0px #e5e5e5;
			overflow: hidden;
			color: @color_grey_dark_3;
			font-weight: 300;
			padding: 0px;
			padding-left: 0.25rem;
			padding-right: 0.25rem;

			&.empty {
				padding-left: unset;
				padding-right: unset;
				width: 0;
			}

			&.section_id {
				border-top-left-radius: 5px;
				text-align: right;
				>.name {
					margin-right: 0.25rem;
				}
			}

			&:last-of-type {
				border-right: 0px;
				border-top-right-radius: 5px;
			}

			&.with_sub_header {
				display: block;
				padding-left: 0px;
				padding-right: 0px;
				padding-bottom: 0px;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;

				>span {
					opacity: 0.7;
					margin-bottom: 0.15rem;
				}
			}

			// column id
			&.id {
				text-align: right;
				padding-right: 0.75em !important;
				margin: 0.5rem;
			}

			// inside component (portal case)
			.wrapper_component & {
				outline: 1px solid @color_grey_light;
			}

			// header column sub-labels inside sub_header container
			.sub_header {
				display: grid;

				>.head_column {
					padding: 0px;
					height: 100%;
					flex: 1;

					&:last-of-type {
						border-right: 0px;
					}
				}
			}//end .sub_header

			>.name, >.order {
				display: block;
				padding: 0px;
				margin: 0.33rem;
				margin-top: 0.25rem;
				margin-bottom: 0.25rem;
			}

			// name . label text of column
			>.name {
				.truncate_text(100%);
				margin-right: 0.1rem;
				margin-left: 0px;
				font-size: 0.95rem;
				line-height: 1.15rem;
			}

			// order. column_order_group
			>.order {
				width: 13px;
				height: 15px;
				margin-left: 0px;
				vertical-align: text-bottom;
				cursor: pointer;
				background-image: url('../../themes/default/icons/sort_all.svg');
				background-position: center center;
				background-repeat: no-repeat;
				background-size: contain;
				opacity: 0.6;

				&:hover {
					opacity: 1;
				}
				&:active {
					opacity: 0.5;
				}

				&.asc {
					opacity: 0.8;
					background-image: url('../../themes/default/icons/sort_asc.svg');
				}

				&.desc {
					opacity: 0.8;
					background-image: url('../../themes/default/icons/sort_asc.svg');
					transform: rotate(180deg);
				}
			}//end >.order
		}
	}//end header_wrapper_list

// column
	.column {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		align-items: flex-start; // vertical alignment
		justify-content: flex-start; // vertical distribution
		align-content: flex-start; // vertical distribution
		height: auto;
		padding: 0.2rem;
		padding-bottom: 0.11rem;

		// cell outline
		box-shadow: 0px 1px 0px 0px @color_grey_medium;

		@common_padding: 0.12rem;

		// every column
		&.column_section {

		}

		&.column_service_time_machine {

		}

		&.column_info {

		}

		&.column_ddinfo {
			span {
				padding: 0.25rem;
				display: inline-block;
				word-break: break-word;

				@media screen and (max-width: @width_break_point_0) {
					padding-left: 0.3rem;
				}
			}
		}

		&.empty {
			padding: 0px;
			width: 0px;
		}
		&::empty {
			padding: 0px;
			width: 0px;
		}

		.mini & {
			outline: none;

			img {
				height: 3rem;
			}
		}

		svg {
			height: 0.9rem;
		}

		>.media, >.portal, >.edit_button {
			margin: 0px;
		}

		>.portal.view_text {
			padding: @common_padding;
		}

		// components inside column
		div.wrapper_component {
			display: inline-block;
			flex: 1 1;
			padding: 0px;
			margin: 0px;
			height: 100%;
			max-height: --view_line_height;
			overflow: hidden;

			@media screen and (max-width: @width_break_point_0) {
				padding: 0.25rem;
			}

			span {
				padding: @common_padding;
				display: inline-block;
				word-break: break-word;

				@media screen and (max-width: @width_break_point_0) {
					padding-left: 0.3rem;
				}
			}

			&.list.view_line {

			}
			.list.view_text {
				margin: 0px;
				padding: @common_padding;
			}
		}

		.section_record.view_text {
			padding: 0px;
		}

		// columns inside another list_body do not have box-shadow (https://developer.mozilla.org/en-US/docs/Web/CSS/:has)
		&:has(.list_body) {
			.column {
				box-shadow: none;
				padding: 0px;
			}
		}

		// with parent autocomplete_data (service autocomplete datalist)
		.autocomplete_data & {
			box-shadow: none;
		}
	}//end .column

	// view_line case
	.wrapper_component.view_line > .content_data >.section_record >.column {
		outline: none;
		box-shadow: none;
		height: 1.2rem;
		margin-bottom: 1px;

		>button {
			padding: 1px;
			padding-right: 0px;
			padding-left: 0px;
			height: 1rem;
			margin-right: 0.5rem;

			>.icon {
				height: 1rem;
				width: 1rem;
				margin: 0px;
			}
		}
	}



// id_column
	.id_column {
		overflow: visible;
		min-width: 4.5em;

		@height_line : 1.2em;

		>.edit_line {
			background-color: #f8f8f8;
			flex: 1 1 100%;
			display: flex;
			flex-wrap: wrap;
			height: 100%;
			align-items: flex-start;
			justify-content: flex-end;
			min-height: @height_line;
			padding: 0.5em;

			>span {
				display: inline-block;
				font-size: @height_line - 0.1;
				padding: 0px;
				margin-top: 0px;
				margin-left: 0.25em;
				white-space: nowrap;
			}
		}//end >.edit_line

		>.delete_line {
			margin-top: 0.5em;

			>span {
				display: inline-block;
				font-size: @height_line + 0.02;
			}
		}
	}//end id_column

// column_section_id
	.column.column_section_id {
		background-color: @color_grey_mediumlight;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 1px;
		min-height: 1.8rem;

		// button (could be button_edit, button_delete)
		>button.button_edit, >button.button_delete, >button.link_button {
			display: flex;
			width: 100%;
			margin: 0px;
			padding: 0.5rem;
			padding-top: 0.25rem;
			padding-bottom: 0.25rem;
			border-radius: 0px;
			justify-content: flex-end;

			&.link_button {
				font-size: 1.25rem;
				height: 3rem;
				height: 100%;
			}

			&.button_edit {

			}

			&.button_delete {
				padding-right: 0.63rem;
			}

			&:hover {
				z-index: 99999;

				// background-color
				background-color: @color_orange_dedalo;
				&.button_edit {
					background-color: @color_green_success;
				}
				&.button_delete {
					background-color: @color_danger;
				}

				>.section_id {
					color: @color_white;
				}
				>.icon {
					background-color: @color_white;
				}
			}

			>.section_id {
				padding-right: 3px;
				padding-left: 2px;
				pointer-events: none;
				--font_size: 1.25rem;
				font-size: var(--font_size);
				height: 1.4rem;
				line-height: 1.4rem;

				&.small {
					font-size: 1rem;
				}
			}

			>.icon {
				height: 1.4rem;
				width: 1.3rem;
				margin-right: -2px;
				pointer-events: none;
			}
		}//end >button

		>.section_id_container {
			padding: 0.12rem;
			font-size: 0.96rem;
			text-align: right;
			width: 100%;
		}

	}//end .column_section_id

// column_remove
	.column.column_remove {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		background-color: @color_grey_mediumlight;
		padding: 0px;

		>button.button_remove {
			display: flex;
			width: 100%;
			margin: 0px;
			padding: 0.5em;
			padding-bottom: 1rem;
			border-radius: 0px;
			justify-content: space-between;

			@media screen and (max-width: @width_break_point_0) {
				justify-content: flex-start;
			}

			>.icon {
				height: 1.4rem;
				width: 1.3rem;
				pointer-events: none;
			}

			&:hover {
				z-index: 99999;
				background-color: @color_danger;

				>.icon {
					background-color: @color_white;
				}
			}
		}
	}//end .column_remove
