/**
* page
*
* Included from main.less file
* Notice that page has no mode like 'edit' or 'list'
*/
.page {
	// background-color: #f4c593;
	min-height: inherit; // calc(100vh - 70px);
	padding: 0px;

	>.content_data {
		display: table;
		// padding: 1em;
		width: 100%;
		//padding-top: 2.1em;
		// width: calc(100vw - 2em);
		@media screen and (min-width: @width_break_point_0) {
			overflow-x: auto;
			overflow-y: hidden; // (!) important to prevent Chrome issues
		}

		.placer {
			min-height: 4.5rem;
			padding: 0.5rem;
		}
	}

	>.page_error_container {
		padding: 4rem;

		// background Raspa error
		 &:after {
			content: ' ';
			background-image: url('../../themes/default/raspa_404.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			height: 100%;
			width: 100%;
			position: absolute;
			left: 0px;
			top: 0px;
			min-height: 100vh;
			overflow: hidden;
			opacity: 0.3;
		}

		// overlay
			// &:after {
			// 	content: ' ';
			// 	height: 100%;
			// 	width: 100%;
			// 	position: absolute;
			// 	background-color: orange;
			// 	position: absolute;
			// 	top: 0px;
			// 	left: 0px;
			// 	background-color: rgb(255 255 255 / 39%);
			// }

		// >* {
		// 	z-index: 3;
		// }

		// &:before {
		// 	content: ' ';
		// 	// background-image: url('../../themes/default/dedalo_icon_big.png');

		// 	background-repeat: no-repeat;
		// 	background-position: 0 top;
		// 	// background-size: 527px 1024px;
		// 	position: absolute;
		// 	width: 100%;
		// 	height: 100%;
		// 	min-height: 1024px;
		// 	z-index: -1;
		// 	opacity: 0.5;
		// 	-moz-transform: scaleX(-1);
		// 	-o-transform: scaleX(-1);
		// 	-webkit-transform: scaleX(-1);
		// 	transform: scaleX(-1);
		// }

		>.icon_dedalo {
			height: 7rem;


		}
	}
}
