/**
* page
*
* Included from main.less file
* Notice that page has no mode like 'edit' or 'list'
*/

.page {
	min-height: inherit;
	padding: 0px;

	.notification_msg {
		display: inline-block;
	}

	>.content_data {
		display: table;
		width: 100%;
		height: 100%;

		@media screen and (min-width: @width_break_point_0) {
			overflow-x: auto;
			overflow-y: hidden; // (!) important to prevent Chrome issues
		}

		.placer {
			min-height: 4.5rem;
			padding: 0.5rem;
		}
	}
}
