/**
* vars
*
* Common vars definitions
*
* Included from main.less file
*/

// root. default values of vars could be overwritten from ontology CSS config
:root {
	--component_height: auto; // default components wrapper height
	--component_width: 50%; // default components wrapper width
	// general sizes
	--inspector_width: 18rem;
	--component_label_height: 1.5rem;
	--content_data_min_height: 2.66rem; // +/- 47.8px
	// media heights (3d,av,image,pdf,svg)
	--media_min_height: 392px; // Min height for a component wrapper of media (av, image, pdf...) also component_text_area
	--media_max_height: inherit; // Max height for a component wrapper of media (av, image, pdf...)
	--media_min_width: 102px;
	--view_text_height: 1.2rem;
	--view_line_height: 5rem;
}

// colors
	// @color_page_bg_color			: #fafafa; // main page HTML background color
	@color_page_bg_color			: #ffffff;
	@color_orange_dedalo			: #f78a1c; // Dédalo logo orange
	@color_hilite					: #3b87fd; // hi-lite blue base on checkbox, radio buttons, etc
	@color_white 					: #ffffff;
	@color_grey_ultralight			: #fcfcfc; // used in list rows background
	@color_grey_mediumlight			: #f6f6f6; // used in section record column_section_id background
	@color_grey_light				: #f0f0f0; // pure white (used as outline in components shadow -edit-)
	@color_grey_medium				: #e6e6e6; // used in component active background
	@color_grey_dark				: #b9b9b9;
	@color_grey_darken				: #7f7f7f; // used in page font
	@color_grey_darken_2 			: #9d9d9d; // used by the component labels
	@color_grey_ultradark			: #353535; // used in page font
	@color_grey_dark_1				: #212529; // used in buttons text default
	@color_grey_dark_2				: #2c313a; // used as background for code blocks
	@color_grey_dark_3				: #5c5b5b; // used as background for list header
	@color_grey_medium_1			: #d1d5db; // used by spinner base
	@color_grey_medium_2			: #b0b0b0; // used by separator
	@color_black					: #000000; // pure black
	@color_primary					: #2b77c7; // used in button primary (blue)
	@color_secondary				: #6c757d; // used in button primary (dark blue?)
	@color_success					: #28a745; // used in button primary (green)
	@color_warning					: #ed6223;
	@color_danger					: #dc3545; // used in button primary (red) and area development widgets
	@color_info						: #17a2b8; // used in button primary (cyan)
	@color_light					: #f8f9fa; // used in button primary (light grey)
	@color_dark						: #343a40; // used in button primary (dark grey)
	@color_white_dirty				: #faf9f9; // used in components_list_container as background color
	@color_green_success			: #5cb85c; // used in components animation on save value
	@color_green_ontology			: #28946c; // used in area_ontology
	@color_blue						: #3883fa; // used in area development widgets

	// tags
	@color_tag_indexation_normal	: #ffaa00;
	@color_tag_indexation_removed	: #2f8fff;
	@color_tag_indexation_to_review	: #fc461a;

// break points
	@width_break_point_0 : 1024px; // desktop small;
	@width_break_point_1 : 960px; // mobile
	@width_break_point_2 : 780px; // images minimum width
