/**
* vars
*
* Common vars definitions
*
* Included from main.less file
*/

// root. default values of vars could be overwritten from ontology CSS config
:root {
	--component_height: auto; // default components wrapper height
	--component_width: 50%; // default components wrapper width
	// general sizes
	--inspector_width: 18rem;
	--component_label_height: 1.5rem;
	--content_data_min_height: 2.66rem; // +/- 47.8px
	// media heights (3d,av,image,pdf,svg)
	--media_min_height: 392px; // Min height for a component wrapper of media (av, image, pdf...) also component_text_area
	--media_max_height: inherit; // Max height for a component wrapper of media (av, image, pdf...)
	--media_min_width: 102px;
	--view_text_height: 1.2rem;
	--view_line_height: 5rem;
}

// colors
	// @color_page_bg_color			: #fafafa; // main page HTML background color
	@color_white					: #ffffff;
	@color_grey_16					: #fafafa; // used in list rows background
	@color_grey_15					: #f6f6f6; // used in section record column_section_id background
	@color_grey_14					: #f0f0f0; // pure white (used as outline in components shadow -edit-)
	@color_grey_13					: #e6e6e6; // used in component active background
	@color_grey_12					: #d1d5db; // used by spinner base
	@color_grey_11					: #cccccc; // Used by dd_grid
	@color_grey_10					: #bbbbbb;
	@color_grey_9					: #aaaaaa; // used by separator
	@color_grey_8 					: #999999; // used by the component labels
	@color_grey_7					: #7f7f7f; // used in page font
	@color_grey_6					: #6c757d; // used in button primary (dark blue?)
	@color_grey_5					: #5b5b5b; // used as background for list header
	@color_grey_4					: #353535; // used in page font
	@color_grey_3					: #343a40; // used in button primary (dark grey)
	@color_grey_2					: #2c313a; // used as background for code blocks
	@color_grey_1					: #212529; // used in buttons text default
	@color_black					: #000000; // pure black
	@color_hilite_3 				: #faf7df; // used in search components and maintenance widgets
	@color_hilite 					: #fce8d2; // used in search components and maintenance widgets
	@color_hilite_2 				: #ffda86; // used in tool cataloging and tool_numismatic_order_coins drag
	@color_hilite_yellow			: #ffef3d; // used in ts_object to hilite terms
	@color_orange					: #f8b544; // used in security read only option
	@color_orange_dedalo			: #f78a1c; // Dédalo logo orange
	@color_warning					: #ed6223;
	@color_mandatory				: #ffeaea; // used in mandatory components (light red)
	@color_red_light				: #ff9e87; // used in indexation tool (light red)
	@color_danger					: #dc3545; // used in button primary (red) and area development widgets
	@color_green_light				: #c0e4cd; // used in API test RQO in maintenance
	@color_green_success			: #5cb85c; // used in components animation on save value
	@color_success					: #28a745; // used in button primary (green)
	@color_green_ontology_hover		: #4e7a75;
	@color_green_ontology			: #276f67; // used in area_ontology
	@color_blue_light				: #bac9e8; // used in area development widgets
	@color_blue_light_2				: #aad3df; // used in component_geolocation
	@color_cyan 					: #3dfff5; // used in ts object delete button option (as inverted = red)
	@color_info						: #17a2b8; // used in button primary (cyan)
	@color_primary					: #2b77c7; // used in button primary (blue)
	@color_blue						: #3883fa; // used in area development widgets
	@color_blue_2					: #3070d8; // used in SQO in maintenance
	@color_blue_3					: #0875e3; // used in ts object add button option (as inverted = dedalo orange)
	@color_input_focus				: #3b87fd; // hi-lite blue base on checkbox, radio buttons, etc
	@color_purple_light				: #eae0f4; // used in ts object edit button option (as inverted = green)
	@color_purple					: #a347a3; // used in ts object edit button option (as inverted = green)

	// ontology
	@color_ontology_css				: #826b85; // used in ontology to define CSS component
	@color_ontology_rqo				: #9d4a4a; // used in ontology to define RQO component
	@color_ontology_properties		: #1b531f; // used in ontology to define Properties component
	@color_ontology_properties_v5	: #e9dd9f; // used in ontology to define V5 Properties component

	// tags
	@color_tag_indexation_normal	: #ffa43d; //ffa43d ffaa00
	@color_tag_indexation_removed	: #2f8fff;
	@color_tag_indexation_to_review	: #fc461a;

	// libs colors
	@color_php 						: #777bb3;

// break points
	@width_break_point_0 : 1024px; // desktop small;
	@width_break_point_1 : 960px; // mobile
	@width_break_point_2 : 780px; // images minimum width
