


// colors
	@color_orange_dedalo 	: #f78a1c; // Dédalo logo orange
	@color_hilite 			: #3b87fd; // hilite blue base osc checkbox, radiobuttons, etc
	@color_grey_dark 		: #949494; // used in section group headers
	@color_grey_medium 		: #e6e6e6; // used in component actibe background

	@color_primary 			: #007bff; // used in button primary (blue)
	@color_secondary 		: #6c757d; // used in button primary (dark blue?)
	@color_success	 		: #28a745; // used in button primary (green)
	@color_danger	 		: #dc3545; // used in button primary (red)
	@color_info		 		: #17a2b8; // used in button primary (cian)
	@color_light		 	: #f8f9fa; // used in button primary (light grey)
	@color_dark		 		: #343a40; // used in button primary (dark grey)



// paths
	@images_base_path : '../../themes/default'; // Images folder in Dédalo (root level)



// General sizes
	@media_min_height : 27em; // Min height for a component wrapper of media (av, image, pdf...)
	@media_max_height : inherit; // Max height for a component wrapper of media (av, image, pdf...)
	



// break points
	@width_break_point_1 : 960px;
	@width_break_point_2 : 780px; // images minimun width

