// vars



// colors
	@color_orange_dedalo			: #f78a1c; // Dédalo logo orange
	@color_hilite					: #3b87fd; // hi-lite blue base on checkbox, radio buttons, etc
	@color_grey_untralight			: #fcfcfc; // used in list rows background
	// @color_grey_light			: #f1f1f1; // used in section group labels background
	@color_grey_light				: #f0f0f0;
	@color_grey_medium				: #e6e6e6; // used in component active background
	// @color_grey_dark				: #949494; // used in section group headers and label text
	@color_grey_dark				: #b9b9b9;
	@color_grey_darken				: #7f7f7f; // used in page font
	// @color_grey_ultradark		: #191919; // used in page font
	@color_grey_ultradark			: #353535; // used in page font

	@color_primary					: #2b77c7; // used in button primary (blue)
	@color_secondary				: #6c757d; // used in button primary (dark blue?)
	@color_success					: #28a745; // used in button primary (green)
	@color_danger					: #dc3545; // used in button primary (red) and area development widgets
	@color_info						: #17a2b8; // used in button primary (cyan)
	@color_light					: #f8f9fa; // used in button primary (light grey)
	@color_dark						: #343a40; // used in button primary (dark grey)
	@color_white_dirty				: #faf9f9; // used in components_list_container as background color
	// @color_white_input			: #fcfdfe; // used in input elements
	@color_green_success			: #5cb85c; // used in components animation on save value
	@color_green_switch_active		: #5cb85c; // #13bf11; // used in component_publication

	// @color_danger				: #c1442a; // used in area development widgets
	@color_blue						: #3883fa; // used in area development widgets

	// tags
	@color_tag_indexation_normal	: #ffaa00;
	@color_tag_indexation_removed	: #2f8fff;
	@color_tag_indexation_to_review	: #fc461a;

// General sizes
	// @media_min_height : 392px; // Min height for a component wrapper of media (av, image, pdf...) also component_text_area
	// @media_max_height : inherit; // Max height for a component wrapper of media (av, image, pdf...)
	// @text_area_min_height : 250px;
	// @content_data_min_height: 3.5rem; // +/- 47.8px
	// @content_data_min_height: 2.66rem; // +/- 47.8px

	// @component_label_height : 1.5rem;
	// @inspector_width : 18rem;

	// media heights (images)
	// @view_mini_height : 2rem;
	// @view_line_height : 5rem;


// break points
	@width_break_point_0 : 1024px; // desktop small;
	@width_break_point_1 : 960px; // mobile
	@width_break_point_2 : 780px; // images minimum width


// root vars are in main.less (!)


