/**
* service_dropzone
*
* Included from main.less file
*/

.service_dropzone {

	>.content_data {
		padding: 1rem;
		position: relative;

		// system info
		>.button.info {
			background-color: @color_black;
			position: absolute;
			right: 0;
			top: 0;
		}

		>.info_container {
			background-color: @color_grey_15;
			color: @color_grey_8;
			margin-bottom: 1rem;
			display: grid;
			grid-template-columns: 1fr 3fr;

			>label, >div {
				padding: 0.75em;
			}
			>label {
				padding-right: 2em;
			}
			>div {

			}
		}

		>.row {
			font-size: 1.3rem;
			.buttons_container {
				button {
					font-size: 1.3rem;
					padding: .3rem 2rem;
				}
				@media screen and (max-width: @width_break_point_0) { // 1024px
					display: flex;
					align-items: center;
					flex-direction: column;
					button{
						width: 100%;
						margin-top: .5rem;
					}
					.all_delete_checkbox{
						margin-top: .5rem;
					}
				}
			}


			.progress {
				margin-top: 1rem;
				margin-bottom: 0px;
			}
		}

		.table.table-striped {

			>.file-row {
				margin: 0px;
				min-height: 72px;

				// grid way
				display: grid;
				grid-template-columns: 128px 2fr 1fr 1fr 1fr 3rem;
				align-items: center;
				// each column inside
				>* {
					margin-right: 1em;
				}

				.details_wrapp {
					padding: 0.5rem;
					padding-right: 1rem;

					>.name {
						margin-right: 0.33rem;
					}
					>.error {
						margin-right: 0.33rem;
					}
					>.size {
						margin-right: 0.33rem;
					}
				}

				.preview_wrapp {
					overflow: hidden;
					height: 100%;
					min-width: 115px;
					min-height: 70px;
					background-color: @color_grey_16;

					img {
						width: 100%;
						height: 100%;
						object-fit: contain;
						background-image: url(../../themes/default/dedalo_logo_grey.svg);
						background-repeat: no-repeat;
						background-size: contain;
						background-position: center;
						display: block;
					}
				}
			}//end >.file-row
		}
	}//end content_data

}//end .service_dropzone
