@charset "UTF-8";
/* CSS Document */


DIV.loading {
	/*
	display:block;
	width:  132px;
	height: 132px;	
	
	position:relative;
	top:10px;
	left:10px;
	margin:1px;
	*/
	background: url(../images/spinner.gif) no-repeat center center;		
}
DIV.contFotoList {
	width:64px;
	height:48px;
	background: url(../images/spinner.gif) no-repeat center center;		
}
DIV.loaded {
	background-image:none;	
}
DIV.loaded img {
	/*
	display:block;
	
	margin:0px !important;
	background-color:#333; 
	border: 1px solid #333;	
	border-radius:8px;
	
	-moz-border-radius:4px;
	-moz-box-shadow: 2px 2px 4px #222; 
	-webkit-box-shadow: 2px 2px 4px #222;	
	*/
}
