@charset "UTF-8";
/* CSS Document */

/* paginación */
.pagContDiv { margin:0px; margin-bottom:10px; margin-top:-5px; margin-right:10px; text-align:right; clear:both; display:block;font:Tahoma,Geneva,sans-serif;
-webkit-user-select:none;
-moz-user-select:none;
user-select:none;
}

.pagContDiv .divPageList { 
float:left; color:#999; 
cursor:pointer; 
margin-left:17px; 
padding-left:21px;padding-right:6px; padding-bottom:3px; padding-top:3px; 
background-image:url(../img/icon_list.png); background-repeat:no-repeat; background-position:4px 2px;;
}
.pagContDiv .divPageList:hover { background-color:#333;color:#FFF;-moz-border-radius:4px;border-radius:4px;}
.pagContDiv .divPageList:active { background-color: #666;color:#000; }

.pagContDiv .pagElementDiv, .pagElementDivDes {cursor:pointer;display: inline-block;margin:0px;padding-left:6px;padding-right:6px; padding-bottom:3px;font-weight:bold;color:#999; line-height:18px;-webkit-user-select:none;-moz-user-select:none;}
.pagContDiv .pagElementDiv:hover {background-color:#333;color:#FFF;border-radius:4px;-moz-border-radius:4px; }
.pagContDiv .pagElementDiv:active {background-color: #666;color:#000; }
.pagContDiv .pagElementDivDes {	cursor:default;color:#333;  }

.pagContDiv .pagElementDivText{ text-align:center; width:auto; min-width:225px; display:inline-block;font-weight:normal;color:#999;webkit-user-select:none;-moz-user-select:none; }



.volverLink { margin-top:25px; color: #999; float:right;-webkit-user-select:none;-moz-user-select:none; padding:5px; cursor:pointer}
.volverLink:hover {background-color: #222;color:#FFF;border-radius:4px;-moz-border-radius:4px; }
.volverLink:hover:active { opacity:0.6 }