

.wrapper_widget.state {
	.state_icon{
		mask-size: contain;
		-webkit-mask-size: contain;
		mask-repeat: no-repeat;
		-webkit-mask-repeat: no-repeat;
		mask-position: center;
		-webkit-mask-position: center;
		background-color: #c9c9c9;
		width: 1.2em;
		height: 1.2em;
		&.digitization{
			-webkit-mask-image: url("../img/di.svg");
		}
		&.transcription{
			-webkit-mask-image: url("../img/tr.svg");
		}
		&.indexation{
			-webkit-mask-image: url("../img/in.svg");
		}
		&.translation{
			-webkit-mask-image: url("../img/tl.svg");
		}
	}


	/* WIDGET SUM_DATES
	--------------------------------------- */
	.get_archive_weights {
		//background-color: #DEDEDE;
		}
		.sum_weights {
			//font-weight: bold;
			font-size: 120%;
			//padding-left: 15px;
		}
		.get_archive_weights {
			padding-right: 5px;
			//font-size: 80%;
			color: #555555;
			font-family: "Arial";
		}
		.update_info{
		top: -15px;
		position: absolute;
		right: 0;
		}

		.get_archive_diameter{
			border-left: 1px solid rgb(200, 200, 200);
			padding-left: 5px;

		}


}