

/* WIDGET SUM_DATES
--------------------------------------- */
.get_archive_weights {
	//background-color: #DEDEDE;
	}
	.sum_weights {
		//font-weight: bold;
		font-size: 120%;
		//padding-left: 15px;
	}
	.get_archive_weights {
		padding-right: 5px;
		//font-size: 80%;
		color: #555555;
		font-family: "Arial";
	}
	.update_info{
	top: -15px;
	position: absolute;
	right: 0;
	}

	.get_archive_diameter{
		border-left: 1px solid rgb(200, 200, 200);
		padding-left: 5px;

	}

