// Variables
@common_css: "../../common/css";

// Usage
@import "@{common_css}/library.less";


//@elements_over_z_index : 1000;
@elements_over_z_index : 1000;


/* FIELDS
-------------------------------------------------- */
	.geolocation_text {
		font-size: 14px;
		top: 2px;
		margin-right: 5px;
	}

	.map_inputs input {
		margin-left: 3px;
	}

	// .map_inputs	.geolocation_separator {
	// 	border-left: 1px solid;
	// 	border-color: #333333;
	// 	margin-left: 5px;
	// }
	/* altitude
	-------------------------------------------------- */
	.map_inputs	.input_altitude {
		width: 28px;
	    text-align: center;
	}

	.map_inputs	.map_save {
		padding: 3px;
		padding-bottom: 3px;
		border-left: 1px solid;
		border-right: 1px solid;
		border-color: #333333;
		}
		.map_inputs	.map_save:active {
			//background-color: #808080;
			color: #fe8000;
		}

	.map_inputs	.map_reload {
		.build_button('reload.svg');
		width: 1.2em;
		height: 1.2em;
		}
		.map_inputs	.map_reload:hover {
			opacity: 1;
		}
		.map_inputs	.map_reload:active {
			opacity: 1;
			background: #fe8000;
		}

	// .map_inputs	.map_full_screen {
	// 		.build_button('full_screen.svg');
	// 		width: 1.2em;
	// 		height: 1.2em;
	// 	}
	// 	.map_inputs	.map_full_screen:hover {
	// 		opacity: 1;
	// 	}
	// 	.map_inputs	.map_full_screen:active {
	// 		opacity: 1;
	// 		background-color: #fe8000;
	// 	}



/* MAP
-------------------------------------------------- */


	.map_inputs {
		-webkit-touch-callout: none;
	    -webkit-user-select: none;
	    -khtml-user-select: none;
	    -moz-user-select: none;
	    -ms-user-select: none;
	    user-select: none;
		position: absolute;
		top: 0.55em;
		left: 3em;
		margin-right: 6em;
		background-color: rgb(255, 255, 255);
		padding: 0.4em;
		border-radius: 4px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		//max-width: 660px;
		//box-shadow: 0 1px 5px rgba(0,0,0,0.65);
		z-index: @elements_over_z_index;
		// From new leaflet 1.0 (removed shadow and add solid line around)
		  border: 2px solid rgba(0,0,0,0.2);
  		  background-clip: padding-box;

		}
		.map_inputs span:not(:nth-of-type(1)) {
			padding-left: 5px;
		}
		.map_inputs  input[name="zoom"] {
			width:28px;
			text-align: center;
		}


/* PLAYER container (Transcription)
-------------------------------------------------- */
	.leaflet_map_player {
		padding: 0;
		margin: 0px;
		position: relative;
		margin-top: 5px;
		}
		.leaflet_map_player .content_data {
			width: 100%;
			height: 100%;
			margin: 0;
			padding: 0;
		}
		.leaflet_map_player .leaflet_map {
			min-height: 605px;
		}


/* MAP FULL SCREEN
-------------------------------------------------- */


.leaflet-top,
.leaflet-bottom {
	/* bajamos el z-index (1000 por defecto), a 100 para evitar problemas */
	z-index: @elements_over_z_index;
}

.leaflet-control-layers {
	z-index: @elements_over_z_index;
}

.leaflet-draw-draw-circle {
	display: none !important;
}


// wrapper
	.wrapper_component.component_geolocation {

		>.content_data {
			height: calc(100% - 2em);

			// inputs container
			ul.inputs_container {
				display: flex;
		    	flex-wrap: nowrap;

		    	>li {
		    		flex: 1 1 auto;
		    		flex-direction: column;
		    		// z-index: 1;

		    		>div {
						display: : flex;


						>label {
							margin-right: 0.5em;
						}

						>input {
							width: 5.7em;

							&.zoom {
								width: 2em;
							}

							&.altitude {
								width: 2em;
							}
						}
					}
		    	}
			}

			// map
			.leaflet_map.leaflet-container {
				position: relative;
				width: 100%;
				height: 100%;
				min-height: 320px;
				margin: 0;
				padding: 0;
				padding-bottom: 5px;
				// z-index: 1;

				background-color: #d9d0c9;
				max-height: 100%;
				// min-height: unset;
				// height: 23em;

				.leaflet-control-zoom a {
					font-size: initial !important;
					font-weight: bold;
				}

			}//end .leaflet_map

		}//end >.content_data
	}//end .wrapper_component.component_geolocation
