/**
* component_geolocation
*
* Included from main.less file
*/
.component_geolocation {

	@color_blue_sea: #aad3df;
	@elements_over_z_index : 1000;

	// shared
	.leaflet_map {
		background-color: @color_blue_sea;
	}
	// map
	.leaflet_map.leaflet-container {
		position: relative;
		width: 100%;
		height: 100%;
		min-height: 320px;
		margin: 0px;
		padding: 0px;
		padding-bottom: 5px;
		z-index: 0;

		background-color: @color_blue_sea;
		max-height: 100%;
		// min-height: unset;
		// height: 23em;

		.leaflet-control-zoom a {
			font-size: initial !important;
			font-weight: bold;
		}
	}//end .leaflet_map

	&.disabled_component {
		// tool bar at right
		.leaflet-pm-toolbar {
			display: none !important;
		}
		// zoom buttons
		.leaflet-top.leaflet-left {
			display: none !important;
		}
	}


	// &.view_default, &.view_line {
	&.edit {
		//@elements_over_z_index : 1000;

		>.content_data {
			height: calc(100% - var(--component_label_height)); // 1.75em
			min-height: 495px; // var(--media_min_height);
			flex-direction: column;
			z-index: 0;
			// display: flex;
			// flex-wrap: nowrap;
			// height: 100%;

	    	>.content_value {
				flex: 1 1 auto;
				flex-direction: column;
				background-color: @color_blue_sea;

				resize: vertical;
				overflow: hidden;

	    		>.map_inputs {
					display: flex;

					>label {
						margin-right: 0.5rem;
					}

					>input {
						width: 7rem;
						text-align: center;

						&.zoom {
							width: 2rem;
						}

						&.altitude {
							width: 2.5rem;
						}
					}
				}
	    	}

			// map
			.leaflet_map.leaflet-container {

			}//end .leaflet_map



		}//end >.content_data


		/* FIELDS
		-------------------------------------------------- */
			.geolocation_text {
				font-size: 14px;
				top: 2px;
				margin-right: 5px;
			}

			.map_inputs {
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
				position: absolute;
				top: 10px;
				left: 48px;
				margin-right: 3rem;
				background-color: rgb(255, 255, 255);
				padding: 0.4em;
				padding-bottom: 2px;
				padding-top: 3px;
				border-radius: 4px;
				display: flex;
				flex-wrap: wrap;
				align-items: center;
				//max-width: 660px;
				//box-shadow: 0 1px 5px rgba(0,0,0,0.65);
				z-index: 1;
				// From new leaflet 1.0 (removed shadow and add solid line around)
				border: 2px solid rgba(0, 0, 0, 0.2);
				background-clip: padding-box;
				color: @color_grey_dark;
			}
			.map_inputs span:not(:nth-of-type(1)) {
				padding-left: 5px;
			}
			.map_inputs input[name="zoom"] {
				width: 28px;
				text-align: center;
			}

			.map_inputs input {
				margin-left: 3px;
			}

			// .map_inputs	.geolocation_separator {
			// 	border-left: 1px solid;
			// 	border-color: #333333;
			// 	margin-left: 5px;
			// }
			/* altitude
			-------------------------------------------------- */
			.map_inputs	.input_altitude {
				width: 28px;
			    text-align: center;
			}

			.map_inputs	.map_save {
				padding: 3px;
				padding-bottom: 3px;
				border-left: 1px solid;
				border-right: 1px solid;
				border-color: #333333;
				}
				.map_inputs	.map_save:active {
					//background-color: #808080;
					color: #fe8000;
				}

			.map_inputs	.map_reload {
				.fn_build_button('reload.svg');
				width: 1.2em;
				height: 1.2em;
				}
				.map_inputs	.map_reload:hover {
					opacity: 1;
				}
				.map_inputs	.map_reload:active {
					opacity: 1;
					background: #fe8000;
				}

			.map_inputs	.map_point {
				.fn_build_button('geo.svg');
				width: 1.2em;
				height: 1.2em;
				}
				.map_inputs	.map_point:hover {
					opacity: 1;
				}
				.map_inputs	.map_point:active {
					opacity: 1;
					background: #fe8000;
				}

			// .map_inputs	.map_full_screen {
			// 		.fn_build_button('full_screen.svg');
			// 		width: 1.2em;
			// 		height: 1.2em;
			// 	}
			// 	.map_inputs	.map_full_screen:hover {
			// 		opacity: 1;
			// 	}
			// 	.map_inputs	.map_full_screen:active {
			// 		opacity: 1;
			// 		background-color: #fe8000;
			// 	}



		/* PLAYER container (Transcription)
		-------------------------------------------------- */
			.leaflet_map_player {
				padding: 0px;
				margin: 0px;
				position: relative;
				margin-top: 5px;
				}
				.leaflet_map_player .content_data {
					width: 100%;
					height: 100%;
					margin: 0px;
					padding: 0px;
				}
				.leaflet_map_player .leaflet_map {
					min-height: 605px;
				}


		/* MAP FULL SCREEN
		-------------------------------------------------- */


		.leaflet-top,
		.leaflet-bottom {
			/* bajamos el z-index (1000 por defecto), a 100 para evitar problemas */
			z-index: @elements_over_z_index;
		}

		.leaflet-control-layers {
			z-index: @elements_over_z_index;
		}

		.leaflet-draw-draw-circle {
			display: none !important;
		}
	}//end .view_default


	&.view_line {
		display: inline-block;
		width: 100%;

		// &.edit {
			height: 30.5rem;
			// height: 14.5rem;

			>.content_data {
				height: 100% !important;
			}
		// }
	}

	&.view_print {
		.leaflet-control-container {
			display: none;
		}
	}
}//end .component_geolocation
