.service_time_machine .head_column{font-size:.85rem;text-align:left}.service_time_machine .head_column .name{margin-left:.1rem}.service_time_machine .column_service_time_machine{padding:.25rem}.service_time_machine .column_service_time_machine>span{word-break:break-word;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;-webkit-line-clamp:10;line-clamp:10;-webkit-box-orient:vertical}
/*# sourceMappingURL=service_time_machine.css.map */