/**
* TOOL_PDF_EXTRACTOR
*
* Loaded on tool init
*/
// imports
@import (once) '../../../core/page/css/layout/vars';

@tool_main_color: #794960;

// tool wrapper
// Encapsulate all tool content to prevent core collisions
	.wrapper_tool.tool_pdf_extractor {

		>.content_data {

			>.options_container {
				display: grid;
				grid-template-columns: 1fr 1fr;
				width: 24rem;
				margin-bottom: 2rem;
				margin-top: 1rem;
				grid-gap: 1rem;

				.options_label {

				}

				.options_input {
					width: 7.5rem;
				}


				.method_selector {
					.label {
						display: inline-block;
						margin-right: 1.5rem;
						cursor: pointer;
						input {
							margin-right: 0.5rem;
						}
					}
				}
			}

			>.button_submit {
				background-color: @tool_main_color;
				border-color: darken(@tool_main_color, 3%);

				.icon {
					margin-right: 0.5rem;
					margin-left: 0rem;
				}
			}

			// NOT USED
				// >form {
				// 	display: flex;
				//     flex-wrap: wrap;
				// 	align-items: center;

				// 	>label {
				// 		padding: 0.9em;
				// 		padding-left: 1.75em;
				// 		padding-right: 1.75em;
				// 		background-color: #ececec;
				// 		border: 1px dashed #ff9800;
				// 		border-radius: 0.25em;
				// 		cursor: pointer;

				// 		&.hover {
				// 			// border: 1px dashed #20F41B;
				// 			background-color: #ff9800;
				// 			color: #ffffff;
				// 			cursor: move !important;
				// 			// cursor: grab;
				// 		}

				// 		&.loading_file {
				// 			opacity: 0.25;
				// 			pointer-events: none;
				// 		}

				// 		img, span {
				// 			pointer-events: none;
				// 		}

				// 		>img {
				// 			height: 1.5em;
				// 			padding-right: 1em;
				// 			vertical-align: text-bottom;
				// 		}
				// 	}

				// 	// >label, >.filedrag {
				// 	// 	line-height: 1em;
				// 	// 	background-color: #ececec;
				// 	// 	border-radius: 0.25em;
				// 	// 	padding: 3em;
				// 	// }

				// 	>input {
				// 		width: 0.1px;
				// 		height: 0.1px;
				// 		opacity: 0;
				// 		overflow: hidden;
				// 		position: absolute;
				// 		z-index: -1;
				// 	}

				// 	// >.filedrag {
				// 	// 	padding-top: 0.5em;
				// 	// 	padding-bottom: 0.5em;
				// 	// 	border: 1px dashed #ff9800;
				// 	// 	color: #494949;

				// 	// 	&.hover {
				// 	// 		// border: 1px dashed #20F41B;
				// 	// 		background-color: #ff9800;
				// 	// 		color: #ffffff;
				// 	// 		cursor: move;
				// 	// 		// cursor: grab;
				// 	// 	}
				// 	// }

				// 	// Removed for the time being
				// 	// .file_info {
				// 	// 	margin-left: 2em;
				// 	// 	display: flex;
				// 	// 	flex: 1 1;
				// 	// 	align-items: center;
				// 	// 	flex-wrap: wrap;

				// 	// 	>div {
				// 	// 		line-height: 1em;
				// 	// 	}

				// 	// 	img {
				// 	// 		max-height: 100px;
				// 	// 	}
				// 	// }
				// }

			// NOT USED
				// >.progress_bar_container {
				// 	padding: 0;

				// 	>div.progress_info {
				// 		font-size: 1.25em;
				// 		color: #787878;
				// 		font-weight: 300;
				// 		padding-top: 0.75em;
	    		// 		padding-bottom: 0.25em;
				// 	}

				// 	>progress.progress_line {
				// 		 width: 100%;
				// 		 margin-bottom: 0.5em;
				// 		 // -webkit-appearance: none;
				// 		 // height: 3px;
				// 	}
				// 	// ::-webkit-progress-bar {
				// 	//   background-color: grey;
				// 	// }
				// }//end >.progress_bar_container


			// response_container
			>.response_container {
				padding-top: 0.5em;

	    		>.response_msg {
	    			padding: 0.5rem;



	    			// .blink {
					//   animation: blinker 1s linear infinite;
					// }
					// @keyframes blinker {
					//   50% {
					//     opacity: 0;
					//   }
					// }
	    		}

	    		>.preview {
					max-height: 24rem;
					overflow: auto;
					margin-top: 1rem;
					background-color: #fffafc;
					padding: 1rem;
					border-radius: 4px;
	    		}
			}


			// system info
			.info {
				background-color: #f5f5f5;
				color: #8c8c8c;
				>* {
					display: grid;
					grid-template-columns: 1fr 5fr;
					padding: 0.5em;

					>label {
						padding-right: 2em;
					}
				}
			}

		}//end content_data
	}//end .wrapper_tool.tool_pdf_extractor



// modal header tool modification
	.tool_header.tool_pdf_extractor {
		background-color: @tool_main_color;
	}
