/**
* TOOL_PDF_EXTRACTOR
*
* Loaded on tool init
*/

// imports
@import (once) '../../../core/page/css/layout/vars';

@tool_color: #794960;

// tool wrapper
// Encapsulate all tool content to prevent core collisions
.wrapper_tool.tool_pdf_extractor {

	.spinner {
		border-top-color: @tool_color;
	}

	>.content_data {

		>.options_container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			width: 24rem;
			margin-bottom: 2rem;
			margin-top: 1rem;
			grid-gap: 1rem;

			.options_label {

			}

			.options_input {
				width: 7.5rem;
			}

			.method_selector {

				.label {
					display: inline-block;
					margin-right: 1.5rem;
					cursor: pointer;

					input {
						margin-right: 0.5rem;
					}
				}
			}
		}

		>.button_submit {
			background-color: @tool_color;
			border-color: darken(@tool_color, 3%);

			.icon {
				margin-right: 0.5rem;
				margin-left: 0rem;
			}
		}

		// response_container
		>.response_container {
			padding-top: 0.5em;

    		>.response_msg {
    			padding: 0.5rem;
    		}

    		>.preview {
				max-height: 25rem;
				line-height: 1.2rem;
				overflow: auto;
				margin-top: 1rem;
				background-color: @color_grey_16;
				padding: 1rem;
				border-radius: 4px;
				border: 1px solid @color_grey_13;
    		}
		}


		>.button_select {
			background-color: @tool_color;
			border-color: darken(@tool_color, 3%);
			color: @color_white;
			margin-left: calc(50% - 5rem);
			margin-top: 1.5rem;
		}


		// system info
		>.info {
			background-color: @color_grey_15;
			color: @color_grey_8;

			>* {
				display: grid;
				grid-template-columns: 1fr 5fr;
				padding: 0.5em;

				>label {
					padding-right: 2em;
				}
			}
		}
	}//end content_data
}//end .wrapper_tool.tool_pdf_extractor

// modal header tool modification
.tool_header.tool_pdf_extractor {
	background-color: @tool_color;
}
