/**
* component_select
* 	&& component_select_lang
*
* Included from main.less file
*/
.component_select,
.component_select_lang,
.component_relation_model {

	// shared
	>.content_data {

		>.content_value {
			width: 100%;
			display: flex;
			align-items: center;

			.q_operator {
				width: 3rem;
				text-align: center;
			}

			// select
			>.select {
				width: 79%;
				background-color: white;
			}

			.show_on_active {
				margin-left: 0.5rem;
			}
		}
	}

	&.view_mini {

		&.edit {
			background-color: transparent;
			outline: none;
			color: unset;
			box-shadow: none;
			display: flex;

			&:after {
				display: none;
			}

			.buttons_container, .developer_info, .show_on_active {
				display: none !important;
			}

			.label {
				flex: 1 0 auto;
				padding-left: 0px;
				padding-right: 0px;
			}
			.content_data {
				padding-top: 0px;
				padding-bottom: 0px;
				padding-right: 0px;

				.select {
					width: auto;
				}
			}
		}
	}

	&.view_line {
		display: inline-block;

		>.content_data >.content_value >.select {
			// width: auto;
			height: 1.5rem;
			margin-left: 1px;
			margin-right: 0px;
			margin-top: 0.10rem;
			padding-left: 0.25rem;
		}
	}

}//end .component_select
