/**
* component_select
*
* Included from main.less file
*/
.component_select {
	// background-color: #edbaf6;

	&.edit {

		>.content_data {

			>.value {
				align-items: center;
				display: flex;
				// padding-bottom: 0.25rem;

				>select {
					width: 79%;
				}

				.show_on_active {
					margin-left: 0.5rem;
				}
			}
		}
	}
}//end .component_select
