/**
* component_select
* 	&& component_select_lang
*
* Included from main.less file
*/
.component_select,
.component_select_lang {

	// &.edit {
		>.content_data {

			>.content_value {
				width: 100%;
				display: flex;
				align-items: center;

				.q_operator {
					width: 3rem;
					text-align: center;
				}

				// select
				>.select {
					width: 79%;
				}

				.show_on_active {
					margin-left: 0.5rem;
				}
			}
		}
	// }
}//end .component_select
