/**
* widget av_duration
*
* Included from main.less file
*/

// ul
.widget_av_duration {
	margin-top: 4px;
	-webkit-user-select: none;
			user-select: none;
	width: 58px;
	float: left;
	}

	.widget_av_duration li {
		display: table;
		font-size: 92%;
		}
		.widget_av_duration li .label_first,
		.widget_av_duration li .label_second {
			display: table-cell;
			background-color: #F8F8F8;
			border-top: 1px solid #E4E4E4;
			padding-top: 2px;
			padding-bottom: 2px;

		}
		.widget_av_duration li .label_first {
			margin-right: 5px;
			white-space: nowrap;
			text-align: right;
			padding-right: 10px;
			min-width: 40px;
			width: 10%;
		}
		.widget_av_duration li .label_second {
			width: 90%;
		}
		.widget_av_duration li .header {
			border-top: 1px solid #ECECEC;
			font-weight: normal;
			text-transform: capitalize;
		}
		.widget_av_duration li .label_second.header {
			cursor: pointer;
			/*background-image: url('../../themes/default/select_2x.png');
			background-repeat: no-repeat;
			background-position: right 6px top 7px;
			background-size: 14px;*/
		}
		ul.widget_av_duration .tab_content {
			display: none;
		}
