@charset "UTF-8";
/* CSS Document */

.list_content a:link { text-decoration: none; color:#3C3C3C; font-weight:inherit}
.list_content a:visited { text-decoration: none; color: #000000;}
.list_content a:hover { text-decoration: none; color: #FFFFFF;}
.list_content a:active { text-decoration: none; color: #1A262A;}


/* FORM ELEMENTS */
input {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  background-color: #F4F4F4;
  border: 1px solid #CCCCCC;
  border-radius:3px;
  padding: 2px;
  margin: 2px;
  color: #666666;  
}

[disabled],[readonly] {	background-color:#CCC; }

textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #f4f4f4;
	border: 1px solid #CCCCCC;
	padding: 2px;
    color: #999999;
	border-radius:4px;
}
select {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #f4f4f4;
	border: 1px solid #CCCCCC;
	padding: 2px;
    color: #333333;
  	border-radius:3px;	
}
input[type="checkbox"] { cursor:pointer ; margin-bottom:5px;}

input[type=button]{ color:#F7F7F7;height:21px;padding:3px; padding-left:5px; padding-right:5px; padding-top:0px;border:none;border-radius:3px;
	background-image:url(../../images/th_ramp2.png);background-position:0 -1px;cursor:pointer;
}
input[type=button]:hover { color:#fff }
.SubmitButon{
	cursor:pointer;
	height:20px;
	background-color:#e57400;
	color:#FFF ;
	border:none;
	border-radius:3px;
	box-shadow: 1px 2px 2px #888888;
	background-image: url('../../lib/dedalo/themes/default/ramp_orange.jpg') !important;
	padding-left:4px; padding-right:4px;
}


/*-- TABLE ROWS --*/
.list_content,
.list_content TABLE TD,
.list_content TABLE TH
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 11px !important;
	color: #3C3C3C;
} 

img { border:none; vertical-align: middle; }


/********************  
* Jerarquia 
********************/
img.dropIcon { margin:0px; margin-top:-4px; cursor:pointer }
img.btnEdit { width:15px; height:15px;  margin:0px; margin-top:-1px;cursor:pointer }

.divZonaActual {
	font-weight:bold; font-size:15px; margin-top:-7px; width:100%;
	background-color:#ff9c00;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;	
	color:#fff;
	font-variant:small-caps;
}

.divLinkTesauro {
	color:#CCC;
	float:right; 
	margin-right:10px; 
	margin-top:2px;
	font-weight:normal;  
	font-size:11px;
	cursor:pointer
}
.trTaxlist td { font-size:9px !important; color:#333 }


#left_content {
	display:block;
	width:465px;
	height:610px;
	/*overflow:auto;*/
	float:left;
	margin-left:10px;	
}

.wrap_content {
	/*margin-top: 26px;	*/
}


