
img { border:none; vertical-align: middle; }


/********************  
* Jerarquia 
********************/
img.dropIcon { margin:0px; margin-top:-4px; cursor:pointer }
img.btnEdit { width:15px; height:15px;  margin:0px; margin-top:-1px;cursor:pointer }

.divZonaActual {
	font-weight:bold; font-size:15px; margin-top:-7px; width:100%;
	background-color:#ff9c00;
	-webkit-border-top-left-radius: 8px;
	-webkit-border-top-right-radius: 8px;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	color:#fff;
	font-variant:small-caps;
}

.divLinkTesauro {
	color:#CCC;
	float:right; 
	margin-right:10px; 
	margin-top:2px;
	font-weight:normal;  
	font-size:11px;
	cursor:pointer
}
.trTaxlist td { font-size:9px !important; color:#333 }
