/**
* component_publication
*
* Included from main.less file
*/
.component_publication {

	@switch_height: 26px;
	@switch_width: 45px;


	.switcher_publication {
		cursor: pointer;
		display: inline-block;
		-webkit-tap-highlight-color: transparent;
		flex: 0 0 @switch_width !important;
		padding: 0.25rem;

		>i {
			position: relative;
			display: inline-block;
			margin-right: .5rem;
			width: @switch_width;
			height: @switch_height;
			background-color: @color_grey_medium;
			border-radius: 23px;
			vertical-align: text-bottom;
			transition: all 0.3s linear;

			&:before {
				content: '';
				left: 0px;
				position: absolute;
				width: 42px;
				height: 22px;
				background-color: #ffffff;
				border-radius: 11px;
				transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
				transition: all 0.25s linear;
			}

			&:after {
				content: '';
				left: 0px;
				position: absolute;
				height: 22px;
				width: 22px;
				background-color: #ffffff;
				border-radius: 11px;
				box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.24);
				transform: translate3d(2px, 2px, 0);
				transition: all 0.2s ease-in-out;
			}
		}

		&:active i::after {
			transform: translate3d(2px, 2px, 0);
			width: 28px;
		}

		&:active input:checked + i::after {
			transform: translate3d(16px, 2px, 0);
		}

		input {
			display: none;

			&:checked + i {
				background-color: @color_green_switch_active;
			}

			&:checked + i::before {
				transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
			}

			&:checked + i::after {
				transform: translate3d(22px, 2px, 0);
			}
		}
	}//end .switcher_publication


	&.view_default {
		box-shadow: none;

		>.content_data {

			>.content_value {

			}//end >.content_value

		}//end >.content_data

	}//end view_default


	&.view_line {
		display: inline-block;

		>.content_data {
			display: contents;

			>.content_value {
				margin: 0.25rem;
			}
			.button_exit_edit.show_on_active {
				// display: none;
			}
		}
	}//end view_line


	&.search {
		>.content_data {

			>.q_operator {
				width: 3rem;
				margin-right: 0.5rem;
				text-align: center;
			}

			>.content_value {
				display: flex;
				align-items: center;
				margin-right: 0.5rem;
				margin-top: 0.5rem;
				margin-bottom: 0.25rem;
				width: auto;

				// label wraps the input too
				>.label {
					// width: 100%;
					padding-top: 0.33rem;
					padding-bottom: 0.33rem;
					padding-right: 0.5rem;

					display: flex;
					cursor: pointer;

					>input {
						margin-right: 0.25rem;
						cursor: pointer;
					}
				}
			}
		}
	}
}//end .component_publication
