/**
* paginator
*
* Included from main.less file
*/
.paginator {

	>.content_data {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		line-height: 1.5em;
		margin: 0px;
		padding: 0px;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		padding-left: 0.5em;
		row-gap: 0.5rem;

		.show_all_button, .reset_paginator_button {
			// margin-right: 0.5rem;
			cursor: pointer;

			&:hover {
				color: #000000;
			}
		}

		// buttons definitions
		.btn {
			&.paginator_first_icon {
				.fn_build_button('forward.svg', black, 1, 2em);
				transform: scaleX(-1);
				mask-size: 70%;
				-webkit-mask-size: 70%;
				mask-repeat: no-repeat;
				-webkit-mask-repeat: no-repeat;
			}

			&.paginator_prev_icon {
				.fn_build_button('play.svg', black, 1, 2em);
				transform: scaleX(-1);
			}

			&.paginator_next_icon {
				.fn_build_button('play.svg', black, 1, 2em);
			}

			&.paginator_last_icon {
				.fn_build_button('forward.svg', black, 1, 2em);
				mask-size: 70%;
				-webkit-mask-size: 70%;
				mask-repeat: no-repeat;
				-webkit-mask-repeat: no-repeat;
			}
		}

		// buttons (nav_buttons)
		>.nav_buttons {
			display: flex;
			align-items: center;

			@media screen and (max-width: @width_break_point_0) {
				display: contents;
			}

			>.btn {
				height: 100%;
				min-height: 1.5rem;
				margin-right: 0px;
				margin-left: 0px;
				background-color: @color_grey_dark;
				mask-size: contain;
				transition: opacity 0.2s linear;

				&.paginator_first_icon, &.paginator_last_icon {

				}

				// inactive
				&.inactive {
					pointer-events: none;
					opacity: 0.25;
					&:hover {
						opacity: 0.25;
						cursor: default;
					}
				}

			}//end btn
		}//end .nav_buttons

		// text
		>.paginator_info {
			min-height: 1.5rem;
			min-width: 7rem;
			margin-top: 0px;

			@media screen and (max-width: @width_break_point_0) {

			}

			>.page_info {
				padding-left: 0.25em;
				transition: opacity 0.2s linear;

				&.inactive {
					pointer-events: none;
					opacity: 0.25;
				}
			}

			>.goto_page {
				padding-left: 0.1em;
				@media screen and (max-width: @width_break_point_0) {
					display: initial;
				}
			}

			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
			    -webkit-appearance: none;
			    margin: 0;
			}

			>input.input_go_to_page {
				font-family: 'Menlo', monospace; // use monospace font to preserve char width in JS auto-adjust
				text-align: center;
				padding: 0.25rem;
				margin-left: 0.5rem;
				margin-right: 0.33rem;
				width: 4ch;
				border-radius: 0.2rem;
				border: 1px solid #ececec;
				-moz-appearance: textfield;

				&.invalid {
					background-color: @color_danger;
				}
			}

			>.displayed_records {
				padding-left: 0.5em;
			}
		}//end .paginator_info
	}//end .content_data

	&.edit >.content_data {

	}//end .content_data

	&.mini >.content_data {
		font-size: 0.8rem;

		// buttons (nav_buttons)
		>.nav_buttons {
			height: 0.8rem;
			padding: 0px;

			>.btn {
				width: 1.6rem;
				min-height: 1rem;
			}
		}//end .nav_buttons

		// text
		>.paginator_info {
			min-height: unset;
		}//end .paginator_info
	}//end .content_data

	&.micro >.content_data {
		font-size: 0.8rem;
		flex-wrap: nowrap;

		// buttons (nav_buttons)
		>.nav_buttons {
			height: 0.8rem;
			padding: 0px;

			>.btn {
				margin: 0px;
				width: 1.2rem;
				min-height: unset;
			}
		}//end .nav_buttons

		.displayed_total_records {
			padding: 0.25rem;
		}

		// text as '3-11'
		>.paginator_info {
			// min-width: 2.75rem;
			min-width: fit-content;
			min-height: unset;
		}//end .paginator_info
	}//end .content_data

}//end .wrapper_paginator
