/**
* paginator
*
* Included from main.less file
*/
.paginator {
	// background-color: #7FFCEB;

	>.content_data {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		width: 100%;
		line-height: 1.5em;
		margin: 0;
		padding: 0;
		padding-top: 0.5em;
		padding-bottom: 0.5em;
		padding-left: 0.5em;

		// buttons definitions
		.btn {
			&.paginator_first_icon {
				.fn_build_button('forward.svg', black, 1, 2em);
				transform: scaleX(-1);
				mask-size: 80%;
				-webkit-mask-size: 80%;
				mask-repeat: no-repeat;
				-webkit-mask-repeat: no-repeat;
			}

			&.paginator_prev_icon {
				.fn_build_button('play.svg', black, 1, 2em);
				transform: scaleX(-1);
			}

			&.paginator_next_icon {
				.fn_build_button('play.svg', black, 1, 2em);
			}

			&.paginator_last_icon {
				.fn_build_button('forward.svg', black, 1, 2em);
				mask-size: 80%;
				-webkit-mask-size: 80%;
				mask-repeat: no-repeat;
				-webkit-mask-repeat: no-repeat;
			}
		}

		// buttons (nav_buttons)
		>.nav_buttons {
			display: flex;
			vertical-align: bottom;
			font-size: small;
			height: 2rem;

			>.btn {
				height: 100%;
				margin-right: 0.35em !important;
				margin-left: 0 !important;
				// user-select: none;

				// unactive
				&.unactive {
					pointer-events: none;
					opacity: 0.4 !important;
					&:hover {
						opacity: 0.4;
						cursor: default !important;
					}
				}

			}//end btn
		}//end .nav_buttons

		// text
		>.paginator_info {

			>* {

			}

			>.page_info {
				padding-left: 0.25em;
			}

			>.displayed_records {
				padding-left: 0.1em;
				//display: none;
			}

			>.goto_page {
				padding-left: 0.1em;

				>input.input_go_to_page {
					text-align: center;
					padding: 0.25em;
					margin-left: 0.5em;
					width: 6em;
					border-radius: 0.2em;
					border: 1px solid #ececec;
				}
			}
		}//end .paginator_info
	}//end .content_data


	&.edit >.content_data {

	}//end .content_data


	&.mini >.content_data {
		font-size: 0.8rem;

		// buttons (nav_buttons)
		>.nav_buttons {
			height: 0.8rem;
			padding: 0;

			>.btn {
				mask-size: contain;
				-webkit-mask-size: contain;
			}
		}//end .nav_buttons


		// text
		>.paginator_info {

		}//end .paginator_info
	}//end .content_data
}//end .wrapper_paginator
