// PAGINATOR



// wrapper_paginator
	.wrapper_paginator {
		// background-color: #7FFCEB;
		>.content_data {
			display: flex;
			width: 100%;
			padding: 0.5em;
			padding-bottom: 0;
			line-height: 1.5em;

			>* {
				align-self: center;
			}

			// buttons (nav_buttons)
			>.nav_buttons {
				display: flex;
				vertical-align: bottom;
				font-size: small;

				>.btn {
					// padding: 0.80em;
					margin-right: 0.35em !important;
					margin-left: 0 !important;
					// user-select: none;

					// unactive
					&.unactive {
						pointer-events: none;
						opacity: 0.4 !important;
						&:hover {
							opacity: 0.4;
							cursor: default !important;
						}
					}

					&.paginator_first_icon {
						.build_button('forward.svg', black, 1, 2em);
						transform: scaleX(-1);
						mask-size: 80%;
						-webkit-mask-size: 80%;
					}

					&.paginator_prev_icon {
						.build_button('play.svg', black, 1, 2em);
						transform: scaleX(-1);
					}

					&.paginator_next_icon {
						.build_button('play.svg', black, 1, 2em);
					}

					&.paginator_last_icon {
						.build_button('forward.svg', black, 1, 2em);
						mask-size: 80%;
						-webkit-mask-size: 80%;
					}
				}//end btn
			}//end .nav_buttons


			// text
			>.paginator_info {

				>* {

				}

				>.page_info {
					padding-left: 0.25em;
				}

				>.displayed_records {
					padding-left: 0.1em;
					//display: none;
				}

				>.goto_page {
					padding-left: 0.1em;

					>input.input_go_to_page {
						text-align: center;
						padding: 0.25em;
						margin-left: 0.5em;
						width: 6em;
						border-radius: 0.2em;
						border: 1px solid #ececec;
					}
				}
			}//end .paginator_info
		}//end .content_data
	}//end .wrapper_paginator



// wrapper_inspector context overrides
	.wrapper_inspector {

		.wrapper_paginator {
			padding-bottom: 1em;
		}

		.displayed_records {
			display: none;
		}

		.goto_page {
			display: inline-block;
    		clear: left;
    		padding-top: 0.25em;
		}
	}


