/**
* widget sum_dates
*
* Included from main.less file
*/

.widget_sum_dates {

	.sum_dates_total {
		padding-left: 15px;
	}
	.sum_dates_period_notes {
		font-family: "Arial";
		padding-left: 10px;
		font-size: 80%;
		color: #9C9C9C;
	}

}
