/**
* TOOL_DD_LABEL
*
* Loaded on tool init
*/

// imports
@import (once) '../../../core/page/css/layout/vars';

// local vars
@tool_color : #818181;

// tool wrapper
// Encapsulate all tool content to prevent core collisions
	.wrapper_tool.tool_dd_label {

		>.content_data {

			.spinner {
				border-top-color: @tool_color;
			}

			>.label_matix {
				display: grid;
				margin-top: 1rem;

				>.row {
					display: contents;

					>* {
						align-items: center;
						justify-items: center;
						word-break: break-word;
						padding: 0.25rem;
					}

					>.button {
						margin-top: 0.25rem;
					}

					&.label_header {
						>.button {
							padding: 0.6em;
							margin-top: 0.5rem;
						}
						>.label {
							padding: 0.6em;
							text-align: center;
							background-color: @tool_color;
							color: #fff;
							font-weight: 400;
							z-index: 2;
							border-right: 1px solid #ffffff;

							&.name {
								background-color: darken(@tool_color, 15%);
							}
						}
					}

					&.label_data {
						// system info
						>.label {
							&[contentEditable=true]:empty:not(:focus):before{
							    content:attr(data-placeholder);
								color: #aaa;
							}
							// height: 20px;
							border:1px solid gray;
						}
					}
				}
			}

		}//end content_data
	}//end .wrapper_tool.tool_dd_label


// modal header tool modification
	.tool_header.tool_dd_label {
		background-color: @tool_color;
	}
