// Vars
@common_css: "../../common/css";

// Usage
@import "@{common_css}/library.less";




/* WRAP RELATION_RELATED
---------------------------------------- */
.css_wrap_relation_related {
	//border-bottom: 1px solid #E6E6E6;

	min-height: 82px !important;
	}
	.css_wrap_relation_related .content_data {
		
	}

	

	/* wrap_relation_related_values
	---------------------------------------- */
	.css_wrap_relation_related .content_data .wrap_relation_related_values {
		//display: inline-block;
		}
		/* inputs line
		---------------------------------------- */
		.css_wrap_relation_related .content_data .wrap_relation_related_values .relation_related_input_line {			
			margin: 0;
			margin-bottom: 0px;
			padding: 3px;
			}
			/* input
			---------------------------------------- */
			.css_wrap_relation_related .content_data .wrap_relation_related_values .relation_related_input_line input.css_relation_related {
				padding: 2px;
				padding-left: 5px;
				cursor: pointer;
				margin: 0;
				width: 315px;
				max-width: 99.9%;
				//display: none;				
				}
				.css_wrap_relation_related .content_data .wrap_relation_related_values .relation_related_input_line input.css_relation_related:hover {
					/*
					background-color: #F1F1F1;
					-moz-transform: scale(1.05);
					-webkit-transform: scale(1.05);
					cursor: pointer;
					*/
				}
				.css_wrap_relation_related .content_data .wrap_relation_related_values .relation_related_input_line input.css_relation_related:focus {
					background-color: #ABFDBB;
				}
				.css_wrap_relation_related .content_data .wrap_relation_related_values .relation_related_input_line input.css_relation_related:active {
					
				}
			/* remove button
			---------------------------------------- */
			.css_wrap_relation_related .content_data .wrap_relation_related_values .relation_related_input_line .component_relation_related_button_remove {
				margin-right: 5px;
			}
			/* button edit
			---------------------------------------- */
			.component_relation_related_button_edit {
				position: relative;
				background-position: 0 -72px;
				opacity: .3;
				background-color: transparent;
				border: none;
				margin-right: 5px;
			}

			/* locator_label
			---------------------------------------- */
			.css_wrap_relation_related .content_data .wrap_relation_related_values .relation_related_input_line .locator_label {
				
			}
			
			


/* AUTOCOMPLETE
---------------------------------------- */


/* SEARCH
---------------------------------------- */	
	.css_relation_related_valor.in_search_mode {
		clear: both;
    	width: 100%;
    	padding-top: 7px;
	}	
	.css_relation_related_button_delete {
	    position: relative;
	    top: 0;
	    margin-right: 5px;
	    background-position: -456px 0;
	    opacity: .3;
	}

	// buttons
		/*.css_wrap_relation_related .buttons {
			float: right;
			position: relative;
			// background-color: #F0F36D;
			display: flex;
			align-items: center;
			justify-content: flex-end;
		}
		.css_wrap_relation_related .buttons > div {
			margin-left: 5px;
		}*/

	// add button
		.css_wrap_relation_related .relation_related_add_button {			
			opacity: 0.2;
			margin-right: 5px;			
		}

	// button add from tree
		.css_wrap_relation_related .relation_related_add_from_tree_button {
			opacity: 0.5;			
		}

	// button options to show/hide the options custom position
		.css_wrap_relation_related .autocomplete_list_button_options {
			
		}

// in_search_mode
	.css_wrap_relation_related.wrap_component_search .component_options_container {
		display: table;
		position: initial;
		width: 100%;
    	height: initial;
    	background-color: transparent;
    	border: none;
    	margin: 0;
	}

	// buttons_and_fields
		.css_wrap_relation_related .buttons_and_fields {		
			align-items: center;
			justify-content: flex-end;		
			position: absolute;	
			right: 0;
			top: -23px;
			//background-color: @color_selected_wrap;
			padding-left: 2px;
			padding-right: 2px + 3px;
			padding-top: 2px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			display: none;
			}
			// In search mode
				.css_wrap_relation_related.wrap_component_search .buttons_and_fields {
					display: block;
					background-color: transparent;
					top: 0.4em;
					right: -0.6em;
				}



