#
# DEDALO4 FOR PUBLIC GITHUB PUBLICATION

# Ignore configuration files that may contain sensitive information.
config4*
config.php
server_config_api.php
json_config.php

# various
acc
_acc
des
test
.DS_Store
.eslintrc
#.htaccess
*~
.htaccess~
.htaccess~~
.htaccess~~~
*.graffle
*.data
.smbdelete*

install/import/hierarchy
str_data*

# lib ignore all except dedalo
lib/*
!lib/dedalo
lib/dedalo/des/*
lib/dedalo/diffusion/diffusion_index_ts_V40
lib/dedalo/publication/client_api
#lib/dedalo/common/js/lang/*

# extras ignore all except common
lib/dedalo/extras/*
!lib/dedalo/extras/oh
!lib/dedalo/extras/pci
!lib/dedalo/extras/str_manager
!lib/dedalo/extras/mdcat
!lib/dedalo/extras/numisdata
!lib/dedalo/extras/muvaet

# vendor ignore all except used public
vendor/*
!vendor/maxmind
!vendor/maxmind-db
!vendor/react
!vendor/symfony
!vendor/ringcentral
!vendor/geoip2
!vendor/socrata
!vendor/composer
!vendor/leafo

# Ignore paths that contain generated content.
media/*
media_test
lib/*/backup/backups
lib/*/backup/backups/*
lib/*/backup/users
lib/*/backup/backups_structure
backups
temp
write
template_maps
tpl
lib/dedalo/publication/client_api/**/docu/ui/*
lib/dedalo/tools/tool_layout_print/data/*
lib/dedalo/tools/tool_layout_print/print_pdf/*

# Automatic created files
cookie_auth.php
lib/dedalo/common/css/structure.css
lib/dedalo/common/js/lang/*
*.log

# Ignore default text files
robots.txt

# Ignore some special files
koala-config.json
config.codekit3

# various minified
# js min
lib/dedalo/**/*-min.js

# js map
lib/dedalo/**/*-min.js.map

# css min
lib/dedalo/**/*-min.css

# css map
# lib/dedalo/**/*.css.map

# saml
lib/dedalo/login/saml/test_js.html
lib/dedalo/login/saml/test.php

# Drafs
lib/dedalo/component_date_mod/
lib/dedalo/component_portal/_versions/

# structure css
lib/dedalo/common/css/structure.css

# js langs
lib/dedalo/common/js/lang/*


