#
# DEDALO4 FOR PUBLIC GITHUB PUBLICATION

# Ignore configuration files that may contain sensitive information.
config.php
config_db.php
config_areas.php
config.php
config_private
config.json
server_config_api.php
json_config.php

# config ignore all except sample files
config/*
!config/sample.config.php
!config/sample.config_db.php
!config/sample.config_areas.php
!config/sample.config_core.php
!config/dd_tipos.php
!config/version.inc
!/core/ontology/v5/config/config_ontology.php

# various
acc
_acc
des
.DS_Store
.eslintrc
.lesshintrc
.phpintel
*~
.htaccess~
.htaccess~~
.htaccess~~~
*.graffle
*.data
.smbdelete*
* copy.*
test
!/test
*.cache
.idea
certs


# install/import/hierarchy
str_data*

# lib ignore all except dedalo
#lib
#!lib/*/dist
lib/babel_engine

# extras ignore all except common
core/extras/*
!core/extras/oh
!core/extras/pci
!core/extras/str_manager
!core/extras/mdcat
!core/extras/numisdata
!core/extras/muvaet

# vendor ignore all except used public
lib/vendor/*
# !lib/vendor/composer
!lib/vendor/myclabs
!lib/vendor/sweetrdf
# saml login libs
!lib/vendor/robrichards
!lib/vendor/onelogin
# !lib/vendor/sebastian
!lib/vendor/phpunit
!lib/vendor/linfo
# !vendor/maxmind
# !vendor/maxmind-db
# !vendor/react
# !vendor/symfony
# !vendor/ringcentral
# !vendor/geoip2
# !vendor/socrata
# !vendor/composer
# !vendor/leafo
# files
# !lib/autoload.php
# !composer.json
# !composer.lock
composer.json
composer.lock
composer.phar

# Ignore paths that contain generated content.
/media
/media_*
media_test
core/backup/backups
core/backup/backups/*
core/backup/users
core/backup/backups_structure
backups
temp
write
template_maps
tpl
core/publication/client_api/**/docu/ui/*
core/tools/tool_layout_print/data/*
core/tools/tool_layout_print/print_pdf/*

# Automatic created files
cookie_auth.php
core/common/css/structure.css
# core/common/js/lang/*
*.log
CHANGELOG.md

# Ignore default text files
robots.txt

# Ignore some special files
config.codekit3
prepros.config
.jsbeautifyrc

# various minified
# js min
core/**/*-min.js

# js map
core/**/*-min.js.map

# css min
core/**/*-min.css

# css map
# core/**/*.css.map

# legacy dedalo lib
/lib/dedalo

# Drafts
core/component_date_mod/
core/component_portal/_versions/

# structure css
core/common/css/structure.css

# js langs
# core/common/js/lang/*

.vscode
.venv
libs_dev

package-lock.json
package.json

node_modules

# generated html documentation files
docs_site

#count data
/.VSCodeCounter/*

# main read me auto-generated file
Readme.html

# tools to exclude
tool_leaflet_special_tools

# phpunit test
phpunit-results.*

/lab
/core/lab
/webpack*

# ignore old ontology editor 'v5'
/core/ontology/v5

#ontology
/install/import/ontology/
