#/dedalo4/.htaccess
#<IfModule mod_rewrite.c>
#    RewriteEngine on
#    RewriteRule  ^$ lib/dedalo/    [L]
#    RewriteRule  ((?s).*) lib/dedalo/$1 [L]
#</IfModule>
php_value max_input_vars 5000
php_value suhosin.get.max_vars 5000
php_value suhosin.post.max_vars 5000
php_value suhosin.request.max_vars 5000