parameters:
    level: 1
    paths:
        - diffusion
        - core/api
        - shared
    tmpDir: /tmp/phpstan
    scanFiles:
        - stub.php
        - vendor/sweetrdf/easyrdf/lib/Graph.php
        - vendor/sweetrdf/easyrdf/lib/RdfNamespace.php
        - vendor/sweetrdf/easyrdf/lib/Format.php
        - vendor/sweetrdf/easyrdf/lib/Literal.php
    bootstrapFiles:
        - phpstan-bootstrap.php
    excludePaths:
        - */vendor/*
        - */lib/*
        - */acc/*
        - */install/*
        - */test/*
        - diffusion/class.diffusion_socrata.php
