/**
* widget get_archive_weights
*
* Included from main.less file
*/

.wrapper_widget.get_archive_weights {

	.content_data {

		.get_archive_weights {
			display: flex;

			.archive_weights {
				padding: unset;
				display: flex;
				flex-direction: column;
			}

			.sum_weights {
				font-size: 1.2rem;
			}
			.sum_diameter {
				font-size: 1.2rem;
				padding-left: 0.5rem;
			}
			.weights_values {
				padding-top: 0.5rem;
				color: #555555;
			}

			.archive_diameter {
				padding: unset;
				display: flex;
				flex-direction: column;
				border-left: 1px solid rgb(200, 200, 200);
			}
			.diameter_values {
				padding-left: 0.5rem;
				padding-top: 0.5rem;

			}
		}
	}
}
