/**
* widget get_archive_weights
*
* Included from main.less file
*/
.wrapper_widget.get_archive_weights {

	.content_data {

		.get_archive_weights {
			//background-color: #DEDEDE;
			display: flex;

			.archive_weights {
				padding			: unset;
				display			: flex;
				flex-direction	: column;
			}

			.sum_weights {
				//font-weight: bold;
				font-size: 1.2rem;
				// padding-bottom: 0.5rem;
				//padding-left: 15px;
			}
			.sum_diameter {
				font-size: 1.2rem;
				padding-left: 0.5rem;
				// padding-bottom: 0.5rem;
				//padding-left: 15px;
			}
			.weights_values {
				padding-top: 0.5rem;
				// padding-right: 5px;
				//font-size: 80%;
				color: #555555;
				// font-family: "Arial";
			}
			// .update_info {
			// 	top: -15px;
			// 	position: absolute;
			// 	right: 0;
			// }
			.archive_diameter {
				padding			: unset;
				display			: flex;
				flex-direction	: column;
				border-left		: 1px solid rgb(200, 200, 200);
			}
			.diameter_values {
				// border-left: 1px solid rgb(200, 200, 200);
				padding-left: 0.5rem;
				padding-top: 0.5rem;

			}
		}
	}
}
