/**
* section
*
* Included from main.less file
*/
.section {
	// background-color: #50f9af;
	// @media screen and (min-width: @width_break_point_0) {
		// overflow-x: hidden; // prevent scrollbars affect content
	// }
	display: table;
	width: 100%;
	padding: 1rem;

	// label
	// >.label {
	// 	// position: absolute;
	// 	// left: 54px;
	// 	// margin-top: 1px;
	// 	margin-bottom: 0.2em;
	// 	font-size: 1.2em;

	// 	@media screen and (max-width: @width_break_point_0) {
	// 		position: initial;
	// 		margin-bottom: 1em;
	// 	}
	// }

	&.edit {
		width: calc(100vw - 16rem);
		@media screen and (max-width: @width_break_point_0) {
			width: 100%;
		}

		&.full_width {
			width: 100%;
			>.inspector_container {
				display: none;
			}
		}

		>.inspector_container {
			// @top_distance : 75px;
			@inspector_width : 15rem;
			overflow: auto;
			height: 100%;
			width: @inspector_width;
			background-color: @color_grey_untralight;
			position: fixed;
			// top: @top_distance;
			left: calc(100vw - 16.4rem);
			outline: 1px solid @color_grey_light;

			@media screen and (max-width: @width_break_point_0) {
				display: contents;
				width: 100%;
				left: 0;
				position: initial;
				margin-bottom: 1rem;
			}
		}//end .inspector_container

		>.search_container {
			width: 100%;
		}

		>.content_data {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			//&:before {
			//	content: "Section edit";
			//	font-weight: bold;
			//	width: 100%;
			//	padding: 1em;
			//}

			>*:not(.full_width) {
				flex: 1;
			}

			//&:before {
			//	content: "Section edit";
			//	font-weight: bold;
			//	width: 100%;
			//	padding: 1em;
			//	flex-basis: 100%;
			//}
		}
	}//end &.edit

	&.list {
		// section buttons container (export, new, print, etc.)
		>.buttons {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-end;
			width: 100%;
			padding: 0;

			>button {
				margin-bottom: 0.25rem;
			}

			>.button {
				background-color: @color_orange_dedalo;
				color: #ffffff;
				display: inherit;
				width: auto;
				height: auto;
				padding: 1em;
				padding-top: 0;
				padding-bottom: 0;
				border-radius: 0.25em;
				margin: 0.25em;
				// margin-top: 0.25em;
				// margin-bottom: 0.25em;

				// icons inside, like export icon
				>.button {
					margin-left: 0;
				}

				&:hover {
					color: #000000;
				}
				&:active {
					color: #ffffff;
				}
			}
		}

		>.search_container {
			background-color: #b0feee;
			width: 100%;
		}

		>.paginator {
			min-height: 2.8rem;
		}

		>.list_body >.content_data {
			//display: flex;
			//flex-wrap: wrap;
			width: 100%;

			.column_section_id{
				display: flex;
				flex-direction: column;
				justify-content: flex-start;
				background-color: #f6f6f6;
				>.button_edit{
					display: flex;
					width: 100%;
					justify-content: space-between;
					margin: 0;
					padding: 0.5em;
					border-radius: 0;
					>.icon{
						height: 1.4em;
						width: 1.3em;
						margin-right: -5px;
					}
					&:hover{
						background-color: #67a756;
						.section_id{
							color: #ffffff;
						}
						>.icon{
							background-color: #ffffff;
						}
					}
				}
				>.button_delete{
					display: flex;
					width: 100%;
					justify-content: flex-end;
					margin: 0;
					padding: 0.5em;
					border-radius: 0;
					>.icon{
						height: 1.4em;
						width: 1.4em;
						margin-right: -5px;
					}
					&:hover{
						background-color: #bb3249;
						>.icon{
							background-color: #ffffff;
						}
					}
				}
			}

			//&:before {
			//	content: "Section list";
			//	font-weight: bold;
			//	width: 100%;
			//	padding: 1em;
			//	flex-basis: 100%;
			//}
		}

	}//end &.list
}
