/**
* view_graph_section
*
*
*
* Included from section.less file
*/
.section.view_graph {

	&.list{
		.content_data {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			column-gap: 3rem;
			align-items: start;

			.group_label{
				font-size: 2rem;
				margin-bottom: 1rem;
			}
			.grouper_block{

				display: grid;

				.group_content{
					display: grid;
					grid-template-columns: 1fr;

					.section_record.list{
							display: inline-grid;
							grid-template-columns: 2fr 1fr 1fr 3fr 3fr ;
					}

					.column.column_section_id {
						background-color: unset;
						box-shadow: unset;
						flex-direction: row;

						.button_edit, .button_delete{
							width: auto;
							padding: 0;
						}
						.button_delete{
							margin-left: 0.6rem;
							padding-right: 0.3rem;
							padding-top: 0.3rem;
							padding-bottom: 0.3rem;
						}
					}
				}

				.button.graph{
					background-color:#7092e0;
					height: 100%;
				}

			}
		}
	}//end list

	&.solved{
		display: grid;
		grid-template-columns: 1fr 2fr;

		.left_node{

			.section_selector_container{
				padding-left	: 1rem;
				padding-right	: 1rem;

				.section_select{
					width		: 100%;
					font-size	: 1.1rem;
				}
			}

			.section_container{

				.list_body{

					.content_data{

						.column_drag{

							.drag_container{
								width		: 100%;
								height		: 100%;
								position	: absolute;

								 .drag_node{
									position	: absolute;
									width		: max-content;
									top			: -10000px;
									right		: -10000px;
								}
							}
						}
					}
				}
			}

		}


		.right_node{
			.label_container{
				font-size: 1.9rem;
			}
			.buttons_container{
				padding-top: 1rem;
				padding-bottom: 1rem;
			}
			>.content_data{
				height: calc(100vh - 100px);

				.svg_content{
					font: 16px sans-serif;

					circle, path {
						cursor: pointer;

						&:active {
							opacity: 0.4;
						}
					}

					#role{
						font-size: 0.9rem;
					}
					.dragover{
						stroke: #f00;
						stroke-width: 1px;
						fill: #fee4af;
					}
				}
			}
		}


	}//end edit


}//end .view_graph_section
