/**
* component_iri
*
* Included from main.less file
*/
.component_iri {

	&.edit {

		>.content_data {

			>.content_value {
				align-items: center;
				display: flex;
				flex-wrap: wrap;

				// input  (text title/url)
				.input_value {
					flex: 1;
					padding-right: 0.5rem;
					&.url {
						padding-right: 3rem;
					}
				}

				>.input_iri_active {
					display: block;
					width: auto;
					background-color: #FEA7F2
				}

				// buttons
				>.button {
					position: absolute;
					top: 0.5rem;
					right: 0.7rem;
					z-index: 1;

					&.active_check {
						margin-right: 1.5rem;
					}

					&:hover {
						background-color: darken(@color_orange_dedalo, 15%);
					}

					&.remove {
						right: 2.0rem;
					}
				}

				.transliterate_value {
					width: 100%;
					padding-top: 0.5rem;
					padding-left: 0.5rem;
					color: @color_orange_dedalo;
					opacity: 0.65;
					// font-style: oblique;
					// display: flex;

					.title {
						// width: 46%;
						// padding-right: 1rem;
						// flex: 1;
						&::after {
							content: " - ";
							display: inline-block;
							padding-left: 0.5rem;
							padding-right: 0.5rem;
						}
					}
					.iri {
						// flex: 1;
					}
				}
			}
		}

	}//end &.edit

	&.search {
		>.content_data {

			>.q_operator {
				width: 3rem;
				text-align: center;
			}

			>.content_value {
				width: calc(100% - 3.5rem);

				.input_value {

				}
			}
		}
	}

	&.view_line {
		display: block;

		>.content_data {
			display: contents;

			>.content_value {
				flex-wrap: wrap;

				>.input_value {
					flex: 1 1 100%;

					&.url {
						padding-right: 0px;
					}
				}

				.button.hidden_button {
					display: none;
				}
			}
		}
	}

	&.view_print {
		.content_value {
			>.title {
				padding-right: 1rem;
			}
		}
	}

}//end .component_iri
