/**
* component_iri
*
* Included from main.less file
*/
.component_iri {
	// background-color: #f496a1;

	&.edit {
		>.content_data {

			>.content_value {
				align-items: center;
				display: flex;

				// input  (text title/url)
				.input_value {
					flex: 1;
					padding-right: 0.5rem;
					&.url {
						padding-right: 3rem;
					}
				}

				>.input_iri_active {
					display: block;
					width: auto;
					background-color: #FEA7F2
				}

				// buttons
				>.button {
					position: absolute;
					right: 0.7rem;
					z-index: 1;

					&.active_check {
						margin-right: 1.5rem;
					}

					&:hover {
						background-color: darken(@color_orange_dedalo, 15%);
					}

					&.remove {
						right: 2.0rem;
					}
				}
			}
		}

		&.view_line {
			>.content_data {

				>.content_value {
					flex-wrap: wrap;

					>.input_value {
						flex: 1 1 100%;
					}

					.button.hidden_button {
						display: none;
					}
				}
			}
		}
	}//end &.edit


	&.search {

		>.content_data {

			>.q_operator {
				width: 3rem;
				text-align: center;
			}

			>.content_value {
				width: calc(100% - 3.5rem);

				.input_value {

				}
			}
		}
	}


}//end .component_iri
