<IfModule mod_rewrite.c>

	RewriteEngine On
		
	#
	# Geta last dir name and send as vars to index page
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^/?([\S]+)+/?$ json_display.php?url_locator=$1 [QSA,L]

	#
	# Fallback when no dir is defined in url 
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ json_display.php?url_locator= [QSA,L]

</IfModule>