/**
* TOOL_USER_ADMIN
*
* Loaded on tool init
*/



// tool wrapper
// Encapsulate all tool content to prevent core collisions
	.wrapper_tool.tool_user_admin {

		>.content_data {

			.components_container {
				display: flex;
				flex-wrap: wrap;

				.disabled_component {
					opacity: 0.6;
					outline: 0;
					pointer-events: none;
				}
				// wrapper section record
				.section_record {
					>.content_data{
						display: grid;
						align-content: stretch;
						grid-template-columns: repeat(10, 1fr);

						.wrapper_component {
							&.disabled_component:after {
								content: unset;
							}
							&.dd330{
								grid-row: 1;
								opacity: 1;
							}
							&.dd1725{
								grid-column			: span 3;
								opacity: .8;
								// background-color	: #FFE2AB;
							}
							&.dd132{
								grid-column			: span 2;
								font-size: 2em;
    							text-align: center;
    							opacity: .8;
								// background-color	: #FFE2AB;
							}
							&.dd452{
								grid-row	: 2;
								grid-column	: span 2;
								background-color	: #FFE2AB;
							}
							&.dd133{
								grid-row	: 2;
								grid-column	: span 2;
								background-color	: #FFE2AB;
							}
							&.dd134{
								grid-row	: 2;
								grid-column	: span 2;
								background-color	: #FFE2AB;
							}
							&.dd522{
								grid-row	: 1 / span 3;
								grid-column	: span 4;
								// background-color	: #FFE2AB;
							}

						}
					}
				}
			}

		}//end content_data
	}//end wrapper_tool



// modal header tool modification
	.tool_header.tool_user_admin {
		background-color: #a22b29;
	}


