


// wrapper_tool
	.wrapper_tool.tool_upload {




		// system info
		.info {
			background-color: #f5f5f5;
			color: #8c8c8c;
			>* {
				display: grid;
				grid-template-columns: 1fr 5fr;
				padding: 0.5em;

				>label {
					padding-right: 2em;
				}
			}
		}


	}//end .wrapper_tool.tool_upload







// progressBar
	#progressBar {
		height: 10px;
	    margin: 0;
	    margin-top: 2em;
	    margin-bottom: 2em;
	    background-color: #ff9800;

	    // display: none;
	}
