// tool_import_files styles



// template_container. Where de rows are placed
	.template_container {
		border: 1px solid #eeeeee;
		padding: 1em;
		margin-top: 1em;
	}//end .template_container



// file-row. Each row line
	.file-row {
		margin: 1em;
		display: flex;
		flex-wrap: wrap;
		justify-content: left;
		align-items: center;

		// each column inside
		>* {
			margin-right: 1em;
			min-width: 128px;

		}
	}//end .file-row



// inputs_container. Temporal sections container
	.inputs_container {
		padding: 1em;
		margin-top: 2em;
		background-color: #f1f1f1;
		display: flex;
		flex-wrap: wrap;
	}//end .inputs_container


