/**
* TOOL_IMPORT_FILES
*
* Loaded on tool init
*/

// imports
@import '../../../core/page/css/layout/vars.less';



// tool wrapper
// Encapsulate all tool content to prevent core collisions
	.wrapper_tool.tool_import_files {

		>.content_data {

			// row
			.column_right {
				// opacity: 0;
				padding-top: 20px;

				// &.active {
				// 	opacity: 1;
				// }
			}


			// template_container. Where de rows are placed
				.template_container {
					border: 1px solid #eeeeee;
					padding: 1em;
					margin-top: 1em;
				}//end .template_container

			// file-row. Each row line
				.file-row {
					margin: 1em;
					display: flex;
					flex-wrap: wrap;
					justify-content: left;
					align-items: center;

					// each column inside
					>* {
						margin-right: 1em;
						min-width: 128px;

					}
				}//end .file-row

			// inputs_container. Temporal sections container ???????????? REVIEW (!)
				// .inputs_container {
				// 	padding: 1em;
				// 	margin-top: 2em;
				// 	background-color: #f1f1f1;
				// 	display: flex;
				// 	flex-wrap: wrap;
				// }//end .inputs_container

		}//end content_data
	}//end wrapper_tool


// modal header tool modification
	.tool_header.tool_import_files {
		background-color: #4271a4;
	}
