/**
* vector_editor_tools
*
* Included from component_image.less file
*/



.vector_editor_tools {
	background-color: @color_orange_dedalo;
	width: 2.25rem;
	text-align: center;
	position: absolute;
	right: 0px;

	>.button {
		background-color: #ffffff;

		&.open_layer_selector {
			text-align: center;
			border-radius: 2px;
			width: calc(100% - 4px);
			height: 1.6rem;
			margin: 2px !important;
			display: block;
			line-height: 1.5rem;

			&.vector_tool_active {
				// background-color: #FFFFFF !important;
				// opacity: 1;
				// background-color: black;
			}
		}

		&.pointer {
			.fn_add_mask('pointer.svg');
		}
		&.pointer_alt {
			.fn_add_mask('pointer_alt.svg');
		}
		&.transform {
			.fn_add_mask('pointer.svg');
		}
		&.rectangle {
			.fn_add_mask('rectangle.svg');
		}
		&.circle {
			.fn_add_mask('circle.svg');
		}
		&.vector {
			.fn_add_mask('vector.svg');
		}
		&.zoom {
			.fn_add_mask('find.svg');
		}
		&.move {
			.fn_add_mask('hand.svg');
		}
		&.save {
			// .fn_build_button('save.svg', black, 1);
			// background-color: #000000;
		}
		&.button_color_picker {
			// .fn_build_button('rectangle.svg', black, 1);
			border: 0.5px solid #3f3f3f;
		}

		&.vector_tool_active {
			opacity: 1;
			background-color: #000000 !important;
		}
	}//end buttons


	>.layer_selector_container {
		display: block;
		position: absolute;
		top: 0px;

		>.layer_selector {
			width: 11em;
			background-color: @color_orange_dedalo;
			position: absolute;
			right: 0px;
			top: 27px;
			padding: 0px;
			text-align: right;

			>.button {
				margin: 0.5em;
				float: none;
				display: inline-block;
				&.add {
					float: left;
				}
			}

			// ul
			>ul.layer_ul {
				text-align: left;
				clear: both;
				max-height: 200px;
				overflow: auto;
				// border: 0.5px solid #777;

				>li {
					display: grid;
					grid-template-columns: 1.5em 1.2em auto 1.5em 1em;
					height: 30px;
					align-items: center;
					border-bottom: 1px solid #777;
					border-left: 1px solid #777;
					border-right: 1px solid #777;
					cursor: pointer;
					background-color: #ffffff;

					&:hover {
						background-color: @color_orange_dedalo;
						color: #ffffff;
						&.raster_layer {
							background-color: #ffffff;
							color: initial;
						}
					}
					&:active {
						background-color: @color_orange_dedalo;
						color: #000000;
					}
					&.active {
						background-color: @color_grey_medium;
						color: #000000;
						user-select: none;
						.user_layer_name {
							font-weight: bold;
						}
					}

					>* {
						line-height: 1.1rem;
						margin: 0px;
					}

					.layer_icon {
						// .fn_build_button('eye.svg', black, 1);
						background-color: black;
						justify-self: center;
						opacity: 0.2;
						&:hover {
							opacity: 0.5 !important;
						}
						&.active {
							// background-color: unset !important;
							opacity: 1;
						}
					}
					.layer_id {

					}
					.user_layer_name {
						color: #555555;
						font-size: 0.96rem;
						font-weight: normal;
					}
					.layer_delete {
						// .fn_build_button('trash_light.svg', black, 1);
						background-color: black;
						justify-self: center;
					}
					.layer_color {
						width: 12px;
						height: 12px;
						border-radius: 12px;
					}
				}
				>li:first-child {
					border-top: 0.5px solid #777777;
				}
			}
		}//end layer_selector
	}

	>.color_wheel_contaniner {
		display: block;
		position: absolute;
		right: 0px;
	}
}//end vector-editor_tools