/**
* TOOL_numismatic_epigraphy
*
* Loaded on tool init
*/

// imports
	@import '../../../core/page/css/layout/vars';

// local vars
	@color_bg_tool: #fd7f26; // @color_orange_dedalo;



// column_id (section_tool list)
	.column_section_id > .button_edit.list_tool_numismatic_epigraphy {

		&:hover {
			background-color: @color_bg_tool;
		}
		>.icon {
			-webkit-mask-image: url('../img/icon.svg');
			mask-image: url('../img/icon.svg');
		}
	}



// wrapper_tool
	.wrapper_tool.tool_numisdata_epigraphy {

		>.tool_header {
			position: relative;

			@media screen and (max-width: @width_break_point_0) {
				flex-wrap: wrap;
			}

			>.tool_buttons_container {
				display: flex;
				align-items: flex-start;

				@media screen and (max-width: @width_break_point_0) {
					flex-wrap: wrap;
					margin-top: 1rem;
				}

				>div, button {

					margin: 0rem;
					margin-left: 0.5rem;
					margin-right: 0rem;
					min-height: 2rem;

					@media screen and (max-width: @width_break_point_0) {
						margin-bottom: 1rem;
						flex: 1 0 auto;
					}
				}

				select {
					opacity: 1;
					padding: 0.33rem;
					background-color: #f8f9fa;
					border-radius: 3px;
					margin-right: 0px;
					max-width: 20rem;
					min-width: 7rem;

					@media screen and (max-width: @width_break_point_0) {
						// max-width: unset;
					}
				}

				// select top tipo / id
				>.related_list_container {

					>select {

					}
				}

				// component lang selector
				>.lang_selector {
					display: flex;
					align-items: center;
					margin-left: 0.75rem;
					margin-right: 0.12rem;
					@media screen and (max-width: @width_break_point_0) {
						padding-right: 0.5rem;
					}

					>.lang_label {
						padding-right: 0.33rem;
					}
					>select {

					}
				}

				// buttons of tools (tool print, tool time machine..)
				>.tool_button {
					// background-color: #fde2c6;
					// border-color: #e9ecef;
					// color: #212529;
					// // width: 12em;
					// padding: 0.5em;
					// cursor: pointer;
					// border-radius: 0.25rem;
					// // display: inline-flex;
					// // align-items: center;
					// // justify-content: space-evenly;

					>.icon {
						height: 1rem;
						margin-right: 0.33rem;
					}
				}
			}
		}//end >.tool_header

		>.content_data {
			display: grid;
			grid-template-columns: 20em auto;
			column-gap: 1rem;
			align-items: start;
			width: calc(100% - 1rem);
			@media screen and (max-width: @width_break_point_0) {
				display: flex;
				width: 100%;
				flex-wrap: wrap;
				// flex-direction: column-reverse;
			}

			// left and right commons
			.left_container,
			.right_container {
				// height: calc(100vh - 8rem);
				// background-color: #e4ca4f;
				.wrapper_component {
					// background-color: #dee789;
					// box-shadow: none;
				}
			}

			.left_container {
				>.wrapper_component {
					height: 100%;
					>.content_data {

						@media screen and (max-width: @width_break_point_0) {
							min-height: 50vh;
						}
					}
				}
			}

			.right_container {
				.portal_container {
					display: grid;
					grid-template-columns: 50% 50%;

					>*{
						grid-area: unset;
					}
				}
				.text_container{
					>.wrapper_component >.content_data{
						min-height: 1em;
					}
				}

			}
		}//end .content_data
	}//end .wrapper_tool



// tool_numismatic_epigraphy_icon
	.tool_numismatic_epigraphy_icon {
		background-color: @color_bg_tool;
		background-image: url(../../../themes/default/icon_transcription_hover.svg);
		// Adjust icon size
		background-size: 18px !important;
	    background-position-y: 3px !important;
	    background-position-x: 6px !important;
	}



/* HEADER
------------------------------------------------------ */
	.header_tool {

		}
		.header_tool .select_fast_lang_switch {
			float: left;
			position: relative;
			top: 3px;
			left: 10px;
			text-transform: capitalize;
			padding-right: 20px;
		}
		//.header_tool .lang_selector_in_header .select_fast_lang_switch select {
		.header_tool .lang_selector_in_header .select_fast_lang_switch{
			opacity: 1;
			margin-left: 5px;
			margin-right: 10px;
			color: #000000;
			max-width: 84px;
		}
		.header_tool .lang_selector_in_header{
			padding: 2px;
			padding-right: 10px;
			padding-left: 10px;
		}
		.header_tool #header_info {
			display:block;
			float: left;
			position: relative;
			margin-left: 15px;
			top: 8px;
			line-height: 1em;
		}


/* COMMON
------------------------------------------------------ */
	.tool_numismatic_epigraphy_left, .tool_numismatic_epigraphy_right {
		display: block;
		position: relative;
		float: left;
		height: 49.98%;
		height: 98%;
	}




/* RIGHT AREA (media)
------------------------------------------------------ */
	.tool_numismatic_epigraphy_right {
		/*background-color: #e08d90;*/
		width: 55.3%;
		overflow: hide;
		margin: 0px;
		}
		/*-- image content --*/
		.tool_numismatic_epigraphy_right .css_wrap_image {
			height: 100%;
			}
			.tool_numismatic_epigraphy_right .css_wrap_image > .content_data {
				position: absolute;
				padding: 0px;
				/*background-color:#f2eda3;*/
				width: 100%;/**/
				/*box-shadow: 2px 2px 16px #7b7b7b inset;*/
				height: 100%;
				display: block;
				overflow: auto;
			}
			canvas {
				display: block;
			}



/* INSPECTOR
------------------------------------------------------ */
	.tool_numismatic_epigraphy_inspector_log {
		/* width: 100px;
		background-color: #949494;*/
		min-width: 154px;
		/*white-space: nowrap;*/
		text-align: center;
		display: block;
		float: right;
		position: absolute;
		top: 35px;
		right: 0px;
		z-index: 2000;
		opacity: .8;
	}


	#inspector_log {
		width: auto;
		max-width: 50%;
		min-height: 2.5em;
		//background-color: #77FDDB;

		-webkit-user-select: none;  /* Chrome all / Safari all */
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */
		user-select: none;          /* Likely future */
	}



	/* tools_container
	---------------------------------------- */
	.tools_container {
		//background-color: #B0F5C3;
		width: 100%;
		line-height: 1em;
		}
		.tools_container .link {
			float: left;
			padding-left: 5px;
			padding-right: 5px;
		}
		.tools_container .icon_bs {
			zoom: 1.3;
			vertical-align: text-bottom;
			margin-right: 2px;
		}

		/* text_area_tool_numismatic_epigraphy wrap
		---------------------------------------- */
		.wrap_component.text_area_tool_numismatic_epigraphy {
			position: absolute;
			height: calc(100% + 1px); //width: calc(100.5% + 4px); // Adjust as needed
			//background-color: #40F588
			//padding: 0;
		}



		// LEFT Override
		#tool_numismatic_epigraphy_left {

			// TEXT AREA Override
			.wrap_component.text_area_tool_numismatic_epigraphy.viewing_glyphs {
				height: 50vh;
				background-color: #CDF6CF;
				position: relative;
				float: none;
				display: block;
				overflow: hidden;
			}

			// AUTOCOMPLETE HI Override
			.wrap_component_tool_numismatic_epigraphy {
				height: 50vh;
				background-color: #FAF6B1;
				//display: none;

				.content_data {
					width: 100%;
				}
				.css_autocomplete_hi_button_close, .css_autocomplete_hi_valor {
					display: none;
				}

				.toponymy_list_button_options {
					position: relative;
					top: 5px;
					right: 5px;
				}
			}

		}
