/* INSPECTOR */


/* PAGE */
.wrap_tool_posterframe_page {	
	display: block;
	width: 99.9%;
	}
	.tool_posterframe_content {
		text-align: center;
		padding-top: 5px;
		}
		/* PLAYER AV
		----------------------------------------------- */
		#player_av {
			height: 500px;
			overflow: hidden;
			}
			#player_av iframe#videoFrame {
				width: 736px;
				height: 532px;
				border: none;
			}
		/* OPTIONS
		----------------------------------------------- */		
		.tool_posterframe_options {
			display: block;
			margin-left: auto;
			margin-right:auto;
			width: 720px;
			height: 80px;
			/*background-color: #FFE374;*/
			}
			/* COMMON
			----------------------------------------------- */				
			#identifying_image_wrapper,
			#posterframe_wrapper {
				width: 50%;
				float: left;
				display: table;
				vertical-align: middle;
				position: relative;
			}
			/* IDENTIFYING_IMAGE
			----------------------------------------------- */
			#identifying_image_wrapper {
				/*background-color: #A3FF74;*/				
				}
				#identifying_image_wrapper .identifying_image_new {
					margin-top: 21px;
  					float: left;
				}
				#identifying_image_wrapper select#identifying_image_selector {
					float: left;
					margin-top: 22px;
					-webkit-appearance: none;
					padding: 6px;
					padding-right: 20px;
					border: 1px solid #CFCFCF;
					background-image: url('../../../themes/default/select_2x.png');
					background-repeat: no-repeat;
					background-position-x: 95%;
					background-position-y: center;
					background-size: 10px 6px;
				}
			/* POSTERFRAME
			----------------------------------------------- */	
			#posterframe_wrapper {
				/*background-color: #95FFF7;*/				
				}
				#posterframe_wrapper .posterframe_button_new {					
					float: right;
					margin-right: 19px;
					margin-top: 21px;
				}
				#posterframe_wrapper .posterframe_button_delete {
					float: right;
					margin-right: 18px;
					margin-top: 28px;
					background-position: -456px 0px;
				}
				#posterframe_wrapper .posterframe_thumb_image {
					/*
					float: left;
					position: relative;
					top: -75%;
					*/
					width: 125px;
					height: 70px;	
					box-shadow: inset 0px 0px 15px rgba(0,0,0,0.9);
					border-radius: 3px;
					background-size: cover;
				}

		#inspector_log {
			
			height: 40px;
			display: block;
			margin-left: auto;
			margin-right:auto;
			width: 720px;
		}



