/**
* TOOL_numismatic_cataloging
*
* Loaded on tool init
*/

// imports
	@import (once) '../../../core/page/css/layout/vars';

// local vars
	@tool_color:  @color_orange_dedalo; // @color_orange_dedalo;

.wrapper_tool.tool_cataloging {

	.spinner {
		border-top-color: @tool_color;
	}

	>.tool_header {
		position: relative;

		@media screen and (max-width: @width_break_point_0) {
			flex-wrap: wrap;
		}
	}//end >.tool_header

	>.content_data {
		display: grid;
		grid-template-columns: 40% 60%;
		column-gap: 1rem;
		align-items: start;
		width: calc(100% - 1rem);

		@media screen and (max-width: @width_break_point_0) {
			display: flex;
			width: 100%;
			flex-wrap: wrap;
		}

		// left and right commons
		.left_container,
		.right_container {
			overflow: scroll;
				height: calc(100vh - 90px);
		}

		.left_container {

			// section view_cataloging_mosaic
			>.wrapper_section.view_tool_cataloging_mosaic {
				position: relative;
				width: 100%;
				display: grid;
				grid-row: 2 / span 4;
				grid-column: 1 / span 2;
				box-shadow:none;
				color: @color_grey_ultradark;

				// list_body
				>.list_body {
					width: 100%;
					display: grid;
					grid-template-columns: 1fr;

					.column  {
						display: flex;
						align-items: center;
						box-shadow: none;
					}

					.column_drag {
						height: 100%;
					}

					>.content_data {
						cursor: pointer;

						.section_record {
							background-color: @color_white;
							display: flex;
							align-items: center;

							// .column_numisdata27, .column_numisdata30 {
							.component_input_text_mini {
								padding-left: 1rem;
								font-size: 1.3rem;
							}

							.column_section_id {
								position: absolute;
							}
							&.snap {
								position: sticky !important;
								position: -webkit-sticky !important;
								top: 1px;
								bottom: -5px;
								z-index: 9;
								outline: 1px solid @color_grey_lighter;
								background-color: @color_white ;// ?
								box-shadow: 2px 2px 12px @color_light;
							}

							.component_image {

								img {
									height: 9rem;
									width: 9rem;
								}
							}

							.column_drag {
								padding: unset;

								.options_left_contaniner{
									display: flex;
									flex-direction: column;
								}

								.dragger {
									background-image: url(../img/drag.svg);
									background-position: center;
									background-repeat: no-repeat;
									background-size: 22px 22px;
									height: auto;
									opacity: 0.3;
									min-height: 2rem;
									cursor: move;
									height: 100%;
									width: 34px;

									&.used{
										opacity: 1;
										background-color: @color_hilite_2 ;
									}

									&:hover{
										// -webkit-filter: invert(100%);
										// 	filter: invert(100%);
										background-color: @color_grey_dark;
										opacity: 0.7;
									}
								}
							}
						}

						>.hover_body {
							position: relative;
						}

						.sr_mosaic_hover {
							position: absolute;
							width: 100%;
							height: 100%;
							display: grid;
							grid-template-columns: 73px auto 73px;
							grid-template-rows: minmax(3rem, auto) 2fr minmax(3rem, auto);
							overflow: hidden;
							@bg_color_buttons: @color_grey_mediumlight;

							>.column {
								z-index: 2;
								outline: none;
								padding: 0px;
								margin: 0px;
								background-color: @bg_color_buttons !important;
								height: 100%;
								width: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
								grid-column-start: 3;
								// grid-column-end: 4;
								grid-row-start: 1;
								// grid-row-end: 2;
								border-bottom-left-radius: 0.5rem;

								>.wrapper_component.active {
									background-color: transparent;
								}
							}

							>.column_section_id {
								grid-column-start: 1;
								grid-column-end: 2;
								grid-row-start: 1;
								grid-row-end: 2;
								border-radius: unset;
								border-bottom-right-radius: 0.5rem;
								overflow: hidden;

								.button_edit {
									position: absolute;
									left: 0;
									top: 0;
									height: inherit;
								}

								.drag.icon {
									display: none;
								}
							}

							>.column_remove {
								grid-column-start: 1;
								grid-column-end: 2;
								grid-row-start: 3;
								grid-row-end: 4;
								border-radius: unset;
								border-top-right-radius: 0.5rem;
								overflow: hidden;

								>.button_remove {
									width: 100%;
									justify-content: center;
								}
							}

							>.button_alt_container {
								cursor: pointer;
								z-index: 2;
								grid-column-start: 3;
								grid-column-end: 4;
								grid-row-start: 3;
								grid-row-end: 4;
								height: 100%;
								background-color: @bg_color_buttons;
								height: 100%;
								width: 100%;
								display: flex;
								justify-content: center;
								align-items: center;
								transition: all 0.15s;
								border-radius: unset;
								border-top-left-radius: 0.5rem;

								&:hover {
									background-color: @color_orange_dedalo;
									>.button.info {
										background-color: @color_white;
									}
								}

								>.button.info {
									pointer-events: none;
								}
							}
						}
					}//end >.content_data

					// section_record is affected by component properties CSS (normally width and height)
					>.content_data >.section_record {
						position: relative;
						display: grid;
						height: 100%;
						overflow-y: hidden;

						.wrapper_component {
							padding: 0px;
							margin: 0px;
							.content_value {
								margin: 0px;
								padding: 0.25rem;
							}
						}

						.button_exit_edit {
							display: none;
						}
					}
				}//end >.list_body

				>.list_body >.content_data >.section_record {
					outline: 1px solid @color_grey_light;

					// button info
					.button.info {
						height: 1.5rem;
						width: 1.5rem;
						background-color: @color_black;
						margin: 0.33rem;
						z-index: 1;
						opacity: 1;

						// smartphones, touchscreens
						@media (hover: none) and (pointer: coarse) {
							opacity: 1;
						}
					}
					&:hover {
						.button {
							opacity: 1;
						}
					}

					// first level co
					>.column {

					}

					.column {
						outline: unset;
						width: 100%;

						>.wrapper_component {
							height: inherit;

							>.list_body {

							}
						}
					}

					&.mosaic_over {
						outline: 1px solid @color_orange_dedalo;
						z-index: 2;
					}
				}

			}//end .component_portal.view_coins_mosaic, .portal.view_coins_mosaic
		}

		.right_container {
		}
	}//end .content_data

}//end .wrapper_tool

// modal and new window header tool modification
.tool_header.tool_cataloging {
	background-color: @tool_color;
}

