/**
* widget get_coins_by_period
*
* Included from main.less file
*/
.wrapper_widget.get_coins_by_period {

	.content_data{

		.values_container{
		display: grid;
		grid-template-columns: max-content 1rem;

			.get_coins_by_period {
			//background-color: #DEDEDE;
				display: contents;

				.label{
					// font-weight: bold;
					font-size: 1.2rem;
				}

				.value {
					font-weight: bold;
					font-size: 1.2rem;
					// padding-bottom: 0.5rem;
					padding-left: 1rem;
				}
			}
		}
	}
}
