/**
* TOOL_NUMISMATIC_ORDER_COINS
*
* Loaded on tool init
*/
// imports
@import (once) '../../../core/page/css/layout/vars';

// local vars
@tool_color: #9b8962;

// column_id (section_tool list)
	.column_section_id > .button_edit.list_tool_numisdata_order_coins {

		&:hover {
			background-color: @tool_color;
		}
		>.icon {
			-webkit-mask-image: url('../img/icon.svg');
			mask-image: url('../img/icon.svg');
		}
	}


// wrapper_tool
	.wrapper_tool.tool_numisdata_order_coins {

		>.tool_header {
			position: relative;

			@media screen and (max-width: @width_break_point_0) {
				flex-wrap: wrap;
			}

			>.tool_buttons_container {
				display: flex;
				align-items: flex-start;

				@media screen and (max-width: @width_break_point_0) {
					flex-wrap: wrap;
					margin-top: 1rem;
				}

				>div, button {

					margin: 0rem;
					margin-left: 0.5rem;
					margin-right: 0rem;
					min-height: 2rem;

					&.active{
						background-color: #ffe589;
						border-color: #616161;
					}

					@media screen and (max-width: @width_break_point_0) {
						margin-bottom: 1rem;
						flex: 1 0 auto;
					}

				}

				// select top tipo / id
				>.related_list_container {

					>select {

					}
				}

				// component lang selector
				>.lang_selector {
					display: flex;
					align-items: center;
					margin-left: 0.75rem;
					margin-right: 0.12rem;
					@media screen and (max-width: @width_break_point_0) {
						padding-right: 0.5rem;
					}

					>.lang_label {
						padding-right: 0.33rem;
					}
					>select {

					}
				}

				// buttons of tools (tool print, tool time machine..)
				>.tool_button {
					// background-color: #fde2c6;
					// border-color: #e9ecef;
					// color: #212529;
					// // width: 12em;
					// padding: 0.5em;
					// cursor: pointer;
					// border-radius: 0.25rem;
					// // display: inline-flex;
					// // align-items: center;
					// // justify-content: space-evenly;

					>.icon {
						height: 1rem;
						margin-right: 0.33rem;
					}
				}
			}
		}//end >.tool_header

		>.content_data {
			display: grid;
			grid-template-columns: 50% 50%;
			// column-gap: 1rem;
			align-items: start;
			width: calc(100% - 1rem);
			@media screen and (max-width: @width_break_point_0) {
				display: flex;
				width: 100%;
				flex-wrap: wrap;
				// flex-direction: column-reverse;
			}

			.spinner {
				border-top-color: @tool_color;
			}

			// left and right commons
			.left_container,
			.right_container {
				overflow: scroll;
   				height: calc(100vh - 90px);
				padding-left: 1rem;

				.wrapper_component {
					box-shadow	:none;
					color		: #353535;

					.column.dragover{
						outline: 2px dashed orange;
					}
					.column.drop_ordered_coins {
						animation-duration: 1s;
						animation-name: outline_to_green;
						@keyframes outline_to_green {
							from {
								outline: 2px dashed green;
							}
							to {
								outline: 2px dashed transparent;
							}
						}
					}
				}
			}

			.left_container {
				>.wrapper_component.view_coins_mosaic{
						>.paginator_container {
							right: 0px;
							top: 0px;
							width: auto;
							position: absolute;
							padding-right: 0.5rem;
						}

						// list_body
						>.list_body {
							width: 100%;
							display: grid;

							>.content_data {
								cursor: pointer;

								.section_record {
									background-color:#ffffff;
									.column_section_id {
										position: absolute;
									}
									&.snap {
										position: sticky !important;
										position: -webkit-sticky !important;
										top: 1px;
										bottom: -5px;
										z-index: 9;
										outline: 1px solid #cccccc;
										background-color: rgba(255, 255, 255, 1);// ?
										box-shadow: 2px 2px 12px rgba(128, 128, 128, 0.1);
									}
									.column_a{
										display			: flex;
										flex-wrap		: nowrap;
										flex-direction	: column;
										align-items		: flex-end;
										justify-content	: flex-end;
										padding-top		: 3em;
										.content_data >*{
											height: 0.5rem;;
										}
									}
									.column_original{
										justify-content: space-between;
										.options_left_contaniner{
											display: flex;
											flex-direction: column;
											padding-top: 1em;
											label{
												margin: 0.3em;
											}
											.label_original{
												background-color: #bff8bc;
											}
											.label_copy{
												background-color: #f8bcbc;
											}


											.row_snap{
												padding-top: 2em;
											}
										}
										// .options_right_contaniner{
											.drag{
												background-image: url(../img/drag.svg);
												background-position: center;
												background-repeat: no-repeat;
												background-size: 22px 22px;
												height: auto;
												opacity: 0.3;
												min-height: 2rem;
												min-width: 2rem;
												cursor: move;
												padding: 1.3em;
												height	: 100%;
												width	: 2em;
												&.used{
													opacity: 0.8;
													background-color: #ffda86;
												}
												&:hover{
													-webkit-filter: invert(100%);
     												filter: invert(100%);
													background-color: #9B9B9B;
													opacity: 0.7;
												}
											}
										// }
									}
								}

								>.hover_body {
									position: relative;
								}

								.sr_mosaic_hover {
									// background-color: rgb(255 255 255 / 35%);
									position: absolute;
									width: 100%;
									height: 100%;
									display: grid;
									grid-template-columns: 73px auto 73px;
									// grid-template-rows: 25% auto 22%;
									// grid-template-rows: 1fr 2fr 1fr;
									grid-template-rows: minmax(3rem, auto) 2fr minmax(3rem, auto);
									overflow: hidden;
									@bg_color_buttons: rgb(255 255 255 / 80%);

									>.column {
										z-index: 2;
										outline: none;
										padding: 0px;
										margin: 0px;
										background-color: transparent !important;

										background-color: @bg_color_buttons !important;
										height: 100%;
										width: 100%;
										display: flex;
										justify-content: center;
										align-items: center;

										grid-column-start: 3;
										// grid-column-end: 4;
										grid-row-start: 1;
										// grid-row-end: 2;

										border-bottom-left-radius: 0.5rem;

										>.wrapper_component.active {
											background-color: transparent;
										}
									}

									>.column_section_id {
										grid-column-start: 1;
										grid-column-end: 2;
										grid-row-start: 1;
										grid-row-end: 2;

										border-radius: unset;
										border-bottom-right-radius: 0.5rem;
										overflow: hidden;

										.button_edit {
											position: absolute;
											left: 0;
											top: 0;
											height: inherit;
											// color: white;
											// background-color: @bg_color_buttons;
										}

										.drag.icon {
											display: none;
										}
									}

									>.column_remove {
										grid-column-start: 1;
										grid-column-end: 2;
										grid-row-start: 3;
										grid-row-end: 4;
										// width: 100%;
										// align-items: center;
										// justify-content: center;
										// background-color: @bg_color_buttons !important;

										border-radius: unset;
										border-top-right-radius: 0.5rem;
										overflow: hidden;

										>.button_remove {
											width: 100%;
											justify-content: center;
										}
									}

									>.button_alt_container {
										cursor: pointer;
										z-index: 2;
										grid-column-start: 3;
										grid-column-end: 4;
										grid-row-start: 3;
										grid-row-end: 4;
										height: 100%;
										background-color: @bg_color_buttons;
										height: 100%;
										width: 100%;
										display: flex;
										justify-content: center;
										align-items: center;
										transition: all 0.15s;

										border-radius: unset;
										border-top-left-radius: 0.5rem;

										&:hover {
											background-color: @color_orange_dedalo;
											>.button.info {
												background-color: white;
											}
										}

										>.button.info {
											pointer-events: none;
										}
									}
								}
							}//end >.content_data

							// section_record is affected by component properties CSS (normally width and height)
							>.content_data >.section_record {
								position: relative;
								display: flex;
								flex: 0 0 auto;
								height: 100%;
								// max-height: 18rem;
								// width: 25%;
								// overflow: hidden;
								overflow-y: hidden;
								// overflow: unset;

								// background-color: #7ed0b0;

								// &.list {
								// 	// display: contents;
								// }

								.wrapper_component {
									padding: 0px;
									margin: 0px;

									.content_value {
										margin: 0px;
										padding: 0.25rem;
									}
								}

								.button_exit_edit {
									display: none;
								}
							}
						}//end >.list_body

						&.edit {
							box-shadow	:none;
							color		: #353535;
							>.list_body >.content_data >.section_record {
								outline: 1px solid @color_grey_light;

								// button info
								.button.info {
									height: 1.5rem;
									width: 1.5rem;
									background-color: black;
									margin: 0.33rem;
									z-index: 1;
									opacity: 1;
									// margin: 6px;

									/* smartphones, touchscreens */
									@media (hover: none) and (pointer: coarse) {
										opacity: 1;
									}
								}
								&:hover {
									.button {
										opacity: 1;
									}
								}

								// first level co
								>.column {
									height: inherit;
									width: inherit;
								}

								.column {
									outline: unset;
									width: 100%;

									>.wrapper_component {
										height: inherit;
									}
								}

								&.mosaic_over {
									outline: 1px solid @color_orange_dedalo;
									z-index: 2;
								}
							}
						}

				}//end .component_portal.view_coins_mosaic, .portal.view_coins_mosaic
			}

			.right_container {
				.coins_container{
					padding-top: 2em;
					background: white;
					z-index: 3;
					.wrapper_component .label{
						display: none;
					}
				}
				.portal_container {
					display: grid;
					grid-template-columns: 50% 50%;

					>*{
						grid-area: unset;
					}
				}
				.text_container{
					>.wrapper_component >.content_data{
						min-height: 1.5em;
					}

					>.wrapper_component >.count{
						color: #a8a8a8;
						margin: 0.5em;
						z-index: 2;
					}
				}
			}
		}//end .content_data
	}//end .wrapper_tool



// tool_numismatic_epigraphy_icon
	.tool_numisdata_order_coins_icon {
		background-color: @tool_color;
		background-image: url('../../themes/default/icon_transcription_hover.svg');
		// Adjust icon size
		background-size: 18px !important;
	    background-position-y: 3px !important;
	    background-position-x: 6px !important;
	}

// modal and new window header tool modification
	.tool_header.tool_numisdata_order_coins {
		background-color: @tool_color;
	}

/* HEADER
------------------------------------------------------ */
	.header_tool {
		#header_info {
			display:block;
			float: left;
			position: relative;
			margin-left: 15px;
			top: 8px;
			line-height: 1em;
		}
	}
