/**
* component_svg
*
* Included from main.less file
*/
.component_svg {

	&.edit {
		// height: var(--media_min_height);

		>.content_data {

			// moved to layout.less.media_wrapper.edit
				// // Note that height is always the media min height (392px)
				// // (!) Do not use max o min height here to prevent to affect canvas reference size
				// height: var(--media_min_height);
				// display: table;

				// justify-content: center;
				// max-height: var(--media_max_height);
				// min-height: var(--media_min_height);

				// @media screen and (max-width: @width_break_point_1) {
				// 	min-height: unset;
				// }

			// sqg container
			>.content_value {

				// moved to layout.less.media_wrapper.edit
					// display: flex;
					// justify-content: center;
					// width: 100%;
					// height: inherit;
					// // min-height: var(--media_min_height); // 404px;

					// resize: vertical;
					// overflow: hidden;

					// @media screen and (max-width: @width_break_point_1) {
					// 	height: unset;
					// 	max-height: 404px;
					// }

				// img
				>.image.svg_element {
					// background-color: #f5f5f5;
					padding: 0px;
					// height: 100%;
					// max-height: 100%;
					// max-width: 100%;
					height: 100%;
					max-height: 100%;
					max-width: 100%;
					object-fit: contain;
					object-position: center;
				}

				.fallback_image {

				}
			}
		}
	}

	&.list {
		height: var(--view_line_height);
		width: 100%;
		cursor: pointer;

		>.content_data {

			>img {
				// height: 100%;
				padding: 0.33rem !important;
			}
		}
	}

	&.view_default {

	}//end .view_default

	&.view_line {

		&.list {
			height: var(--view_text_height); //	2rem;
		}
		&.edit {
			max-height: 15rem;
			display: inline-block;
			img {
				height: 100%;
				max-height: 15rem;
				max-width: 100%;
				object-fit: contain;
				object-position: center;
			}
		}
	}

	// with suffix _mini like 'component_text_area_mini'
	&_mini {
		display: inline-block;
		vertical-align: middle;
		// margin-top: -0.4rem;
		// margin-bottom: -0.4rem;
		// prevent index images height exceed text height
		img {
			height: var(--view_text_height); //	2rem;
		}
	}

	&.view_text {

	}

	&.view_tag {
		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

}//end .component_svg
