/**
* component_pdf
*
* Included from main.less file
*/
.component_pdf {

	&.edit {

		>.content_data {
			min-height: @media_min_height;
			max-height: @media_max_height;
			// min-height: 30px;
			// min-width: 30px;

			>.content_value {
				// flex-wrap: wrap;
				// align-items: flex-start;
				width: 100%;
				height: 100%;
				// resize: vertical;
				// overflow: auto;

				// iframe
				>.pdf_viewer_frame {
					// flex: 0 0 100%;
					// 	height: calc(100% - 32px);
					width: 100%;
					height: calc(100% - 32px);
				}

				>.fields {
					height: 32px;
					flex: 0 0 100%;
					background-color: @color_grey_dark;
					padding: 0;
					padding-left: 1.25em;
					margin: 0;
					display: flex;
					align-items: center;
					font-size: 1em;
					// Position absolute option
					// position: absolute;
					// bottom: 0;
					width: 100%;

					span {
						color: white;
						text-transform: capitalize;
					}
					input {
						width: 5em;
						margin-left: 1em;
						text-align: center;
						height: 20px;
						background-color: @color_grey_dark;
						outline-color: darken(@color_grey_dark, 10%);
						color: white;
					}
				}
			}
		}
	}//end .edit
}//end .component_pdf
