/**
* component_pdf
*
* Included from main.less file
*/
.component_pdf {
	@color_grey_viewer: #3f3f3f;


	&.disabled_component {
		>.content_data {
			pointer-events: initial !important;

			.fields {
				// input {
				// 	outline: initial !important;
				// 	pointer-events: initial !important;
				// }
			}
		}
	}

	&.edit {

		>.content_data {

			// moved to layout.less.media_wrapper.edit
				// // Note that height is always the media min height (392px)
				// // (!) Do not use max o min height here to prevent to affect canvas reference size
				// height: var(--media_min_height);
				// display: table;

				// justify-content: center;
				// max-height: var(--media_max_height);
				// min-height: var(--media_min_height);
				// overflow: hidden;

				// @media screen and (max-width: @width_break_point_1) {
				// 	min-height: unset;
				// }

			// pdf container
			>.content_value {

				// moved to layout.less.media_wrapper.edit
					// // flex-wrap: wrap;
					// // align-items: flex-start;
					// width: 100%;
					// height: 100%;
					// resize: vertical;
					// overflow: auto;
					// min-height: var(--media_min_height); // 404px;

					// @media screen and (max-width: @width_break_point_1) {
					// 	height: unset;
					// 	max-height: 600px;
					// }
				>img {
					height: 100%;
				}

				// iframe
				>.pdf_viewer_frame {
					// flex: 0 0 100%;
					// height: calc(100% - 32px);
					display: block;
					height: calc(100% - 30px);
					width: 100%;
					border-right: 1px solid @color_grey_viewer;
					background-color: @color_grey_viewer;
				}

				>.fields {
					height: 30px;
					flex: 0 0 100%;
					background-color: @color_grey_viewer; // @color_grey_dark;
					padding: 0px;
					padding-left: 1.25em;
					margin: 0px;
					display: flex;
					align-items: center;
					font-size: 1em;
					// Position absolute option
					// position: absolute;
					// bottom: 0;
					width: 100%;

					span {
						color: white;
						text-transform: capitalize;
					}
					input {
						width: 5em;
						margin-left: 1em;
						text-align: center;
						height: 20px;
						background-color: @color_grey_dark;
						outline-color: darken(@color_grey_dark, 10%);
						color: white;
					}
				}
			}
		}


	}//end .view_default


	&.list {
		display: flex;
		justify-content: center;
		align-items: center;

		>img.icon_pdf {
			// height: 3rem;
			// margin: 0.33rem;
			cursor: pointer;
			padding: 1.2rem;
			&:active {
				opacity: 0.33;
			}
		}
	}

	&.view_viewer {
		.content_data {
			height: 100vh;

			.content_value {
				height: 100%;
			}
		}
	}

	&.view_player {
		display: block;
		height: 100%;

		.content_data {
			// height: 100vh;
		}
	}

	&.view_line {
		display: block;
		>.content_data {
			min-height: unset;
		}
	}

	&.view_text {

	}

	// with suffix _mini like 'component_av_mini'
	&_mini {
		display: inline-block;
		vertical-align: middle;
		// margin-top: -0.4rem;
		// margin-bottom: -0.4rem;
		img {
			height: 2rem;
		}
	}
}//end .component_pdf
