// remove some button when the component is in read_only permission === 1

#print, #secondaryPrint {
	display: none !important;
}
#download, #secondaryDownload{
	display: none !important;
}
#openFile, #secondaryOpenFile{
	display: none !important;
}
#editorFreeText{
	display: none !important;
}
#editorInk{
	display: none !important;
}