// remove some button when the component is in edit permission === 2

#openFile, #secondaryOpenFile{
	display: none !important;
}
#editorFreeText{
	display: none !important;
}
#editorInk{
	display: none !important;
}