/**
* search
*
* Included from main.less file
*/


// colors
	// selected_color
	@selected_color: #ff9620; // @color_orange;	//
	// Component color
	@component_color: lighten(@selected_color, 25%);
	// Component color hover
	@component_color_hover: #ff9620;//darken(@selected_color, 15%);
	// bg_color_global container
	@bg_color_global: #efefef; //#F7F7F7;
	// bg toggle_container_selector  #b9b9b9
	@bg_toggle_container: #b9b9b9;
	// unused
	// @bg_component_color : #f6f6f6;
	// @bg_section_group_color: #969ca1;



// search_component (shared at least by unit_test preview)
	.search_component {
		background-color: rgba(251, 251, 251, 0.48);
		display: flex;
		position: relative;
		margin: 2px;
		min-height: 55px;
		border-radius: 2px;
		// flex: 1 1 32.4%;
		flex: 0 1 32.8%;
		flex-wrap: wrap;

		>.wrapper_component {
			flex-grow: 1;
			display: grid;

			>.label {
				padding: 0.5em;
			}
			>.content_data {
				padding: 0.5em !important;
			}
		}

		>.button.close {
			position: absolute;
			right: 0px;
			top: 3px;
			z-index: 2;

			&:active {
				opacity: 0.5;
			}
		}
	}//end .search_component



// wrapper_search
	.wrapper_search {
		position: relative;

		// filter_button
		>.filter_button {
			margin-bottom: 0.5em;
			float: left;

			// when parent (wrapper_search) have class 'list'
			.list & {
				position: absolute;
				top: -2em;
			}
		}

		// button_save_preset
		.button_save_preset {
			z-index: 3;
			background-color: #db0303;
			width: calc(100% - 1rem);
			color: white;
			margin: 0.5rem;
			font-weight: 500;
		}

		// search_global_container
		>.search_global_container {
			display: flex;
			position: relative;
			width: 100%;
			z-index: 1;
			outline: 0.5px solid #dcdcdc;

			.list&, .relation& {
				margin-top: 0.5em;
			}
			.edit& {
				margin-bottom: 0.5em;
			}


			&.hide {
				padding: 0px;
			}

			// toggle_container_selector
			>.toggle_container_selector {
				margin: 0px;

				&.sections {
					background-color: #a0a0a0;
				}
			}

			// search_container_selector
			>.search_container_selector {
				position: relative;
			}

			// search_container_selection | components_list_container
			// Center selection drag area
			>.search_container_selection {
				flex-grow: 1;
				align-self: flex-start;
				background-color: #f0f0f0;
				padding-top: 0px;
				position: sticky;
				top: 0.25rem;

				.search_group_container {
					display: flex;
					justify-content: flex-end;
					position: -webkit-sticky;
					position: -moz-sticky;
					position: sticky;
					// top: 62px;

					@media screen and (max-width: @width_break_point_0) {
						flex-wrap: wrap;
					}

					.search_group {
						min-height: 5.8rem;
						min-width: 165px;
						// outline: 0.5px solid @bg_toggle_container;
						margin: 0px;
						padding: 1px;
						padding-right: 17px;
						padding-left: 23px;
						//margin: 10px;
						//margin-top: 0;
						//margin-bottom: 0;
						background-color: rgba(255, 255, 255, 0.5);
						// resize: horizontal;
						// overflow: -webkit-paged-x;
						// overflow: hidden;
						position: relative;

						// display: flex;
						// flex-grow: 2;
						// flex-wrap: wrap;

						width: 100%;
						display: grid;
						grid-template-columns: 1fr 1fr 1fr;

						@media screen and (max-width: @width_break_point_0) {
							grid-template-columns: 1fr 1fr;
						}

						@media screen and (max-width: @width_break_point_0) {
							grid-template-columns: 1fr;
						}

						&.root_search_group {
							margin: 0px;
							margin-left: 5px;
							margin-right: 5px;
							justify-content: flex-start;
							border-radius: 2px;
						}

						// search_component
						>.search_component {
							// defined at top to share css
						}

						// Last component
						// >.search_component:last-of-type {
							//margin-right: 10px !important;
						// }

						>.operator {
							height: 100%;
							position: absolute;
							left: 0px;
							top: 0px;
							margin: 0px;
							padding: 0.25rem;
							border-right: 1px solid rgba(123, 150, 177, 0.45);
							text-align: center;
							max-width: 32px;
							writing-mode: vertical-lr;
							text-transform: uppercase;
							cursor: pointer;
							user-select: none;
							-moz-user-select: none;
							-webkit-user-select: none;
							letter-spacing: 1px;
							color: #fcf4ff;
							opacity: 0.6;

							&:hover {
								opacity: 0.7;
							}

							&.and {
								background-color: #3fb630;
							}
							&.or {
								background-color: #3379b8;
							}
						}//end >.operator

						>.button.close {
							position: absolute;
							right: 0px;
							top: 0px;
						}

						>.button.add {
							position: absolute;
							right: 0px;
							top: 1.4em;
							color: #080808;
						}

					}//end .search_group

					// search_buttons_container
					>.search_buttons_container {
						//background-color: #ea9cd2;
						min-height: 5em;
						min-width: 12rem;
						display: flex;
						flex: 0 1 auto;
						padding: 0px;
						margin: 0px;
						padding: 0.25em;

						>* {
							height: 100%;
							width: 100%;
							margin: 0px;
							display: flex;
							flex-direction: column;
						}

						.button {
							height: 100%;
							width: 100%;
							margin: 0px;
							padding: 0px;
							padding-left: 0.25rem;
							padding-right: 0.25rem;
							font-size: 1em;
							background-color: #f99c29;
							opacity: 1;
							color: #ffffff;
							border: 1px solid #ffffff;
							border-radius: 0.25em;
							word-break: break-word;

							&:hover {
								background-color: darken(#f99c29, 10%);
							}
						}

						// max_group
						>.max_group {
							align-items: center;
							background-color: #ffffff;
							position: relative;
							border-radius: 4px;
							overflow: hidden;
							min-width: 4.7rem;

							.max_input_label {
								display: block;
								width: 100%;
								text-align: center;
								padding: 1em;
								position: absolute;
								pointer-events: none;
							}

							input.max_input {
								border: none;
								width: 100%;
								text-align: center;
								font-size: 1.1em;
								padding-top: 2em;
								padding-bottom: 0.33rem;
								// flex: 1 1 auto;

								flex: 0;
								min-height: 5rem;
							}

							.children_recursive_label {
								flex: 1 1 auto;
								cursor: pointer;
								padding: 0.5rem;
								word-break: break-word;

								// input
								.children_recursive {
									margin-right: 0.33rem;
									vertical-align: top;
								}
							}
						}

						// reset group
						>.reset_group{
							// display: flex;
							// flex-direction: column;
							padding-left: 0.25em;
							padding-right: 0.25em;

							.button.reload {
								flex-grow: 1;
								mask-size: 2em;
								 -webkit-mask-size: 2em;
								&:before {
									background-color: transparent;
								}
							}
							.button.show_all {
								flex-grow: 1;
							}
						}

						// submit
						>.button.submit {
							background-color: @color_green_success;
							&:hover {
								background-color: darken(@color_green_success, 10%);
							}
						}

					}//end .search_buttons_container

				}//end .search_group_container

				// root search_group
				>.search_group_container:first-of-type >.search_group {
					>.button.add {
						top: 3px;
					}
				}
			}//end search_container_selection


			// thesaurus list of available section (Thesaurus only)
			>.wrapper_sections_selector {
				max-width: 130px;
				min-width: 110px;

				>select {
					padding: 0px;
				}

				>.wrapper_sections_selector_ul {

					>li {
						display: inline-block;
						height: auto;
						font-size: 0.9rem;

						>label {
							>input {
								margin-right: 0.33rem;
							}
						}
					}
				}
			}


			// left: components list
				// // >.search_container_selector {
				// .components_list_container {
				// 	display: flex;

				// 	// Standard section container (receive all json elements inside)
				// 	ul.search_section_container {
				// 		//background-color: #88D6E4;
				// 		width: fit-content;

				// 		// Section label bar
				// 		>.search_section_bar_label {
				// 			font-family: "Oxygen-light";
				// 			padding: 0.25em;
				// 			border-right: 1px solid #a5a5a5;
				// 			background-color: #575a5c;;
				// 			color: #ffffff;
				// 			font-size: 1em;
				//     		line-height: 1em;
				// 			// Avoid click events affect here (received with :after)
				// 			pointer-events: none;

				// 			.target_container >.search_section_container &:after {
				// 				content: "X";
				// 				display: block;
				// 				// background-color: #a0a0a0;
				// 				float: right;
				// 				width: 1em;
				// 				text-align: center;
				// 				//border-radius: 50%;
				// 				//line-height: 15px;
				// 				//position: relative;
				// 				//top: 2px;
				// 				cursor: pointer;
				// 				// Allow receive here the click button of real dom element
				// 				pointer-events: all;
				// 				padding-left: 1em;
				// 			}
				// 		}

				// 	}//end ul.search_section_container
				// }


			// right: user presets list
			.search_container_selection_presets {
				background-color: rgba(201,201,201,0.3);
				width: 160px;
				min-width: 140px;
				display: block;

				// component_presets_label at top
				>.component_presets_label {
					display: inline-flex;
					width: 100%;
					background-color: #575a5c;
					color: #ffffff;
					text-align: center;
					padding: 4px;

					mark {
						color: #ffffff;
						background-color: initial;
						opacity: initial;
					}

					>.button.add {
						color: #565a5c;
						background-color: #f3f3f3;
						cursor: pointer;
						z-index: 9;
					}
				}//end .component_presets_label

				// section list user presets
				>.wrapper_section {
					// background-color: #a5dfa0;
					padding: 0.5rem;

					>.paginator_container {
						height: unset;
					}

					>.list_body {
						display: block;

						.section_record {
							display: grid;
							grid-template-columns: 1.5rem 1.1rem auto 1rem;
							border-bottom: 1px solid @bg_toggle_container;

							&.selected {
								background-color: @color_orange_dedalo;
								.button.icon {
									background-color: white;
								}
								.wrapper_component {
									color: white;
								}
							}

							// &:after {
							// 	content: " XXX ";
							// 	display: block;
							// 	width: 100%;
							// 	height: 3px;
							// 	border: 1px solid #eeeeee;
							// }
						}

						// columns
						.column {
							// overflow: hidden;
							outline: none;

							&.column_delete {

							}

							.button.icon {
								background-color: @bg_toggle_container;
								margin: 0px;
								margin-top: 0.27rem;
								margin-right: 025rem;
								height: 1rem;
								width: 1rem;
							}
						}
						.column_apply_preset {
							// background-color: #dcb647;

							.button_apply_preset {
								transform: scaleX(-1);
								background-color: @bg_toggle_container;
							}
						}
						.column_edit {
							// background-color: #db836f;

							.button_edit {

							}
						}
						.column_section {
							// background-color: #	6ae0b1;
							pointer-events: none;

							.wrapper_component > span {
								padding: 0.25rem;
							}
						}
						.column_delete {
							// background-color: #b5a7dd;

							.button_delete {

							}
						}
					}
				}
			}//end .search_container_selection_presets
		}//end .search_global_container
	}//end .wrapper_search



// button toggle container_selector (list of fields) and button toggle presets
	.toggle_container_selector, .toggle_container_selection_presets {
		background-color: @bg_toggle_container;
		writing-mode: vertical-lr;
		text-transform: uppercase;
		cursor: pointer;
		color: #f0f8ff;
		padding: 0.25rem;
		padding-top: 0.75rem;
		letter-spacing: 1px;

		&:active {
			opacity: 0.7;
		}
	}



// thesaurus_search_selector
	.thesaurus_search_selector {
		//display:inline-block;
		//margin-left:20px;
		//background-color:antiquewhite;
		margin-top: 7px;
		width: 100%;

		> ul {
			display: flex;
			flex-flow: wrap;
			justify-content: flex-start;

			> li {
				padding-right: 10px;
				//background-color: #D4DF93;
				padding:5px;
				white-space: nowrap;
				cursor: pointer;

				> input {
					//margin-right: 5px;
					cursor: pointer;
				}

				> label {
					margin-left: 3px;
					cursor: pointer;
				}
			}
		}
	}//end thesaurus_search_selector



// search_global_container
// Prevent interactions with the text contents of draggable elements from being select able.
	.search_global_container[draggable] {
		-moz-user-select: none;
		-khtml-user-select: none;
		-webkit-user-select: none;
		user-select: none;
		/* Required to make elements draggable in old WebKit */
		-khtml-user-drag: element;
		-webkit-user-drag: element;
	}



// button open first list
	// .button_open_search {
	// 	//margin-bottom: 5px;
	// 	margin-top: 2px;
	// 	text-transform: capitalize;
	// 	letter-spacing: 0.03em;
	// 	border-color: #bbbbbb;
	// 	background-color: rgba(239,239,239,0.7);
	// }



// Target section container (receive all JSON elements inside recursive)
	// .search_section_container.target_container {
	// 	display: flex;
	// 	background-color: rgba(201,201,201,0.3);
	// }



// Items list generic
	// ul.search_section_container ul {
	// 	position: relative;

	// 	//&:not(:last-of-type) {
	// 	//    min-width: 140px;
	// 	//    background-color: #EAEA00 !important;
	// 	//}

	// 	li {
	// 		padding: 4px;
	// 		padding-right: 1em;
	// 		border-right: 1px solid #a5a5a5;
	// 		-moz-user-select: none;
	// 		-khtml-user-select: none;
	// 		-webkit-user-select: none;
	// 		user-select: none;
	// 		display: grid;
	// 		// line-height: 1em;

	// 		// truncate text
	// 			>* {
	// 				display: grid;
	// 				width: 99.99%;
	// 				padding-right: 1em;
	// 				white-space: nowrap;
	// 				overflow: hidden;
	// 				text-overflow: ellipsis;
	// 				// line-height: inherit;
	// 				height: inherit;
	// 			}
	// 	}
	// }



// Items list section_group
	// li.search_section_group_label {
	// 	background-color: @bg_section_group_color; //#575A5C;
	// 	color: #ffffff;
	// }
	// Items list components
	// li.search_component_label {
	// 	background-color: @bg_component_color;
	// 	//background-color: rgba(251, 251, 251, 0.48);
	// 	border-bottom: 0.5px solid #666;

	// 	&:hover {
	// 		background-color: @component_color_hover;
	// 		color: #ffffff;
	// 	}
	// 	&:active {
	// 		//background-color: initial;
	// 		//color: initial;
	// 		opacity: 0.6;
	// 	}
	// }



// has_subquery
	// li.search_component_label.has_subquery {
	// 	//background-color: #A71B0C
	// 	cursor: pointer;
	// 	background-position: right 17px bottom 7px;

	// 	// Flecha
	// 	&::after {
	// 		content: " ";
	// 		display: inline-block;
	// 		width: 7px;
	// 		height: 12px;
	// 		border-bottom: 5px solid transparent;
	// 		border-top: 5px solid transparent;
	// 		border-left: 5px solid #000;
	// 		pointer-events: none;
	// 		position: absolute;
	// 		right: 6px;
	// 		margin-top: 4px;
	// 	}


	// 	&.active {
	// 		background-color: @selected_color !important;
	// 		//font-weight: bold;
	// 		border-right: 1px solid @selected_color;
	// 		color: #ffffff;

	// 		&::after {
	// 			border-left: 5px solid #ffffff;
	// 		}
	// 	}
	// }//end li.search_component_label.has_subquery



// draggable background svg
	// .element_draggable {
	// 	cursor: move;
	// 	background: url('../../themes/default/draggable.svg');
	// 	background-color: rgba(0, 0, 0, 0);
	// 	background-repeat: repeat;
	// 	background-position-x: 0%;
	// 	background-position-y: 0%;
	// 	background-size: auto auto;
	// 	background-color: rgba(0,0,0,0);
	// 	background-repeat: repeat;
	// 	background-position-x: 0;
	// 	background-position-y: 0;
	// 	background-size: auto auto;
	// 	background-position: right 5px bottom 7px;
	// 	background-repeat: no-repeat;
	// 	background-size: 12px;
	// }



// search presets
	//.search_new_presets {
	//	//background-color: #DEE0DE;
	//
	//	label, .content_data, .css_input_text_search {
	//		max-width: 100%;
	//		width: 100%;
	//	}
	//}
