.section_record{background-color:#50f9af;align-content:stretch;align-items:stretch;display:flex;flex-flow:column;flex-wrap:wrap;justify-content:flex-start;margin:0;padding:0;width:100%}
/*# sourceMappingURL=section_record.css.map */