/**
* section_record
*
* Included from main.less file
*/
.section_record {

	&.edit {
		display: flex;
		flex-flow: column;
		flex-wrap: wrap;
		justify-content: flex-start;
		align-content: stretch;
		align-items: stretch;
		margin: 0px;
		padding: 0px;
		width: 100%;

		// components NOT inside grouper case
		>.wrapper_component {
			margin-top: 1.62rem;
		}
	}//end section_record &.edit

	&.list {
		display: contents;

		>.column:first-of-type {
			--box_display: 'none';
			--box_width : 0px;

			&:after {
				content: " ";
				display: var(--box_display);
				position: absolute;
				left: 0px;
				top: 0px;
				z-index: 1;
				background-color: transparent;
				box-shadow: 0px 0px 5px 0px #717171;
				pointer-events: none;
				border-radius: 3px;
				width: var(--box_width);
				height: 100%;
			}
		}

		// last separator hide.
		// This is a temporal measure to prevent to display last separator
		// in some cases where last item is empty and is not detected by the section_record check mechanism
		.separator:last-of-type {
			display: none;
		}

	}//end list &.list

	&.mini {
		display: contents;
	}

	&.view_text {

		// inside components on view line, button_remove will never be displayed
		.view_line {
			.button_exit_edit {
				display: none !important;
			}
		}

		// prevent to give too much space to inside components like check_box in numisdata30
		.content_data {
			display: contents;
		}
	}

}//end .section_record
