/**
* ts_object
*
* Included from main.less file
*/

// Import general vars
@import (once) '../../page/css/layout/vars';



// wrap_ts_object
.wrap_ts_object {
	clear: both;
	display: table;
	position: relative;
	width: 100%;

	// local vars
	@ts_object_line_height: 20px;
	@grey_color: #c3c3c3;
	@grey_dark_color: #252525;
	@yellow_color: #b5a83a;

	// mixins
		// inline_common
		.inline_common {
			display: inline-table;
			float: left;
			font-size: 1rem;
		}
		// ts_icons_all. icons common
		.ts_icons_all {
			background-position: center;
			background-repeat: no-repeat;
			background-size: 76%;
			cursor: pointer;
			height: @ts_object_line_height;
			width: @ts_object_line_height;
		}

	&:hover > .id_column_content {
		opacity: 1;
	}

	>.hierarchy_elements_container {
		padding: 0px;
	}

	// children_container
	>.children_container {
		.inline_common;
		width: 100%;
		height: 0px;
		// padding-left: 2rem;
		padding-left: 1.75rem;
	}

	&.hierarchy_root_node {
		padding-left: 1rem;

		>.children_container {
			padding-left: 0px;
		}
	}//end hierarchy_root_node

	.id_column_content {
		.inline_common;
		opacity: 0.5;
		display: inline-flex;
		flex-wrap: nowrap;
	}

	.id_column_link {
		// display: inline-table;
		// float: left;
		display: inline-block;
		height: 1.4em;
		line-height: 1.5rem;
		z-index: 1; // overlap term hilite

		width: 1.5rem;
		margin-right: 0.25rem;

		&:active {
			opacity: 0.5;
		}
	}

	a.id_column_link div {
		height: @ts_object_line_height;
		margin-right: 6px;
	}

	.ts_object_add_icon {
		.ts_icons_all;
		background-image: url('../../themes/default/icons/add_light.svg');
		&:hover {
			background-color: @yellow_color;
			border-radius: 3px;
			filter: invert(100%);
		}
	}

	 // drag_button
	.ts_object_drag {
		margin-right: 4px;
	}
	.ts_object_drag_icon {
		.ts_icons_all;
		background-image: url('../../themes/default/icons/move.svg');

		&:hover {
			background-color: @yellow_color;
			border-radius: 3px;
			filter: invert(100%);
		}
	}

	 // delete_button
	.ts_object_delete {

		.ts_object_delete_icon {
			.ts_icons_all;
			background-image: url('../../themes/default/icons/trash.svg');
			background-size: 76%;
			margin-right: 2px;

			&:hover {
				background-color: #3dfff5;
				border-radius: 3px;
				filter: invert(100%);
			}
		}
	}

	 // order_number
	.ts_object_order_number {
		width: 1rem;
		min-width: 14px;
		text-align: center;
		padding-top: 0px;
		margin-right: 3px;
		font-size: 9px;
		font-family: monospace;
	}

	.input_order {
		text-align: center;
		width: 22px;
		margin-right: 5px;
		margin-left: 3px;
		border: 1px solid #fd7f26;
		border-radius: 2px;
		opacity: 1 !important;
		position: relative;
		top: 1px;
	}

	 // edit_button
	.ts_object_edit {

		&:hover {
			background-color: #ff7ef3;
			border-radius: 3px;
			filter: invert(100%);
		}
		 // id number
		.ts_object_section_id_number {
			height: @ts_object_line_height;
			min-width: 36px;
			float: left;
			padding: 2px;
			font-size: 1.05em;
			padding-right: 4px;
			text-align: right;
			display: none;
		}

		// edit_icon
		.ts_object_edit_icon {
			background-image: url('../../themes/default/icons/edit.svg');
			background-repeat: no-repeat;
			background-size: 65%;
			background-position: center;
			float: left;
			width: 24px;
			height: @ts_object_line_height;
			cursor: pointer;
		}
	}//end ts_object_edit

	// related_icon
	.ts_object_related {

		.ts_object_related_icon {
			background-position: -336px -94px;
			opacity: 1;
			overflow: hidden;
			zoom: 1.25;

			&:active {
				opacity: 0.4;
			}
		}
	}//end .ts_object_related

	 // elements_container
	.elements_container {
		.inline_common;
		min-width: 150px;
		margin-left: 0px;
		min-height: 22px;
		display: flex;

		// list_thesaurus commons
		.list_thesaurus_element {
			position: relative;
			display: table-cell;
			min-width: 24px;
			padding: 2px;
			padding-right: 5px;
			font-size: 1.1em;
			text-align: center;
			border-left: 1px solid @grey_color;
			opacity: 0.3;
			width: 29px;
			vertical-align: top;

			&.term_img {
				height: 1.3rem;
				opacity: 1;
			}

			mark {
				color: @color_grey_ultradark !important;
				font-style: italic;
			}

			img {
				height: 100%;
			}

			&.loading {
				background-color: transparent;

				>span {
					opacity: 0.12;
				}

				img {
					opacity: 0;
				}

				&:after {
					content: " ";
					display: block;
					position: absolute;
					top: 2px;
					left: 30%;
					width: 1.1rem;
					height: 1.1rem;
					border: 2px solid @color_grey_medium_1;
					border-top-color: @color_orange_dedalo;
					border-radius: 50%;
					animation: run_spinner 800ms linear infinite;
				}
			}
		}

		// term
		.list_thesaurus_element.term {
			border: 0px;
			opacity: 1;
			text-align: left;
			inline-size: auto;
			overflow-wrap: break-word;
			hyphens: auto;

			>.term_text {
				cursor: pointer;

				&:hover {
					color: @color_orange_dedalo !important;
					opacity: 1;
				}
			}

			&.loading {

				>span {
					opacity: 0.12;
				}

				&:after {
					content: " ";
					display: block;
					position: absolute;
					top: 2px;
					left: 0px;
					width: 1.1rem;
					height: 1.1rem;
					border: 2px solid @color_grey_medium_1;
					border-top-color: @color_orange_dedalo;
					border-radius: 50%;
					animation: run_spinner 800ms linear infinite;
				}
			}
		}

		.no-drag {
			-webkit-user-select: none;
			user-select: none;
			pointer-events: none;
		}

		.element_hilite > span {
			background-color: @color_hilite_yellow;
			color: #000000;
			padding-left: 7px;
			padding-right: 7px;
			margin-left: -7px;
		}

		.id_info {
			color: #a6a6a6;
			font-size: 80%;
			vertical-align: text-top;
			padding-left: 5px;
			padding-right: 0.25rem;
			user-select: auto;
			line-height: 1.4rem;

			&.show_section {
				color: @color_orange_dedalo;
			}
		}

		// indexations
		.list_thesaurus_element.button_show_indexations,
		.list_thesaurus_element.default	{
			background-color: @color_orange_dedalo;
			opacity: 0.6;
			border: 0px;
			padding-left: 3px;
			padding-right: 2.5px;
			color: @color_white;
			border-radius: 3px;
			margin: 0px;
			height: 17px;
			width: initial;
			font-size: 12px;
			margin-right: 5px;
			line-height: 1.2rem;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			&.default {

			}

			// area_ontology elements common
			.area_ontology & {
				min-width: 1.16rem;
				background-color: @grey_color;
				color: @grey_dark_color;
				padding: 3px;
				border-radius: 1px;
				height: 1.2rem;
				font-size: 11px;
				vertical-align: bottom;
				top: 2px;
			}

			// ontology CSS properties
			&.ontology16 {
				background-color: #826b85;
				color: white;
			}

			// ontology RQO properties
			&.ontology17 {
				background-color: #9d4a4a;
				color: white;
			}

			// ontology properties
			&.ontology18 {
				background-color: #1b531f;
				color: white;
			}

			// ontology v5 properties
			&.ontology19 {
				background-color: #e9dd9f;
				color: @grey_dark_color;
				&:hover {
					color: @grey_dark_color !important;
				}
			}

			// ontology model
			&.ontology6 {
				// background-color: @grey_color;
			}

			&:hover {
				color: @color_white !important;
				opacity: 1;
			}
			&:active {
				background-color: @color_grey_medium;
				color: #717171 !important;
			}

			&.loading {
				background-color: transparent;
				>span {
					opacity: 0;
				}

				&:after {
					content: " ";
					display: block;
					position: absolute;
					top: 2px;
					left: 32%;
					width: 1.1rem;
					height: 1.1rem;
					border: 2px solid @color_grey_medium_1;
					border-top-color: @color_orange_dedalo;
					border-radius: 50%;
					animation: run_spinner 800ms linear infinite;
					// overwrite
					left: 0rem;
					top: 1px;
				}
			}
		}

		.button_duplicate {
			background-color: @grey_color;
			color: @grey_dark_color;
			margin: 0;
			width: 1.1rem;
			display: inline-block;
			text-align: center;
			line-height: 1.23rem;
			vertical-align: text-top;
			font-size: 80%;
			font-size: 1rem;
			margin-left: 2px;
			border-radius: 1px;
			cursor: pointer;
			padding: 0px;
			opacity: 0.6;

			&:hover {
				opacity: 1;
				color: @color_white;
			}

			>span {
				position: relative;
				top: -1px;
			}
		}

		.list_thesaurus_element.button_recusive_indexations{
			font-size: 1.5rem;
			font-weight: bolder;
			line-height: 1rem;
			display: inline-block;
		}

		// ts_object_children_arrow_icon mixins
		@triangle_color: @color_orange_dedalo;
		.triangle_down {
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 10.4px 6px 0px 6px;
			border-color: @triangle_color transparent transparent transparent;
		}
		.triangle_right {
			height: 0px;
			width: 0px;
			border-style: solid;
			border-width: 6px 0px 6px 10.4px;
			border-color: transparent transparent transparent @triangle_color;
		}

		.ts_object_children_arrow_icon {
			height: 1.4em;
			position: static;
			width: 1.4em;
			margin: 2px;
			margin-top: 0px;
			.triangle_right;
			opacity: 0.6;
			cursor: pointer;

			// ontology children arrow
			.area_ontology & {
				border-color: transparent transparent transparent #373737;
			}

			&:hover {
				opacity: 1;
			}

			&:active {
				opacity: 0.4;
			}
		}

		.ts_object_children_arrow_icon_open {
			.triangle_down;
			position: relative;
			left: -2px;
			top: 2px;

			// ontology children arrow
			.area_ontology & {
				border-color: #373737 transparent transparent;
			}

			&.arrow_spinner {
				border-color: transparent;
				pointer-events: none;
			}
		}

		.ts_object_children_arrow_icon_open_nd{

		}

		.arrow_unactive {
			display: none;
		}

		[data-type='link_children'] {
			border: 0px;
			opacity: 1;
		}

	}//end .elements_container

	.arrow_spinner {
		border: none;
		margin: 0px;
		padding: 0px;
		opacity: 1;
		position: relative;

		&:after {
			content: " ";
			display: block;
			position: absolute;
			// top: 0.17rem;
			// left: 0.27rem;
			top: -13px;
			left: -6px;
			width: 1.1rem;
			height: 1.1rem;
			border: 2px solid @color_grey_medium_1;
			border-top-color: @color_orange_dedalo;
			border-radius: 50%;
			animation: run_spinner 800ms linear infinite;

			@media screen and (max-width: @width_break_point_0) {
				top: 0.10rem;
				left: 0.17rem;
			}
		}

		.area_ontology & {
			&:after {
				border-top-color: @color_grey_dark_3;
			}
		}
	}

	// button show_more (thesaurus pagination)
	.show_more {
		width: auto;
		background-color: @color_white;
		line-height: 1rem;
		margin: 0.5rem;
		margin-left: 9.25rem;
		margin-top: 0.25rem;
		margin-bottom: 0.6rem;
		padding-right: 1.5rem;

		&.arrow_spinner {
			&:after {
				left: unset;
				right: 0px;
			}
		}

		&.active {
			opacity: 0.4;
		}
	}

	// ts_object_children_arrow_icon
	.term_img {
		padding: 0px !important;

		>img {
			height: 22px;
		}
	}

	// data_container
	>.data_container {
		width: 100%;
		padding-left: 4rem;
		display: block;
		height: auto;
		margin-top: 1rem;
		margin-bottom: 1rem;

		>.loader {
			width: 100%;
			display: inline-block;
			padding-top: 1.8rem;
			padding-bottom: 1.5rem;
			padding-left: 2rem;
		}

		// all components showed inside
		>.wrapper_component {
			min-height: initial;
			padding: 1rem;
			width: auto;
			min-width: 50%;
			margin-top: 0.5rem;
			margin-bottom: 0.5rem;
			float: left;
			clear: both;
		}

	}//end .data_container

	// children_toogle_view
	.removed_from_view {
		display: none;
	}

	// nd_container
	.nd_container {
		display: none;
		.inline_common;
		height: 0px;
		margin-left: 50px;
		width: 100%;

		>.wrap_ts_object {
			width: calc(100% - 4rem);
		}

		.data_container {
			padding-left: 3rem;
		}
	}

	// indexations_container
	.indexations_container {
		.inline_common;
		height: 0px;
		width: 100%;

		.css_spinner {
			float: left;
			width: 21px;
			margin-left: 80px;
			min-height: 24px;
		}
		.blink {
			position: relative;
			top: 2px;
			color: #727272;
			font-size: 13px;
		}
	}//end .indexations_container

	// drag and drop
	.drag_over > .elements_container {
		background-color: #4a57c5;
		border-radius: 3px;
		color: @color_white !important;

		mark {
			color: @color_white !important;
		}
	}

	// no_descriptor term span
	.no_descriptor {
		color: #a5a5a5;

		&:before {
			content: '[ND] ';
		}
	}

	.wrap_ts_object_nd {
		color: @color_grey_darken;
		padding: 2px;
		padding-left: 0px;
		padding-right: 0px;
    	width: auto;

		> .id_column_content > .ts_object_edit {
			margin-left: 17px;
		}
	}

	.visible_element {
		background-color: #81c943;
		visibility: visible !important;
	}

}//end .wrap_ts_object
