/**
* service_tmp_section
*
* Included from main.less file
*/

.service_tmp_section {
	padding-bottom: 1.25rem;
	border: 1px solid #eeeeee;
	border-radius: 12px;
	border-top-left-radius: 0;

	>.content_data {
		padding: 1rem;
		position: relative;
		padding-bottom: 0;
		display: flex;
		flex-wrap: wrap;
		@media screen and (max-width: @width_break_point_0) { // 1024px
			flex-direction: column;
		}

		.wrapper_component{
			flex-basis: 25%;
		}

	}//end content_data

}//end .service_tmp_section
