.service_tmp_section>.content_data{padding:1rem;position:relative;padding-bottom:0;display:flex;flex-wrap:wrap}.service_tmp_section>.content_data .wrapper_component{flex-basis:25%}
/*# sourceMappingURL=service_tmp_section.css.map */