/**
* area
*
* Included from main.less file
*/
.wrapper_area.area {
    display: table;
    width: 100%;
    padding: 1rem;
    min-height: calc(100vh - 4.2rem);

    &:before {
		background-image: url('../../themes/default/dedalo_icon_big.png');
		background-position: 0px top;
		background-repeat: no-repeat;
		background-size: 527px 1024px;
		content: '';
		position: fixed;
		height: 100%;
		width: 100%;
		z-index: -1;
		transform: scaleX(-1);
		top: 0px;
		left: 0px;
		background-color: @color_white;
	}

	&.list {

	}
}
