/**
* area
*
* Included from main.less file
*/
.wrapper_area.area {
	background-color: pink;

	display: table;
	width: 100%;
	padding: 1rem;
	min-height: 80vh;

	&.list {
		>.content_data {



		}//end .content_data

	}//end .edit
}
