/**
* component_external
*
* Included from main.less file
*/
.component_external {

    &.edit {

		>.content_data {

        }
    }

    &.search {

		.content_data {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
		}
	}

}//end .component_external
