/**
* component_email
*
* Included from main.less file
*/
.component_email {
	// background-color: #ffa88d !important;

	&.edit {

		>.content_data {

			>.content_value {

				.button {
					position: absolute;
					top: 0.5em;
					z-index: 1;

					&.remove {
						right: 0.55rem;
					}
					&.email {
						right: 2rem;
					}
				}
			}
		}

	}//end .edit
}//end .component_email
