// Variables
@common_css: "../../common/css";

// Usage
@import "@{common_css}/library.less"; 



/* WRAP DIV CONTAINER */
.css_wrap_email {
	
	}
	.css_wrap_email .content_data {

	}
	.css_wrap_email .content_data input.css_email {
		max-width: 80%;
		width: 100%;
	}

.css_email_lupa_bg {
	background-image: url('../../themes/default/lupa2.gif');
	background-repeat:no-repeat;
	background-position:0 1px;	
}

.css_email_error { background-color:red;}
.css_email_error:hover { background-color:orange;}


.btn_create_email_list{
//	top: 1px;
	//top: -4px;
	height: 26px;
	//padding-top: 5px;
	//width: 26px;

	/* padding: 6px; */
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	padding-top: 5px;
	/* margin-top: 3px; */
}


.css_email_send{
	width: 20px;
	height: 12px;
	line-height: 10px;
	position: relative;
	display: inline-block;
	background-image: url(../../themes/default/email.svg);
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 1;
	vertical-align: middle;

}

.css_email_multiple_send{

	width: 22px;
	height: 14px;
	line-height: 10px;
	position: relative;
	display: inline-block;
	background-image: url(../../themes/default/email_multiple.svg);
	background-repeat: no-repeat;
	cursor: pointer;
	opacity: 1;
	vertical-align: middle;


}

