/**
* inspector
*
* Included from main.less file
*/

// inspector wrapper
.inspector {
	display: block;
	margin: 0px;
	margin-bottom: 0.5rem;
	padding: 0px;
	width: 100%;
	background-color: @color_grey_16;
	outline: 1px solid @color_grey_14;

	&.inspector_fixed {
		position: fixed;
		top: 0px;
		width: 18.5% !important;
	}

	// inspector_div_content
	>.inspector_content_data {
		display: block;
		margin: 0px;
		padding: 0px;
		position: relative;

		>div {
			border-bottom: 1px solid @color_grey_13;
		}

		// icon_arrow
		.icon_arrow {

		}

		// paginator
		>.paginator_container {
			height: 73px;

			@media screen and (max-width: @width_break_point_0) {
				min-height: 66px;
			}

			// section id info in inspector paginator
			>.section_id {
				position: absolute;
				right: 0.75rem;
				top: 0.75rem;
				font-weight: 500;
				font-size: 1.2rem;
				line-height: 1rem;
				color: @color_grey_8;

				@media screen and (max-width: @width_break_point_0) {
					top: 1rem;
				}
			}

			// forces line break to allow view section_id at right side
			.paginator_info {
				width: 100%;
			}
		}

		// selection_info
		>.selection_info {
			color: @color_orange_dedalo;
			padding: 0.5rem;
			font-size: 1.12rem;
			text-align: center;

			.selection_info_label {
				display: inline-block;
				max-width: 88.5%;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}

			.button {
				cursor: pointer;
				float: right;
				vertical-align: middle;
				background-color: @color_grey_10;

				&:active {
					opacity: 0.4;
				}
			}
		}

		// element_info
		>.element_info_wrap	>.element_info {
			display: grid;
			grid-gap: 2px;
			grid-template-columns: minmax(min-content, 35%) minmax(65%, 80%);
			margin-top: 0.15rem;
			margin-bottom: 0.25rem;
			font-size: 0.88rem;

			.link, .pen, .tree, .edit {
				background-color: @color_orange_dedalo;
				margin-right: 0.5rem;
			}

			.button {
				&:active {
					opacity: 0.3;
				}
			}

			.key {
				background-color: @color_grey_14;
				padding: 0.25rem;
				text-align: right;
				text-transform: capitalize;
				font-size: 0.8rem;

				&.wide {
					grid-column-start: 1;
					grid-column-end: 3;
					text-align: center;
				}
			}
			.value {
				padding: 0.25rem;

				&.wide {
					grid-column-start: 1;
					grid-column-end: 3;
					max-height: 16.6rem;
					overflow: auto;
					word-break: break-word;
				}

				&.code {
					white-space: pre-wrap;
					display: flex;
					flex-direction: column;
					background-color: @color_grey_16;

					&.monospace {
						word-break: break-all;
						font-family: monospace;
						font-size: 0.76rem;
					}

					.button_value_copy {
						align-self: center;
						font-size: 0.9rem;
						margin: 0px;

						&:active {
							opacity: 0.5;
						}
					}
				}

				&.bold {
					font-size: 0.9rem;
					font-weight: 600;
				}
			}

			&.auto_height {
				.code {
					max-height: none;
				}
			}
		}

		// project_wrap
		.project_wrap {
			.wrapper_component.component_filter {
				>.label {
					display: none;
				}
			}
		}

		// buttons_container
		>.buttons_container, >.tools_container {

			&.top {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;

				>button {
					height: 2rem;
					margin: unset;
					margin-left: 0.19rem;
					margin-top: 0.25rem;
					margin-bottom: 0.25rem;
					padding: 0.6rem;

					&.list {
						opacity: 0.7;
					}
				}
			}
		}

		// indexation_list
		.indexation_list_container {
			.indexation_list_head {
				text-transform: capitalize;
			}
			.indexation_list_body {
				background-color: @color_orange_dedalo;
				padding: 0.33rem;
				padding-bottom: 1rem;
				padding-top: 1rem;
				font-size: 0.78rem;
				color: @color_white;
			}
		}

		// relation_list
		>.relation_list_container {

			>.relation_list_body {

			}
		}

		// time_machine_list
		>.time_machine_list {

			>.time_machine_list_body {
				font-size: 0.78rem;
			}
		}

		// project_container
		>.project_container {

		}

		// activity_info
		.activity_info {

			.activity_info_body {
				max-height: 10rem;
				overflow-y: auto;
				padding: 0px;
			}

			// former node_info_save_msg
			.bubble {
				// (!) moved to general.less > .bubbles_notification_container for convenience
			}
		}

		// buttons_bottom_container
		>.buttons_container.bottom {
			padding: 0.25rem;
			padding-bottom: 0.5rem;

			>button {
				width: 100%;
				margin-top: 0.25rem;
			}
		}

	}//end .inspector_content_data


	.css_section_group_content {
		display: table;
	}

	.css_button_generic > span {
		display: none;
	}

	>.label {

		.label_top; // defined in layout

		@media screen and (min-width: @width_break_point_1) {
			position: sticky;
			top: -0.1px;
			z-index: 4;
		}

		&.is_pinned {
			box-shadow: 0px 1px 3px 0px @color_grey_12;
			// padding-top: calc(0.33em + 1px);
		}
	}

	.nav_buttons {
		padding-bottom: 0.5em;

		>.icon_bs {

		}
	}

	.displayed_records {
		display: none;
	}

	.goto_page {
		clear: left;
		display: inline-block;
		padding-top: 0.25em;
	}

}//end .inspector
