/* DEBUG CSS OVERRIDE SOME GLOBAL CSS STYLES
------------------------------------------------------- */


/* Body background
------------------------------------------------------- */
body {
	background-color: #ceac96;
	background-image: url('../../themes/default/daleks.jpg');
}


/* Background semitransparent
------------------------------------------------------- */
.inspector_div_content,
.css_section_group_wrap,
.css_section_list_table TD {
	background-color: #F9F9F9; 
	background-color: rgba(249, 249, 249, 0.8);
}


/* Debug elements semitransparent
------------------------------------------------------- */
#load_time_table,
.css_debug_html_page_content
{
	background-color: rgba(249, 249, 249, 0.8);
}


/* Login semitransparent
------------------------------------------------------- */
.css_wrap_login {
	color: #333;
	width: 360px;
	display: none;
	padding: 38px;
	background-color: rgba(248, 248, 248, 0.66);
	position: absolute;
	left: 37%;
	top: 20%;
	box-shadow: 0px 4px 35px #99999A;
	border: none;
	border-radius: 20px;
}


/* Portals list semitransparent
------------------------------------------------------- */
TABLE.portal_table .section_list_td_row {
	background-color: rgba(239, 239, 239, 0.6);/**/
}