// Vars
@common_css: "../../common/css";

// Usage
@import "@{common_css}/library.less";




/*CSS Document
WRAP DIV CONTAINER*/
.css_wrap_select_lang {

}
.css_wrap_select_lang .content_data {
}


select.css_select_lang {
		padding: 2px;
		cursor: pointer;
		margin: 0;
		max-width: 99.9%;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 1px solid #e1e1e1;
		border-radius: 3px;
		background: url('../../themes/default/select.svg');
		background-position: top 50% right 3px;
		background-size: 7px 12px;
		background-repeat: no-repeat;
		background-color: #f6f6f6;
		padding-right: 15px;
		padding-left: 7px;
	}
	select.css_select_lang:hover {
	}
	select.css_select_lang:focus {
	}
	select.css_select_lang:active {
	}

.current_lang_info {
	float: right;
	color: #aaaaaa;
	/*margin-right: 10px;*/
	position: relative;
	top: 4px;
}
