
body {
	/*min-height: 1024px;*/
	}	
	#html_page_wrap {

		}
		#html_page_wrap:before {
			content: " ";			
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: -1;
			background: url('../../themes/default/dedalo_icon_big.png') 0 0 no-repeat;
			
			-webkit-transform: rotate(180deg);
			-moz-transform: rotate(180deg);
			-ms-transform: rotate(180deg);
			-o-transform: rotate(180deg);
			transform: rotate(180deg);
			/**/
		}
		#html_page_wrap #content_maintenance {
			width: 100%;
			text-align: center;
			position: relative;
			top: 25%;
			padding: 20px;
		}
		#html_page_wrap #content_maintenance h1 {			
			font-size: 220%;
    		font-weight: normal;
    		color: #585858;
		}

