/* TOOL_REPLACE_COMPONENT_DATA */



.wrap_tool_replace_component_data_page {
	display: block;
	width: 99.9%;
	height: 97.7%;
	position: absolute;
	text-align: left;
	/*background-color:#efc4f4;*/
	padding: 20px;
	}
	.wrap_tool_replace_component_data_page .content_data {
		width: 100%;	
	}
	.wrap_tool_replace_component_data_page label {
		font-weight: bold;
		display: block;
		padding: 5px;
	}

	.button_replace:hover {
		background-color:#5cb85c;
		color: #F9FEFF;
		text-shadow:none;
		}		

	.button_cancel:hover {
		background-color:#d9534f;
		color: #F9FEFF;
		text-shadow:none;		
	}

	#tool_replace_component_data_response {
		padding: 30px;
	}

	.tool_replace_component_data_text{
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		font-size: 14px;
		line-height: 1.4;
		color: #333;
		text-align: center;

	}