

/* VISUAL AIDS (ONLY SHOWED IN SCREEN, NOT IN PRINTED DOCUMENT)
-------------------------------------------------------------------*/
@media screen {
/*
.page {	
	background-color: rgba(201, 201, 201, 0.08);
	box-shadow: 0 0 3px rgba(0,0,0,0.21);		
	}
	.page .component_box {
		background-color: rgba(224,224,224, 0.3);
		}
	.page .header_element {
		background-color: rgba(106,189,24,0.15);	
	}	
	.page .footer_element {		
		background-color: rgba(255,192,142,0.15);
	}
*/
}


 


/*
@media all {
	*/

	body {
		background-color: #FFFFFF;
		background-image: none;
	}

	/* ELEMENTS TO HIDE WHENT PRINT
	-------------------------------------------------------------------*/
	pre,
	.time_to_load_div,
	.ui-dialog,
	#log_messages,
	.ui-icon,
	.page_close_button, 
	.close,
	#wrap_edit .top,
	#wrap_edit .center .left,
	.wrap_add_page_fixed,
	.wrap_add_page_fluid
	{
		display: none !important;
	}

	#wrap_edit .center #pages_container {
	  margin-top: 0;
	  padding-top: 86px;
	}
	#wrap_edit .center .right {
		background-color: transparent;
	}	

	.component_box,
	.header_element,
	.footer_element {
		overflow: hidden;
		border: none;
		background-color: transparent;
	}

	.border_box {
		border:none;
		box-shadow: none;
	}

	.page {
		background-color: #FFFFFF !important;
		/*background-color: #D0D0D0 !important;*/
		margin: 0;
		padding: 25px;
		border: none;
		width: 893px;
		/*height: 1063px;
		min-height: 1223px;	
		height: 1223px;*/	
		box-shadow: none;
		/*page-break-before: always;*/
		page-break-inside: avoid;
		}
		.page:hover {
	  		box-shadow: 0 0 6px rgba(0,0,0,0.21);  		
	  	}
	  .page.fixed{
	  	min-height: 1223px;	
		height: 1223px;	

	  	} .page.fluid {
	  	min-height: 1223px;	
		height: 100%;	
		
	 	 }

	.header_element {
		background-color: rgba(48, 79, 48, 0.2);
		background-color: #FFFFFF !important;
		position: relative;
		margin-bottom: 35px;
	}

	.component_box.component_fluid {		
		overflow: visible;
		display: table;
		position: relative !important;/**/
		background-color: rgba(155, 79, 48, 0.2);
		background-color: #FFFFFF !important;
		top: 10px !important;
	}

	.component_box .print_label {
		cursor: default !important;
		background-color: transparent !important;
		background-color: #FFFFFF !important;
	}
	
	.footer_element {
		/*top: 0px !important;*/
	}

	 .page.fluid .footer_element {
	 	display: none;
	}

	.pagination_info {
		width: 100%;
		height: 150px;
		text-align: center;
		font-size: 90%;
		font: 12px 'Lucida Grande', sans-serif;
		border-top: 1px solid #eeeeee;
		left: 0px;
		top: 0px;
	}

/*}*//*end @media print */