// dd_grid css



// wrapper_dd_grid
	.wrapper_dd_grid {
		// background-color: #f0f0f0;
		width: 100%;
		display: block;

		@padding_left: 140px;
		@color_grey_light: #bfbfbf;


		// row
		.row {
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			&.head {

				// oral history
				&.oh {
					background-color: #f89292;
					display: grid;
					grid-template-columns: @padding_left 1fr 1fr 1fr 1fr;
				}
				// publications (bibliography)
				&.publication {
					background-color: #f89292;
					display: grid;
					grid-template-columns: @padding_left 1fr 1fr 1fr 1fr 1fr;
				}
			}
		}

		// column
		.column {
			// background-color: #a3dfac8c;
			display: flex;
			flex-wrap: wrap;
			flex: 1 1 auto;
			outline: 1px solid @color_grey_light;
			overflow: hidden;

			&.caption {
				// background-color: #f2f2f2;
				color: #ffffff;
				padding: 0.5em;
				font-weight: 400;
				outline: none;
				padding: 0;
				margin: 0.5em;
				margin-left: 90px;

				>label {
					background-color: #424242;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
					line-height: 0.8em;
				}
			}

			&.indexation {
				// background-color: #8dd2f0;
				width: 100%;
				padding-left: @padding_left;
				height: 2em;

				// oral history
				&.oh {
					display: grid;
					grid-template-columns: repeat(10, 1fr);
				}

				// publications (bibliography)
				&.publication {
					display: grid;
					grid-template-columns: repeat(3, 1fr);
				}
			}
		}

		// label
		label {
			// background-color: #343434;
			padding: 0.5em;
			width: 100%;
			display: block;
			font-size: 1.1em;
			padding: 0.25em;
		}

		// value (text values)
		span {
			background-color: #e6e6e6;
			color: #000;
			padding: 0.5em;
			display: inline-block;
			width: 100%;
			font-size: 0.94em;
			line-height: 1em;
		}

		// img
		img {
			background-color: #e6e6e6;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 5em;
			padding: 0;
			margin: 0;
		}

		// button
		img.button {
			background-color: #e6e6e6;
			display: inline-block;
			object-fit: contain;
			object-position: center;
			height: 100%;
			padding: 0;
			margin: 0;
		}


		&.table {
			border-collapse: collapse;
			display: table;
			background-color: #dfe0f0;

			// tr
			tr {
				// border: 1px solid #ccc;
			}

			// td
			td, th {
				border: 1px solid #ccc;
				padding: 0.33em;
				text-align: left;
			}

			th {
				background-color: #949494;
				color: white;
			}

			td {
				background-color: #e6e6e6;
				color: black;
			}
		}//end table

	}//end .wrapper_dd_grid









