/**
* dd_grid
*
*
* Included from main.less file
*/
.wrapper_dd_grid {
	// background-color: #f0f0f0;
	width: 100%;
	display: block;

	@padding_left: 140px;
	@color_grey_light: #bfbfbf;


	// view_default.
	&.view_default {

		// row
		.row {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			height: inherit;

			&.head {

				// oral history
				&.oh {
					background-color: #dde1e8;
					display: grid;
					grid-template-columns: @padding_left 1fr 1fr 1fr 1fr;
				}
				// publications (bibliography)
				&.publication {
					background-color: #f89292;
					display: grid;
					grid-template-columns: @padding_left 1fr 1fr 1fr 1fr 1fr;
				}
			}
		}

		// column
		.column {
			// background-color: #a3dfac8c;
			display: flex;
			flex-wrap: wrap;
			flex: 1 1 auto;
			outline: 1px solid @color_grey_light;
			max-height: 100%;
			// overflow: hidden;

			&.caption {
				// background-color: #f2f2f2;
				color: #ffffff;
				font-weight: 400;
				outline: none;
				padding: 0px;
				margin: 0.5em;
				margin-left: 90px;

				>label {
					background-color: #424242;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
					line-height: 0.8em;
				}
			}
		}

		// label
		label {
			// background-color: #343434;
			width: 100%;
			display: block;
			font-size: 0.95rem;
			padding: 0.5em;
		}

		// value (text values)
		span {
			// background-color: #e6e6e6;
			color: #000000;
			padding: 0.5em;
			display: inline-block;
			width: 100%;
			font-size: 0.94em;
			line-height: 1em;
		}

		// img
		img {
			background-color: #e6e6e6;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 5em;
			padding: 0px;
			margin: 0px;
		}

		// button
		img.button {
			background-color: #e6e6e6;
			display: inline-block;
			object-fit: contain;
			object-position: center;
			height: 100%;
			padding: 0px;
			margin: 0px;
		}
	}//end view_default


	// view_table. Used by tool_export
	&.view_table {
		border-collapse: collapse;
		display: table;
		// background-color: #dfe0f0;
		background-color: white;

		// tr
		.row_header {
			// border: 1px solid #ccc;
			// position: sticky;
			// top: 4rem;
			th {
				background-color: @color_grey_dark;
				color: white;
			}
		}

		// >tr {

		// }

		>tr:nth-child(even) {
			background-color: #f9f9f9;
		}

		// td
		td, th {
			border: 1px solid #cccccc;
			padding: 0.33em;
			text-align: left;
		}

		th {

		}

		td {
			// background-color: #e6e6e6;
			color: black;

			>img {
				width: 100%;
				max-width: 100%;
				max-height: 5rem;
				min-width: 3rem;
				object-fit: contain;
				object-position: center;
				// background-color: #e1e1e1;
			}

			&.text_column {
				img {
					max-height: 1rem;
					vertical-align: text-bottom;
				}
			}
		}
	}//end view_table


	// view_mini
	&.view_mini {
		// background-color: #ecdcf5;

		>img {
			width: 100%;
			max-width: 100%;
			max-height: 5rem;
			object-fit: contain;
			object-position: center;
			// background-color: #e1e1e1;
		}

		// tag images
		.index, .tc {
			max-height: 1rem;
			vertical-align: text-bottom;
		}
	}//end view_mini

}//end .wrapper_dd_grid



// includes './view_indexation'
// @import (once) './view_indexation';
