// dd_grid css



// wrapper_dd_grid
	.wrapper_dd_grid {
		background-color: #f0f0f0;
		width: 100%;
		display: block;

		@padding_left: 140px;


		.row {
			// padding: 0.5em;
			display: flex;
			flex-wrap: wrap;
			width: 100%;

			&.head {

				// oral history
				&.oh {
					background-color: #f89292;
					display: grid;
					grid-template-columns: @padding_left 1fr 1fr 1fr 1fr;
				}
				// publications (bibliography)
				&.publication {
					background-color: #f89292;
					display: grid;
					grid-template-columns: @padding_left 1fr 1fr 1fr 1fr 1fr;
				}
			}
		}

		.column {
			background-color: #a3dfac8c;
			display: flex;
			flex-wrap: wrap;
			flex: 1 1 auto;
			outline: 1px solid #8f8f8f;
			overflow-x: hidden;

			&.caption {
				background-color: #5a625f;
				color: #ffffff;
				padding: 0.5em;
				font-weight: 400;
			}

			&.indexation {
				width: 100%;
				padding-left: @padding_left;
				height: 2em;

				// oral history
				&.oh {
					// background-color: #8dd2f0;
					display: grid;
					grid-template-columns: repeat(10, 1fr);
				}

				// publications (bibliography)
				&.publication {
					// background-color: #8dd2f0;
					display: grid;
					grid-template-columns: repeat(3, 1fr);
				}
			}
		}

		// value
		span {
			background-color: #bfbfbf;
			color: #000;
			padding: 0.5em;
			display: inline-block;
			width: 100%;
		}

		label {
			padding: 0.5em;
			background-color: #343434;
			width: 100%;
			display: block;
			font-size: 1.1em;
			padding: 0.25em;
		}

		img {
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 5em;
		}

		.button {
			height: 100%;
			object-fit: contain;
			object-position: center;
			padding: 0.5em;
			display: inline-block;
		}


	}//end .wrapper_dd_grid





