/**
*	dd_grid view_indexation
*
*
* Included from dd_grid.less file
*/

// view_indexation
.wrapper_dd_grid.view_indexation {

	@padding_left: 140px;
	@color_grey_14: @color_grey_10;
	--icon_height: 1.05rem;

	max-height: 80vh;
	overflow: auto;
	position: relative;

	.top_container {
		background-color: @color_white;
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		position: sticky;
		top: 0;
		z-index: 2;

		.filter_section_container {
			background-color: @color_white;
			margin-left: 4rem;
			padding-top: 1.02rem;
			padding-bottom: 1rem;
			display: flex;
			flex-wrap: nowrap;

			.checkbox_label {
				background-color: @color_grey_16;
				margin-right: 0.5rem;
				padding: 1rem;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
				border: 1px solid @color_grey_11;
				border-radius: 0.5rem;
				cursor: pointer;
				width: max-content;

				&.unchecked {
					opacity: 0.5;
				}

				input {
					margin-right: .25rem;
					vertical-align: bottom;
				}
			}
		}

		.paginator_container{
			display: flex;
			justify-content: flex-end;
			padding-right: 0.5rem;

			.wrapper_paginator {

				.content_data{
					font-size: 1rem;
				}
			}
		}
	}

	.content_data {
		margin: 0;
		padding: 0;

		// column common
		.column {
			display: flex;
			flex-wrap: wrap;
			flex: 1 1 auto;
			max-height: 100%;
			min-height: 2rem;
			padding: 0.15rem;

			>img {
				height: 100%;
			}
		}
		.column.indexation {
			box-shadow: none;
		}

		// label common
		label {
			width: 100%;
			display: block;
			font-size: 0.95rem;
			padding: 0.5em;
		}

		// value (text values)
		span {
			color: @color_black;
			padding: 0.5em;
			display: inline-block;
			width: 100%;
			font-size: 0.94em;
			line-height: 1em;
		}

		// img
		img:not(.tc, .index) {
			background-color: @color_grey_13;
			object-fit: cover;
			object-position: center;
			width: 8rem;
			height: 5em;
			padding: 0px;
			margin: 0px;
		}

		// button
		img.button {
			background-color: @color_grey_13;
			display: inline-block;
			object-fit: contain;
			object-position: center;
			height: 100%;
			padding: 0px;
			margin: 0px;
		}

		// row common
		>.row {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			height: inherit;

			>.caption {
				color: @color_white;
				font-weight: 400;
				outline: none;
				padding: 0px;
				margin: 0.5em;
				margin-left: 4rem;
				box-shadow: none;

				--base_color: @color_grey_4; // default value. Will be overwrite with section color form properties

				// label generic
				>label {
					background-color: var(--base_color);
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
					line-height: 0.8em;
					position: sticky;
					top: 4.2rem;
					z-index: 1;
				}

				// column generic
				.column {
					span {
						padding-bottom: 0px;
					}
				}

				// row generic
				.row {
					display: flex;
					background-color: @color_grey_16;
					width: 100%;

					.column {
						box-shadow: none;
						outline: none;
						padding: 0px;
					}
				}

				// first level row
				>.row {
					width: 100%;
				}

				// oh1 . Oral History (uses view_indexation_audiovisual.less too)
				&.oh1 {
					@base_color: #86458c;
				}//end .oh1

				// actv1 . Activities (uses view_indexation_audiovisual.less too)
				&.actv1 {
					@base_color: #a93f25;
				}

				// rsc205 publication . Publications (Bibliography)
				&.rsc205 {
					@base_color: #6c72b6;
					>.row {
						background-color: lighten(@base_color, 54%);
						width: 100%;

						>.column {
							box-shadow: none;
						}

						&:not(.head)>.column {
							margin-left: 8rem;
						}
					}//end >.row
					>.row.head {
						background-color: lighten(@color_orange_dedalo, 44%);
						width: 100%;
						display: grid;
						grid-template-columns: 102px 1fr 1fr 1fr 1fr 1fr;

						.column {
							box-shadow: none;
							outline: none;
						}

						.row {
							background-color: transparent;
						}

						// column image
						>.column:nth-of-type(1) {
							padding: 0px;
							.column {
								padding: 0px;
							}
						}
					}//end >.row.head
				}//end .rsc205

				// isad1 . ISAD Archive
				&.isad1 {
					@base_color: #d2984b;
					>.row {
						background-color: lighten(@base_color, 49%);
						>.column {
							box-shadow: none;
						}

						&:not(.head)>.column {
							margin-left: 8rem;
							display: grid;
							grid-template-columns: 1fr 1fr 6fr;
							>.column {
								box-shadow: none;
							}
						}
					}//end >.row
					>.row.head {
						background-color: lighten(@base_color, 53%);
						width: 100%;
						display: grid;
						grid-template-columns: 102px 1fr 1fr 1fr 1fr;

						.column {
							box-shadow: none;
							outline	: none;

							span {
								padding-bottom: inherit;
							}
						}

						.row {
							background-color: transparent;
						}
					}//end >.row.head
				}//end .isad1

				// ich100 . Intangible Heritage (Elements and processes)
				&.ich100 {
					@base_color: #a97687;
					>.row {
						background-color: lighten(@base_color, 41%);
						width: 100%;
						display: grid;
						grid-template-columns: 4rem 20rem auto;
						align-items: center;
					}//end >.row
				}//end .ich100

				// rsc197 . People under study
				&.rsc197 {
					@base_color: #f08a30;
					>.row {
						background-color: lighten(@base_color, 41%);
						width: 100%;
						display: grid;
						grid-template-columns: 4rem 4fr 4fr 2fr;
						align-items: center;
					}//end >.row
				}//end .rsc197

				// tch tangible cultural heritage mobile generic
				&.tch {
					>.row.line {
						display: grid;
						grid-template-columns: auto 13.4rem 1fr 1fr 1fr 1fr 1fr;
						border-bottom: 1px solid @color_grey_13;

						img {
							width: 6.7rem;
							height: 5rem;
							background-color: @color_white ;
							object-fit: contain;
						}
					}
				}//end .tch

			}//end >.caption
		}//end >.row

	}

}//end view_indexation

// includes
@import (once) './view_indexation_audiovisual';
