/**
*	dd_grid view_indexation_audiovisual
*
* It is shared by 'oh1' and 'actv1' and the CSS sector is defined in the properties
* see term 'oh6' properties for a sample of use
*
* Included from dd_grid.less file
*/

// view_indexation audiovisual
.wrapper_dd_grid.view_indexation .audiovisual {

	>label {
		// note that more specific selector like 'oh1' or 'actv1' will overwrite this value
		background-color: var(--base_color);
	}

	>.row.head {
		margin-left: 0px;
		background-color: #f5f5f5;
		display: grid;
		// ------------- posterframe|code|project|name|municipality
		grid-template-columns: 102px 8rem 10.5rem 20rem 1fr;

		.column {
			box-shadow: none;
			outline: none;
		}
		.row {
			background-color: transparent;
		}

		// column image
		>.column:nth-of-type(1) {
			padding: 0px;
			overflow: hidden;
			.column {
				padding: 0px;
			}
		}

		// column code
		>.column:nth-of-type(2) {
			padding-left: 0.25rem;
		}

		// column project
		>.column:nth-of-type(3) {

		}

		// column people (informants)
		>.column:nth-of-type(4) {
			>.row {
				height: auto;
				width: 100%;
				// display: grid;
				// grid-template-columns: 1fr 2fr;
				display: flex;
				// background-color: #f4ad80;

				.column {
					display: contents;
					// .column {
					// 	display: contents;
					// }
					span {
						display: inline-block;
						width: auto;
						padding-right: 0px;
					}
				}
			}
		}

		// column municipality
		>.column:nth-of-type(5) {
			padding-top: 0.098rem;

			* {
				display: inline;
				box-shadow: none;
				outline: 0;
				width: unset;
				padding: 0;
				padding: 0.25rem;
			}
			.row:not(:first-child, :last-child) {
				&:after {
					content: ", ";
					display: inline-block;
					height: 1rem;
					color: #000000;
					padding-right: 0.25rem;
				}
			}
		}
	}

	>.row.line {
		margin-left: 8rem;

		.column.indexation {
			display: grid;
			grid-template-columns: 5rem 3rem 3rem 3rem 3rem auto 7rem 7rem 7rem 3rem 3rem;
			line-height: 2rem;

			>.column {
				// height: 2.3rem;
				// display: table;
				overflow: visible;
				box-shadow: none;
				outline: none;

				display: flex;
				align-content: center;
				line-height: 2rem;

				.icon {
					// height: 1.05rem;
					height: var(--icon_height);
					padding: 0.5rem;
				}
				img {
					height: 1rem;
					width: auto;
				}
			}

			// column av section_id (reel)
			>.column.section_id {
				// background-color: #fa7a44;
				// width: 4rem;
				text-align: center;
			}

			// column tag_id
			>.column.tag_id {
				// background-color: #baf069;
				// width: 3.5rem;

				.tag_id {
					// display: flex;
					// align-items: center;
					// justify-content: center;
					// background-image: radial-gradient(30% 50%ellipse at 109% 50%,#fff 22px,transparent 10px,#fa0 0);
					// border-bottom-left-radius: 8px;
					// border-top-left-radius: 8px;
					// color: #fff;
					// padding: 0 5px;
					// min-width: 20px;
					// margin-top: 0.5rem;
					// height: 0.8rem;
					// width: 3rem;
					// padding: 7px;

					.fn_build_tag_indexation(
						@color_tag_indexation_normal,
						white
					);
					// height: 1rem;
					// margin-top: 0.15rem;
				}
			}

			// column button indexation
			>.column.button_indexation {
				// background-color: #4ff46d;
				// padding: 0.75rem;
				// width: 3.5rem;
			}

			// column button_transcription
			>.column.button_transcription {
				// background-color: #4bf2c8;
				// padding: 0.75rem;
				// width: 3.5rem;
			}

			// column button_av_player
			>.column.button_av_player {
				// background-color: #35c4f0;
				// padding: 0.75rem;
				// width: 3.5rem;
			}

			// column text_fragment
			>.column.text_fragment {
				// background-color: #eed9c5;
				width: auto;

				>.text_fragment {
					margin: 0px;
					padding-bottom: 0.3rem;
					padding-top: 0.25rem;
					max-height: 1.5rem;
					line-height: 1.2rem;
					overflow: hidden;
					text-overflow: ellipsis;
					cursor: s-resize;
					vertical-align: top;
					// background-color: #fcf9b2;

					&:hover {
						background-color: #fcf8e2;
					}

					&.full {
						max-height: unset;
						margin-top: 0.25rem;
						cursor: n-resize;
					}
				}
			}

			// column tc_in
			>.column.tc_in {
				// background-color: #c8edd5;
			}

			// column tc_out
			>.column.tc_out {
				// background-color: #c8edd5;
			}

			// column duration_tc
			>.column.duration_tc {
				// background-color: #c8edd5;
			}

			// column button_download_av
			>.column.button_download_av {
				// background-color: #f5b0d2;

				.icon {
					// width: 1.05rem; // prevent loading spinner deformation
					width: var(--icon_height); // prevent loading spinner deformation
				}

				&.watermark {
					.icon {
						background-color: @color_green_success;
					}
				}
			}
		}//end .column.indexation
	}

}//end view_indexation
