/*
	indexation grids
*/


// view_indexation
	.wrapper_dd_grid.view_indexation {

		@padding_left: 140px;
		@color_grey_light: #bfbfbf;

		// column
			.column {
				// background-color: #a3dfac8c;
				display: flex;
				flex-wrap: wrap;
				flex: 1 1 auto;
				// outline: 1px solid @color_grey_light;
				max-height: 100%;
				// overflow: hidden;
			}


		>.row {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			height: inherit;

			&.head {
				// oral history
				&.oh {
					background-color: #dde1e8;
					display: grid;
					grid-template-columns: @padding_left 1fr 1fr 1fr 1fr;
				}
				// publications (bibliography)
				&.publication {
					background-color: #f89292;
					display: grid;
					grid-template-columns: @padding_left 1fr 1fr 1fr 1fr 1fr;
				}
			}

			>.caption {
				color: #ffffff;
				font-weight: 400;
				outline: none;
				padding: 0px;
				margin: 0.5em;
				margin-left: 90px;
				box-shadow: none;

				>label {
					background-color: #424242;
					border-top-left-radius: 4px;
					border-top-right-radius: 4px;
					line-height: 0.8em;
				}

				.column {
					// height: unset;
					// outline: unset;
					// box-shadow: none;

					span {
						padding-bottom: 0;
					}
				}
				>.row.head.oh {
					background-color: lighten(@color_orange_dedalo, 44%);
					// height: 5rem;
					display: grid;
					grid-template-columns: 102px 8rem 20rem minmax(25rem, auto) 30%;
					width: 100%;

					.column {
						// height	: 5rem;
						box-shadow	: none;
						outline		: none;
					}

					// column image
					>.column:nth-of-type(1) {

					}

					// column code
					>.column:nth-of-type(2) {

					}

					// column project
					>.column:nth-of-type(3) {

					}

					// column people (informants)
					.column:nth-of-type(4) {
						>.row {
							display: grid;
							grid-template-columns: 1fr 1fr;
							height: auto;
						}
					}

					// column municipality
					>.column:nth-of-type(5) {
						* {
							display: inline;
							box-shadow: none;
							outline: 0;
							width: unset;
							padding: 0;
							padding: 0.25rem;
						}
						.row:not(:first-child, :last-child) {
							&:after {
								content: ", ";
								display: inline-block;
								height: 1rem;
								color: #000000;
								padding-right: 0.25rem;
							}
						}
					}
				}

				>.row.oh {
					// background-color: #a7efc7;

					&:not(.head)>.column {
						margin-left: 8rem;
					}

					.column.oh.indexation {
						display: grid;
						grid-template-columns: repeat(11, auto);
						// padding-left: 8rem;

						>.column {
							// height: 2.3rem;
							display: table;
							overflow: visible;
							box-shadow: none;
							outline: none;

							.icon {
								height: 1.05rem;
								width: 1.05rem;
							}
						}

						// column av section_id (reel)
						>.column.section_id {
							// background-color: #fa7a44;
							width: 4rem;
							text-align: center;
						}

						// column tag_id
						>.column.tag_id {
							// background-color: #baf069;
							width: 3.5rem;

							>.tag_id {
								display: flex;
								align-items: center;
								justify-content: center;
								background-image: radial-gradient(30% 50%ellipse at 109% 50%,#fff 22px,transparent 10px,#fa0 0);
								border-bottom-left-radius: 8px;
								border-top-left-radius: 8px;
								color: #fff;
								padding: 0 5px;
								min-width: 20px;
								margin-top: 0.5rem;
								height: 0.8rem;
								width: 3rem;
								padding: 7px;
							}
						}

						// column button indexation
						>.column.button_indexation {
							// background-color: #4ff46d;
							// padding: 0.75rem;
							width: 3.5rem;
						}

						// column button_transcription
						>.column.button_transcription {
							// background-color: #4bf2c8;
							// padding: 0.75rem;
							width: 3.5rem;
						}

						// column button_av_player
						>.column.button_av_player {
							// background-color: #35c4f0;
							// padding: 0.75rem;
							width: 3.5rem;
						}

						// column text_fragment
						>.column.text_fragment {
							// background-color: #eed9c5;
							width: auto;

							>.text_fragment {
								// padding-top: 0.3rem;
								padding-bottom: 0.3rem;
								max-height: 1.5rem;
								overflow: hidden;
								cursor: s-resize;

								&.full {
									max-height: unset;
									cursor: n-resize;
								}
							}
						}

						// column tc_in
						>.column.tc_in {
							// background-color: #c8edd5;
						}

						// column tc_out
						>.column.tc_out {
							// background-color: #c8edd5;
						}

						// column duration_tc
						>.column.duration_tc {
							// background-color: #c8edd5;
						}

						// column button_download_av
						>.column.button_download_av {
							// background-color: #f5b0d2;

							&.watermark {
								.icon {
									background-color: @color_green_success;
								}
							}
						}
					}
				}
			}
		}



		// label
		label {
			// background-color: #343434;
			width: 100%;
			display: block;
			font-size: 0.95rem;
			padding: 0.5em;
		}

		// value (text values)
		span {
			// background-color: #e6e6e6;
			color: #000000;
			padding: 0.5em;
			display: inline-block;
			width: 100%;
			font-size: 0.94em;
			line-height: 1em;
		}

		// img
		img {
			background-color: #e6e6e6;
			object-fit: cover;
			object-position: center;
			width: 100%;
			height: 5em;
			padding: 0px;
			margin: 0px;
		}

		// button
		img.button {
			background-color: #e6e6e6;
			display: inline-block;
			object-fit: contain;
			object-position: center;
			height: 100%;
			padding: 0px;
			margin: 0px;
		}
	}//end view_indexation
