/**
* component_portal
* (and similar)
*
* Included from main.less file
*/
.component_portal, .portal {

	// paginator target container
	>.paginator_container {
		position: absolute;
		right: 0px;
		top: 0px;
		width: auto;
		padding-right: 0.5rem;
	}

	// content_data
	>.content_data {
		min-height: var(--content_data_min_height);
		// flex-wrap: wrap !important;
		// overflow-x: auto;

		ul {
			// background-color: #55f550;
			flex: 0 0 100%;

			.search& {
				flex: 1 1 auto;
			}

			>li {
				display: flex;
				align-items: center;
			}
		}

		// ul
		.references {
			// background-color: #83e1ee;
			margin-top: 0.75em;
			margin-left: 1rem;

			>* {
				width: 100%;
			}

			>div {
				margin-bottom: 0.5em;
				opacity: 0.55;
			}

			>li {
				padding-left: 2em;
				line-height: 1.25rem;
			}
		}
	}//end content_data

	// service autocomplete
	// hide when component it's not active
	&:not(.active) {
		>.autocomplete_search_wrapper {
			display: none;
		}
	}

	// drag selectors
		.drag.icon {
			// @see list.less for generic style
			// display: flex;
			// width: 100%;
			margin: 0px;
			padding: 0.5em;
			background-image: url('../../themes/default/icons/move.svg');
			background-position: center; // right 0.36rem top 0px;
			background-repeat: no-repeat;
			background-size: 22px 22px;
			height: auto;
			min-height: 2rem;
			min-width: 2rem;
			opacity: 0.1;
			// width: 1.5rem;
			cursor: move;
			z-index: 2;

			position: absolute;
			top: 0;
			left: -2.2rem;
			width: 2.2rem;
			height: 2.5rem;
			opacity: 1;
			background-color: #f6f6f6;
			display: block;
			z-index: 2;
			border-top-left-radius: 0.33rem;
			border-bottom-left-radius: 0.33rem;

			&:hover {
				background-color: @color_orange_dedalo;
			}

			&.dragging {
				// position: relative;
				 background-color: #d9f720;
				// height: auto;
				cursor: move;
				border-radius: 0.33rem;
			}


			&:hover {
				// opacity: 0.3;
			}

			// &.dragging {
				// background-position: left;
			// }
		}

		.drop {
			z-index: 1;
			display: block;
			position: absolute;
			left: 0px;

			&.dragover {
				background-color: #ffffff8c;
				border-top: 2px dotted #ff8a00;
				width: 100%;
			}
		}

		.drag_section_id {
			// position: absolute;
			// height: 25px;
			width: 100%;
			text-align: left;
			color: black;
			font-size: 1.3em;
			padding-left: 2px;
			// margin-left: 1.2em;
		}

		.draggable {
			&.dragover {
				background-color: #ffffff;
				border-top: 2px dotted #ff8a00;
				opacity: 0.5;
			}
		}

	&.search {
		.section_record.list {
			display: flex;
			align-items: center;
			white-space: pre-wrap;
		}

		&.active {
			.tooltip {
				top: calc(100% + 4rem);
				z-index: 0;
			}
		}

	}
}//end &.component_portal, &.portal



.button_sort_order {
	margin-top: 1em;
}
.sort_order {
	text-align: center;
}


// includes
@import (once) './view_default_portal';
@import (once) './view_mosaic_portal';
@import (once) './view_line_portal';
@import (once) './view_tree_portal';
@import (once) './view_indexation_portal';
@import (once) './view_mini_portal';
@import (once) './view_content_portal';
@import (once) './view_text_portal';
