/**
* component_portal
* (and similar)
*
* Included from main.less file
*/
.component_portal, .portal {

	// paginator target container
	>.paginator_container {
		position: absolute;
		right: 0px;
		top: 0px;
		width: auto;
		padding-right: 0.5rem;
	}

	// content_data
	>.content_data {
		min-height: var(--content_data_min_height);

		ul {
			flex: 0 0 100%;

			.search& {
				flex: 1 1 auto;
			}

			>li {
				display: flex;
				align-items: center;
			}
		}

		// ul
		.references {
			margin-top: 0.75em;
			margin-left: 1rem;

			>* {
				width: 100%;
			}

			>div {
				margin-bottom: 0.5em;
				opacity: 0.55;
			}

			>li {
				padding-left: 2em;
				line-height: 1.25rem;
			}
		}
	}//end content_data

	// service autocomplete
	// hide when component it's not active
	&:not(.active) {
		>.autocomplete_search_wrapper {
			display: none;
		}
	}

	// drag selectors
		.drag.icon {
			// @see list.less for generic style
			margin: 0px;
			padding: 0.5em;
			background-image: url('../../themes/default/icons/move.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: 22px 22px;
			height: auto;
			min-height: 2rem;
			min-width: 2rem;
			opacity: 0.1;
			cursor: move;
			z-index: 2;

			position: absolute;
			top: 0;
			left: -2.2rem;
			width: 2.2rem;
			height: 2.5rem;
			opacity: 1;
			background-color: @color_grey_mediumlight;
			display: block;
			z-index: 2;
			border-top-left-radius: 0.33rem;
			border-bottom-left-radius: 0.33rem;

			&:hover {
				background-color: @color_orange_dedalo;
			}

			&.dragging {
				 background-color: #d9f720;
				cursor: move;
				border-radius: 0.33rem;
			}
		}

		&.dragover {
			background-color: #ffffff;
			outline: 4px dotted @color_orange_dedalo;
			z-index: 3;
			opacity: 0.5;
		}

		.drop {
			z-index: 1;
			display: block;
			position: absolute;
			left: 0px;

			&.dragover {
				background-color: #ffffff8c;
				outline: 4px dotted @color_orange_dedalo;
				z-index: 3;
				width: 100%;
			}
		}

		.drag_section_id {
			width: 100%;
			text-align: left;
			color: black;
			font-size: 1.3em;
			padding-left: 2px;
		}

		.draggable {
			&.dragover {
				background-color: #ffffff;
				outline: 4px dotted @color_orange_dedalo !important;
				z-index: 3;
				opacity: 0.5;
			}
		}

	&.search {

		// removed tooltip re-position because service_autocomplete is moved up
			// &.active {
			// 	.tooltip {
			// 		top: calc(100% + 4rem);
			// 		z-index: 0;
			// 	}
			// }

		.content_data {
			min-height: 3.15rem;

			.section_record {
				width: calc(100% - 50px);
			}
		}

		.input_value {
			width: calc(100% - 4rem);
			// background image search lens
			background: #fff url(../../themes/default/icons/search.svg);
			background-position: bottom 6px right 8px;
			background-repeat: no-repeat;
			background-size: auto 60%;

			&.input_disable {
				@duration : 0.2s;
				visibility: hidden;
				opacity: 0;
				transition: visibility 0s @duration, opacity @duration linear;
			}
		}

		.section_record.list {
			display: flex;
			align-items: center;
			white-space: pre-wrap;
		}
	}

}//end &.component_portal, &.portal

// includes
@import (once) './view_default_portal';
@import (once) './view_mosaic_portal';
@import (once) './view_line_portal';
@import (once) './view_tree_portal';
@import (once) './view_indexation_portal';
@import (once) './view_mini_portal';
@import (once) './view_content_portal';
@import (once) './view_text_portal';
