/**
* view_tree_portal
*
* Included from component_portal.less file
*/
.component_portal.view_tree, .portal.view_tree {

	// edit
	&.edit {
		display: grid;
		justify-content: start;
		align-items: start;

		>.content_data {
			display: grid;
			grid-template-columns: 1fr auto;
		}

	}//end &.edit

	&.search {

	}//end .search

}//end .component_portal.view_tree, .portal.view_tree
