/**
* view_content_portal
*
* Included from component_portal.less file
*/
.component_portal.view_content, .portal.view_content {
	// background-color: #d97450;

	&.edit {

		>.list_body {
			display: grid;
			grid-template-rows: 1.8rem auto;
			min-height: var(--content_data_min_height);
			// grid-template-rows: 2rem;
			position: relative;
			padding: unset;
		}//end >.list_bod
	}

	&.list {
		>.list_body {

			// display: flex;
			// height: auto;
		}
	}
}//end .component_portal.view_content, .portal.view_content
