/**
* view_default_portal
*
* Included from component_portal.less file
*/
.component_portal.view_default, .portal.view_default {

	&.edit {

		>.list_body {
			position: relative;
			display: grid;
			grid-template-rows: 1.65rem auto;
			height: fit-content;
			min-height: var(--content_data_min_height);

			.column_section_id {
				padding: unset;
			}

			.button_edit {
				position: relative;
				// margin-left: 0.5rem;
			}

			// portal inside, in view_text
			.component_portal {
				.section_record.view_text {
					.button_edit {
						margin-left: 0px;
					}
				}
			}
		}//end >.list_bod
	}

	&.list {
		>.list_body {
			// display: flex;
			// height: auto;
		}
	}

}//end .component_portal.view_default, .portal.view_default
