/**
* view_indexation_portal
*
* Included from component_portal.less file
*/
.component_portal.view_indexation, .portal.view_indexation {

	>.content_data {
		display: flex;
		overflow: auto;

		.section_record.list {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			border-bottom: 1px solid #eeeeee;
			width: 100%;
			margin: 0px;
			margin-bottom: 1px;
			overflow: hidden;

			&:hover {
				background-color: @color_grey_ultralight;
			}

			>.column {
				display: flex;
				flex: 0 0 auto;
				outline: none;
				width: auto;
				align-items: center;
				box-shadow: none;
				padding-top: 0px;
				padding-bottom: 2px;
				padding-right: 0px;
				padding-left: 0px;

				&::empty {
					padding: 0px;
					width: 0px;
				}

				&.column_remove, &.column_section_id {
					background-color: unset;

					>.icon {
						height: 1.25rem;
					}
				}

				&.column_section_id {
					padding-right: 0.25rem;
					padding-top: 0.15rem;
				}

				&.column_info {
					color: #8c8c8c;
					text-align: right;
					flex: 2 1 auto;
					display: block;
					padding-right: 0px;

					.button_remove {
						padding-left: 0px;
						padding-right: 0px;
						margin-right: 0px;
						vertical-align: middle;
						margin-right: 0px;

						>.icon {
							margin-right: 0px;
						}
					}
				}

				>button {
					padding: 0px;
					width: 1.25rem;
					height: 1.25rem;
					border-radius: 2px;
					justify-content: center;

					&.edit_button {

						>.icon {
							margin-right: 1px;
						}
					}

					&.button_remove {
						>.icon {

						}
					}
				}

				&.column_tag {
					padding: 1px;

					>.tags {
						margin-left: 0.25rem;
						margin-right: 0px;

						.fn_build_tag_indexation(
							@color_tag_indexation_normal,
							white
						);
					}
				}

				>.no_tag {
					background-color: #4065ce;
					color: white;
					margin-left: 0.25rem;
					border-radius: 3px;
					padding: 0.25rem;
					line-height: 0.96rem;
					font-size: 0.8rem;
					padding-top: 0.1rem;
					padding-bottom: 0.1rem;
					cursor: pointer;

					&:active {
						opacity: 0.5;
					}
				}
			}
		}

		.list_footer {
			width: 100%;
			padding: 0.5rem;
			padding-right: 0px;
			padding-top: 0.75rem;

			>.button_remove_filter {
				float: right;
			}
		}
	}//end >.content_data

}//end .component_portal.view_indexation, .portal.view_indexation
