/**
* view_mini_portal
*
* (!) suffix '_mini' as 'component_portal_mini'
*
* Included from component_portal.less file
*/
.component_portal_mini, .portal_mini {
	// background-color: #13c0cf;

	.section_record {
		// display: flex;
		// flex-wrap: wrap;
	}

	.column {
		outline: none;
		padding-right: 0.33rem;
	}

}//end .component_portal.view_mini, .portal.view_mini
