/**
* view_indexation_portal
*
* Included from component_portal.less file
*/
.component_portal.view_indexation, .portal.view_indexation {
	// background-color: #13c0cf;

	>.content_data {
		// background-color: #ffeccd !important;

		// grid model
		// display: grid;
		// grid-column-gap: 1rem;
		// grid-template-columns: 1fr 1fr;

		// flex model
		display: flex;
		overflow: auto;

		.section_record.list {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			border-bottom: 1px solid #eeeeee;
			width: 100%;
			margin: 0px;
			margin-bottom: 1px;
			overflow: hidden;
			// @media screen and (max-width: @width_break_point_1) {
			// 	flex-wrap: wrap;
			// }

			&:hover {
				background-color: @color_grey_untralight;
			}

			>.column {
				display: flex;
				flex: 0 0 auto;
				outline: none;
				width: auto;
				align-items: center;
				box-shadow: none;
				// display: contents;
				padding-top: 0px;
				padding-bottom: 2px;

				&.column_remove, &.column_section_id {
					background-color: unset;
					// padding-right: 0.25rem;
					>.icon {
						height: 1.25rem;
					}
				}

				&.column_section_id {
					padding-right: 0.25rem;
				}

				&.column_info {
					color: #8c8c8c;
					text-align: right;
					flex: 2 1 auto;
					display: block;

					.button_remove {
						padding-left: 0px;
						padding-right: 0px;
						margin-right: 0px;
						vertical-align: middle;
					}
				}

				>button {
					padding: 0px;
					width: 1.25rem;
					height: 1.25rem;
					border-radius: 2px;
					justify-content: center;

					&.edit_button {
						>.icon {
							// height: 1.25rem;
							margin-right: 1px;
						}
					}

					&.button_remove {
						>.icon {
							// height: 1.25rem;
						}
					}
				}

				&.column_tag {
					padding: 1px;

					>.tags {
						// padding-left: 0.5rem;
						// padding-right: 0.75rem;
						// opacity: 0.6;
						// background-color: @color_orange_dedalo;

						/*
						background-image: radial-gradient(30% 50% ellipse at 109% 50%, #ffffff 22px, transparent 10px, #ffab01 23px);
						color: #ffffff;
						border-top-left-radius: 5px;
						border-bottom-left-radius: 5px;
						// padding: 1px;
						padding-left: 5px;
						padding-right: 23px;
						font-size: 80%;
						text-align: cen

						ter;
						*/
						.fn_build_tag_indexation(
							@color_tag_indexation_normal,
							white
						);
						// padding: 0px;
						// padding-left: 5px;
						// padding-right: 5px;
					}
				}
			}
		}

		.list_footer {
			width: 100%;
			padding: 0.5rem;
			padding-right: 0px;
			padding-top: 0.75rem;

			>.button_remove_filter {
				float: right;
			}
		}
	}//end >.content_data



}//end .component_portal.view_indexation, .portal.view_indexation
