/**
* widget calculation
*
* Included from main.less file
*/


/*CSS Document
WRAP DIV CONTAINER*/
.css_wrap_calculation, .css_wrap_calculation_tm {
	padding: 0px;
	padding: 5px;
	position: relative;
}
.css_wrap_calculation_tm .content_data {
}
/*INPUT*/
input.css_calculation {
	width: 25%;
	}


/*LANG*/
.css_lang_image_delete {
	background-image: url('../../themes/default/button_drop.png');
	background-position: center 1px;
	margin-left: 4px;
	opacity: 0.6;
}
.css_lang_image_delete:hover {
	opacity: 1;
}
/*SEARCH*/
.css_calculation_lupa_bg {
	background-image: url('../../themes/default/lupa2.gif');
	background-repeat: no-repeat;
	background-position: 0 1px;
}

/* PRINT
------------------------------------------------------- */
/*
.component_input_text_print_label {
	padding: 3px;
	padding-left: 5px;
	width: 99.5%;
}
.component_input_text_print_content {
	padding: 3px;
	padding-left: 5px;
	width: 99.5%;
}
*/
