/**
* environment
*
* Included from area_maintenance.less file.
* page_globals dump rendered as a console block.
*/
.wrapper_widget.environment {

	.list_page_globals {
		.dd_console();
		margin-top: 0.5rem;
		max-height: 30rem;
		overflow: auto;
	}
}//end environment
