/**
* component_json
*
* Included from main.less file
*/
.component_json {
	// background-color: #76fcc1 !important;
	// z-index: 1;

	// shared button save
	// button save
	.button_save {
		// display: none; // init hidden
		position: absolute;
		right: 0px;
		top: 1px;
		z-index: 1;
		height: 35px;
		margin: 0;
		background-color: #949494;
		border: none;

		// &:before {
		// 	background-color: #2e6cd0;
		// }
		// padding-left: 1.7em;
		// padding-right: 1.7em;
		// background-color: #b7d2fd;
		// border: 1px solid #3883fa;
		// color: #3883fa;
		// line-height: 28px;
		// border-radius: 3px;
		// cursor: pointer;
		// &:active {
		// 	background-color: #8FA3C4;
		// 	color: #ffffff;
		// }

		// &.warning {
		// 	display: flex;
		// 	background-color: #e8e0e1;
		// 	border: 1px solid darken(@color_danger, 5%);
		// 	color: @color_danger;

		// 	&:before {
		// 		background-color: @color_danger !important;
		// 	}
		// }
	}//end .button_save

	&.view_default {
		>.content_data {
			// background-color: #70c6f8;

			&.edit {
				min-height: @media_min_height;
			}

			>.content_value {
				// align-items: initial;
				height: 100%;
				width: 100%;
				position: relative;
				z-index: 0;

				>.button_save {

				}

				>.jsoneditor {
					// height: 100%;
					// height: inherit;
					// height: calc(100% - @component_label_height);
				}
			}
		}

		&.list {

		}
	}//end .view_default

	&.view_collapse {
		cursor: ns-resize;
		line-height: 1.1rem;

		&:hover {
			background-color: #faf7df;
		}

		&.collapsed {
			height: 2.5rem;
			overflow: hidden;
		}
	}

	&.search {
		>.content_data {

			// input q_operator
			>.q_operator {
				width: 3rem;
				text-align: center;
				margin-right: 0.5rem;
			}

			>.content_value {
				width: calc(100% - 3.5rem);

				// search input value
				>.input_value {
					width: 100%;
				}
			}

		}
	}//end &.search
}//end .component_json
