/**
* TOOL_UPDATE_CACHE
*
* Loaded on tool init
*/

// imports
@import (once) '../../../core/page/css/layout/vars';

// local vars
@tool_color: #62866a;

// tool wrapper
// Encapsulate all tool content to prevent core collisions
	.wrapper_tool.tool_update_cache {

		>.content_data {
			position: relative;

			.spinner {
				border-top-color: @tool_color;
			}

			.section_info {
				display: flex;
				justify-content: space-between;

				.section_name {
					font-size: 1.5rem;
					padding: 1rem;
				}
				.section_tipo {
					font-size: 1.5rem;
					padding: 1rem;
					color: #959595;
					font-weight: 200;
				}
			}

			.components_list_container {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr;
				column-gap: 1rem;
				padding: 1rem;
				width: 100%;
				border: 0px;

				@media screen and (max-width: @width_break_point_1) {
					display: block;
				}

				>label {
					display: block;
					padding: 0.25rem;
					width: 100%;


					span {
						color: #989898;
						font-weight: 200;
						font-size: 0.8rem;
						display: block;
						padding-left: 1.1rem;
					}
				}

				input {
					margin-right: 0.33rem;
					vertical-align: bottom;
				}
			}

			.buttons_container {
				display: flex;
				padding: 1rem;
				position: relative;

				.button_apply {
					background-color: @tool_color;
					padding-left: 1.5rem;
					padding-right: 1.5rem;
				}

				.response_message {
					padding: 0.5rem;
					padding-left: 2rem;

					.msg_detail {
						margin-left: 1rem;
						font-weight: 500;
					}
				}
			}

			.spinner {
				position: absolute;
				top: calc(50% - 1rem);
				left: calc(50% - 3.2rem);
			}
		}//end content_data
	}//end wrapper_tool



// modal header tool modification
	.tool_header.tool_update_cache {
		background-color: @tool_color;
	}
