/**
* component_radio_button
*
* Included from main.less file
*/
.component_radio_button {

	&.edit {
		>.content_data {

			>.inputs_container {
				// flex-wrap: nowrap;
				align-items: flex-start;
				justify-content: space-between;

				>li {
					flex: 1 0 auto;

					>label {
						// width: 100%;
						padding-top: 0.33rem;
						padding-bottom: 0.33rem;
						padding-right: 0.5rem;
					}

					>.show_on_active {
						// margin-left: 0.5rem;
					}
				}

				// ul.inputs_container {
				// 	// auto-create columns with min width of 8em
				// 	display: grid;
				// 	// grid-template-columns: repeat( auto-fit, minmax(8em, 1fr) );
				// 	grid-template-columns: repeat( auto-fit, minmax(8em, auto) );
				// }
			}
		}
	}//end .edit
}
