/**
* component_radio_button
*
* Included from main.less file
*/
.component_radio_button {

	// shared
	&.edit {
		>.content_data {

			>.content_value {
				display: inline-block;
				margin-right: 0.25rem;
				width: auto;

				&:last-of-type {
					margin-right: 0px;
				}

				// label wraps the input too
				>.label {
					display: flex;
					padding-top: 0.33rem;
					padding-bottom: 0.33rem;
					padding-right: 0.5rem;
					cursor: pointer;

					&.checked {
						font-weight: 500;
					}

					>input {
						margin-right: 0.25rem;
						cursor: pointer;
					}
				}

				>.show_on_active {

				}
			}
		}

	}//end .edit


	&.view_default {

	}//end view_default


	&.view_line {

		>.content_data {
			display: contents;

			>.content_value {
				margin-left: 0.25rem;
			}
		}
	}//end view_line


	&.view_rating:not(.search){
		>.content_data {
			padding-bottom: 0.5em;

			>.content_value {
				mask-image: url('../../themes/default/icons/star_filled.svg');
				-webkit-mask-image: url('../../themes/default/icons/star_filled.svg');
				-webkit-mask-size: contain;
				mask-size: contain;
				-webkit-mask-repeat: no-repeat;
				mask-repeat: no-repeat;
				-webkit-mask-position: center;
				mask-position: center;
				background-image: none;
				background-color: #cccccc;
				width: 1.5rem;
				height: 1.5rem;

				&.rated {
					background-color: #ffa922;
				}
				input[type="radio"] {
					opacity: 0;
					width: 1.5rem;
					height: 1.5rem;
					cursor: pointer;
				}
			}
		}
	}//end view_line

	&.search {
		>.content_data {

			>.q_operator {
				width: 3rem;
				margin-right: 0.5rem;
				text-align: center;
			}

			>.content_value {
				display: inline-block;
				margin-right: 0.5rem;
				margin-top: 0.5rem;
				margin-bottom: 0.25rem;
				width: auto;


				// label wraps the input too
				>.label {
					display: flex;
					padding-top: 0.33rem;
					padding-bottom: 0.33rem;
					padding-right: 0.5rem;
					cursor: pointer;

					>input {
						margin-right: 0.25rem;
						cursor: pointer;
					}
				}
			}
		}
	}//end .search

}//end .component_radio_button
