/**
* component_radio_button
*
* Included from main.less file
*/
.component_radio_button {

	// shared
	&.edit {
		>.content_data {
			// flex-wrap: nowrap;
			// align-items: flex-start;
			// justify-content: space-between;
			// display: block;

			>.content_value {
				// flex: 1 0 auto;
				display: inline-block;
				margin-right: 0.5rem;
				// margin-top: 0.5rem;
				// margin-bottom: 0.25rem;
				width: auto;

				// label wraps the input too
				>.label {
					// width: 100%;
					padding-top: 0.33rem;
					padding-bottom: 0.33rem;
					padding-right: 0.5rem;

					display: flex;
					cursor: pointer;

					&.checked {
						font-weight: 500;
					}

					>input {
						margin-right: 0.25rem;
						cursor: pointer;
					}
				}

				>.show_on_active {
					// margin-left: 0.5rem;
				}
			}
		}
	}//end .edit


	&.view_default {

	}//end view_default


	&.view_line {
		// display: block;

		>.content_data {
			display: contents;

			>.content_value {
				margin-left: 0.25rem;
			}
		}
	}//end view_line


	&.view_rating {
		// display: block;

		>.content_data {
			padding-bottom: 0.5em;

			>.content_value {
				display: inline-block;
				margin-right: 0.5rem;
				width: auto;
				background-image: url('../../themes/default/icons/star_empty.svg');
				background-repeat: no-repeat;
				width: 1.5rem;
				height: 1.5rem;

				&.rated {
					mask-image: url('../../themes/default/icons/star_filled.svg');
					-webkit-mask-image: url('../../themes/default/icons/star_filled.svg');
					-webkit-mask-size: contain;
					mask-size: contain;
					-webkit-mask-repeat: no-repeat;
					mask-repeat: no-repeat;
					-webkit-mask-position: center;
					mask-position: center;
					background-image: none;
					background-color: #ffa922;
					width: 1.5rem;
					height: 1.5rem;

				}
				input[type="radio"] {
					opacity: 0;
					width: 1.5rem;
					height: 1.5rem;
					cursor: pointer;

					&:active {
						opacity: 0.4;
					}
				}
			}
		}
	}//end view_line


	&.search {
		>.content_data {

			>.q_operator {
				width: 3rem;
				margin-right: 0.5rem;
				text-align: center;
			}

			>.content_value {
				display: inline-block;
				margin-right: 0.5rem;
				margin-top: 0.5rem;
				margin-bottom: 0.25rem;
				width: auto;


				// label wraps the input too
				>.label {
					// width: 100%;
					padding-top: 0.33rem;
					padding-bottom: 0.33rem;
					padding-right: 0.5rem;

					display: flex;
					cursor: pointer;

					>input {
						margin-right: 0.25rem;
						cursor: pointer;
					}
				}
			}
		}
	}//end .search
}//end .component_radio_button
