/**
* component_radio_button
*
* Included from main.less file
*/
.component_radio_button {

	&.edit {
		>.content_data {

			>.inputs_container {

				>li {
					align-items: center;
					display: flex;
					padding-bottom: 0.25rem;

					.show_on_active {
						margin-left: 0.5rem;
					}
				}

				// ul.inputs_container {
				// 	// auto-create columns with min width of 8em
				// 	display: grid;
				// 	// grid-template-columns: repeat( auto-fit, minmax(8em, 1fr) );
				// 	grid-template-columns: repeat( auto-fit, minmax(8em, auto) );
				// }
			}
		}
	}//end .edit
}
