/**
* component_section_id
*
* Included from main.less file
*/
.component_section_id {

	&.edit {
		box-shadow: none;
		background-color: @color_grey_dark;
		color: white;
		border-bottom-right-radius: 1rem;
		max-height: 5.5rem;
		// display: flex;
		// flex: 0 0 20%;
		// flex-direction: row-reverse;

		&.active {
			// background-color: @color_grey_dark !important;
			// color: white;
		}

		>.label {
			color: #ffffff;
		}

		>.content_data {
			flex: 0 0 3em;

			>.section_id {
				font-weight: bold;
				font-size: larger;
				letter-spacing: 0.05em;
				color: #ffffff;
				width: 100%;
				text-align: center;
			}
		}
	}//end .edit


	&.search {
		// background-color: initial !important;
		color: initial;
		flex-grow: initial !important;

		>.label {
			flex: initial;
			color: @color_grey_dark;
		}
		>.content_data {
			flex: auto;
		}
	}//end search

	&.view_line {
		display: block;
	}

}//end .component_section_id
