/**
* component_section_id
*
* Included from main.less file
*/
.component_section_id {

	&.edit {
		box-shadow: none;
		background-color: @color_grey_dark;
		color: @color_white;
		border-bottom-right-radius: 1rem;
		max-height: 5.5rem;

		&.active {

		}

		>.label {
			color: @color_white;
		}

		>.content_data {
			flex: 0 0 3em;

			>.section_id {
				font-weight: bold;
				font-size: larger;
				letter-spacing: 0.05em;
				color: @color_white;
				width: 100%;
				text-align: center;
			}
		}

	}//end .edit

	&.search {
		color: initial;
		flex-grow: initial !important;

		>.label {
			flex: initial;
			color: @color_grey_dark;
		}

		>.content_data {
			flex: auto;
		}

	}//end search

	&.view_line {
		display: block;
	}

}//end .component_section_id
