/**
* TOOL_IMPORT_ZOTERO
*
* Loaded on tool init
*/
:root {
  --tool_import_zotero: #cc2936;
  --tool_import_zotero_border: #bf2633;
}
.wrapper_tool.tool_import_zotero .spinner {
  background-color: var(--tool_import_zotero);
}
.wrapper_tool.tool_import_zotero > .content_data {
  position: relative;
}
.wrapper_tool.tool_import_zotero > .content_data input[type='checkbox'] {
  margin-left: 0.5rem;
  vertical-align: middle;
  transform: scale(1.2);
}
.wrapper_tool.tool_import_zotero > .content_data > .component.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.wrapper_tool.tool_import_zotero > .content_data > .component.options .switcher {
  cursor: pointer;
  display: inline-block;
  -webkit-tap-highlight-color: transparent;
  flex: 0 0 40px !important;
  padding: 0.25rem;
}
.wrapper_tool.tool_import_zotero > .content_data > .component.options .switcher > i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 40px;
  height: 20px;
  background-color: var(--color_grey_13);
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
}
.wrapper_tool.tool_import_zotero > .content_data > .component.options .switcher > i:before {
  content: '';
  left: 0px;
  position: absolute;
  width: 37px;
  height: 16px;
  background-color: var(--color_grey_13);
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}
.wrapper_tool.tool_import_zotero > .content_data > .component.options .switcher > i:after {
  content: '';
  left: 0px;
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: var(--color_white);
  border-radius: 11px;
  box-shadow: 0px 2px 2px var(--color_grey_16);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
.wrapper_tool.tool_import_zotero > .content_data > .component.options .switcher:active i::after {
  transform: translate3d(2px, 2px, 0);
  width: 28px;
}
.wrapper_tool.tool_import_zotero > .content_data > .component.options .switcher:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}
.wrapper_tool.tool_import_zotero > .content_data > .component.options .switcher input {
  display: none;
}
.wrapper_tool.tool_import_zotero > .content_data > .component.options .switcher input:checked + i {
  background-color: var(--color_green_success);
}
.wrapper_tool.tool_import_zotero > .content_data > .component.options .switcher input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.wrapper_tool.tool_import_zotero > .content_data > .component.options .switcher input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}
.wrapper_tool.tool_import_zotero > .content_data > .tool_configuration_options .checkbox-label {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.wrapper_tool.tool_import_zotero > .content_data > .tool_configuration_options .name_control {
  margin-bottom: 1px;
  height: 1.5rem;
  display: flex;
  align-items: center;
}
.wrapper_tool.tool_import_zotero > .content_data > .template_container {
  outline: 1px solid var(--color_grey_13);
  padding: 0.25rem;
  padding-left: 0.25rem;
  padding-bottom: 0.25rem;
  margin-top: 1em;
  border-radius: 1em;
}
.wrapper_tool.tool_import_zotero > .content_data > .template_container > .row {
  display: flex;
  margin: 1rem;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.wrapper_tool.tool_import_zotero > .content_data > .template_container > .table {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.wrapper_tool.tool_import_zotero > .content_data > .inputs_container {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.wrapper_tool.tool_import_zotero > .content_data > .inputs_container .inputs_container_caption {
  display: inline-block;
  background-color: var(--color_grey_13);
  width: auto;
  padding: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top-left-radius: 0.33rem;
  border-top-right-radius: 0.33rem;
  margin-left: -1px;
}
.wrapper_tool.tool_import_zotero > .content_data > .buttons_bottom_container {
  display: flex;
  justify-content: center;
}
.wrapper_tool.tool_import_zotero > .content_data > .buttons_bottom_container > .processing_import {
  margin: 2rem;
  padding-left: 1.5em;
  padding-right: 1.5em;
  background-color: var(--tool_import_zotero);
  border-color: var(--tool_import_zotero_border);
}
.wrapper_tool.tool_import_zotero .msg_container {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 4em;
  transform: translate(-50%, -50%);
}
.tool_header.tool_import_zotero {
  background-color: var(--tool_import_zotero);
}
/*# sourceMappingURL=tool_import_zotero.css.map */