


// select style
	.select_style {
		width: fit-content;
		height: 2em;
		font-size: 0.80em;
	}



// components_container
	.components_container {
		display: grid;
	    grid-template-columns: 1fr 1fr;
	    grid-gap: 1em;
	    //background-color: #D6F737;

	    >select {
			.select_style;
	    }

	    >div {

	    }
	}



// buttons_container
	.buttons_container {
		padding-top: 1em;
		padding-bottom: 1em;
	}

