/**
* component_input_text
*
* Included from main.less file
*/
.component_input_text {

	&.edit {

		>.content_data {

			>.content_value {
				position: relative;
				width: 100%;

				// input
				.input_value {
					position: relative; // solve focus overlapping issues
					text-overflow: ellipsis;

					&:focus {
						padding-right: 2rem;
					}
				}

				// button over each text input (right)
				.button.remove {
					position: absolute;
					right: 0.5em;
					top: 0.5em;
					z-index: 1;
				}

			}
		}
	}//end .edit
}//end .component_input_text


@import (once) './view_default_input_text';
@import (once) './view_mini_input_text';