/**
* component_input_text
*
* Included from main.less file
*/
.component_input_text {

	&.edit {

		>.content_data {

			>.content_value {
				position: relative;
				width: 100%;
				min-height: 1rem;

				// input
				.input_value {
					position: relative; // solve focus overlapping issues
					text-overflow: ellipsis;

					&:focus {
						padding-right: 2rem;
					}
				}

				// button over each text input (right)
				.button.remove {
					position: absolute;
					right: 0.5em;
					top: 0.5em;
					z-index: 1;
				}


				.transliterate_value {
					padding-top: 0.5rem;
					padding-left: 0.5rem;
					color: @color_orange_dedalo;
					opacity: 0.65;
					// font-style: oblique;
				}

			}
		}
	}//end .edit

	&.view_ip {

		.link {
			text-decoration: none;
			color: @color_orange_dedalo;
			margin-left: 0.25rem;
			font-size: 1.1rem;
		}

	}


}//end .component_input_text


@import (once) './view_default_input_text';
@import (once) './view_mini_input_text';
@import (once) './view_line_input_text';
@import (once) './view_colorpicker_input_text';

