/**
* component_input_text
*
* Included from main.less file
*/
.component_input_text {
	// background-color: #42ebeb;

	&.edit, &.edit_in_list {

		>.content_data {

			>.content_value {
				position: relative;
				width: 100%;

				// button over each text input (right)
				.button.remove {
					position: absolute;
					right: 0.25em;
					top: 0.5em;
					z-index: 1;
				}

			}

		}
	}
}//end .component_input_text
