/**
* view_colorpicker_input_text
*
* (!) with suffix _mini like 'view_colorpicker_input_text'
*
* Included from component_input_text.less file
*/
.component_input_text.view_colorpicker {


	>.content_data {

		>.content_value {
			display: flex;
			align-items: center;
			flex-wrap: nowrap;

			>.input_value{
				// width: 70%;
				&:focus {
					padding-right: 0;
				}
			}

			.color_read{
				width: 3rem;
				height: 1.5rem;
				border-top-left-radius		: 0.7rem;
				border-bottom-left-radius	: 0.7rem;
				margin-right: 0.5rem;
			}
			// background-color: #6dd36c;
			.color_picker{
				width				: 3rem;
				height				: 2.5rem;
				appearance			: none;
				border				: none;
				background-color	: transparent;
				padding				: 0;
				margin				: 0;
				cursor				: pointer;
				&::-webkit-color-swatch {
					border: none;
					// border-radius: 15px;
					border-top-left-radius		: 0.7rem;
					border-bottom-left-radius	: 0.7rem;

				};
				&::-moz-color-swatch{
					border: none;
					// border-radius: 15px;
					border-top-left-radius		: 1rem;
					border-bottom-left-radius	: 1rem;
				};
			}

		}
	}

}//end .view_colorpicker_input_text
