/**
* component_number
*
* Included from main.less file
*/
.component_number {

	&.view_default {

		>.content_data {

			>.content_value {
				position: relative;
				width: 100%;

				>.input_value {
					padding-right: 1.5rem;
				}

				// button over each text input (right)
				>.button.remove {
					position: absolute;
					right: 0.5em;
					top: 0.5em;
					z-index: 1;
				}
			}
		}
	}//end view_default

	&.view_line {
		position: relative;
		display: block;

		>.content_data {
			display: contents;

			>.content_value {
				// background-color:#2233aa;

				/* Chrome, Safari, Edge, Opera */
				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
				/* Firefox */
				input[type=number] {
					 -moz-appearance: textfield;
					  // -webkit-appearance: textfield;
					  // appearance: textfield;
				}
				>.input_value {
					margin: 0px;
					height: auto;
					padding: 0.27rem;
					padding-top: 0.25rem;
					padding-left: 0.3rem;
				}
			}

		}
	}


}//end .component_number
