/**
* component_number
*
* Included from main.less file
*/
.component_number {

	&.view_default {

		>.content_data {

			>.content_value {
				position: relative;
				width: 100%;
				min-height: 1rem;
				margin-bottom: 1px;

				>.input_value {
					width: 100%;
					margin: 0px;
					position: relative; // solve focus overlapping issues
					text-overflow: ellipsis;
					padding-right: 0.5rem;
					&:focus {
						z-index: 1;
					}
				}
				// not first input value
				&:not(:first-of-type) {
					>.input_value:focus {
						transition: none;
						width: calc(100% - 2rem); // leave space for delete icon
					}
				}

				// button over each text input (right)
				>.button.remove {
					// position: absolute;
					// right: 0.2em;
					// top: 0.5em;
					// z-index: 1;
					margin-top: 0.5em;
					margin-left: 0.75rem;
				}
			}
		}
	}//end view_default

	&.view_default {
		&.edit {
			>.content_data {
				>.content_value {
					display: flex;
					flex-wrap: wrap;
				}
			}
		}
	}

	&.view_line {
		position: relative;
		display: block;

		>.content_data {
			display: contents;

			>.content_value {
				// background-color:#2233aa;
				/*
				 // Chrome, Safari, Edge, Opera
				input::-webkit-outer-spin-button,
				input::-webkit-inner-spin-button {
					-webkit-appearance: none;
					margin: 0;
				}
				 // Firefox
				input[type=number] {
					 -moz-appearance: textfield;
					  // -webkit-appearance: textfield;
					  // appearance: textfield;
				}
				*/
				>.input_value {
					margin: 0px;
					height: auto;
					padding: 0.27rem;
					padding-top: 0.25rem;
					padding-left: 0.3rem;
				}
			}
		}
	}


}//end .component_number
