/**
* relation_list
*
* Included from main.less file
*/
.relation_list {
	font-size: 0.90rem;
	color: @color_grey_8;

	>.relation_list_paginator {
		-moz-user-select: none;
		-ms-user-select: none;
		-webkit-user-select: none;
		user-select: none;
		padding: 0.33rem;

		>.relation_list_paginator_buttons {
			float: right;
			display: flex;

			// current paginator_page_info like 'Page 1'
			>.paginator_page_info {
				margin-left: 4px;
			}

			// buttons
			>.button {
				display: inline-block;
				z-index: 1;
				margin: 0px;
				margin-left: 0.5rem;
				padding: 0px;
				opacity: 0.5;
				.fn_build_button('play.svg', @color_grey_4, 1, 1em);
				cursor: pointer;

				&.relation_list_paginator_next {
					transform: scale(0.90);
				}

				&.relation_list_paginator_previous {
					transform: scale(0.90) rotate(180deg);
				}

				// inactive case
				&.relation_list_paginator_offset_off {
					opacity: 0.1;
					pointer-events: none;
					cursor: default;
				}
			}
		}
	}

	>.content_data {

		.relation_list_grid {
			border-left: 2px solid @color_orange_dedalo;
			margin-bottom: 5px;
			padding-left: 5px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			>.relation_list_header {
				cursor: pointer;
				color: @color_grey_7;
				padding: 0.25rem;

				mark {
					opacity: 1;
				}

				&:hover {
					color: @color_black;
				}
				&:active {
					opacity: 0.5;
				}

				.fn_append_icon('pen.svg');
				&:before {
					vertical-align: top;
					background-color: @color_grey_8;
				}

				>.relation_list_count {
					float: right;
				}
			}

			>ul.relation_list_data_header {
				background-color: @color_grey_14;
				width: 100%;
			}

			>ul.relation_list_data_row {
				border-bottom: 0.5px solid @color_grey_13;

				&:hover {
					color: @color_black;
					cursor: pointer;
				}
			}

			li {
				padding: 0.25rem;
				overflow: hidden;
				text-overflow: ellipsis;

				&.relation_list_data_row_center {
					justify-self: center;
				}
				.svg {
					height: 2.5rem;
				}
			}
		}
	}//end >.content_data

}//end .wrapper_relation_list
