/**
* TOOL_LANG
*
* Loaded on tool init
*/

// imports
@import (once) '../../../core/page/css/layout/vars';

// local vars
@tool_color : #7f75e0;


// column_id (section_tool list)
	.column_section_id > .button_edit.list_tool_lang {

		&:hover {
			background-color: @tool_color;
		}
		>.icon {
			-webkit-mask-image: url('../img/icon.svg');
			mask-image: url('../img/icon.svg');
		}
	}


// tool wrapper
	.wrapper_tool.tool_lang {

		// custom_select_style. Apply different select appearance
		.custom_select_style {
			width: fit-content;
			height: 2em;
			font-size: 0.94rem;
			margin-bottom: 0.5rem;
		}

		>.tool_header {
			background-color: @tool_color;
			position: relative;

			@media screen and (max-width: @width_break_point_0) {
				flex-wrap: wrap;
			}

			>.tool_buttons_container {
				display: flex;
				align-items: flex-start;

				@media screen and (max-width: @width_break_point_0) {
					flex-wrap: wrap;
					margin-top: 1rem;
				}

				>div, >button {
					margin: 0rem;
					margin-left: 0.5rem;
					margin-right: 0rem;
					min-height: 2rem;

					@media screen and (max-width: @width_break_point_0) {
						margin-bottom: 1rem;
						flex: 1 0 auto;
					}
				}

				select {
					opacity: 1;
					padding: 0.33rem;
					background-color: #f8f9fa;
					border-radius: 3px;
					margin-right: 0px;
					max-width: 20rem;
					min-width: 7rem;

					@media screen and (max-width: @width_break_point_0) {
						// max-width: unset;
					}
				}

				// select top tipo / id
				>.related_list_container {

					>select {

					}
				}

				// component lang selector
				>.lang_selector {
					display: flex;
					align-items: center;
					margin-left: 0.75rem;
					margin-right: 0.12rem;
					@media screen and (max-width: @width_break_point_0) {
						padding-right: 0.5rem;
					}

					>.lang_label {
						padding-right: 0.33rem;
					}
					>select {

					}
				}

				// bottons of tools (tool print, tool time machine..)
				>.tool_button {
					// background-color: #fde2c6;
					// border-color: #e9ecef;
					// color: #212529;
					// // width: 12em;
					// padding: 0.5em;
					// cursor: pointer;
					// border-radius: 0.25rem;
					// // display: inline-flex;
					// // align-items: center;
					// // justify-content: space-evenly;

					>.icon {
						height: 1rem;
						margin-right: 0.33rem;
					}
				}

				>.wrapper_component {
					background-color: transparent;

					>.label, label {
						color: #ffffff;
					}
				}
			}
		}//end >.tool_header


		>.content_data {

			.spinner {
				border-top-color: @tool_color;
			}

			// components_container
			>.components_container {
				display: grid;
			    grid-template-columns: 1fr 1fr;
			    grid-gap: 1em;
			    //background-color: #D6F737;
			    z-index: 0;

			    @media screen and (max-width: @width_break_point_0) {
					grid-template-columns: 1fr;
				}

				select {
					.custom_select_style;

					&.source_lang {}
					&.target_lang {}
				}

				.top {
					display: flex;
					align-items: center;
					justify-content: space-between;

					>.lang_label {
						padding-right: 0.5rem;
						text-transform: uppercase;
						font-weight: 300;
					}
				}

				.content_data.component {
					height: calc(100vh - 14rem);
				}

				.source_component_container {

				}
				.target_component_container {

				}
			}//end .components_container

			// buttons_container
			>.buttons_container {
				padding-top: 1em;
				padding-bottom: 1em;
				display: flex;
				justify-content: space-between;

				// automatic_translation_container
				>.automatic_translation_container {
					position: relative;
					display: flex;

					>button {
						// .select_style;
						// font-size: .9em;
						// background-color: #a6a6a6;
						// border-radius: 0.30em;
						// cursor: pointer;
						// color: #ffff;
						// border: none;
						// padding-left: 0.75em;
						// padding-right: 0.75em;
					}

					.button_automatic_translation {
						background-color: @tool_color;
						border-color: darken(@tool_color, 10%);
					}

					>select {
						margin-left: 0.75em;
						width: fit-content;
						height: 2.75em;
						font-size: 0.80em;
					}
				}

				>.copy_to_target{

				}

				// propagate_marks_container
				>.propagate_marks_container {
					display: flex;
					align-items: center;
					>label {
						display: flex;
						margin-right: 0.5rem;
						vertical-align: middle;
						>input {
							margin-right: 0.25rem;
						}
					}
				}
			}//end >.buttons_container
		}//end content_data
	}//end wrapper_tool



// modal header tool modification
	.tool_header.tool_lang {
		background-color: @tool_color;
	}
