

/* SEMANTICS
------------------------------------------------------- */
.new_semantic_node {
	float: right;
	position: relative;
	top: 0px;
	right: 0px;
	background-position: 0 -96px;
	opacity: 0.3;
}

.semantic_node_title {
	padding-left: 3px;
	display: inline-block;
 }
 .delete_semantic_node{
 	 background-position: -456px 0;
 }
