/**
* database_info
*
* Included from area_maintenance.less file
*/
.wrapper_widget.database_info {

	.version_info {
		background-color: transparent;
		margin-bottom: 1rem;
	}

	.button_rebuild_indexes {

	}

	.info_node {
		padding: 0px;
		line-height: 1.1rem;

		.response_node {
			padding: 1rem;
			white-space: pre;
		}
	}
}//end database_info
