/**
* database_info
*
* Included from area_maintenance.less file
*/
.wrapper_widget.database_info {

	.version_info {
		background-color: transparent;
	}

	.button_rebuild_indexes {

	}

	>.content_data {

		>.group_container {
			padding: 0;
			margin-bottom: 1rem;
			border-top: 1px solid @color_grey_10;
			padding-top: 1rem;

			>.group_label {
				padding-bottom: 0.25rem;
			}

			>.info_node {
				padding: 0px;
				line-height: 1.1rem;
				margin-bottom: 0.25rem;
			}

			>.form_container {
				padding-top: 0px;
			}

			.response_node {
				padding: 1rem;
				position: relative;

				&::after {
					content: "X";
					position: absolute;
					top: 0.5rem;
					right: 0.5rem;
					color: @color_grey_10;
					cursor: pointer;
				}
			}

			&.recreate_db_assets_container {
				margin-bottom: 0;
			}

			.recreate_db_options_label {
				text-align: right;
				top: -1rem;
				padding-right: 1.5rem;
			}

			.recreate_db_options_container {
				border-top: 2px dotted @color_grey_11;
				display: grid;
				grid-template-columns: repeat(3, 1fr);
				padding-top: 2rem;
				text-align: left;
				margin-bottom: 1rem;

				> div {
					margin-right: 1rem;
					height: 100%;

					display: flex;
					flex-wrap: wrap;
					align-content: space-between;

					// Add borders between columns except for the last one
					&:not(:last-child) {
						border-right: 1px solid @color_grey_11;
					}
				}
			}
		}
	}

}//end database_info
