/**
* TOOL_PROPAGATE_COMPONENT_DATA
*
* Loaded on tool init
*/

// imports
@import (once) '../../../core/page/css/layout/vars';

// local vars
@tool_color: #be0f1d;

// tool wrapper
// Encapsulate all tool content to prevent core collisions
	.wrapper_tool.tool_propagate_component_data {

		>.content_data {

			.spinner {
				position: absolute;
				border-top-color: @tool_color;
				top: calc(50% - 1rem);
				left: calc(50% - 3.2rem);
			}

			>.section_info {
				display: flex;
				justify-content: space-between;

				.section_name {
					font-size: 1.5rem;
					padding: 1rem;
				}
				.section_tipo {
					font-size: 1.5rem;
					padding: 1rem;
					color: #959595;
					font-weight: 200;
				}
			}

			>.components_list_container {
				display: block;
				width: 100%;
				border: none;
				min-height: 8rem;
				background-color: transparent;

				>.container_placeholder {
					// height: 8rem;
				}

				.wrapper_component {
					// width: 100% !important;


					// >.buttons_container {
					// 	display: none !important;
					// }
				}
			}


			>.buttons_container {
				display: block;
				padding: 1rem;

				.info_text {
					text-align: center;
					font-size: 1.2rem;
					padding-bottom: 1rem;
				}

				.response_text {
					padding-bottom: 1rem;
					color: #505050;
					font-weight: 300;
					font-size: 1.5rem;
    				text-align: center;
    				line-height: 3rem;
    				letter-spacing: .05rem;

    				.successfully{
    					font-weight: 600;
    				}

				}

				.button_add {
					float: right;
				}
				.button_delete {
					float: right;
				}
			}

		}//end content_data
	}//end wrapper_tool



// modal header tool modification
	.tool_header.tool_propagate_component_data {
		background-color: @tool_color;
	}
