/**
* area_maintenance
*
* Included from main.less file
*/
.area_maintenance {
	// background-color: #ff1000;
	display: table;
	width: 100%;
	padding: 1rem;


	>.content_data {

		label {
			padding: 0.5em;
		}

		input {
			width: auto;
			height: 2.5em;
			padding: 0.5em;
			margin: 0px;
			margin-top: 0.5em;
			margin-bottom: 0.5em;
			margin-right: 0.5em;
			// border: 1px solid #dadada;
			// border-radius: 2px;
			// font-size: 1em;
		}

		button {
			// &.border {
				border: 1px solid #dadada;
			// }
			display: inline-block;
			font-size: 1em;
			color: #212529 !important;
			margin-bottom: 0.25rem;
		}

		.warning {
			color: #fb6c0f;
			font-weight: 500;
		}

		// forms (area thesaurus)
		.form_container {
			padding-top: 1em;

			input {
				width: 100%;
				&.mandatory {
					border-left: 2px solid red;

					&.empty {
						border-right: 2em solid red;
					}
				}
			}

			// button {
			// 	border: 1px solid #dadada;
			// }
		}

		>.widget_container {
			//background-color: #d9efd3;
			// background-color: #fce8d2; // #fdf4ea
			// border-radius: 0.5em;
			margin: 0.35em;
			//flex: 1 1 32.5%;
			flex: 1 1 49%;

			display: flex;
			flex-direction: column;


			&.danger {
				>.widget_label {
					background-color: @color_danger;
				}
			}

			&.blue {
				background-color: @color_blue;
				>.widget_label {
					background-color: #3070d8;
				}
				>.widget_body {
					background-color: @color_grey_light;
				}
			}

			>.widget_label {
				padding: 1em;
				//background-color: #73A266;
				background-color: @color_orange_dedalo;
				color: #ffffff;
				//font-weight: 600;
				text-transform: uppercase;
				letter-spacing: 0.025em;
				user-select: none;
				cursor: pointer;
				position: relative;

				&.icon_arrow {
					&:after {
						margin-right: 0.87rem;
						background-color: white;
					}
				}

				// &:before {
				// 	content: " ";
				// 	.fn_build_button('gear.svg', white, 0.7);
				// 	float: right;
				// 	margin: 0;
				// 	cursor: default;
				// }

				>* {
					pointer-events: none;
				}
			}

			>.widget_body {
				padding: 1em;
				background-color: #fce8d2;
				min-height: 9.5rem;
				flex-grow: 1; // grow vertical to fill

				resize: vertical;
				overflow: auto;
				width: 100%;

				.link {
					cursor: pointer;
					user-select: none;
					padding-bottom: 0.25em;

					&:active {
						opacity: 0.5;
					}
					&:before {
						content: ' ';
						.fn_build_button('arrow-circle-right.svg', #3f3f3f, 1);
						vertical-align: text-bottom;
						padding: 0px;
						margin: 0px;
						margin-right: 0.3em;
						height: 1.2em;
					}
				}

				.body_info {
					padding-top: 0.5em;
					padding-bottom: 0.5em;
					font-size: 0.9em;
					color: #676464;

					h6 {
						//font-weight: bold;
						font-size: 1.33rem;
						padding: 0.5em;
						padding-left: 0px;
					}

					pre {
						margin-top: 1em;
						line-height: 1.1rem;
					}

					.alert_update {
						padding: 1.55rem;
						color: red;
						line-height: 1.7rem;
					}

					.command {
						font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
						font-size: 0.8rem;
						padding: 0.5em;
						border: 1px solid #ccc;
						background-color: #f5f5f5;
						display: flex;
						margin-bottom: 0.25em;

						>.vkey {
							font-size: 3.5em;
							padding: 0.25em;
							position: relative;
							background-color: #ccc;
							min-width: 6rem;
							text-align: right;
						}
						>.vkey_value {
							padding: 0.5em;
							padding-top: 0px;
							// font-size: 0.9em;
							line-height: 1.2rem;
							word-break: break-all;
							white-space: pre-wrap;
							//color: #000;
						}
					}
				}//end .body_info

				.body_response {
					position: relative;
					border-top: 1px solid rgba(108, 108, 108, 0.27);
					padding-top: 0.5em;
					padding: 0.5em;
					margin-top: 0.5em;
					width: 100%;
					max-width: 100%;
					word-break: break-word;

					padding: 0px;
					margin: 0px;
					border: none;

					>* {
						padding: 0.5em;
					}

					.json-container {
						margin-top: 0px;
					}


					//* {
					//	max-width: 100%;
					//	white-space: normal;
					//}

					&.preload {
						min-height: 3em;

						>* {
							//visibility: hidden;
							opacity: 0.3;
						}
					}

					.spinner {
						position: relative;
						margin-top: 1rem;
						margin-bottom: 1rem;
					}

					>.pre {

						.json-container {

						}

						// margin-top: 0.25em;
						// white-space: pre-wrap;
						// word-break: break-word;
						.pre {
							// white-space: initial;
							//white-space: pre-wrap;
						}
					}

					// >.clean:after {
					// 	// .icon_svg;
					// 	// //background-image: url(../../themes/default/icons/eraser.svg);
					// 	// .background_icon('eraser.svg');
					// 	cursor: pointer;

					// 	.fn_build_button('eraser.svg', white, 1)
					// }

					.eraser {
						position: absolute;
						right: 0px;
						top: 0px;
					}
				}//end .body_response
			}//end .widget_body


			// generic styles
			.info_text {
				line-height: 1.5rem;
			}
			.comment {
				color: #7f7f7f;
			}

			&#make_backup {

				.backup_toggle_button {
					padding: 0.5rem;
					cursor: pointer;

					&:active {
						opacity: 0.5;
					}
				}
			}


			&#sqo_test_environment, &#dedalo_api_test_environment {
				flex: 1 1 100%;
				// min-height: 50vh;
				// background-color: #3883fa;

				.container {
					// background-color: white;
				}

				.editor_json_container {
					display: block;
					height: 50vh;
					min-height: 450px;

					.jsoneditor {
						z-index: 1;
					}
				}

				>.widget_label {
					//background-color: #3275e2;
				}
				>.widget_body {
					padding: 0px;

					.button_submit {
						margin: 0.25rem;
					}

					>.body_info {
						padding: 0px;
					}

					>.body_response {
						>div {
							white-space: pre-wrap;
							padding: 1.2rem;
							line-height: 1.1rem;
							background-color: aliceblue;
							font-family: monospace;
						}
					}
				}
			}//end search_query_object_test_environment

			&#dedalo_api_test_environment {

				>.widget_label {
					background-color: #21984b;
				}
				>.widget_body {
					background-color: #c0e4cd;
				}
				.jsoneditor-menu {
					background-color: #21984b; // green instead default blue
				}
			}//end dedalo_api_test_environment

			&#sqo_test_environment {
				>.widget_body {
					background-color: #cbdcf7;
				}
				.jsoneditor-menu {
					background-color: #3170d8; // green instead default blue
				}
			}

			&#register_tools {

				.tool_item {
					display: grid;
					grid-template-columns: 1.2fr 1fr 3rem 4rem 1.5fr;
					gap: 0.5rem;
					line-height: 1.1rem;
					border-bottom: 1px solid @color_grey_dark;
					margin-bottom: 0.25rem;
					padding-bottom: 0.25rem;

					&.header {
						color: #000;
						padding: 0.25rem;
						padding-left: 0;
						font-weight: 400;
						.tool_warning {
							color: unset;
						}
					}

					.tool_name {
						word-break: break-all;
					}
					.tool_version {
						// background-color: #c2ad11;
						text-align: right;
					}
					.tool_installed_version {
						// background-color: #c2ad11;
						text-align: right;
					}
					.developer {
						word-break: break-all;
					}
					.tool_warning {
						color: @color_orange_dedalo;
					}
				}

				// errors
				.info_text {
					padding: 1rem;
					border-radius: 4px;
					margin-top: 1rem;
				}
			}//end register_tools

			&#php_info {
				flex: 1 1 100%;
				background-color: #9999cc;
				// min-height: 100vh;

				>.widget_label {
					background-color: #777bb3;
				}

				>.widget_body {
					padding: 0px;

					>.body_info {
						height: 100%;
						padding: 0px;

						>iframe.php_info_iframe {
							margin: 0px;
							padding: 0px;
							width: 100%;
							min-height: 100vh;
						}
					}
				}
			}//end php_info

			&#update_ontology {

				.config_grid {
					display: grid;
					grid-template-columns: 1fr 4fr;
					line-height: 1.1rem;
					padding: 0.5rem;
					margin-top: 0.5rem;
					grid-gap: 0.5rem;
					border: 1px solid #f6d2aa;
					border-radius: 4px;
				}
			}//end &#update_ontology

			&#add_hierarchy {

				.description {
					line-height: 1.1rem;
					padding-bottom: 0.5rem;
				}

				// input {
				// 	margin: 0px;
				// 	margin-left: -1.5rem;
				// }

				// hierarchies_import_block
				.hierachy_ul {
					padding-top: 1rem;
					padding-bottom: 1rem;
					padding-left: 1.5rem;
					display: grid;
					grid-template-columns: repeat(6, 1fr);
					gap: 0.25rem;

					@media screen and (max-width: @width_break_point_1) {
						grid-template-columns: repeat(4, 1fr);
					}
					@media screen and (min-width: 2000px) {
						grid-template-columns: repeat(8, 1fr);
					}
				}

				.hierarchy_label {
					cursor: pointer;
					line-height: 1.5rem;
					// width: 96%;
					margin-bottom: 2px;
					padding: 0px;
					padding-right: 0.75rem;
					display: inline-block;
					align-items: center;

					&:hover {
						box-shadow: 0px 1px 0px #e5e5e5;
					}

					>.hierarchy_checkbox {
						vertical-align: text-bottom;
						line-height: 1rem;
						height: 1rem;
						width: 1rem;
						margin: 0px;
						margin-right: 0.5rem;
						margin-left: -1.5rem;
					}

					>.active_hierarchy {
						color: @color_green_success;
						font-weight: 800;
					}
				}

				.import_hierarchies_button {
					background-color: white;
					color: black;
				}

				.msg {
					position: relative;
					padding: 2rem;

					.spinner {
						top: 0px;
					}
				}

				.button_refresh {
					padding: 1rem;
					padding-top: 0.25rem;
					padding-bottom: 0.25rem;
					float: right;
				}
			}//end &#add_hierarchy

			&#counters_status {

				.counters_total {
					padding-bottom: 1rem;
				}

				.errors_container {
					display: block;
					padding: 0.66rem;
					color: @color_danger;
					font-weight: 500;
					line-height: 1.1rem;

					--icon-path : url('../../../core/themes/default/icons/warning.svg');
					&:before {
						background-color: @color_danger;
						content: ' ';
						display: inline-block;
						height: 1.5em;
						width: 1.5em;
						margin-right: 0.5rem;
						opacity: 1;
						vertical-align: bottom;
						// .fn_add_mask(@icon_name);
						-webkit-mask-image: var(--icon-path);
								mask-image: var(--icon-path);
						-webkit-mask-size: contain;
								mask-size: contain;
						-webkit-mask-repeat: no-repeat;
								mask-repeat: no-repeat;
						-webkit-mask-position: center;
								mask-position: center;

						@media screen and (max-width: @width_break_point_1) {
							margin-right: 0px;
						}
					}

					>.error_pre {
						background-color: unset;
					}

				}

				.datalist_container {

					.datalist_item_container {
						display: grid;
						grid-template-columns: 10rem auto 8rem 8rem 8rem 8rem;
						align-items: center;
						gap: 0.5rem;
						line-height: 1.1rem;
						border-bottom: 1px solid #b9b9b9;
						margin-bottom: 0.25rem;
						padding-bottom: 0.25rem;

						&.header {
							color: #000;
							padding: 0.25rem;
							padding-left: 0;
							font-weight: 500;
						}

						>.item_column {
							display: block;

							&.right {
								text-align: right;
								padding-right: 0.5rem;

								&.header {
									padding-right: 0px;
								}
							}

							&.center {
								text-align: center;
							}

							&.out_of_sync {
								color: @color_danger;
								font-weight: bold;
							}

							&.fix_counter_container, &.reset_counter_container {
								padding-right: 0px;
								&.header {
									padding-right: 0.33rem;
								}
								.button_action {
									line-height: 1rem;

									&.reset_counter {
										color: white !important;
										font-weight: 300;
									}
								}

							}
						}
					}
				}
			}//end &#counters_status

			&#check_config {

				.missing_total {
					padding-top: 0.5rem;
					padding-bottom: 0.5rem;
				}

				.errors_container {
					display: block;
					padding: 0.66rem;
					color: @color_danger;
					font-weight: 500;
					line-height: 1.1rem;

					--icon-path : url('../../../core/themes/default/icons/warning.svg');
					&:before {
						background-color: @color_danger;
						content: ' ';
						display: inline-block;
						height: 1.5em;
						width: 1.5em;
						margin-right: 0.5rem;
						opacity: 1;
						vertical-align: bottom;
						// .fn_add_mask(@icon_name);
						-webkit-mask-image: var(--icon-path);
								mask-image: var(--icon-path);
						-webkit-mask-size: contain;
								mask-size: contain;
						-webkit-mask-repeat: no-repeat;
								mask-repeat: no-repeat;
						-webkit-mask-position: center;
								mask-position: center;

						@media screen and (max-width: @width_break_point_1) {
							margin-right: 0px;
						}
					}

					>.error_pre {
						background-color: unset;
					}

				}

				.datalist_container {
					margin-top: 1rem;

					&.show_list {
						cursor: pointer;
					}

					.datalist_item_container {
						display: grid;
						// grid-template-columns: 10rem auto 8rem 8rem 8rem 8rem;
						align-items: center;
						gap: 0.5rem;
						line-height: 1.1rem;
						// border-bottom: 1px solid #b9b9b9;
						margin-bottom: 0.25rem;
						padding-bottom: 0.25rem;

						&.header {
							color: #000;
							padding: 0.25rem;
							padding-left: 0;
							font-weight: 500;
						}

						>.item_column {
							display: block;

							&.right {
								text-align: right;
								padding-right: 0.5rem;

								&.header {
									padding-right: 0px;
								}
							}

							&.center {
								text-align: center;
							}

							&.non_defined {
								color: @color_danger;
								font-weight: bold;
							}
						}
					}
				}
			}//end &#check_config

			&#lock_components {

				.info_node {
					padding: 1rem;
					line-height: 1.1rem;
					white-space: pre-wrap;
				}

				.button_refresh {
					margin-top: 1rem;
				}

				.button_force_unlock_all_components {
					float: right;
					margin-top: 1rem;
				}
			}//end &#lock_components

		}//end .widget_container

	}//end .content_data


}
