/**
* make_backup
*
* Included from area_maintenance.less file
*/
.wrapper_widget.make_backup {

	.button_submit {
		margin-top: 0.75rem;
	}

	.body_response {
		.backup_files_info {
			margin: 0.5rem;
			margin-top: 0px;
		}
	}

	.backup_toggle_button {
		padding: 0.5rem;
		cursor: pointer;

		&:active {
			opacity: 0.5;
		}
	}
}//end make_backup
