/**
* TOOL_TIME_MACHINE
*
* Loaded on tool init
*/

// imports
@import (once) '../../../core/page/css/layout/vars';

// local vars
@tool_color: #f78a1c;

// wrapper_tool
.wrapper_tool.tool_time_machine {

	.spinner {
		border-top-color: @tool_color;
	}

	>.content_data {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: auto auto auto;

		// component containers
		.current_component_container, .preview_component_container {
			position: relative;
			display: block;

			>.wrapper_component {
				min-height: 4.2rem;
			}

			.time_label {
				padding-top: 0.5em;
				width: 100%;
				text-align: center;
			}
		}

		.current_component_container {
			margin-right: 0.5em;
		}

		.preview_component_container {
			margin-left: 0.5em;
		}

		.tool_bar {
			grid-column-start: 1;
			grid-column-end: 3;
			overflow: hidden;

			@media screen and (max-width: @width_break_point_0) {
				margin-top: 0px;
			}

			label {
				text-transform: capitalize;
				padding: 0.5em;
				height: 2em;
			}

			select {

			}

			.button_apply {
				float: right;
			}
		}//end .tool_bar

		// time_machine container (list)
		.wrapper_service_time_machine {
			display: grid;
			height: 100%;
			grid-column-start: 1;
			grid-column-end: 3;
		}//end .wrapper_tm

		// header section list
		.header_wrapper_list {
			top: 0px;
		}

		// list button view
		.button_view {
			height: 100%;
			width: 100%;
		}

	}//end >.content_data
}//end wrapper_tool

// modal header tool modification
.tool_header.tool_time_machine {
	background-color: @tool_color;
}
