/**
* TOOL_IMPORT_DEDALO_CSV
*
* Loaded on tool init
*/

// imports
@import (once) '../../../core/page/css/layout/vars';

// local vars
@tool_color: #17a2b8;
@active_color: #0075ff;

// tool wrapper
// Encapsulate all tool content to prevent core collisions
.wrapper_tool.tool_import_dedalo_csv {

	.spinner {
		border-top-color: @tool_color;
	}

	>.service_upload_container {
		position: relative;
		width: 100%;
		min-height: 138px;

		>.spinner {
			top: 67%;
		}

		>.content_data {
			padding: 1rem;
		}
	}

	>.content_data {

		// generic box
		.container {
			padding: 0.5rem;
		}

		>.files_list {

			>.file_item {
				background-color: #f8f8f8;
				margin-bottom: 0.75rem;
				padding: 0.75rem;
				padding-bottom: 0.5rem;
				border-radius: 0.25rem;

				>* {
					margin-bottom: 0.5rem;
				}

				>.file_line {
					display: flex;
					align-items: center;
					position: relative;

					.button.csv {
						font-size: 1.5rem;
						background-color: #a6a6a6;
						margin-right: 0.5rem;

						&.active {
							background-color: @active_color;
						}
					}

					.checkbox_label {
						display: block;
						line-height: 1.1rem;
						input {
							margin-right: 0.5rem;
							vertical-align: middle;
						}
					}

					.arrow_right {
					    -webkit-mask-image: url(../../../core/themes/default/icons/arrow_down.svg);
						mask-image: url(../../../core/themes/default/icons/arrow_down.svg);
						background-color: @color_grey_dark;
						margin-left: 1rem;
						padding: 0.5rem;
						right: 0;
						transform: rotate(-90deg);

						&.active {
							background-color: @active_color;
						}
					}

					.section_tipo_label {
						display: flex;
						align-items: center;
						margin-left: 1rem;
						color: #a0a0a0;

						>input {
							width: 9rem;
							text-align: center;
							font-size: 0.9rem;
							margin-left: 0.33rem;
							border: 1px solid @color_grey_medium;
							border-radius: 3px;
						}

						>.section_name {
							display: inline-block;
							margin-left: 0.5rem;
						}

						>.section_label {
							display: inline-block;
							margin-left: 0.5rem;
							font-weight: 600;
							color: @color_grey_ultradark;
						}
					}

					.button.delete {
						position: absolute;
						right: 0px;
					}
				}//end >.file_line

				.warning {
					background-color: @color_orange_dedalo;
					color: #ffffff;
					padding: 0.5rem;
					border-radius: 3px;
				}

				.info_text {
					.columns {
						font-size: 0.75rem;
					}
				}

				.button_preview {
					text-transform: capitalize;
					opacity: 0.8;
					line-height: 1.3rem;
				}

				>.preview {
					background-color: #caf7da;
					font-size: 0.8rem;
					white-space: pre;
					overflow: auto;
				}

				>.columns_mapper {
					width: 100%;

					>.columns_header {
						width: 100%;
						padding: 0.5rem;
						background-color: #eeeeee;
						color: @color_grey_ultradark;
						cursor: pointer;
					}
					>.columns_body {
						display: grid;
						grid-template-columns: minmax(5rem,10rem) minmax(9rem,14rem) minmax(7rem,10rem) minmax(3rem,4.5rem) minmax(7rem,30rem) minmax(7rem,auto);
						background-color: #f0f0f0;
						border-radius: 5px;

						>.columns_mapper_line {
							display: contents;
							position: relative;

							> * {
								padding: 0.12rem;
								line-height: 1.2em;
								align-self: center;
								overflow: auto;
							}

							&.names > div{
								padding-top: 0.33rem;
								padding-bottom: 0.33rem;
								background-color: #19a2b8;
								color: white;
								position: sticky;
								top: 0;
								z-index: 1;
							}

							div:first-child {
								padding-left: 0.5rem;
							}
							.target_container{

								.column_select{
									width: 98%;
									background: none;
									appearance: auto;
									background-color: white;
								}
								.mapped_to_options_container{

									.decimal_label{
										margin: 1.1em;
									}

									.decimal_select{
										background: none;
										appearance: auto;
										background-color: white;
									}
								}
							}
						}
						@media screen and (max-width: 1024px) {
							display: block;
							>.columns_mapper_line {
								display: block;
								border-bottom: 1px solid black;

								> *{
									border-bottom: 1px solid #e1e1e1;
									padding-top: 0.2rem;
									padding-bottom: 0.2rem;
								}

								&.names > div{
									padding: 0.33rem;
								}
							}
						}
					}
				}//end >.columns_mapper

				.result_container {

					// OK/Error message
					>.response_msg {
						border: none;
					}

					// like 'Section: numisdata41. Total records created:0 - updated:998 - failed:0'
					>.user_msg_container {
						padding: 0.66rem;
						padding-left: 0px;
					}

					>.dedalo_last_error_container {
						display: block;
						padding: 0.66rem;
						color: @color_danger;
						font-weight: 500;
						line-height: 1.1rem;

						--icon-path : url('../../../core/themes/default/icons/warning.svg');

						&:before {
							background-color: @color_danger;
							content: ' ';
							display: inline-block;
							height: 1.5em;
							width: 1.5em;
							margin-right: 0.5rem;
							opacity: 1;
							vertical-align: bottom;
							// .fn_add_mask(@icon_name);
							-webkit-mask-image: var(--icon-path);
									mask-image: var(--icon-path);
							-webkit-mask-size: contain;
									mask-size: contain;
							-webkit-mask-repeat: no-repeat;
									mask-repeat: no-repeat;
							-webkit-mask-position: center;
									mask-position: center;

							@media screen and (max-width: @width_break_point_1) {
								margin-right: 0px;
							}
						}

						>.error_pre {
							background-color: unset;
						}
					}

					>.result_info_container {
						margin-top: 1em;
						border-top: 1px solid #e6e2e2;
						padding: 1rem;

						>.header {
							display: flex;
							align-items: center;
							margin-top: 1rem;

							>.label{
								flex: 1;
								margin-top: 1em;
								margin-bottom: 1rem;
								font-size: 1.25rem;
								font-weight: 500;
							}

							>.copy_button {
								margin-bottom: 1rem;
							}
						}
						>.section_id_container {
							columns: 5em auto;
							border-left: 2px solid @color_orange_dedalo;
							padding-left: 2rem;
							line-height: 1.2rem;
						}
						>.failed_container {
							padding-top: 1em;
							padding-left: 1em;
						}
						>.failed_data_container {
							padding-top: 1em;
							padding-left: 2em;
							padding-bottom: 0.5em;
						}
					}
				}
			}//end >.file_item
		}//end >.files_list


		>.submit_container {
			padding: 1rem;
			padding-left: 0;
			display: flex;
			align-items: center;

			>.import_button {
				margin-right: 1rem;
				margin-left: 0.75rem;
				margin-bottom: 0.5rem;
			}

			>label {
				>input {
					margin-right: 0.25rem;
				}
			}
		}

		>.process_info_container {
			display: flex;
			justify-content: center;
			width: 100%;

			.process_status_node {
				width: auto;
				margin-left: 20%;
				margin-right: 20%;
				min-width: 65vw;

				@media screen and (max-width: @width_break_point_0) {
					min-width: unset;
					width: 100%;
					margin-left: unset;
					margin-right: unset;
				}
			}

			.info_node {

			}
		}
	}//end content_data
}//end wrapper_tool

// modal header tool modification
.tool_header.tool_import_dedalo_csv {
	background-color: @tool_color;
}
