/*CSS Document*/
.css_wrap_ip {
}

.div_ip_list {
	text-align: right;
	margin-right: 3px;
}
.list_ip_dato {
	/*
	width: 100%;
	text-align: right;
	*/
}
.list_ip_dato:hover {
	/*
	cursor: pointer;
	color: #fd7f26;
	*/
}

IMG.flag_img {	
	width: 15px;
	height: 11px;
	position: relative;
	top: -2px;
	left: 1px;
	border: none;
	/*box-shadow: 1px 1px 1px #888888;*/
	box-shadow: inset 0 0 10px #000000;
	border-radius: 1px;
}

/*-- TD IN LIST --*/
TD.td_component_ip {
	width: 100px;


}