/**
* component_filter_records
*
* Included from main.less file
*/
.component_filter_records {

	&.edit {
		>.content_data {
			flex: 1 1 100%;

			>.value {
				display: grid;
				grid-template-columns: 1fr 2fr 8fr;
				outline: 1px solid @color_grey_light;

				&.header_row {
					background-color: #5b5b5b;
					color: #ffffff;
					padding: 0.333rem;
				}

				&.body_row {

				}

				>span {
					padding: 0.333rem;
				}
			}
		}
	}//end .edit
}//end .component_filter_records
