/**
* widget user_activity
*
* Included from main.less file
*/
.wrapper_widget.user_activity {
	// background-color: #f9b1f9;

	>.content_data {

		// ul
		>.values_container {
			display: contents;

			// li
			>.widget_item.user_activity {
				// background-color: #f7fdbf;

				.raw_value {
					margin: 1rem;
					background-color: #f8f9fa;
					border-radius: 3px;
				}

				/*
				// label-value pairs
				>div {
					// background-color: #aefece;
					border-bottom: 1px solid #f7f7f7;
					display: grid;
					grid-gap: 0.25rem;
					grid-template-columns: 1fr auto;
					padding: 0px;

					>.label, >.value {
						display: block;
						padding: 0.2rem;
						padding-top: 0.1rem;
						padding-bottom: 0.1rem;
						font-size: 10.2px;

						.edit & {
							font-size: inherit;
						}
					}

					>.label {
						padding-left: 0.33rem;
						text-transform: uppercase;
					}
					>.value {
						padding-right: 0.33rem;
					}

					.tag_label {
						margin: 2px;
						margin-right: 4px;
					}

					&.total_tc {
						>.value {
							.fn_build_tag_tc();
							.tag_label;
						}
					}

					&.total_index {
						>.value {
							.fn_build_tag_indexation(@color_tag_indexation_normal, #ffffff);
							.tag_label;
						}
					}

					&.total_missing_user_activity {
						>.value {
							.fn_build_tag_indexation(@color_tag_indexation_removed, #ffffff);
							.tag_label;
						}
					}
					&.total_to_review_user_activity {
						>.value {
							.fn_build_tag_indexation(@color_tag_indexation_to_review, #ffffff);
							.tag_label;
						}
					}

					&.total_private_notes {
						>.value {
							.fn_build_tag_note(@color_tag_indexation_normal);
							.tag_label;
						}
					}

					&.total_public_notes {
						>.value {
							.fn_build_tag_note(@color_green_success);
							.tag_label;
						}
					}
				}
				*/
			}

		}//end .values_container

	}//end .content_data

	&.edit {
		.label, .value {
			font-size: inherit;
		}
	}

}//end .wrapper_widget.user_activity
