/**
* widget user_activity
*
* Included from main.less file
*/

.wrapper_widget.user_activity {

	>.content_data {

		// ul
		>.values_container {
			display: contents;

			// li
			>.widget_item.user_activity {

				.raw_value {
					margin: 1rem;
					background-color: #f8f9fa;
					border-radius: 3px;
				}
			}

		}//end .values_container

	}//end .content_data

	&.edit {
		.label, .value {
			font-size: inherit;
		}
	}

}//end .wrapper_widget.user_activity
