/**
* unit_test
*
* Included from area_maintenance.less file
*/
.wrapper_widget.unit_test {

	.long_process_container {
		margin-bottom: 1.25rem;

		.info_text {
			margin-left: 0.5rem;
			margin-right: 0.5rem;
		}

		.input_update_rate {
			width: 4rem;
			text-align: center;
		}

		.long_process_response {
			margin-top: 1rem;
		}
	}
}//end unit_test
