input.input_stats_date{width:72px!important;position:relative;top:2px!important;text-align:center;display:none}input.show_stats_date{display:inline-block}.stats_generate_button{position:relative;left:-6px}
/*# sourceMappingURL=button_common.css.map */