<IfModule mod_rewrite.c>

	RewriteEngine On
		
	#
	# Geta last dir name and send as var dedalo_get to index page
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^/?(\w+)+/?$ index.php?dedalo_get=$1 [QSA,L]

</IfModule>