/*
	pair_container
*/


.pair_container {
	padding: 2rem;
	border-top: 1px solid #7f7f7f;
	margin-bottom: 4rem;
	display: block;

	>.wrapper_component {
		margin-bottom: 2rem;
		outline: 1px solid #eeeeee;

		&.list {
			// max-height: 5rem;
		}
	}
}