.pair_container{padding:2rem;border-top:1px solid #7f7f7f;margin-bottom:4rem;display:block}.pair_container>.wrapper_component{margin-bottom:2rem;outline:1px solid #eee}.list_of_test_container{width:100%;display:flex;flex-direction:column;flex-wrap:wrap}.list_of_test_container .link{line-height:1.2rem;padding:.5rem;font-size:1.1rem}.component_container{margin-top:4rem}
/*# sourceMappingURL=unit_test.css.map */