<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.dedalo.diffusion</string>
	<key>ProgramArguments</key>
	<array>
		<string>__BUN_BIN__</string>
		<string>run</string>
		<string>index.ts</string>
	</array>
	<key>WorkingDirectory</key>
	<string>__APP_DIR__</string>
	<key>EnvironmentVariables</key>
	<dict>
		<key>SOCKET_PATH</key>
		<string>__SOCKET_PATH__</string>
	</dict>
	<key>RunAtLoad</key>
	<true/>
	<key>KeepAlive</key>
	<true/>
	<key>StandardOutPath</key>
	<string>__LOG_FILE__</string>
	<key>StandardErrorPath</key>
	<string>__LOG_FILE__</string>
</dict>
</plist>
