/**
* component_text_area
*
* Included from main.less file
*/
.component_text_area {
	// display: grid;
	// grid-template-rows: 1fr 1fr;
	// background-color: #ecf564;

	&.edit, &.edit_in_list {
		align-content: unset;

		&.fullscreen {
			.ck-content {
				width: calc(100vw - 3rem);
			}
		}

		>.content_data {
			// background-color: #c0f5b8;
			display: block;
			min-height: @media_min_height;
			// min-height: fit-content;
			// max-height: @media_min_height;
			// margin-bottom: 1.33rem;
			// padding-bottom: 0;
			margin: 0;
			padding: 0;

			// ul
			// display: contents;
			// height: inherit;
			// min-height: 100%;
			// min-height: @media_min_height;
			// max-height: @media_max_height;
			// height: calc(100% - @component_label_height);
			// margin-bottom: -1.85rem;
			// display: none;

			>.content_value {
				display: contents;
				height: inherit;
				z-index: inherit;
				// padding-bottom: 2rem;
				position: relative;

				>.toolbar_container {
					display: flex;
					position: absolute;
					top: -1.75rem;
					left: 1rem;
					width: auto;
					// height: 2.2em;
					padding: 0.25rem;
					z-index: 1;
					// background-color: @color_grey_light;
					background-color: #fafafa;
					// border: 1px solid #c4c4c4;
					outline: 1px solid #e6e6e6;

					// bottom blue shadow line
					box-shadow: 0px 2px 1px 0px @color_hilite;

					// version mini	(fit heigth)
						top: 5px;
						height: auto;
						padding: 0.05rem;
						width: calc(100% - 2rem);

					flex-wrap: wrap;
					z-index: 2;


					>.toolbar_button {
						height: 1.8em;
						padding: 0.33rem;
						padding-right: 0.5em;
						padding-left: 0.5em;
						cursor: pointer;
						border-radius: 0.25em;

						&:hover {
							background-color: #dddddd;
						}
						&:active {
							opacity: 0.6;
						}
						&.active {
							background-color: #dddddd;
						}
						&.disable {
							opacity: 25%;
						}

						img {
							height: 100%;
						}
					}
				}

				// value_container
				// Where component value is placed and parsed by the editor inline
				>.value_container, >.ck-content {
					// background-color: #d9fdaf;
					outline: 1px solid #e6e6e6;
					margin: 1rem;
					margin-top: 0.5rem;
					// width: 100%;
					height: calc(100% - 1.5rem);
					overflow: auto;
					// resize: vertical;

					@media screen and (max-width: @width_break_point_0) {
						padding-top: 1.5rem;
					}

					.image-inline {
						vertical-align: text-bottom;
					}


					img {
						cursor: pointer;
						height: 15px;
						vertical-align: text-bottom;

						&.person {

						}

						&.note {
							margin-left: 2px;
							margin-right: 2px;
						}

						&.index {

						}

						&.tc {
							margin-right: 3px;
						}

						&.tc2 {
							filter: invert(80%);
							margin-right: 3px;
						}
						&.svg {

						}

						&.draw {

						}
						&.page {

						}

						&.geo {

						}

						&.lang {

						}

						&.struct {
							//display: none;
						}
					}
				}//end >.value_container

				>.value_container {
					padding: 0.5rem;
					padding-top: 1rem;
					padding-left: 0.68rem;
					margin-bottom: 1.5rem;
					// p, div {
					// 	line-height: 1.4rem;

					// 	// &:first-of-type {
					// 	// 	margin-top: 1rem;
					// 	// }
					// }
				}

				// source ckeditor
				>.ck-source-editing-area {
					width: 100%;
					height: calc(100% - 1.5rem);
					margin: 0.5rem;
					margin-left: 1rem;
					margin-right: 1rem;
					z-index: 0;
					>textarea {
						overflow: auto;
					}
				}

				// create_fragment button bellow
				.create_fragment {
					position: absolute;
					right: -5px;
					bottom: 0px;
					box-shadow: 2px 2px 5px 0 rgb(38 38 38 / 30%);
					height: 33px;
				}


			}//end >content_value

		}//end >.content_data


		// layer_selector (editing images)
			.layer_selector {
				width: 163px;
				background-color: @color_orange_dedalo;
				position: absolute;
				right: 0;
				top: 0;
				padding: 0;
				text-align: right;
				z-index: 2;

				>.button {
					margin: 0.5em;
					float: none;
					display: inline-block;
					&.add {
						float: left;
					}
				}

				>ul.layer_ul {
					text-align: left;
					clear: both;
					// border: 0.5px solid #777;

					>li{
						display: grid;
						grid-template-columns: 1em 1em auto 1em;
						align-items: center;
						border-bottom: 1px solid #777;
						border-left: 1px solid #777;
						border-right: 1px solid #777;
						cursor: pointer;
						background-color: #ffffff;
						height: 30px;

						&:hover {
							background-color: @color_orange_dedalo;
							color: #ffffff;
						}
						&:active {
							background-color: #ffffff;
							color: initial;
						}

						// .layer_icon {
						//
						// }
						.layer_id {
							justify-self: center;
						}
						.user_layer_name {

						}
						// .layer_color_box {
						// 	background-color: #ffffff;
						// 	.layer_color {
						// 		width: 80%;
						// 		height: 20px;
						// 		border-radius: 19px;
						// 	}
						// }
					}
					>li:first-child {
						border-top: 0.5px solid #777;
					}
				}
			}
	}//end .edit


	&.list {
		// background-color: #bc00ae;
		max-height: 10em;
		overflow: hidden;
		img {
			height: 16px;
		}
	}


	// dd-tiny
	dd-tiny {
		width: 100%;
		height: 100%;
		// background-color: #F76CE4;
		// height: 650px;
		// border-bottom: 1px solid #ffffff;
		// margin-bottom: 1em;
		transition: opacity 0.115s ease-in-out;
		// min-height: 27em;
		// min-height: @media_max_height;


		.mce-container {
			// display: none !important;

			// div.mce-fullscreen {
				// z-index: 1;
			// }

			.mce-branding-powered-by {
				display: none;
			}

			iframe {
			}
		}

		.mce-path {
			padding: 5px;
		}

		// Container, container body, iframe
			// .mce-tinymce, .mce-container-body {
			// 	min-height: 100% !important;
			// }
			// // Container body
			// .mce-container-body {
			// 	position: absolute;
			// 	bottom: 0;
			// 	left: 0;
			// 	right: 0;
			// }
			// // Editing area
			// .mce-container-body .mce-edit-area {
			// 	position: absolute;
			// 	top: 30px;
			// 	bottom: 30px; // 37px;
			// 	left: 0;
			// 	right: 0;
			// }
			// // Footer
			// .mce-tinymce .mce-statusbar {
			// 	position: absolute;
			// 	bottom: 0;
			// 	left: 0;
			// 	right: 0;
			// }
	}//end dd-tiny
}//end .component_text_area



// modal inside specifics
dd-modal {

	// persons_list_container into modal
	>.text_area_persons_list_container {
		color: initial;
		padding: 1rem;
		line-height: 1.6rem;
		// background-color: rgb(240 240 240 / 87%);
		// z-index: 1;
		// width: calc(100% + 2px);
		// height: calc(100% - 30px);
		// -webkit-backdrop-filter: blur(30px);
		// backdrop-filter: blur(30px);
		// overflow: auto;

		.section_container {
			border-bottom: 1px solid #e4e4e4;
			line-height: 2rem;

			>.label {
				font-weight: 500;
				font-size: 1.12rem;
			}

			>.person_container {
				padding-left: 1rem;
				display: flex;
				align-items: center;
				cursor: pointer;

				&:hover {
					background-color: #e1e1e1;
				}

				&:active {
					opacity: 0.5;
				}

				>img.person  {
					height: 1.2rem;
					margin-right: 0.5rem;
				}
				>span.label  {
					margin-right: 0.5rem;
				}
			}
		}//end .section_container
	}//end .persons_list_container

	// langs list into modal
	>.text_area_project_langs_container {
		color: initial;
		padding: 1rem;
		line-height: 1.6rem;

		>.lang_container {
			cursor: pointer;
			display: grid;
			grid-template-columns: 1rem 20% 1fr;
			grid-gap: 1rem;
			padding: 0.2rem;
			padding-left: 0.5rem;

			&:hover {
				background-color: #e1e1e1;
			}

			&:active {
				opacity: 0.5;
			}

			>.icon {
				height: 1.5rem;
			}

			>.lang_label {
				padding-right: 1rem;
			}

			>.label_keyboard {
				color: #7f7f7f;
			}
		}
	}
}//end dd-modal
