/**
* component_text_area
*
* Included from main.less file
*/
.component_text_area {
	// display: grid;
	// grid-template-rows: 1fr 1fr;
	// background-color: #ecf564;

	&.edit {
		align-content: unset;

		&.fullscreen {
			.ck-content {
				width: calc(100vw - 3rem);
			}
		}

		>.content_data {
			// background-color: #c0f5b8;
			display: block;
			min-height: 200px;
			margin: 0px;
			padding: 0px;
			overflow: hidden;
			// min-width: 30rem;

			>.content_value {
				display: contents;
				height: inherit;
				z-index: inherit;
				// padding-bottom: 2rem;
				position: relative;
				line-height: 1.3rem;

				>.toolbar_container {

					>.toolbar_button {
						// height: 1.8em;
						// padding: 0.33rem;
						// padding-right: 0.5em;
						// padding-left: 0.5em;
						// cursor: pointer;
						// border-radius: 0.25em;

						// &:hover {
						// 	background-color: #dddddd;
						// }
						// &:active {
						// 	opacity: 0.6;
						// }
						// &.active {
						// 	background-color: #dddddd;
						// }
						// &.disable {
						// 	opacity: 25%;
						// }

						// img {
						// 	height: 100%;
						// }
					}
				}

				>.value_container {
					// p, div {
					// 	line-height: 1.4rem;
					// 	// &:first-of-type {
					// 	// 	margin-top: 1rem;
					// 	// }
					// }
				}

				// value_container
				// Where component value is placed and parsed by the editor inline
				&.editor_container, >.editor_container {
					// background-color: #d9fdaf;
					display: block;
					margin: 0.5rem;
					margin-bottom: 1.5rem;
					padding: 0.5rem;
					padding-top: 0.33rem;
					padding-bottom: 0px;
					height: calc(100% - 1.5rem);
					overflow: auto;
					// outline: 1px solid #e6e6e6;
					// resize: vertical;

					// remove border outlines
					border: 0px;
					outline: 0px;
					box-shadow: none;

					@media screen and (max-width: @width_break_point_0) {
						padding-top: 1.5rem;
					}

					.image-inline {
						vertical-align: text-bottom;
					}

					// figure
					// .image_resized {
					// 	>img {
					// 		width: 100%;
					// 	}
					// }


					p {
						min-height: 1.3rem;
					}

					// h1/h2. Note that ckeditor converts h1 to h2
					h1, h2 {
						font-size: 2em;
						margin: 0.67em 0;
					}

					// images are inside span .dd_tag
					.person,
					.lang,
					.note,
					.index,
					.tc,
					.tc2,
					.svg,
					.draw,
					.page,
					.geo,
					.dd_tag>img {
						cursor: pointer;
						height: 15px;
						vertical-align: text-bottom;
					}

					.note, .lang, .person {
						margin-left: 2px;
						margin-right: 2px;
					}

					.tc {
						margin-right: 3px;
					}

					.tc2 {
						filter: invert(80%);
						margin-right: 3px;
					}

					// reference tag
					.reference {
						text-decoration: underline;
						color: @color_orange_dedalo;
					}
				}//end >.value_container

				// editor_container
					// >.editor_container {
					// 	margin-top: 0.5rem;
					// 	padding-top: 0px;

					// 	// background-color: antiquewhite;
					// 	// width: inherit;
					// 	// min-width: 28rem;
					// 	// margin: 0;
					// 	// padding: 0;
					// 	height: 100%;
					// }

				// source ckeditor
				>.ck-source-editing-area {
					width: calc(100% - 2rem);
					height: calc(100% - 2rem);
					margin: 0.5rem;
					margin-left: 1rem;
					margin-right: 1rem;
					margin-top: 0.33rem;
					z-index: 0;
					background-color: #f8f9fa;

					>textarea {
						overflow: auto;
						line-height: 1.1rem;
						font-size: .9rem;
						transition: none;
						border: 0;
						padding: 0px;
						padding-top: 0.5rem;
						box-shadow: none;
						// background-color: #f8f9fa;
					}
				}

				// create_fragment button bellow
				.create_fragment {
					position: absolute;
					right: -5px;
					bottom: 0px;
					box-shadow: 2px 2px 5px 0px rgb(38 38 38 / 30%);
					height: 33px;
				}

			// .ck.ck-editor__editable_inline>:first-child {
			.ck.ck-editor__editable_inline>p:first-of-type {
				 margin-top: unset;
			}

			}//end >content_value
		}//end >.content_data


		// layer_selector (editing images)
		.layer_selector {
			width: 163px;
			background-color: @color_orange_dedalo;
			position: absolute;
			right: 0px;
			top: 0px;
			padding: 0px;
			text-align: right;
			z-index: 2;

			>.button {
				margin: 0.5em;
				float: none;
				display: inline-block;
				&.add {
					float: left;
				}
			}

			// ul layer_ul
			>.layer_ul {
				text-align: left;
				clear: both;
				// border: 0.5px solid #777;

				>li {
					display: grid;
					grid-template-columns: 1em 1em auto 1em;
					align-items: center;
					border-bottom: 1px solid #777;
					border-left: 1px solid #777;
					border-right: 1px solid #777;
					cursor: pointer;
					background-color: #ffffff;
					height: 30px;

					&:hover {
						background-color: @color_orange_dedalo;
						color: #ffffff;
					}
					&:active {
						background-color: #ffffff;
						color: initial;
					}
					&:first-child {
						border-top: 0.5px solid #777777;
					}

					.layer_id {
						justify-self: center;
					}
					.user_layer_name {

					}
					// .layer_color_box {
					// 	background-color: #ffffff;
					// 	.layer_color {
					// 		width: 80%;
					// 		height: 20px;
					// 		border-radius: 19px;
					// 	}
					// }
				}
			}
		}

		// disabled_component
		&.disabled_component {
			.content_data.component {
				pointer-events: unset !important;
			}
		}
	}//end .edit


	&.list {
		// background-color: #bc00ae;
		// max-height: 6.3rem;
		overflow: hidden;
		img {
			height: 0.9rem;
		}
	}

	&.search {
		.q_operator {

		}
		.input_value {
			width: calc(100% - 4rem);
		}
	}

	&.view_note {

		.button.note {
			height: 1.1rem;
			width: 1.1rem;
			cursor: pointer;
			background-color: @color_grey_dark;

			&.green {
				background-color: #23ab48;
			}
		}
	}

	&.view_line {
		display: block;

		.toolbar_container{
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			background-color: #fff;
			outline: 1px solid @color_orange_dedalo;
			left: 0px;
			top: -21px;
			height: auto;
			width: auto;
			padding: 0.05rem;
			z-index: 1;

			>.toolbar_button {
				&.button_save {
					padding: 1px;
					padding-right: 0.5rem;
				}
			}
		}
		>.content_data {
			min-height: 3em;
			max-height: 6em;
			overflow: auto;

			>.content_value >.editor_container {
				padding	: 0.4em;
				margin	: 0px;
			}
		}
	}

	// with suffix _mini like 'component_text_area_mini'
	&_mini {
		// prevent index images height exceed text height
		img {
			height: 1em;
			vertical-align: middle;
		}
		p {
			display: contents;
		}
	}
}//end .component_text_area



// modal inside specifics
dd-modal {

	// persons_list_container into modal
	>.text_area_persons_list_container {
		color: initial;
		// padding: 1rem;
		line-height: 1.6rem;
		// background-color: rgb(240 240 240 / 87%);
		// z-index: 1;
		// width: calc(100% + 2px);
		// height: calc(100% - 30px);
		// -webkit-backdrop-filter: blur(30px);
		// backdrop-filter: blur(30px);
		// overflow: auto;

		.section_container {
			border-bottom: 1px solid #e4e4e4;
			line-height: 2rem;

			>.label {
				font-weight: 500;
				font-size: 1.12rem;
			}

			>.person_container {
				padding-left: 1rem;
				display: flex;
				align-items: center;
				cursor: pointer;

				&:hover {
					background-color: #e1e1e1;
				}

				&:active {
					opacity: 0.5;
				}

				>img.person {
					height: 1.2rem;
					margin-right: 0.5rem;
				}
				>span.label {
					margin-right: 0.5rem;
				}
			}
		}//end .section_container
	}//end .persons_list_container

	// langs list into modal
	>.text_area_project_langs_container {
		color: initial;
		line-height: 1.6rem;

		>.lang_container {
			cursor: pointer;
			display: grid;
			grid-template-columns: 1rem 20% 1fr;
			grid-gap: 1rem;
			padding: 0.2rem;
			padding-left: 0.5rem;

			&:hover {
				background-color: #e1e1e1;
			}

			&:active {
				opacity: 0.5;
			}

			>.icon {
				height: 1.5rem;
			}

			>.lang_label {
				padding-right: 1rem;
			}

			>.label_keyboard {
				color: #7f7f7f;
			}
		}
	}
}//end dd-modal
