// Vars
@common_css: "../../common/css";

// Usage
@import "@{common_css}/library.less";


#text_preview {
	font-size: 13px;
	line-height: 16px;
	color: #000000;
    font-family: "Verdana","Arial","Helvetica",sans-serif;

	padding: 10px;
    //background-color: #f5f5f5;
    width: 100%;  
    transition-property: all;
    transition-duration: .3s;



    /* EDITOR TAGS
	-------------------------------------------------- 
	img.person {
		height: 15px;
	}
	img.note {
		height: 15px;
		margin-left: 2px;
		margin-right: 2px;
	}
	img.index {
		height: 15px;
	}
	img.tc {
		height: 15px;
		margin-right: 3px;
	}
	img.tc2 {
		height: 15px;
		margin-right: 3px;
		filter: invert(80%);
	}
	img.svg {
		height: 15px;
	}
	img.page {
		height: 15px;
	}
	img.geo {
		height: 15px;
	}
	img.struct {
		//display: none;
	}
	*/



	/* SECTION_STRUCT
	-------------------------------------------------- */
	.section_struct {  
	    padding: 3px;
	    padding-left: 15px;
	    border: #909090;
	    border-style: dashed;
	    border-width: thin;
	    border-radius: 3px;
	    line-height: 1em;
	    min-height: 1em;
	    background-color: #FFFFFF;
	    padding-bottom: 8px
		}
		.section_struct > .section_struct {
			margin-top: 8px;
		}
		/*
		.section_struct::before {
			content: "";
		}*/
		.section_struct:hover {
			//background-color: #FBF6EA;
		}
		.section_struct:active {
			//background-color: #FBEBD4;
		}
		.text_active {
			background-color: #FBF6EA !important;
			border-color: @color_orange;
		}

		.text_unselectable {
			cursor: default !important;
		}
		.text_selectable {
			cursor: text !important;
		}


	/* REFERENCE
	-------------------------------------------------- */
	.reference {
		text-decoration: underline;
		cursor: pointer;
		}
		.reference:hover {
			color: #FF8500
		}


	.tc_wrong {
		/* filter: invert(); */
	    //filter: invert() ;//hue-rotate(90deg);
	    //border: 2px solid #15ffa0;
	    border: 2px solid #ff0000;
	    border-radius: 10px;
	}


	/* CHAPTER HEADERS
	--------------------------------------------------------- */
	h2 {
		-webkit-user-select: none !important;
	    -khtml-user-select: none !important;
	    -moz-user-select: none !important;
	    -o-user-select: none !important;
	    user-select: none !important;
	    padding-bottom: 5px;
	    line-height: 1em;
	    font-family: "Oxygen-light",sans-serif;
		}
		h2 .title {
			padding-right: 5px;
			font-size: 18px;
			font-weight: initial;
			font-style: initial;
			display: inline;
		}

}//end text_preview




