/**
* TOOL_INDEXATION
*
* Loaded on tool init
*/

// imports
	@import '../../../core/page/css/layout/vars.less';

// local vars
	@color_bg_tool : #23bcc7;



// column_id (section_tool list)
	.column_section_id > .button_edit.list_tool_indexation {

		&:hover{
			background-color: @color_bg_tool;
		}
		>.icon{
			-webkit-mask-image: url(../img/icon.svg);
			mask-image: url(../img/icon.svg);
		}
	}



// wrapper_tool
	.wrapper_tool.tool_indexation {
		// background-color: #2bab75;
		// width: 100%;
		// height: calc(100vh - 20%);

		>.tool_header {
			background-color: @color_bg_tool;
			position: relative;
		}

		>.content_data {
			// background-color: #f9eae0;
			width: 100%;
			height: 92vh;
			display: grid;
			grid-gap: 1rem;
			grid-template-columns: 1fr 1fr;
			// grid-template-rows: 80% 20%;

			@media screen and (max-width: @width_break_point_0) {
				display: flex;
				flex-wrap: wrap;
			}

			>* {
				width: 100%;
			}

			// left block
			>.thesaurus_container {
				// background-color: #91dda4;
				height: 100%;
				min-height: 700px;
				max-height: 100%;
				overflow: auto;
				// grid-row-start: 1;
				// grid-row-end: 3;

				>.area_thesaurus {
					padding: 0;
				}
			}

			// right block
			>.right_container {

				// text area
				>.component_container {
					// background-color: #d8de48;
					margin-bottom: 0.5rem;

					// lang selector
					>select {
						padding: 0;
						width: auto;
						margin-bottom: 0.5rem;
					}
				}

				// selected tag info line
				>.info_container {
					// background-color: #c4c4f9;

					.tag_info_container {
						display: flex;
						padding: 0.5em;
						padding-left: 1rem;
						// background-color: @color_grey_light;
						background-color: transparent;
						align-items: center;
						margin-bottom: 0.33rem;

						// border-radius: 20px;
						border-top-left-radius: 20px;
						border-bottom-left-radius: 20px;
						// background-image: radial-gradient(circle at 98% 50%, rgba(0, 0, 0, 0) 15px, rgba(0, 0, 0, 0) 3%, #aeaebd 25px);
						transition: all 0.5s ease;

						>* {
							display: flex;
						}

						>.fragment_id_info {
							>span {
								margin-right: 0.5rem;
							}
						}

						.fn_background(@bg_color) {
							background-image: radial-gradient(circle at 101% 50%,transparent 15px,transparent 25px,@bg_color 15px);
						}

						&.n {
							// background-color: #facc6d;
							.fn_background(#facc6d);
						}
						&.d {
							// background-color: #c8dff9;
							.fn_background(#c8dff9);
						}
						&.r {
							// background-color: #ff9e87;
							.fn_background(#ff9e87);
						}

						>* {
							padding-right: 1em;
						}
					}
				}

				// portal
				.component_portal {
					// background-color: #cdf64f !important;
				}
			}
		}//end content_data
	}//end wrapper_tool



// header
	// .tool_header.tool_indexation {
	// 	background-color: @color_bg_tool;
	// }



/*
// select style
	.select_style {
		width: fit-content;
		height: 2em;
		font-size: 0.80em;
	}



// components_container
	.components_container {
		display: grid;
	    grid-template-columns: 1fr 1fr;
	    grid-gap: 1em;
	    //background-color: #D6F737;

	    >select {
			.select_style;
	    }

	    >div {

	    }
	}



// buttons_container
	.buttons_container {
		padding-top: 1em;
		padding-bottom: 1em;
	}



// automatic_translation_container
	.automatic_translation_container {
		position: relative;

		>button {
			// .select_style;
			// font-size: .9em;
			// background-color: #a6a6a6;
			// border-radius: 0.30em;
			// cursor: pointer;
			// color: #ffff;
			// border: none;
			// padding-left: 0.75em;
			// padding-right: 0.75em;
		}

		>select {
			margin-left: 0.75em;
			// .select_style;
			width: fit-content;
			height: 2.75em;
			font-size: 0.80em;
		}
	}
*/
