


	@service_bg_color : #e6e6e6;

	.autocomplete_searh_container {
		z-index: 1;
		position: absolute;
		width: calc(100% + 1px); // ~"calc(100% + 21px)";
		top: 100%;
		background-color: @service_bg_color;
		margin-left: 0;
		border: none;
		left: -1px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		// box-shadow: 2px 2px 5px 0 rgba(38, 38, 38, 0.3);

		>.source_selector {
			display: flex;
			background-color: #949494;
    		color: #ffff;
			>*{
				margin: .25em;
				padding: 0.5em;
			}
			
		}

		// sections_list. Box of checkboxes with all available sections
		>ul.sections_list {
			background-color: #949494;
			display: table;
			width: 100%;

			>li {
				display: flex;
				float: left;
				width: 50%;
				white-space: nowrap;
				overflow: hidden;
				padding: 0.5em;
				color: white;

				direction: rtl;
				justify-content: flex-end;

				&.all_selector {
					// background-color: #efc8bf;
					width: 100%;
					border-bottom: 1px solid #e6e6e6;
				}

				label {
					padding-right: 0.5em;
				}
			}
		}

		>div.inputs_list {
			background-color: #e6e6e6;
			padding: 0.5em;
		}

		>div.search_operators_div {
			background-color: #e6e6e6;
			padding: 0.5em;
			display: flex;
			padding-bottom: 1em;

			>* {
				width: auto;
				line-height: 1.5em;
				height: 1.5em;
				padding-right: 0.5em;
			}
		}

		>input.autocomplete_input {
			// background: #fff url("../../themes/default/icons/search.svg");
			// background-repeat: no-repeat;
			// background-size: auto 80%;
			// background-position: bottom -1px right 5px;
		}


		>ul.autocomplete_data {
			padding-top: 0.5em;

			>li {
				padding: 0.5em;
				border-top: 0.07em solid #cdcdcd;
				cursor: pointer;

				&:first-child {
				  border-top: none;
				}

				&:hover{
					background-color: darken(@service_bg_color, 7%);
				}
				&:active{
					background-color: darken(@service_bg_color, 14%);
				}
			}
		}
	}


	// .autocomplete_data {
	// 	//position: absolute;
	// 	//top: 44px;
	// 	padding-top: 0.5em;
	// }
	// .autocomplete_data_li {
	// 	padding: 0.5em;
	// 	border-top: 0.07em solid #cdcdcd;
	// 	//padding: 1em;
	// }

	// .autocomplete_data_li:first-child {
	//   border-top: none;
	// }
	// .autocomplete_data_li:hover{
	// 	background-color: #aaa;
	// }




// // autocomplete_wrapper
// 	.autocomplete_wrapper {
// 		width: 100%;
// 		z-index: 10;
// 		padding: 4px;
// 		padding-bottom: 10px;
// 	    padding-left: 5px;
// 		left: 0px;

// 		&.in_search_mode {
// 			position: absolute;
// 		    top: 0;
// 		    left: 40px;
// 		    padding: 0;
// 		    width: 80%;
// 		    @media screen and (max-width: 1490px) {
// 				width: 72%;
// 			}
// 		}

// 		> input.autocomplete_input {
// 			//background-color: #C8F54D;
// 			//float: right;
// 			width: 100%;
// 			background: #fff url("../../../themes/default/lupa2.svg") right center no-repeat;
// 			background-size: auto 100%;
// 			//background-position-x: 95%;
// 			background-position: bottom -1px right 5px;
// 			//transition: all .2s ease-in-out;
// 			//opacity: 0.5;

// 			&:focus {
// 				opacity: 1;
// 				//width: 150px;
// 				//background-position-x: 95%;
// 			}
// 		}

// 	}//end .autocomplete_wrapper



// // autocomplete_wrapper_edit_list
// 	.autocomplete_wrapper_edit_list {
// 		padding: 0;
// 	}



// // autocomplete_list_button_options
// 	.autocomplete_list_button_options {
// 		opacity: .3;
// 		background-position: -432px 0;
// 		//zoom: 120%;
// 		-moz-transform: scale(1.20);
// 		transform-origin: bottom;
// 	}



// // autosearch_options
// 	.autosearch_options {
// 		//background-color: #DFFE79;
// 		//display: none;
// 		//padding: 5px;
// 		//padding-right: 0; //100px;
// 		//background-color: #8e8e8e;
// 		color: #9e9e9e;
// 		border-bottom: 0.5px solid #ccc;
// 		//border-radius: 4px;
// 		//margin-top: 0; //10px;
// 		//margin-bottom: 5px;
// 		clear: both;
// 		//background-color: #cdcdcd;
// 		background-color: darken(@color_selected_wrap, 5%);

// 		&.in_search_mode {
// 			padding-right: 5px;
// 			//padding-left: 150px;
// 		}
// 	}//end .autosearch_options



// // search_sections_list
// 	@column_width : 33%;
// 	ul.search_sections_list {
// 		display: table;
// 		background-color: #8E8E8E;
// 		padding: 10px;
// 		z-index: 1001;
// 		white-space: nowrap;
// 		color: #ffffff !important;
// 		width: 100%;
// 		top: 5px;
// 	    position: relative;
// 		margin-bottom: 5px;

// 		>li {
// 			display: flex; // Important for text-overflow ellipsis
// 			float: left;
// 			width: @column_width;
// 			white-space: nowrap;
// 			overflow: hidden;

// 			>input {
// 				margin: 2px;
// 				margin-right: 4px;
// 			}

// 			>label {
// 				white-space: nowrap;
// 				overflow: hidden;
// 				text-overflow: ellipsis;
// 				max-width: 90%;
// 			}

// 			mark {
// 				color: #f5c39f !important;
// 			}
// 		}

// 		&.one_column {
// 			>li { width: 100%; }
// 		}
// 		&.two_column {
// 			>li { width: 50%; }
// 		}
// 		&.three_column {
// 			>li { width: 33%; }
// 		}

// 		hr {
// 			width: 100%;
// 			display: -webkit-inline-box;
// 			margin: 3px;
// 			padding: 0;
// 			float: left;
// 		}

// 	}//end .search_sections_list

// 	/*
// 		.search_sections_list li {
// 			//display: table;
// 			float: left;
// 			width: @column_width;
// 			white-space: nowrap;
// 			overflow: hidden;
// 			display: flex; // Important for text-overflow ellipsis
// 		}
// 		.search_sections_list input {
// 			margin: 2px;
// 			margin-right: 4px;
// 		}
// 		.search_sections_list label {
// 			white-space: nowrap;
// 			overflow: hidden;
// 			text-overflow: ellipsis;
// 			max-width: 90%;
// 		}
// 		.search_sections_list hr {
// 			width: 100%;
// 			display: -webkit-inline-box;
// 			margin: 3px;
// 			padding: 0;
// 			float: left;
// 		}
// 		.search_sections_list mark {
// 			color: #f5c39f !important;
// 		}
// 	*/
