/**
* component_security_access
*
* Included from main.less file
*/
.component_security_access {
	// background-color: #d3fcea;

	&.edit {
		>.content_data {
			// display: block;
			min-height: 12rem;
			pointer-events: unset !important; // prevent time machine lock tree arrows

			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			// width: 75%;

			>.content_value {
				margin-left: 1.5rem;
				// min-height: 1.2rem;
				// display: flex;

				&.permissions {
					color: #676767;
					font-weight: 300;

					>.radio_buttons_container {
						margin-left: 1.25rem;
					}
				}

				ul.branch {
					// background-color: #faceb9;
				}
			}

			.area_label {
				position: relative;
				padding: 0.22rem;
				padding-left: 0;
				line-height: 1.1rem;
				vertical-align: bottom;

				&.icon_arrow {

				}

				&.component {
					color: orange;
				}

				.info_text {
					color: #999999;
					padding-left: 0.5rem;
					padding-right: 0.25rem;
					font-weight: 300;
					font-size: 14px;
				}
			}

			.radio_buttons_container, .permissions_global {
				display: flex;
				align-items: center;
				margin-right: 0.5rem;
				margin-left: 0.5rem;
				label {
					display: block;

					input {
						margin-right: 0.25rem;
						-webkit-appearance: none;
						-moz-appearance: none;
						appearance: none;
						display: inline-block;
						width: 0.95rem;
						height: 0.95rem;
						padding: 1px;
						background-clip: content-box;
						border: 1px solid #c8c7ca;
						background-color: #f3f3f3;
						border-radius: 50%;
						vertical-align: bottom;

						/* appearance for checked radiobutton */
						&:checked {
						  background-color: #4dbb4a; // green
						  &.val_0 {
						  	background-color: #f16053; // red
						  }
						  &.val_1 {
						  	background-color: #f8b544; // orange
						  }
						}
					}
					margin-right: 0.25rem;
				}
			}

			.icon_arrow {
				// height: 1.09rem;
				// position: relative;
				margin-right: 1.5rem;

				&:after {
					background-color: #0075ff;
					right: -1.45rem;
					height: 1.2rem;
					transform: rotate(270deg);
				}
				&.up {
					&:after {
						transform: rotate(360deg);
						opacity: 0.5;
					}
				}
			}

			// .loading_info {
			// 	position: absolute;
			// 	top: 25%;
			// 	left: 50%;
			// 	transform: translate(-50%, -50%);
			// 	color: #b9b9b9;
			// 	font-weight: 300;
			// }

		}//end .content_data

		>.buttons_container {

			.button_save {
				position: absolute;
				right: 3px;
				top: 33px;
			}
		}

	}//end .edit

	&.list {
		>span {
			display: block;
			max-height: 10rem;
			overflow: auto;
			white-space: pre-wrap;
			font-size: 13px;
		}
	}
}//end .component_security_access
