/**
* component_security_access
*
* Included from main.less file
*/
.component_security_access {

	&.edit {

		>.content_data {
			display: flex;
			min-height: 12rem;
			pointer-events: unset !important; // prevent time machine lock tree arrows

			@media screen and (max-width: @width_break_point_0) {
				display: block;
			}

			>.button_save {
				top: 5rem;
				position: sticky;
				float: right;
				flex: none;
				white-space: nowrap;

				&.disable {
					visibility: hidden;
				}
			}

			>.changes_container {
				display: flex;
				flex-direction: column;
				max-height: 95vh;
				padding-right: .66rem;
				flex-basis: 25rem;
				transition: opacity 1s linear;
				padding-bottom: 1.5rem;
				overflow: auto;
				position: sticky;
				top: 5rem;

				@media screen and (max-width: @width_break_point_0) {
					flex-basis: 100%;
				}

				.changes_files_selector {
					margin-top: 0.5rem;
				}
				.changes_data_container {
					margin-top: 1.1rem;

					.change {

						&.selected{
							background-color: #fff0e0;
						}

						.parents_labels {
							border-top: 0.1rem solid @color_grey_light;
							padding-top: 0.5rem;
							margin-top: 0.5rem;
						}
						.section_label {
							margin: 0.5rem;
							font-weight: bold;
							&:hover{
								cursor: pointer;
							}

						}
						.children_container {
							color: #676767;
							margin: 0.5rem;
							margin-left: 1.0rem;
							line-height: 1.1rem;
						}
					}
				}
			}//end >.changes_container

			// ul root
			>.tree_root {
				display: flex;
				flex-direction: column;
				flex-wrap: wrap;
				height: inherit;
				max-height: inherit;
				font-size: 13px;
				border-left: 0.1rem solid @color_grey_light;

				@media screen and (max-width: @width_break_point_0) {
					border-left: none;
					padding-bottom: 1.5rem;
				}

				// all ul
				.ul_item {
					width: 100%;
					display: block;
				}

				>.li_item {
					@media screen and (max-width: @width_break_point_0) {
						margin-left: 0rem !important;
					}
				}

				// all li
				.li_item {
					display: flex;
					flex: 1 1 50%;
					flex-wrap: wrap;
					line-height: 1em;
					align-items: center;
					max-height: inherit;
					margin-left: 1.5rem;

					&.permissions {
						color: #676767;
						font-weight: 300;

						>.radio_buttons_container {
							margin-left: 1.25rem;
						}
					}

					// grouper cases (filter)
					&.grouper {
						flex-wrap: wrap;
						padding-bottom: 0.25em;
						margin-left: 0px;
						padding: 0px;

						li {
							flex: 0 0 100%;
							padding: 0.25em;
							width: 100%;
							height: inherit;
							font-size: 0.90em;
						}

						>.grouper_label {
							width: auto;
							padding-left: 0px;
							padding-top: 0.25em;
							padding-bottom: 0.25em;
							padding-right: 1.66rem;
							opacity: 0.7;
							font-size: 0.80em;
						}

						input {
							vertical-align: text-top;
						}
					}

					label {

					}

					input {
						margin-right: 0.33em;
						cursor: pointer;
					}

					// q_operator
					>input.q_operator {
						width: 3em;
						text-align: center;
					}
				}

				// first level li
				>.li_item {
					position: relative;
					flex: 1 1 100%;
					align-items: baseline;
					z-index: 0;
				}

				// label area_label
				.area_label {
					position: relative;
					padding: 0.22rem;
					padding-left: 0px;
					line-height: 1.1rem;
					vertical-align: bottom;

					&.selected{
						font-weight: bold;
						background-color: #fff0e0;
					}

					&.icon_arrow {

					}

					&.component {
						color: orange;
					}

					.info_text {
						color: #999999;
						padding-left: 0.5rem;
						padding-right: 0.25rem;
						font-weight: 300;
						font-size: 14px;
					}
				}

				// radio buttons permissions
				.radio_buttons_container, .permissions_global {
					display: flex;
					align-items: center;
					margin-right: 0.5rem;
					margin-left: 0.5rem;
					label {
						display: block;

						input {
							margin-right: 0.25rem;
							-webkit-appearance: none;
							-moz-appearance: none;
							appearance: none;
							display: inline-block;
							width: 0.95rem;
							height: 0.95rem;
							padding: 1px;
							background-clip: content-box;
							border: 1px solid #c8c7ca;
							background-color: #f3f3f3;
							border-radius: 50%;
							vertical-align: bottom;

							/* appearance for checked radiobutton */
							&:checked {
							  background-color: #4dbb4a; // green
							  &.val_0 {
							  	background-color: #f16053; // red
							  }
							  &.val_1 {
							  	background-color: #f8b544; // orange
							  }
							}
						}
						margin-right: 0.25rem;
					}
				}

				// icon arrow show children
				.icon_arrow {
					margin-right: 1.5rem;

					&:after {
						cursor: pointer;
						background-color: #0075ff;
						right: -1.45rem;
						height: 1.2rem;
						transform: rotate(270deg);
					}

					&.up {
						&:after {
							transform: rotate(360deg);
							opacity: 0.5;
						}
					}
				}
			}//end .tree_root

		}//end >.content_data

		>.buttons_container {

		}
	}//end &.edit

	&.list {
		>span {
			display: block;
			max-height: 10rem;
			overflow: auto;
			white-space: pre-wrap;
			font-size: 13px;
		}
	}//end .list

	&.view_mini {

	}//end view_mini


	&.view_line {
		display: block;

		>span {
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 10;
			line-clamp: 10;
			-webkit-box-orient: vertical;
		}
	}//end view_line

}//end component_security_access
