/**
* TOOL_IMPORT_MARC21
*
* Loaded on tool init
*/
// imports
@import (once) '../../../core/page/css/layout/vars';

@tool_color: #63adf8; // blue

// tool wrapper
// Encapsulate all tool content to prevent core collisions
	.wrapper_tool.tool_import_marc21 {

		.spinner {
			border-top-color: @tool_color;
		}

		>.content_data {
			position: relative;

			// common
			input[type='checkbox'] {
				margin-left: 0.5rem;
				vertical-align: middle;
				transform: scale(1.2);
			}

			>.component.options {
				display: flex;
				justify-content: space-around;
				align-items: center;

				// ios style switch
				@switch_height: 20px;
				@switch_width: 40px;

			}

			>.tool_configuration_options {

				.checkbox-label {
					margin-left: 0.5rem;
					margin-right: 0.5rem;
				}

			}

			// template_container. Where de rows are placed
			>.template_container {
				outline: 1px solid @color_grey_13;
				padding: 0.25rem;
				padding-left: 0.25rem;
				padding-bottom: 0.25rem;
				margin-top: 1em;
				border-radius: 1em;

				// container for buttons and progress bar
				>.row {
					display: flex;
					margin: 1rem;
					margin-bottom: 0px;
					padding-bottom: 0px;

					// buttons add files etc.
					>.column_left {

					}
					// progress bar
					>.column_right {

					}
				}

				>.table {
					margin-top: 1rem;
					margin-bottom: 1rem;
				}

				// file-row. Each row line
				.file-row {
					// display: flex;
					// flex-wrap: wrap;
					// justify-content: left;
					// align-items: center;
					// outline: 1px solid #f9f5f5;
				}//end .file-row
			}

			>.inputs_container {
				margin-top: 1.5rem;
				margin-bottom: 1.5rem;

				.inputs_container_caption {
					display: inline-block;
					background-color: @color_grey_13;
					width: auto;
					padding: 0.5rem;
					padding-left: 2rem;
					padding-right: 2rem;
					border-top-left-radius: 0.33rem;
					border-top-right-radius: 0.33rem;
					margin-left: -1px;
				}
			}

			>.buttons_bottom_container {
				display: flex;
				justify-content: center;

				// button IMPORT
				>.processing_import {
					margin: 2rem;
					padding-left: 1.5em;
					padding-right: 1.5em;
					background-color: @tool_color;
					border-color: darken(@tool_color, 3%);
				}
			}

		}//end content_data

		.msg_container {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 4em;
			transform: translate(-50%, -50%);
		}
	}//end wrapper_tool


// modal header tool modification
	.tool_header.tool_import_marc21 {
		background-color: @tool_color;

		.tool_name_container {
			.label{
				display: flex;
				align-items: center;
				.button{
					font-size: 3rem;
				}
			}
		}
	}
