/**
* TOOL_LANG_MULTI
*
* Loaded on tool init
*/

// local vars
@tool_color: #ce8e0c;


// tool wrapper
// Encapsulate all tool content to prevent core collisions
	.wrapper_tool.tool_lang_multi {

		// content_data
		>.content_data {
			padding-right: 1em;

			.spinner {
				border-top-color: @tool_color;
			}
		}

		.top_container {
			// background-color: #d0fbd4;
			width: 100%;
			padding: 0.5rem;
			padding-top: 0.5rem;
			padding-bottom: 1rem;
			display: flex;
			align-items: center;

			>.icon {
				margin-right: 0.5rem;
				font-size: 1.4rem;
			}

			>.automatic_label {
				padding-right: 1rem;
			}
		}

		// components_container
		.components_container {
			display: grid;
			grid-template-columns: 1fr 1fr;
			grid-gap: 1em;

			.target_component_container {
				min-height: 110px;

				&.source {
					border-bottom: 1px solid @tool_color;
				}

				.target_component_title  {
					padding: 0.5em;
					padding-left: 0;
				}

				>.wrapper_component {
					// background-color: #7094c3;
					// min-height: 71.5px;
				}
			}
		}//end components_container
	}//end wrapper_tool



// modal header tool modification
	.tool_header.tool_lang_multi {
		background-color: @tool_color;
	}
