/**
* service_ckeditor
*
* Included from main.less file
*/



// ddEdit custom toolbar
.toolbar_container {
	// container details defined in component_text_area
	display: flex;
	flex-wrap: wrap;
	position: absolute;
	background-color: #ffffff;
	// outline: 1px solid @color_grey_medium;
	// bottom blue shadow line
	box-shadow: 0px 1px 0px 0px @color_grey_medium;
	// border-bottom: 1px solid @color_grey_medium;

	// version mini	(fit heigth)
	left: 6px;
	top: 6px;
	height: auto;
	padding: 0.05rem;
	// width: calc(100% - 2rem);
	width: calc(100% - 12px);
	z-index: 1;

	// custom toolbar of ddEditor
	>.toolbar_button {
		height: 1.5em;
		padding: 0.25rem;
		padding-right: 0.33em;
		padding-left: 0.25em;
		border-radius: 0.25em;
		cursor: pointer;

		&.separator {
			pointer-events: none;
		}

		&:hover {
			background-color: #dddddd;
		}
		&:active {
			opacity: 0.6;
		}
		&.active {
			background-color: #dddddd;
		}
		&.disable {
			opacity: 25%;
		}

		img {
			height: 100%;
		}

		// height: 100%;
		// padding: 0.33rem;
		// padding-left: 0.5em;
		// padding-right: 0.5em;
		// cursor: pointer;
		// border-radius: 0.33em;

		// &.separator {
		// 	pointer-events: none;
		// }
		// &:hover {
		// 	background-color: #dddddd;
		// }
		// &:active {
		// 	opacity: 0.6;
		// }
		// &.active {
		// 	background-color: #dddddd;
		// }
		// &.disable {
		// 	opacity: 25%;
		// }

		// img {
		// 	height: 100%;
		// }
	}

	// standard ckeditor inline toolbar moved inside toolbar_container
	// inline editor toolbar
	.ck-balloon-panel.ck-toolbar-container {
		display: contents;
		position: relative;
		z-index: 0;
		left: 0px !important;
		top: 0px !important;
		box-shadow: none;
		border: 0px;

		.ck-toolbar.ck-toolbar_grouping {
			outline: none;
			// padding: 0px !important;
			margin: 0px !important;
			height: 1.70rem;

			// 1 - items wrapper
			.ck-toolbar__items {
				margin: 0px !important;
				padding: 0px !important;
			}

			// 2 - separator
			.ck-toolbar__separator {
				height: 100%;
			}

			// 3 folded grouped-dropdown
			.ck-toolbar__grouped-dropdown {
				white-space: nowrap;
			}

			.ck-dropdown,
			.ck-toolbar__separator,
			.ck-file-dialog-button,
			.ck-button {
				min-height: 22px;
				margin: 0px;
				margin-top: 0px;
				margin-bottom: 0px;
				white-space: nowrap;
			}

			.ck-splitbutton.ck-dropdown__button {
				// min-width: 4rem;
				white-space: nowrap;
			}

			// dropdown like 'paragraph'
			.ck-dropdown.ck-heading-dropdown {
				width: 8rem;
				max-height: unset;
				white-space: nowrap;
			}

			// svg icons
			.ck-icon {
				height: 19px;
			}

			// separators
			.ck-toolbar__separator {
				height: 16px;
				// top: 0px;
				// position: relative;
			}
			input, label {
				height: unset;
				min-height: unset;
				font-size: unset;
			}
		}
	}//end .ck-balloon-panel

}//end .toolbar_container



// source ckeditor
.ck-source-editing-area {
	height: calc(100% - 1.5rem);
	width: 100%;
	margin: 0.5rem;
	margin-left: 1rem;
	margin-right: 1rem;
	z-index: 0;

	>textarea {
		overflow: auto;
	}
}



.ck.ck-content {

	// (!) Moved to component text area to allow view before init the editor
		// @image_height: 15px;

		// // editor tags
		// .image-inline {
		// 	img {
		// 		cursor: pointer;
		// 		height: @image_height;

		// 		&.person {

		// 		}

		// 		&.note {
		// 			margin-left: 2px;
		// 			margin-right: 2px;
		// 		}

		// 		&.index {

		// 		}

		// 		&.tc {
		// 			margin-right: 3px;
		// 		}

		// 		&.tc2 {
		// 			filter: invert(80%);
		// 			margin-right: 3px;
		// 		}
		// 		&.svg {

		// 		}

		// 		&.draw {

		// 		}
		// 		&.page {

		// 		}

		// 		&.geo {

		// 		}

		// 		&.lang {

		// 		}

		// 		&.struct {
		// 			//display: none;
		// 		}
		// 	}
		// }
}//end .ck.ck-content



.ck-placeholder {
	opacity: 0.33;
}



dd-modal .find_and_replace {
		// .find_and_replace {
		// 	padding: 1.5em;
		// }
		input{
			margin-bottom: 1px;
			&:focus{
				background-color: #fff3e7;
				outline		: 1px solid #ff7b0e;
				box-shadow	: none;
			}
		}
		.replace_container {
			padding-top	: 1.5em;
		}
		.options_container {
			display: flex;
			align-items: center;
			padding-top: 1.5em;
			.label_match_case{
				padding-right:0.3em;
			}
			.label_whole_words {
				padding-left:1.0em;
				padding-right:0.3em;
			}
			/* toggle-pill-color */
			.check input[type="checkbox"] {
				display: none;
			}
			.check input[type="checkbox"] + label {
				display: inline-block;
				position: relative;
				width: 3em;
				height: 1.6em;
				// margin-bottom: 20px;
				border-radius: 1em;
				// background: #e84d4d;
				background: #eeeeee;
				// box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);
				cursor: pointer;
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-webkit-transition: background 0.1s ease-in-out;
				transition: background 0.1s ease-in-out;
			}
			.check input[type="checkbox"] + label:before {
				content: "";
				display: inline-block;
				width: 1.2em;
				height: 1.2em;
				border-radius: 1em;
				background: #fff;
				box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
				position: absolute;
				left: 0.2em;
				top: 0.2em;
				-webkit-transition: all 0.2s ease-in-out;
				transition: all 0.2s ease-in-out;
			}
			.check input[type="checkbox"]:checked + label {
				background: #47cf73;
			}
			.check input[type="checkbox"]:checked + label:before {
				box-shadow: -2px 0px 5px rgba(0, 0, 0, 0.2);
				left: 1.6em;
			}
	 		/* toggle-pill-color end */
		}
	}//end dd-modal
