/**
* lock_components
*
* Included from area_maintenance.less file
*/
.wrapper_widget.lock_components {

	.info_node {
		padding: 1rem;
		line-height: 1.1rem;
		white-space: pre-wrap;
	}

	.button_refresh {
		margin-top: 1rem;
	}

	.button_force_unlock_all_components {
		float: right;
		margin-top: 1rem;
	}
}//end lock_components
