// Vars
@common_css: "../../common/css";

// Usage
@import "@{common_css}/library.less";



/* WRAP DIV CONTAINER
--------------------------------------------- */
.css_wrap_autocomplete {
	//background-color: @color_orange !important;
	}
	.css_wrap_autocomplete > .content_data {
		
	}



	/* BUTTONS_AND_FIELDS
	--------------------------------------------- */
	.css_wrap_autocomplete .buttons_and_fields {
		/*
		//background-color: #FDE853;
		display: block;
		//width: 100%;
		position: relative;
		height: 30px;
		float: right;
		*/
		//display: flex;
		align-items: center;
		justify-content: flex-end;		
		position: absolute;	
		right: 0;
		top: -23px;
		background-color: @color_selected_wrap;
		padding-left: 2px;
		padding-right: 2px + 3px;
		padding-top: 2px;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		display: none;
		}
		// In search mode
			.css_wrap_autocomplete.wrap_component_search .buttons_and_fields {
				display: block;
				background-color: transparent;
				top: 0.4em;
				right: -0.6em;
			}
			.css_wrap_autocomplete.wrap_component_search .buttons_and_fields .new_autocomplete, .css_wrap_autocomplete.wrap_component_search .buttons_and_fields .edit_autocomplete {
				display: none
			}

		// BTN DELETE 
		.css_autocomplete_button_delete {
			position: relative;
			top: 0px;
			margin-right: 5px;
			background-position: -456px 0;
			opacity: 0.3;
			min-width: 15px;
		}
		// BTN EDIT SECTION
		.edit_autocomplete {
			background-position: 0 -72px;
			opacity: 0.3;
			margin-left: 3px;
		}
		// BTN EDIT ROW
		.edit_autocomplete_row {
			//top: 1px;
		    //left: 5px;

			top: 1px;
			/* margin-left: 5px; */
			/* position: relative; */
			/* width: 23px; */
			/* left: 0; */
			margin: 0;
			padding: 0;
			min-width: 15px;
			margin-left: 5px;
		}
		// BTN NEW
		.new_autocomplete {	
			background-position: 0 -96px;
			opacity: 0.3;
			margin-left: 3px;
		}




	/* VALOR TEXT
	--------------------------------------------- */
	ul.css_autocomplete_valor {
		display: inline-block;
		color: #1a1a1a;
		padding: 3px;
		padding-left: 0px;
		padding-right: 5px;
		width: 100%;

		}
		ul.css_autocomplete_valor.in_search_mode {
			width: 100%;
			padding-top: 10px;
		}
		ul.css_autocomplete_valor > li {
			display: flex;
			//max-width: 95%;
		}
		ul.css_autocomplete_valor.in_search_mode {
			//float: left;
		}
		ul.css_autocomplete_valor.in_search_mode > li {
			display: block;
			max-width: 100%;
		}

	ul.css_autocomplete_valor_edit_in_list {
		display: inline-block;
		width: 45%;
	}



	/* THESAURUS CONTEXT
	--------------------------------------------- */
		.data_container .css_wrap_autocomplete .buttons_and_fields {
			visibility: hidden;
			display: none !important;
		}
		.data_container .css_wrap_autocomplete .css_autocomplete_button_delete {
			visibility: hidden;
			display: none !important;
		}



	/* DATO HIDDEN INPUT
	----------------------------------------- */
	input.css_autocomplete_dato_hidden {
		opacity: 0.8;
		display: none;
		width:100%;
		background-color: #c3e6f7;
		}
		input.css_autocomplete_dato_hidden.debug {
			display: inline-block;
			width: 290px;
			margin-top: 2px;
			clear: both;
		}




	/* autocomplete_semantic_nodes
	---------------------------------------- */
		.autocomplete_semantic_nodes {
			background-color: rgba(232, 232, 232, 0.81);
			border-radius: 4px;
			margin: 3px;
			margin-left: 15px;
			padding: 4px;	
			display: block;
			white-space: nowrap;
			width: 100%;
			min-height: 1.75em;
		}



	.css_autocomplete_ul_edit_in_portal {
		display: inline-block;
		width: 16px;
		height: 16px;
		background-size: cover;
		float: left;
		background: url('../../themes/default/close.svg') center center no-repeat;
		-webkit-transform: rotate(45deg);
	    -moz-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	    -o-transform: rotate(45deg);
	    transform: rotate(45deg);
	    -webkit-filter: brightness(0%);
	    filter: brightness(0%);
		    opacity: 0.4;
		}
		.css_autocomplete_ul_edit_in_portal:hover {
			-webkit-filter: hue-rotate(150deg) brightness(100%) saturate(2);	
			filter: hue-rotate(150deg) brightness(100%) saturate(2);
			cursor: pointer;
			opacity: 0.8;
		}

	

	.css_autocomplete_button_close {
		display: inline-block;
		width: 16px;
		height: 16px;
		background-size: cover;
		background: url('../../themes/default/close.svg') center center no-repeat;
		//filter: hue-rotate(30deg) saturate(.5) brightness(0%) saturate(4)
		-webkit-filter: brightness(0%);
		filter: brightness(0%);
		opacity: 0.4;
		}
		.css_autocomplete_button_close:hover {
			-webkit-filter: brightness(100%);
			filter:brightness(100%); 
			cursor: pointer;
			opacity: 0.8;
		}



	/* wrap_portal_list
	---------------------------------------- */
		.css_wrap_autocomplete.wrap_portal_list > .content_data {
			width: 100%;
			padding: 3px;
			}
			.css_wrap_autocomplete.wrap_portal_list > .content_data .css_autocomplete_search_field {
				//width: 75%;
				background-position-x: 90%;
				//right:0px;
				//display: inline-block;
				max-width: 82px;
				z-index: 9;
			}
		.css_wrap_autocomplete.wrap_portal_list >.content_data > input.css_autocomplete_search_field:focus {
			background-position-x: 98%;
		}



	

	// button options to show/hide the options custom position
		.css_wrap_autocomplete .autocomplete_list_button_options {
			top: -1px;
			right: 1px;
		}
		



		

			.filter_fields {
				text-align: right;
				padding: 4px;
				padding-top: 5px;
				padding-bottom: 5px;
				}
				.filter_fields ul {
					display: flex;
				}
				.filter_fields ul > li {
					padding-left: 2px;
					flex-grow: 1;
				}
				.filter_fields ul li .label {
					margin-right: 10px;
					color: #7c7c7c;		
				}
				.filter_fields label {
					color: #7c7c7c;		
				}
				.filter_fields ul li input {
					//max-width: 150px;
					width: 100%;
				}
			.filter_fields .search_operators_div {
				padding-top: 5px;
				padding-bottom: 5px;
				
				margin-left: 10px;
				margin-top: 4px;
				display: inline-block;
			}

			.filter_fields.in_search_mode {
				/*text-align: left;
				padding-top: 0px;
				padding-bottom: 0px;*/
			}



	/* COMPONENT_AUTOCOMPLETE_NEW_ELEMENT. 
		Container where components for make new record are loaded
	------------------------------------------------------------ */
		.component_autocomplete_new_element {
			width: 100%;
			display: table;
			//margin-top: 15px;		
			//background-color: #cecece;
			padding: 5px;
			padding-bottom: 20px;
			//border-radius: 3px;
			border-bottom: 0.5px solid #ccc;

			input.css_autocomplete_search_field {
				width: initial;
			}

			input[type="button"] {
				cursor: pointer;
			}

			.new_autocomplete {
				display: none;
			}
		}



	/* SEARCH MODE OVERWRITE OPERATORS CSS
	---------------------------------------- */
		.wrap_component_search .comparison_operator {
			float: left;
			margin-right: 8px;
		}



	/* UL LI DATAFRAME
	------------------------------------------------------- */
	.css_wrap_autocomplete .content_data ul > li {
		//display: flex;

		.dataframe_container{
			white-space: nowrap;
			width: 35px;
			height: 10px;
			position: relative;
			display: inline-block ;
			top: -9px;
			float: right;

			.css_wrap_check_box{
				background-color: transparent !important
			}
		}
	}

