.wrapper_tool.tool_dev_template>.content_data .spinner{border-top-color:#f78a1c}.wrapper_tool.tool_dev_template>.content_data>.info_container{padding:2rem;padding-left:0;line-height:1.5rem;font-size:1.1rem}.wrapper_tool.tool_dev_template>.content_data>.footer_buttons_container{padding-top:2rem}.wrapper_tool.tool_dev_template>.content_data>.value_container{margin:1rem;min-height:7rem}.tool_header.tool_dev_template{background-color:#f78a1c}
/*# sourceMappingURL=tool_dev_template.css.map */