/**
* section_tab
*
* Included from main.less file
*/
.section_tab {
	// background-color: #50f9af;

	&.edit {
		width: 100%;

		// tab headers
		>.tab_label {
			display: inline-block;
			margin: 0px;
			margin-left: -1px;
			font-weight: 600;
			text-align: center;
			color: #bbbbbb;
			border: 1px solid transparent;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
			top: 1px;
			position: relative;
			padding: 0.5rem;
			padding-left: 1.25rem;
			padding-right: 1.25rem;

			&:before {
				//font-family: fontawesome;
				//font-weight: normal;
				margin-right: 10px;
			}

			&:hover {
				color: #888888;
				cursor: pointer;
			}

			&.active {
				background-color: rgba(249, 249, 249, 0.65);
				background-color: #ffffff;
				color: #555555;
				border: 1px solid #dddddd;
				border-top: 2px solid orange;
				border-bottom: 1px solid #ffffff;
				margin-bottom: 0px;
			}
		}

		// tab content
		>.tab {
			//background-color: #A3E1BF;
			display: none;
			// padding-top: 5px;
			// border: 1px solid #ddd;
			// background-color: rgba(249,249,249,0.65);
			width: 100%;

			&.active {
				display: table;
				// padding-top: 2px;
			}
		}
	}
}
