/**
* section_tab
*
* Included from main.less file
*/
.wrapper_grouper.section_tab {

	&.edit {
		width: 100%;
		margin-top: 1rem;
		margin-bottom: 1rem;

		// tab headers
		>.tab_label {
			display: inline-block;
			margin: 0px;
			margin-left: -1px;
			font-weight: 600;
			text-align: center;
			color: #bbbbbb;
			border: 1px solid transparent;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-o-user-select: none;
			user-select: none;
			top: 1px;
			position: relative;
			padding: 0.5rem;
			padding-left: 1.25rem;
			padding-right: 1.25rem;

			&:before {
				//font-family: fontawesome;
				//font-weight: normal;
				margin-right: 10px;
			}

			&:hover {
				color: #888888;
				cursor: pointer;
			}

			&.active {
				background-color: rgba(249, 249, 249, 0.65);
				background-color: #ffffff;
				color: #555555;
				border: 1px solid #dddddd;
				border-top: 2px solid @color_orange_dedalo;
				border-bottom: 2px solid #ffffff;
				margin-bottom: 0px;
				z-index: 1;
			}
		}

		// tab content
		>.tab {
			width: 100%;
			display: none;

			&.active {
				display: grid;
			}
		}
	}
}
