/**
* counters_status
*
* Included from area_maintenance.less file
*/
.wrapper_widget.counters_status {

	.counters_total {
		padding-bottom: 1rem;
	}

	.errors_container {
		display: block;
		padding: 0.66rem;
		color: @color_danger;
		font-weight: 500;
		line-height: 1.1rem;

		--icon-path : url('../../../core/themes/default/icons/warning.svg');
		&:before {
			background-color: @color_danger;
			content: ' ';
			display: inline-block;
			height: 1.5em;
			width: 1.5em;
			margin-right: 0.5rem;
			opacity: 1;
			vertical-align: bottom;
			// .fn_add_mask(@icon_name);
			-webkit-mask-image: var(--icon-path);
					mask-image: var(--icon-path);
			-webkit-mask-size: contain;
					mask-size: contain;
			-webkit-mask-repeat: no-repeat;
					mask-repeat: no-repeat;
			-webkit-mask-position: center;
					mask-position: center;

			@media screen and (max-width: @width_break_point_1) {
				margin-right: 0px;
			}
		}

		>.error_pre {
			background-color: unset;
		}
	}

	.datalist_container {

		.datalist_item_container {
			display: grid;
			grid-template-columns: 10rem auto 8rem 8rem 8rem 8rem;
			align-items: center;
			gap: 0.5rem;
			line-height: 1.1rem;
			border-bottom: 1px solid @color_grey_10;
			margin-bottom: 0.25rem;
			padding-bottom: 0.25rem;

			&.header {
				color: #000;
				padding: 0.25rem;
				padding-left: 0;
				font-weight: 500;
			}

			>.item_column {
				display: block;

				&.right {
					text-align: right;
					padding-right: 0.5rem;

					&.header {
						padding-right: 0px;
					}
				}

				&.center {
					text-align: center;
				}

				&.out_of_sync {
					color: @color_danger;
					font-weight: bold;
				}

				&.fix_counter_container, &.reset_counter_container {
					padding-right: 0px;
					&.header {
						padding-right: 0.33rem;
					}
					.button_action {
						line-height: 1rem;

						&.reset_counter {
							color: white !important;
							font-weight: 300;
						}
					}
				}
			}
		}
	}
}//end counters_status
