// tool_upload



// wrapper_tool
.tool_upload {

	>.service_upload_container {
	}

	>.content_data {
		padding: 1rem;
		position: relative;

		>.process_file {
			position: relative;
			min-height: 4rem;
		}

		>img.preview_image {
			height: 120px;
			object-fit: contain;
			object-position: center;
		}

	}//end content_data



}//end .wrapper_tool.tool_upload