/**
* TOOL_UPLOAD
*
* Loaded on tool init
*/

// local vars
@tool_color : #f78a1c;

// tool wrapper
// Encapsulate all tool content to prevent core collisions
.wrapper_tool.tool_upload {

	.spinner {
		border-top-color: @tool_color;
	}

	>.service_upload_container {
		width: 100%;
	}

	>.content_data {
		padding: 1rem;
		position: relative;
		display: grid;

		>.process_file {
			position: relative;
			padding-bottom: 1rem;

			// response_msg
			.info {

				&.success {
					color: green;
				}
				&.failed {
					color: red;
				}
			}
		}

	}//end content_data
}//end .wrapper_tool

// modal header tool modification
.tool_header.tool_upload {
	background-color: @tool_color;
}
