.wrapper_tool.tool_upload>.service_upload_container{width:100%}.wrapper_tool.tool_upload>.content_data{padding:1rem;position:relative;display:grid}.wrapper_tool.tool_upload>.content_data>.process_file{position:relative;padding-bottom:1rem}.wrapper_tool.tool_upload>.content_data>.process_file .info.success{color:green}.wrapper_tool.tool_upload>.content_data>.process_file .info.failed{color:red}
/*# sourceMappingURL=tool_upload.css.map */