/**
* TOOL_UPLOAD
*
* Loaded on tool init
*/



// tool wrapper
// Encapsulate all tool content to prevent core collisions
	.wrapper_tool.tool_upload {

		>.service_upload_container {
			// background-color: #e7ff2d;
			width: 100%;
		}

		>.content_data {
			// background-color: #8dff93;
			padding: 1rem;
			position: relative;
			display: grid;

			>.process_file {
				position: relative;
				padding-bottom: 1rem;

				// response_msg
				.info {

					&.success {
						color: green;
					}
					&.failed {
						color: red;
					}
				}
			}

		}//end content_data
	}//end .wrapper_tool



// modal header tool modification
	.tool_header.tool_update_cache {
		// background-color: #62866a;
	}
