<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title><?php echo DEDALO_ENTITY ?> DD list</title>
<link rel="shortcut icon" href="<?php echo DEDALO_ROOT_WEB ?>/favicon.ico" />
<?php
# CSS
// print css::build_tag(DEDALO_CORE_URL .'/common/css/fonts.css', null, false);
print css::build_tag('css/dd_page.css', null, false);
print css::build_tag('css/dd_list.css', null, false);
?>
<script type="text/javascript">
	const DEDALO_LIB_BASE_URL = <?php echo json_encode(DEDALO_LIB_BASE_URL) ?>;
	// VARS de mensajes de aviso multi-idioma
	const el_descriptor_tiene_hijos_title							= '<?php echo msgJS($el_descriptor_tiene_hijos_title) ?>' ;
	const el_descriptor_tiene_indexaciones_title			= '<?php echo msgJS($el_descriptor_tiene_indexaciones_title) ?>' ;
	const seguro_que_quiere_borrar_este_termino_title	= '<?php echo msgJS($seguro_que_quiere_borrar_este_termino_title) ?>' ;
	const hijos_title																	= '<?php echo msgJS($hijos_title) ?>' ;
	// Establecemos una cookie de modo para toda la página
	const modo		= '<?php echo $modo ?>';
	const accion	= '<?php echo $accion ?>';
	const ts_lang	= '<?php echo !empty($ts_lang) ? $ts_lang : DEDALO_STRUCTURE_LANG ?>';
	const type		= '<?php echo $type ?>';
	/*
	* VAR terminoIDresalte es un string viene del get  cuando se hace una búsqueda.
	* Se le pasa al loop "openTrackedDivs" para que pase en cada ciclo el listado de
	* terminos a resaltar (tipo 525,632,874)
	*/
	const terminoIDresalte = '<?php echo $terminoIDlist ?>';
</script>
<?php
# JS
print js::build_tag('jquery/dist/jquery.min.js');
print js::build_tag('jquery/dist/jquery-ui.min.js', 'defer');
print js::build_tag('inc/cookies.js');
print js::build_tag('inc/common.js', 'defer');
print js::build_tag('inc/javascript.js', 'defer');
print js::build_tag('js/dd_common.js', 'defer');
print js::build_tag('js/dd_list.js', 'defer');
print js::build_tag('js/app_utils.js', 'defer');
?>
</head>
<body onLoad="set_localStorage('tsopen','1',7);" onBeforeUnload="set_localStorage('tsopen','0',7);" onUnload="set_localStorage('tsopen','0',7);" >
<div id="log_messages" class="hide"></div>
<div id="wrapGeneral">
<table >

  <tr>
	<td>
		<div class="header">
			<img class="logo_dedalo" src="images/logo_dedalo_white.svg">
			<h2 class="title">Dédalo Ontology</h2>

			<?php if (defined('STRUCTURE_IS_MASTER') && STRUCTURE_IS_MASTER===true) { # EXPORT BUTTON (ADMIN) ?>
				<a href="javascript:void(0)" class="export" onclick="common.export_str(this)">EXPORT</a>
				<a href="javascript:void(0)" class="export" onclick="common.build_version_from_git_master(this)">BUILD CODE VERSION</a>
			<?php } ?>

			<div class="spacer"></div>
			<ul class="select_mode">
				<li>
					<a target="_blank" href="dd_list.php?modo=tesauro_edit">Terms</a>
				</li>
				<li>
					<a target="_blank" href="dd_list.php?modo=modelo_edit">Models</a>
				</li>
			</ul>
		</div>
	</td>
  </tr>

  <tr>
	<td align="center" valign="top" >
	<div id="tesauro_content">
	<form id="form1" name="form1" method="post" action="trigger.dd.php" onsubmit="return dd.validate_form(this);">

		<!-- ID -->
		ID <input type="text" name="terminoID" id="terminoID" autocomplete="off" value="<?php echo $terminoID ?>">

		<!-- TERMINO -->
		<?php echo $termino_title ?>
		<?php /*<div class="icon-help" onClick="ts.mostrarInfo(this,event);"></div>*/?>
		<input type="text" name="termino" id="termino" autocomplete="off" value="<?php echo $termino ?>" onClick="this.select();">

		<!-- DEF -->
		<?php echo $definicion_title ?>
		<input type="text" name="def" id="def" autocomplete="off" value="<?php echo $def ?>" onClick="this.select();">

		<?php
		echo ' Model ';
		include 'dd_select_modelos.php';
		?>


		<!-- SELECT LANG -->
			<?php echo $idioma_title ?>:
			<?php echo $todos_title ?> <input type="radio" name="ts_lang" value="" checked>
			<?php if($ts_lang) {?>
			<?php
			$lang_name = lang::get_name_from_code( $ts_lang );
			echo $lang_name;
			?>
		<input type="radio" name="ts_lang" value="<?php echo $ts_lang ?>" checked >
		<?php }#if($ts_lang) {?>


		<input name="accion" type="hidden" value="searchTSform">
		<input name="modo" type="hidden" value="<?php echo $modo ?>">

		<input type="submit" name="button" id="button" value=" OK " class="SubmitButon">

		<!-- RESET -->
			<?php if($modo != 'tesauro_rel_DES') {?>
			<a href="javascript:reset_window_and_reload();" style="margin-left:12px;font-weight:bold"> Reset </a>  <?php #if(SHOW_DEBUG==true) echo " [$modo]" ?>
			<?php }#if($modo != 'tesauro_rel') {?>

		<?php /*
		<a href="javascript:document.location.href='?modo=<?php echo $modo?>&type=<?php echo $type?>';" style="margin-left:6px; margin-right:6px; font-weight:bold"> <?php echo $recargar_title ?> </a>
		*/ ?>

		<?php echo $idioma_title ?>
		<?php echo $SelectLangList ; ?>

		<div style="display:inline-block; margin-left:50px;">
			<?php
			if($t=='form')
			{
				echo " $total_title: $n";
				if($n>$max) echo " ($mostradas_title $max $de_title $n) ";
			}
			?>
		</div>

	</form>





	<div id="tsTreeLOAD">


	<?php
	#************************************************
	#	LISTADO INICIAL
	#************************************************

	echo $buildTreeHtml;

	?>
	</div>


	<div id="tsTree" style="width:96%;"><!-- AJAX CONTENT trigger.Tesauro.php --></div>


	</div><!-- /tesauro_content -->
	</td>
	</tr>



</table>


<!-- stats -->
	<div class="dd_info_bottom">
		<label>Total dd:</label> <?php echo $total_dd ?><br>
		<label>Total terms:</label> <?php echo $total_terms ?>	
	</div>

</div><!-- fin wrapGeneral -->


</body>
</html>