/**
* component_filter
*
* Included from main.less file
*/
.component_filter {
	// background-color: #f5f18d;

	&.edit {
		// background-color: #f668cc;
		display: block; // important because don't have label (default is grid)

		>.label {
			display: none;
		}

		>.content_data {
			padding: 0.5em;
		}

		&.active {
			// >.buttons_container {
			// 	left: calc(100% - 2.0rem);
			// }
		}

		.branch {
			width: 100%;
			padding-left: 0.5rem;
		}

	}//end .edit
}
