/**
* component_filter
* 	&& component_filter_master
*
* Included from main.less file
*/
.component_filter,
.component_filter_master {
	// background-color: #f5f18d;

	&.edit {
		// background-color: #f668cc;
		display: block; // important because don't have label (default is grid)

		&.component_filter >.label {
			display: none;
		}

		>.content_data {
			padding: 0.5em;
			display: block;

			.grouper {
				width: auto;
				display: block;

				>.grouper_label {
					width: fit-content;
					padding-left: 0px;
					padding-top: 0.5em;
					padding-bottom: 0.25em;
					padding-right: 1.66rem;
					opacity: 0.7;
					font-size: 0.82em;
				}
			}

			// ul branch
			.branch {
				// margin-left: 0.5rem;

				// li item_li
				>.item_li {
					margin-top: 0.25rem;
					display: flex;
					align-items: stretch;

					>.item_label {
						cursor: pointer;

						// checkbox option
						.item_input {
							margin-right: 0.25rem;
						}
					}
				}
			}
		}

		&.active {
			// >.buttons_container {
			// 	left: calc(100% - 2.0rem);
			// }
		}

	}//end .edit
}//end .component_filter



