/**
* component_filter
*
* Included from main.less file
*/
.component_filter {
	// background-color: #f5f18d;

	&.edit {
		// background-color: #f668cc;
		display: block; // important because don't have label (default is grid)

		>.label {
			display: none;
		}

		&.active {
			>.buttons_container {
				left: calc(100% - 2.0rem);
			}
		}
	}//end .edit
}
