/**
* component_filter
* 	&& component_filter_master
*
* Included from main.less file
*/
.component_filter,
.component_filter_master {
	// background-color: #f5f18d;

	&.edit, &.search {
		// background-color: #f668cc;
		display: block; // important because don't have label (default is grid)

		>.content_data {
			padding: 0.5em;
			padding-bottom: 1rem;
			display: block;
			overflow: auto;
			max-height: 20rem;

			// parent wrapper is component_filter_master
			// .component_filter_master& {
			// 	max-height: 30rem;
			// }

			// ul branch
			.branch {
				// margin-left: 0.5rem;
				display: block;

				// li item_li
				>.item_li {
					margin-top: 0.33rem;
					margin-left: 1.25rem;
					// display: flex;
					align-items: stretch;
					line-height: 1.4rem;

					// checkbox option
					.item_input {
						margin-right: 0.33rem;
						vertical-align: text-bottom;
						cursor: pointer;
					}

					>.item_label {

					}
				}
			}

			>.branch >.item_li {
				margin-left: 0.5rem;
				margin-top: 0.25rem;
			}

			// li grouper
			.grouper {
				width: auto;
				display: block;

				>.grouper_label {
					width: fit-content;
					padding-left: 0px;
					padding-top: 0.5em;
					padding-bottom: 0.25em;
					padding-right: 1.66rem;
					opacity: 0.7;
					font-size: 0.82em;
				}
			}
		}

		&.active {
			// >.buttons_container {
			// 	left: calc(100% - 2.0rem);
			// }
		}

		&.search {
			>.content_data {
				max-height: 7.5rem;
			}
		}

	}//end .edit

	&.view_collapse {
		cursor: n-resize;
		line-height: 1.1rem;

		&:hover {
			background-color: #faf7df;
		}

		&.collapsed {
			cursor: s-resize;
			height: 2.5rem;
			overflow: hidden;
		}
	}

}//end .component_filter


// inside inspector
.wrapper_inspector {

	.component_filter {

		>.content_data {
			font-size: 0.85rem;
			padding-bottom: 0.5rem;

			.branch .item_li {
				margin-top: 0.25rem;
				line-height: 1rem;

				>.item_label {
					.item_input {
						margin-right: 0.25rem;
					}
				}
			}
			>.branch >.item_li {
				margin-left: 0px;
			}
		}

		&.fullscreen {
			padding: 1rem;

			>.label {
				display: block !important;
			}
			>.content_data {
				font-size: 1rem;
				padding: 1rem;

				.branch .item_li {
					line-height: 1.2rem;
				}
			}
		}
	}

}
