/**
* time_machine_list
*
* Included from main.less file
*/
.wrapper_time_machine_list {

	.head_column {
		font-size: 0.85rem;
		text-align: left;
		// padding: 0.25rem;

		.name {
		    margin-left: 0.1rem;
		}
	}

	.column_service_time_machine {
		// align-items: center; // vertical alignment
		padding: 0.25rem;

		>span {
			word-break: break-word;
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 10; /* number of lines to show */
			line-clamp: 10;
			-webkit-box-orient: vertical;
		}
	}

	// wrapper
		// .time_machine_grid {
		// 	display: grid;
		// 	grid-template-columns: repeat(3, 1fr) 2fr;
		// }

		// .time_machine_list_data_row:hover {
		// 	color: #000000;
		// 	cursor: pointer;
		// }

		// .time_machine_list_grid {
		// 	padding-left: 5px;
		// 	margin-bottom: 5px;
		// 	border-left: 2px solid #ff951f;
		// 	-webkit-user-select: none;
		// 	-moz-user-select: none;
		// 	-ms-user-select: none;
		// 	user-select: none;
		// }

		// .time_machine_list_header {
		// 	color: #333333;
		// 	padding-left: 3px;
		// 	padding-right: 3px;
		// }

		// .time_machine_list_count {
		// 	float: right;
		// }

		// .time_machine_list_data_header {
		// 	width: 100%;
		// 	background-color: #eeeeee;
		// }

		// .time_machine_list_data_row {
		// 	border-bottom: 0.5px solid #d5d5d5;
		// }


}//end .wrapper_time_machine_list
