/**
* section_group
*
* Included from main.less file
*/
.section_group {

	&.edit {

		// inside .section_record.edit context
		.section_record.edit & {
			width: 100%;
			margin-bottom: 0.5rem;

			@media screen and (max-width: @width_break_point_1) {
				width: 100% !important;
			}

			>.label {
				.label_top; // defined in layout
			}
			>.content_data {
				display: grid;
				align-content: stretch;

				@media screen and (max-width: @width_break_point_1) {
					display: block;
				}
			}
		}

	}//end &.edit

}//end .section_group
