/**
* widget descriptors
*
* Included from main.less file
*/

.wrapper_widget.descriptors {
	display: block;
	width: 100%;
	padding: 0px;
	margin: 0px;

	// shared
	>.content_data {
		padding: 0px;
		position: relative;
	}
	.button_display {
		padding: 0px;
		padding-left: 0.5rem;
	}
	.spinner {
		position: relative;
		margin: 1rem;
		margin-top: 0;
	}

	&.edit {

		.values_container {

			>.label {
				padding: 0.5rem;
				text-align: right;
				background-color: @color_grey_dark;
				color: var(--color_white);
			}

			>.descriptors_list_container {
				padding: 0px;
				margin: 0px;
				margin-bottom: 1rem;
				outline: 1px solid @color_grey_medium;

				>.wrapper_dd_grid {

					.descriptors_item {
						padding: 0.25rem;
						box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.24);
						display: flex;
						justify-content: space-between;

						&:hover {
							background-color: @color_grey_medium;
						}

						.descriptors_item_total {
							text-align: right;
						}
					}
				}
			}
		}
	}

}//end .wrapper_widget.media_icons
