/**
* TOOL_MEDIA_VERSIONS
*
* Loaded on tool init
*/

// imports
@import (once) '../../../core/page/css/layout/vars';

// local vars
@tool_color: #a24540;

// tool wrapper
// Encapsulate all tool content to prevent core collisions
.wrapper_tool.tool_media_versions {

	.spinner {
		border-top-color: @tool_color;
	}

	// content_data
	>.content_data {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 0px;

		>.main_element_container {
			width: 100%;

			.wrapper_component {
				>.content_data {
					>.content_value {
						height: var(--media_min_height);
					}
				}
			}
		}

		>.sync_data_wrapper {
			width: 100%;

			>.sync_data_container {
				width: 100%;
				text-align: right;
				margin-top: 1rem;
				display: flex;
				justify-content: flex-end;
				align-items: center;

				>.icon {
					margin-right: 1rem;
				}

				>.label {
					cursor: pointer;
				}

				>.button_sync_data {
					margin-left: 1rem;
				}

				>.delete_normalized_files_label{
					display: flex;

					[type=checkbox]{
						margin-right: 0.3rem;
					}
				}
			}



			>.pre {
				text-align: left;
				width: 100%;
				margin-top: 0.5rem;
			}
		}

		// versions_container. grid of quality versions and options
		>.versions_container {
			display: grid;
			margin: 0px;
			margin-top: 1rem;
			color: @color_grey_medium_2;
			background-color: @color_page_bg_color;
			width: 100%;
			max-width: 1600px;
			overflow: auto;
			min-height: 25rem;

			>.column {
				display: contents;

				>.label {
					text-transform: capitalize;
					text-align: right;
					padding-right: 1rem;
					display: flex;
					justify-content: flex-end;
					align-items: center;
					background-color: @color_white;
					border-right: 1px @color_grey_light solid;
				}

				.file_info {
					text-align: center;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-content: center;
					border-bottom: @color_grey_light 1px solid;

					span {
						color: @color_grey_dark_3;
						font-size: 0.9rem;

						&.button {
							font-size: 1.1rem;
							background-color: @color_grey_darken;
						}
					}

					.button {
						background-color: @color_grey_darken;
						&:active {
							opacity: 0.5;
						}
					}

					&.default {
						background-color: @color_grey_light;
					}

					.cell_node {
						line-height: 1.5rem;
						width: 100%;
						padding: 0.25rem;

						.file_info_extension {
							padding-left: 0.33rem;
							min-width: 2rem;
							display: inline-block;
							text-align: left;
							background-color: transparent;
							cursor: default;
							width: auto;
							font-size: 1rem;
						}

						>.button.delete {
							vertical-align: text-bottom;

							&.disable {
								opacity: 0;
								pointer-events: none;
							}
						}
						.find {
							margin-right: 0.5rem;
						}
					}
				}
			}
		}
	}//end content_data
}//end wrapper_tool

// modal header tool modification
.tool_header.tool_media_versions {
	background-color: @tool_color;
}
