/**
* TOOL_MEDIA_VERSIONS
*
* Loaded on tool init
*/

// imports
@import (once) '../../../core/page/css/layout/vars';

// local vars
@tool_color: #a24540;

// tool wrapper
// Encapsulate all tool content to prevent core collisions
	.wrapper_tool.tool_media_versions {

		// content_data
		>.content_data {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			padding-bottom: 0px;
			// display: grid;
			// grid-template-rows: 1fr 1fr;

			.spinner {
				border-top-color: @tool_color;
			}

			>.main_element_container {
				width: 100%;

				.wrapper_component { // .component_pdf
					>.content_data {
						>.content_value {
							height: var(--media_min_height);
						}
					}
				}
			}

			>.sync_data_wrapper {
				width: 100%;

				>.sync_data_container {
					width: 100%;
					text-align: right;
					margin-top: 1rem;
					display: flex;
					justify-content: flex-end;
					align-items: center;

					>.icon {
						margin-right: 1rem;
					}

					>.label {
						cursor: pointer;
					}

					>.button_sync_data {
						margin-left: 1rem;
					}
				}

				>.pre {
					text-align: left;
					width: 100%;
					margin-top: 0.5rem;
				}
			}

			// versions_container. grid of quality versions and options
			>.versions_container {
				// background-color: #a8b9e2;
				display: grid;
				margin: 0px;
				margin-top: 1rem;
				color: #aaa;
				background-color: #fafafa;
				width: 100%;
				max-width: 1600px;
				overflow: auto;

				// @media screen and (max-width: @width_break_point_1) {
				// 	grid-template-columns: auto !important;
				// }

				>.label, >.file_info {
					border-bottom: 1px solid #eeeeee;
					padding: 0.60rem;
				}

				>.label {
					text-transform: capitalize;
				}

				.file_info {
					text-align: center;
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					align-content: flex-start;

					span {
						color: #525252;
						font-size: 0.9rem;

						&.button {
							font-size: 1.1rem;
							background-color: #767676;
						}
					}

					.button {
						&:active {
							opacity: 0.5;
						}
					}

					&.default {
						background-color: #f2f2f2;
					}

					.cell_node {
						// margin-bottom: 0.33rem;
						line-height: 1.5rem;
						width: 100%;

						.file_info_extension {
							padding-left: 0.33rem;
							min-width: 2rem;
							display: inline-block;
							text-align: left;
						}
					}
				}

			}

		}//end content_data
	}//end wrapper_tool



// modal header tool modification
	.tool_header.tool_media_versions {
		background-color: @tool_color;
	}
