/**
* TOOL_COMMON
*
*
* Included from main.less file
*/


// wrapper_tool
	.wrapper_tool {
		// background-color: #F5EBB5;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;

		>.tool_header {
			padding: 1em;
			// moded outside. see bellow

			// button close (only outside modal)
			>.button.close {
				position: absolute;
				display: block;
				right: 0.5rem;
				top: 0.5rem;
				cursor: pointer;
				width: 1.4rem;
				height: 1.4rem;

				&:hover {
					background-color: #000000 !important;
				}
				&:active {
					background-color: #ffffff !important;
				}
			}
		}

		>.content_data {
			// background-color: #B7F9BB;
			width: 100%;
			padding: 1em;

			// >* {
				//padding: 1em;
			// }
		}

		>.content_data.content_data_error.tool_error {
			display: block;
			background-color: #ffffff;
			color: @color_danger;
			>.icon {
				vertical-align: bottom;
				margin-right: 0.75rem;
			}
		}
	}//end .wrapper_tool



// tool_header
// (!) Note that is defined outside wrapper_tool to be compatible with modal and new tab window
	.tool_header {
		background-color: @color_orange_dedalo;
		color: #ffffff;
		width: 100%;
		display: flex;

		>.tool_name_container {
			padding-right: 1rem;
			>.label {
				font-size: 1.5rem;

				>.button {
					font-size: 1.25rem;
					vertical-align: baseline;
					margin-right: 0.75rem;
				}
			}

			>.description {
				font-weight: 200;
				margin-top: 0.5rem;
			}
		}

		>.tool_buttons_container {
			// background-color: #BAF1F6;
			padding: 0;
		}

		// inside modal case
		&.header {
			// background-color: #bf55eb !important;
			>.button.close {
				display: none;
			}
		}
	}//end .tool_header
