/**
* login
*
* Included from main.less file
*/
.login {
	// background-color: #6beaf8;
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;

	// background image big Dédalo
	&:before {
		background-image: url('../../themes/default/dedalo_icon_big.png');
		background-position: 0px top;
		background-repeat: no-repeat;
		background-size: 527px 1024px;
		content: '';
		position: fixed;
		height: 100%;
		width: 100%;
		z-index: -1;
		//-webkit-transform: rotate(30deg);
		transform: scaleX(-1);
		top: 0px;
		left: 0px;
		background-color: rgb(255 255 255 / 89%);
	}

	>.content_data {
		background-color: rgba(243, 243, 243, 0.76);
		border: solid 1px #e1e1e1;
		border-radius: 0.5em;
		// center
		// position: absolute;
		// left: 50%;
		// top: 32%;
		// transform: translate(-50%);
		.centered;
		// top: 35%;

		// .component_base;

		max-width: 24em;
		padding: 2em;
		//padding-top: 1em;
		//padding-bottom: 1em;

		>.select_lang {
			height: 2.5em;
			width: 100%;
			font-size: 1em;
			// background-color: @color_grey_untralight;
			margin: 0px;
			margin-bottom: 1em;
			border-radius: 3px;

			// remove browser appearance style
			background: url('data:image/svg+xml;base64,PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0Ljk1IDEwIj48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2ZmZjt9LmNscy0ye2ZpbGw6IzQ0NDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPmFycm93czwvdGl0bGU+PHJlY3QgY2xhc3M9ImNscy0xIiB3aWR0aD0iNC45NSIgaGVpZ2h0PSIxMCIvPjxwb2x5Z29uIGNsYXNzPSJjbHMtMiIgcG9pbnRzPSIxLjQxIDQuNjcgMi40OCAzLjE4IDMuNTQgNC42NyAxLjQxIDQuNjciLz48cG9seWdvbiBjbGFzcz0iY2xzLTIiIHBvaW50cz0iMy41NCA1LjMzIDIuNDggNi44MiAxLjQxIDUuMzMgMy41NCA1LjMzIi8+PC9zdmc+') no-repeat 95% 50%;
			-moz-appearance: none;
			-webkit-appearance: none;
			appearance: none;
			padding-left: 1em;
			background-color: #fcfcfc;
			opacity: 0.7;
			border: 1px solid #e0e0e0;
		}

		>form {
			display: flex;
			flex-wrap: wrap;
			margin: 0px;
			margin-bottom: 1em;

			>input, >button {
				flex: 1 1 100%;
				font-size: 1em;
			}

			>input {
				margin: 0px;
				margin-bottom: 1em;
				&#username {

				}
			}

			>.button_enter {
				display: flex;
				height: 3em;
				margin: 0px;
				text-align: center;
				transition: all 0.17s ease, padding 0s;

				&.white {
					background-color: transparent;
					outline: none;
					cursor: default;
					pointer-events: none;
				}

				// spinner
				>.button_enter_loading {
					// background-color: white;
					// min-height: 2em;
					// cursor: default;
					position: relative;
					height: 2rem;
					width: 2rem;
					margin: 0px;
					top: unset;
					left: unset;
				}

				>.button_enter_label {

				}
			}
		}//end form

		>.info {
			display: grid;
			grid-template-columns: 1.2fr 2fr;
			font-size: 0.8em;
			opacity: 0.6;
			line-height: 1.3em;

			>span {
				padding: 0.20em;
				line-height: 1.1em;

				&.error {
					padding-left: 0.5em;
					color: white;
				}
			}
		}

		>.component_message {
			position: relative;
			top: 1em;
			margin-bottom: 1.5em;
			//font-size: 0.9em;
			border-radius: 0.2em;
		}
	}

	// loading_files
	.cont {
		display: block;
		height: 200px;
		width: 200px;
		margin: 2em auto;
		box-shadow: 0px 0px 1em #e4e4e4;
		border-radius: 100%;
		position: relative;
		text-align: center;

		&:after {
		  position: absolute;
		  display: block;
		  height: 160px;
		  width: 160px;
		  left: 50%;
		  top: 50%;
		  box-shadow: inset 0px 0px 1em #e4e4e4;
		  content: attr(data-pct); //'%';
		  margin-top: -80px;
		  margin-left: -80px;
		  border-radius: 100%;
		  line-height: 160px;
		  font-size: 2em;
		  // text-shadow: 0 0 0.5em black;
		}

		#svg circle {
		  stroke-dashoffset: 0;
		  // transition: stroke-dashoffset 1s linear;
		  stroke: #666666;
		  stroke-width: 1em;
		}
		#svg #bar {
			// stroke: #ff9f1e;
			stroke: @color_orange_dedalo;
		}
	}// end cont

}
