/**
* TOOL_TC
*
* Loaded on tool init
*/

// imports
@import (once) '../../../core/page/css/layout/vars';

// local vars
@tool_color : @color_black;
@text_color : #00e801;

// wrapper_tool
.wrapper_tool.tool_tc {

	.spinner {
		border-top-color: @tool_color;
	}

	>.content_data {

		.components_container {
			display: grid;
			grid-template-columns: 1fr;
			grid-gap: 1em;
		}

		.tc_management_container {

			>* {
				margin-right: 0.5em;
				vertical-align: middle;
				font-size: 1em;
			}

			select, input {
				height: 2.25em;
			}

			// offset seconds input
			.input_offset {
				height: 2em;
				width: 10em;
				text-align: center;
				padding: 0;
			}

			.button_apply {
				color: @text_color;
				text-transform: capitalize;
				background-color: @tool_color;
				border-color: darken(@tool_color, 5%);

				&:focus {
					border: 1.2px solid darken(@tool_color, 8%) !important;
					opacity: 0.7;
				}
			}
		}
	}
}//end wrapper_tool

// modal header tool modification
.tool_header.tool_tc {
	background-color: @tool_color;
	color: @text_color;

	.button.white {
		background-color: @text_color !important;
	}
}
