/**
* tool_hierarchy
*
* Loaded on tool init
*/

// local vars
@tool_color: #c80000;

// tool wrapper
// Encapsulate all tool content to prevent core collisions
	.wrapper_tool.tool_hierarchy {
		position: relative;

		// &:before {
		// 	background-image: url(../img/icon.svg);
		// 	background-position: right;
		// 	background-repeat: no-repeat;
		// 	content: " ";
		// 	position: absolute;
		// 	height: 250%;
		// 	width: 100%;
		// 	opacity: .1;
		// }

		>.content_data {

			.spinner {
				border-top-color: @tool_color;
			}

			>.components_container {
				display: grid;
				grid-template-columns: 1fr 1fr 1fr;

				>.wrapper_component {

				}
			}

			// h2 user_info
			.user_info {
				padding: 1rem;
				padding-left: 0;
			}

			.buttons_container {
				padding: 2rem;
				padding-left: 0rem;

				button {
					background-color: @tool_color;
					border-color: darken(@tool_color, 5%);
				}
			}

			>.messages_container {
				padding: 1rem;
				padding-left: 1rem;
				line-height: 1.25rem;
				color: #7a7a7a;
				font-size: 1.05rem;

				&.error {
					background-color: transparent !important;
					color: red;
				}
			}
		}//end content_data


	}//end wrapper_tool



// modal and new window header tool modification
	.tool_header.tool_hierarchy {
		background-color: @tool_color;
	}
