/**
* php_info
*
* Included from area_maintenance.less file
*/
.wrapper_widget.php_info {
	background-color: #9999cc;

	>iframe.php_info_iframe {
		margin: 0px;
		padding: 0px;
		width: 100%;
		min-height: 100vh;
	}

}//end php_info
