/**
* component_date
*
* Included from main.less file
*/
.component_date {

	// calendar
	.calendar {
		height: 1.3em;
	}

	// content data
	>.content_data {
		padding-right: 0.5rem;

		>.content_value {
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			align-items: center;
			container-type: inline-size;

			// date content_value
			&.date {

			}

			// range content_value
			&.range {

			}

			// period content_value
			&.period {

			}

			>.input-group {
				position: relative;
				width: 7.1rem;
				display: flex;
				align-items: center;

				&.period {
					width: unset;
					display: flex;
					align-items: flex-start;
					flex-wrap: nowrap;

					.button_remove_container {
						right: 0px !important;
					}
				}

				input {
					position: relative;
					width: 7.0rem;
					padding: 0.4rem;
					margin: 0px;
					margin-bottom: 2px;
					text-align: center;

					&::focus {
						z-index: 1;
					}

					&::placeholder {
						font-size: 0.86rem;
						font-style: normal;
					}

					&.input_period {
						width: 2.4rem;
						min-width: 2.4rem;
						text-align: center;
					}
					&.input_date {
						// date format (from general less) set common font family and letter-spacing
						.fn_date_format()
					}
					&.input_time {
						letter-spacing: 0.1em;
					}
				}

				label {
					display: inline-block;
					display: inline-block;
					opacity: 0.6;
					padding-right: 2px;
					padding-left: 2px;
				}

				>.pair_container {
					position: relative;
					margin-bottom: 2px;
				}

				// button_container common
				.button_container {
					position: absolute;
					top: -1.5rem;
					z-index: 1;
					opacity: 1;
					background-color: #ffffff;
					outline: 1px solid @color_primary;
					height: 1.8rem;
					width: 1.8rem;
					border-radius: 50%;
					padding: 0.2rem;
					padding-left: 0.4rem;

					// button_calendar
					&.button_calendar_container {
						right: -0.80rem;
						visibility: hidden; // initially hidden

						// icon calendar
						>.calendar {
							opacity: 0.6;
							margin: 0px;
							padding: 0px;
						}
					}

					// button_remove
					&.button_remove_container {
						right: 1.2rem;
						visibility: hidden; // initially hidden

						// icon delete
						>.remove {
							opacity: 0.6;
							margin: 2px;
							padding: 0px;
							margin-left: 0px;
						}
					}
				}

				// if any button_calendar_container inside element is focused, show hidden buttons
				&:focus-within {
					.button_container.hidden_button {
						visibility: visible;
					}
				}

  				@font-face {
					font-family: 'date_separator';
					src: local("Helvetica Neue UltraLight"),
						 local("HelveticaNeue-UltraLight");
					unicode-range: U+002F;
				}
			}//end >.input-group

			.dates_separator {
				font-size: 0.78rem;
				padding: 0.2rem;
				line-height: 0.78rem;
			}

		}//end >.content_value
	}

	&.list {
		// date format (from general less) set common font family and letter-spacing
		.fn_date_format();
		letter-spacing: normal;
	}

	&.search {
		>.content_data {
			display: flex;
			flex-wrap: nowrap;
		}

		.remove {
			display: none;
		}

		.button.calendar {
			cursor: default;
		}
	}

	&.view_line {
		&.edit {
			display: inline-block;
			margin: 0px;
			padding: 0px;
			>.content_data {
				padding: 0px;
			}
		}
	}

	// with suffix _mini like 'component_date_mini'
	&_mini {

	}

}//end .component_date
