/**
* component_date
*
* Included from main.less file
*/
.component_date {
	// background-color: #fea7e5;

	&.edit {
		.calendar {
			height: 1.3em;
		}

		>.content_data {
			.flatpickr {
				position: relative;
				width: 7.75rem;
				>a { // icon calendar
					position: absolute;
					right: 0.15rem;
					top: 0.33rem;
					opacity: 0.6;
				}
			}

			.remove {
				margin-left: 0.75rem;
				position: initial;
			}

			.divisor {
				padding-left: 0.5rem;
				padding-right: 0.5rem;
			}

			input::placeholder {
				// color: blue;
				font-size: 0.86rem;
				font-style: normal;
			}
		}
	}//end .edit

	&.search {
		.remove {
			display: none;
		}

		.button.calendar {
			cursor: default;
		}
	}
}
