/**
* widget get_archive_states
*
* Included from main.less file
*/

.wrapper_widget.get_archive_states {

	.content_data {
		display: flex;
		flex-direction: row;

		.states_label {
			font-size: 1.2rem;
			margin-bottom: 0.5rem;
		}
		.widget_item.get_archive_states{
			display: grid;
			grid-template-columns: auto auto;
			column-gap: 3em;
		}
	}
}
