
[data-md-color-primary=orange] {
	--md-primary-fg-color: #f78a1c;
	--md-primary-bg-color: #ffffff;
	--md-accent-fg-color: #e27d19;

}

[data-md-toggle=search]:checked~.md-header .md-search__form {
/*	color: #ffffff;*/
}
/*
:root {
	--md-accent-fg-color: #d47618;
}
*/

@media screen and (min-width: 60em) {
	.md-search__form {
		background-color: transparent;
		outline: 1px solid #ffffff69;
	}
	.md-search__form input::placeholder {
	    color: #fafafa;
	}
}

img.large {
	width: 60em;
	max-width: 1000px;
}
img.medium {
	width: 30em;
	max-width: 500px;
}
img.small {
	width: 20em;
	max-width: 200px;
}