/**
* component_check_box
*
* Included from main.less file
*/
.component_check_box {
	// background-color: #d2baf6;

	&.edit {
		>.content_data {
			overflow: auto;

			>.content_value {
				display: flex;
				align-items: center;
				padding-bottom: 0.25rem;

				>label {
					>input {
						cursor: pointer;
						margin-right: 0.5rem;
					}
				}

				.show_on_active {
					margin-left: 0.5rem;
				}
			}
		}

		&.view_mini {
			background-color: transparent;
			outline: none;
			color: unset;
			box-shadow: none;
			display: flex;

			&:after {
				display: none;
			}

			.buttons_container, .developer_info, .show_on_active {
				display: none !important;
			}

			.label {
				flex: 1 0 auto;
				padding-left: 0px;
				padding-right: 0px;
			}
			.content_data {
				padding-bottom: 0px;
				padding-right: 0px;
			}

		}

	}//end .edit


	// view_tools
	&.view_tools {

		// ul
		>.content_data {
			display: grid;
			grid-template-columns: 1fr 1fr;
			overflow: hidden;

			>.content_value {
				line-height: 1rem;
				border-bottom: 1px solid #eeeeee;
				margin-left: 1.5rem;
				padding: 0.33rem;
				align-items: flex-end;

				// img
				>.tool_icon {
					height: 1.33rem;
					width: 1.33rem;
					margin-right: 0.5rem;
					margin-left: 0px;
					vertical-align: text-bottom;
				}
			}
		}
	}
}
