/**
* component_check_box
*
* Included from main.less file
*/
.component_check_box {
	// background-color: #d2baf6;



	// view_default
	&.view_default {

		&.edit {

			>.content_data {
				overflow: auto;
				// background-color: #d2baf6;

				>.content_value {
					display: flex;
					align-items: center;
					padding-bottom: 0.25rem;

					>label {
						>input {
							cursor: pointer;
							margin-right: 0.5rem;
							vertical-align: top;
						}
					}

					.show_on_active {
						margin-left: 0.5rem;
					}
				}
			}
		}//end .edit
	}//end .view_default


	// view_line
	&.view_line {

		&.edit {
			display: contents;

			>.content_data {
				// display: contents;
				position: relative;
				padding: 0px;

				>.content_value {
					display: contents;

					>label {
						margin-left: 0.5rem;

						>input {
							cursor: pointer;
							margin-right: 0.5rem;
							vertical-align: middle;
							height: 1.5rem;
						}
					}

					.show_on_active {
						margin-left: 0.5rem;
						display: none;
					}
				}
			}
		}//end .edit

	}//end .view_line



	&.view_mini {
		background-color: transparent;
		outline: none;
		color: unset;
		box-shadow: none;
		display: flex;

		&:after {
			display: none;
		}

		.buttons_container, .developer_info, .show_on_active {
			display: none !important;
		}

		.label {
			flex: 1 0 auto;
			padding-left: 0px;
			padding-right: 0px;
			line-height: 1.1rem;
		}
		.content_data {
			padding-bottom: 0px;
			padding-right: 0px;

			.content_value {
				label {
					display: flex;
					>input {
						margin-right: 0.33rem;
						cursor: pointer;
					}
				}
			}
		}

	}//end .view_mini



	// view_tools
	&.view_tools {

		// ul
		>.content_data {
			display: grid;
			grid-template-columns: 1fr 1fr;
			overflow: hidden;

			>.content_value {
				display: flex;
				align-items: stretch;
				line-height: 1.33rem;
				border-bottom: 1px solid #eeeeee;
				margin-left: 1.5rem;
				padding: 0.33rem;
				align-items: flex-end;

				// img
				>.tool_icon {
					height: 1.33rem;
					width: 1.33rem;
					margin-right: 0.5rem;
					margin-left: 0px;
					// vertical-align: text-bottom;
				}

				// label input
				>.input_label {
					// vertical-align: text-bottom;
					// background-color: #ffffff;

					>.input_checkbox {
						margin-right: 0.33rem;
						// vertical-align: top;
					}

					>span {
						vertical-align: text-bottom;
					}
				}

				>.developer_info {
					margin-left: 0.33rem
				}
			}
		}
	}



	&.search {
		>.content_data {

			>.q_operator {
				width: 3rem;
				margin-right: 0.5rem;
				text-align: center;
			}

			>.content_value {
				display: inline-block;
				margin-right: 0.5rem;
				margin-top: 0.5rem;
				margin-bottom: 0.25rem;
				width: auto;


				// label wraps the input too
				>.label {
					// width: 100%;
					padding-top: 0.33rem;
					padding-bottom: 0.33rem;
					padding-right: 0.5rem;

					display: flex;
					cursor: pointer;

					>input {
						cursor: pointer;
							margin-right: 0.33rem;
							vertical-align: top;
					}
				}
			}
		}
	}

}
