/**
* component_av
*
* Included from main.less file
*/
.component_av {

	// posterframe
	.posterframe {
		// height: 100%;
		max-height: 100%;
		width: 100%;
		height: 100%;
		max-width: 100%;

		//min-height: 14em;
		//background-position: initial;
		//background-size: cover;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		object-fit: contain;
		object-position: center;
		align-self: center;

		// on focus adds a soft shadow and outline
		&:focus {
			.hilite_mixin(-1px);
		}
	}

	// shared player av_control_buttons
	.av_control_buttons {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding-bottom: 0.75rem;
		padding-top: 0.75rem;

		>button {
			height: 2rem;
			text-align: center;
			margin-bottom: 0.25rem;
			margin-top: 0.25rem;

			&:before {
				margin: 0px;
			}

			&:last-of-type {
				margin-right: 0px;
			}
		}
		.smpte {
			// width: 9rem;
			// padding-left: 0.75rem;
			// padding-right: 0.75rem;
			// font-size: 1.2rem;
			color: @color_orange_dedalo;
			padding: 0px;
			margin-left: 1rem;
			margin-right: 1rem;
			font-family: Verdana, Geneva, sans-serif;
			font-size: 1.65rem;
			width: auto;
			height: 1em;
			display: inline-block;
			vertical-align: baseline;
			// text-shadow: 1px 2px 2px #b9b9b9;
			text-shadow: 1px 1px 2px #c3c3c3;
		}
	}

	&.edit {

		>.content_data {

			// moved to layout.less.media_wrapper.edit
				// // Note that height is always the media min height (392px)
				// // (!) Do not use max o min height here to prevent to affect canvas reference size
				// height: var(--media_min_height);
				// display: table;

				// justify-content: center;
				// max-height: var(--media_max_height);
				// min-height: var(--media_min_height);

				// @media screen and (max-width: @width_break_point_1) {
				// 	min-height: unset;
				// }

			// video_container
			>.content_value {

				// moved to layout.less.media_wrapper.edit
					// height: inherit;
					// min-height: 404px;
					// width: 100%;
					// min-width: 540px;

					// resize: vertical;
					// overflow: hidden;

					// @media screen and (max-width: @width_break_point_1) {
					// 	height: unset;
					// 	max-height: 404px;
					// }
			}

			// posterframe
			.posterframe {
				// specific styles here
			}
		}

		&.disabled_component {
			.content_data {
				pointer-events: initial !important;
			}
		}
	}

	&.list {
		img {
			cursor: zoom-in;
			height: 100%;
			width: 100%;
			object-fit: contain;
		}
	}

	&.search {
		>.content_data {
			min-height: unset;
			>.content_value {
				height: unset;
			}
		}
	}

	&.view_default {
		&.list {

		}
	}

	&.view_player {
		box-shadow: none;
		display: block;

		.label {
			display: none;
		}
		>.content_data {
			display: grid;
			height: 100%;
		}
	}

	&.view_line {
		display: inline-block;
		&.list {
			height: 5rem;
		}
		.content_value {
			text-align: center;
		}
	}

	&.view_viewer {
		background-color: #000000;
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		>.content_data {
			height: unset;
			width: 100%;
			text-align: center;

			video {
				width: 100%;
				max-height: 82vh;
			}
		}

		// button download
		.download {
			bottom: 10px;
			height: 3em;
			position: fixed;
			right: 10px;
			width: 3em;
			z-index: 2;
			padding: unset;
			margin: unset;

			&:before {
				height: 1.5em;
				width: 1.5em;
				margin: unset;
			}
		}
	}//end &.viewer

	// with suffix _mini like 'component_av_mini'
	&_mini {
		display: inline-block;
		vertical-align: middle;
		// margin-top: -0.4rem;
		// margin-bottom: -0.4rem;
		img {
			height: 2rem;
		}
	}

	&.view_text {
		// height: 2rem;
		// vertical-align: text-bottom;
	}

	&.view_print {

	}

}//end .component_av
