/**
* component_av
*
* Included from main.less file
*/
.component_av {

	// posterframe
	.posterframe {
		width: 100%;
		height: 100%;
		max-height: 100%;
		max-width: 100%;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		object-fit: contain;
		object-position: center;
		align-self: center;

		// on focus adds a soft shadow and outline
		&:focus {
			.hilite_mixin(-1px);
		}
	}

	// shared player av_control_buttons
	.av_control_buttons {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		align-items: center;
		justify-content: center;
		padding-bottom: 0.75rem;
		padding-top: 0.75rem;

		>button {
			height: 2rem;
			text-align: center;
			margin-bottom: 0.25rem;
			margin-top: 0.25rem;

			&:before {
				margin: 0px;
			}

			&:last-of-type {
				margin-right: 0px;
			}
		}
		.smpte {
			display: inline-block;
			width: auto;
			height: 1em;
			color: @color_orange_dedalo;
			padding: 0px;
			margin-left: 1rem;
			margin-right: 1rem;
			font-family: Verdana, Geneva, sans-serif;
			font-size: 1.65rem;
			vertical-align: baseline;
			text-shadow: 1px 1px 2px #c3c3c3;
		}
	}

	&.edit {

		>.content_data {

			// video_container
			>.content_value {

			}

			// posterframe
			.posterframe {

			}
		}

		&.disabled_component {
			.content_data {
				pointer-events: initial !important;
			}
		}
	}

	&.list {

	}

	&.search {

		>.content_data {
			min-height: unset;
			>.content_value {
				height: unset;
			}
		}
	}

	&.view_default {

	}

	&.view_player {
		box-shadow: none;
		display: block;

		.label {
			display: none;
		}
		>.content_data {
			display: grid;
			height: 100%;
		}
	}

	&.view_line {
		display: inline-block;
		&.list {
			height: 5rem;
		}
		.content_value {
			text-align: center;
		}
	}

	&.view_viewer {
		background-color: #000000;
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		>.content_data {
			height: unset;
			width: 100%;
			text-align: center;

			video {
				width: 100%;
				max-height: 82vh;
			}
		}

		// button download
		.download {
			bottom: 10px;
			height: 3em;
			position: fixed;
			right: 10px;
			width: 3em;
			z-index: 2;
			padding: unset;
			margin: unset;

			&:before {
				height: 1.5em;
				width: 1.5em;
				margin: unset;
			}
		}
	}//end &.viewer

	// with suffix _mini like 'component_av_mini'
	&_mini {
		display: inline-block;
		vertical-align: middle;

		img {
			height: 2rem;
		}
	}

	&.view_text {

	}

	&.view_print {

	}

}//end .component_av
