/**
* TOOL_DIFFUSION
*
* Loaded on tool init
*/

// imports
@import '../../../core/page/css/layout/vars.less';



// tool wrapper
// Encapsulate all tool content to prevent core collisions
	.wrapper_tool.tool_diffusion {

		>.content_data {

			.section_info {
				display: flex;
				justify-content: space-between;

				.section_name {
					font-size: 1.5rem;
					padding: 1rem;
				}
				.section_tipo {
					font-size: 1.5rem;
					padding: 1rem;
					color: #959595;
					font-weight: 200;
				}
			}


			.diffusion_info_container {
				display: block;
				padding: 1rem;

				.resolve_levels_container {
					input {
						text-align: center;
						background-color: #f7f6f6;
						width: 3rem;
						border: 1px solid #e7e5e5;
						border-radius: 3px;
						margin-left: 1rem;
						margin-right: 1rem;
						padding: 0.2rem;
					}
				}

				.button.info {
					float: right;
					height: 1.5rem;
					width: 1.5rem;
					top: -1rem;
					position: relative;
				}

				.info_div {
					width: 100%;
					margin-top: 1.5rem;
					border-radius: 3px;
				}

				.info_text {
					padding: 2rem;
					padding-left: 0px;
					font-weight: 300;
				}
			}

			.buttons_container {
				padding-left: 0.5rem;
				padding-bottom: 1rem;

				.button_apply {

				}
			}

		}//end content_data
	}//end wrapper_tool



// modal header tool modification
	.tool_header.tool_diffusion {
		background-color: #8aa364;
	}
