/**
* TOOL_DIFFUSION
*
* Loaded on tool init
*/

// imports
@import (once) '../../../core/page/css/layout/vars';

// local vars
@tool_color : #8aa364;

// tool wrapper
// Encapsulate all tool content to prevent core collisions
	.wrapper_tool.tool_diffusion {

		>.content_data {

			.spinner {
				border-top-color: @tool_color;
			}

			.section_info {
				display: flex;
				justify-content: space-between;

				.section_name {
					font-size: 1.5rem;
					padding: 1rem;
				}
				.section_tipo {
					font-size: 1.5rem;
					padding: 1rem;
					color: #959595;
					font-weight: 200;
				}
			}


			.diffusion_info_container {
				padding: 1rem;

				.resolve_levels_container {
					input {
						text-align: center;
						background-color: #f7f6f6;
						width: 3rem;
						border: 1px solid #e7e5e5;
						border-radius: 3px;
						margin-left: 1rem;
						margin-right: 1rem;
						padding: 0.2rem;

						&.skip_publication_state_check_input {
							margin-right: 0.5rem;
							width: auto;
							margin-left: 3rem;
							vertical-align: text-bottom;
						}
					}
				}

				.button.info {
					float: right;
					height: 1.5rem;
					width: 1.5rem;
					top: -1rem;
					position: relative;
				}

				.info_div {
					width: 100%;
					margin-top: 1.5rem;
					border-radius: 3px;
				}

				.info_text {
					padding: 2rem;
					padding-left: 0px;
					font-weight: 300;
				}
			}

			// publication_items. Every section_map generates a new one
			.publication_items {
				display: flex;
				justify-content: center;
				padding: 1rem;
				flex-wrap: wrap;

			    .publication_items_grid {
					background-color: #f7f6f6;
					display: grid;
					grid-template-rows: 2rem 2rem 2rem 2rem 2rem 1fr 2rem auto;
					gap: 0.66rem;
					align-content: space-between;
					// align-items: center;
					width: fit-content;
					grid-template-columns: auto 1fr;
					border-radius: 0.5rem;
					margin-left: 0.5rem;
					margin-right: 0.5rem;
					border: 1px solid lighten(@tool_color, 10%);
					padding: 1rem;
					flex: 1 0;
					margin-bottom: 0.75rem;

					.label, .value {
						// padding: 0.5rem;
						// padding-bottom: 0px;
						line-height: 1.7rem;
					}

					.label {
						opacity: 0.8;
					}

					.value {
						font-weight: bold;

						&.fail {
							color: red;
						}
						&.success {
							color: green;
						}

						&.light {
							font-weight: 100;
							font-family: monospace;
							font-size: 0.95rem;
							color: @color_grey_dark;
						}
					}

					// .fields_grid {
					// 	display: grid;
					// 	grid-template-columns: 1fr 2fr;
					// }

					.fields_grid_value.label {
						// border-left: 1px solid @tool_color;
						margin-left: 1rem;

						// &:first {
						// 	margin-top: 2rem;
						// 	background-color: #fae600;
						// }
					}

					.fields_grid_value.link {
						cursor: pointer;
						&:hover {
							color: darken(@tool_color, 50%);
							font-weight: 400;
						}
						&:active {
							opacity: 0.4;
						}
					}

					.value.link {
						// width: 50%;
						// background-color: antiquewhite;
						padding: 0px;
						&:after {
							right: unset;
							padding-left: 3.5rem;
							top: 0.5rem;
						}
					}

					.fields_grid_value_obs {
						line-height: 0.95rem;
						padding-left: 1.25rem;
						font-size: 80%;
						color: #acacac;
					}

					.container_bottom {
						position: relative;
						grid-column: span 2;
						display: flex;
						flex-wrap: wrap;
						justify-content: center;
						padding: 1rem;
						padding-bottom: 0px;

						.response_message {
							padding: 1rem;
							width: 100%;
							overflow-wrap: break-word;
							line-height: 1.1rem;
							font-weight: 700;
							padding-left: 0;
							padding-right: 0;

							a {
								padding-top: 0.5rem;
								display: inline-block;
								padding-bottom: 0.5rem;
							}

							>.detail_container {
								font-weight: 300;
								padding-top: 1rem;
								padding-bottom: 1rem;
								font-size: 0.9rem;
								line-height: 1.1rem;
								font-family: monospace;

								.green {
									color: @color_green_success;
								}
								.red {
									color: @color_danger;
								}
							}
						}

						.publication_button {
							margin: 1rem;
							background-color: @tool_color;
							border-color: darken(@tool_color, 5%);

							&.not_ready {
								opacity: 0.4;
							}
						}

						.spinner {
							position: relative;
							left: auto;
							top: auto;
							margin-bottom: 1rem;
						}


					}
				}
			}


			.buttons_container {
				padding-left: 0.5rem;
				padding-bottom: 1rem;
			}

		}//end content_data
	}//end wrapper_tool



// modal header tool modification
	.tool_header.tool_diffusion {
		background-color: @tool_color;
	}
