/**
* area_thesaurus
*
* Only use to set general thesaurus styles, not dynamic rows
* Specific CSS for ts_object must be written in ts_object.less
*
* Included from main.less file
*/
.area_thesaurus {
	// @ts_line_height: 34px;
	// font-family: 'Arial', sans-serif;
	// font-size: 1em;
	display: table;
	width: 100%;
	padding: 1rem;

	>.label {

	}

	>.search_container {
		//background-color: aliceblue;
		position: relative;

		>.spinner {
			position: relative;
			margin: 20px;
		}
	}

	>.content_data {
		margin-top: 0.75rem;

		// ul .thesaurus_list_wrapper
		>.thesaurus_list_wrapper {
			background-color: rgba(255, 255, 255, 0.84);
			width: 100%;
			height: 100%;
			padding: 0.25rem;
			margin: 0px;

			// li thesaurus_type_block
			>.thesaurus_type_block {
				padding: 0px;

				// typology_name like 'Toponymy'
				>.typology_name {
					background-color: rgba(230, 230, 230, 0.88);
					text-transform: uppercase;
					padding: 0.5em;
					margin-bottom: 0.25em;
					margin-top: 0.25em;
					// border-bottom: 1px solid white;
					font-size: 1em;
					line-height: 1em;
					color: #636363;
					cursor: pointer;
					&:hover {
						background-color: #e0e0e0;
					}
					&:active {
						background-color: #bbbbbb;
						color: #ffffff;
					}
				}

				// typology_container
				>.typology_container {
					padding: 0px;
				}

			}
		}
	}//end .content_data



	.typology_hide {
		//background-color: #B4522C !important;
		background: transparent url('../../themes/default/drop-down-arrow.png') no-repeat right center;
		background-size: 12px;
		background-position: right 10px center;
		opacity: 0.5;
	}
	.area_thesaurus .typology_name_model {
		background-color: rgb(245, 158, 61);
		color: white;
	}
	.area_thesaurus .typology_name_model:before {
		content: ' [M]';
	}
	/* HIERARCHY_NAME like 'España'
	------------------------------------------------ *//*
	.area_thesaurus .elements_container .list_thesaurus_element.hierarchy_name {
		width: 100%;
		//padding: 7px;
		//background-color: #727272;
		//padding-left: 10px;
		//font-size: 1.15em;
		text-align: left;
		//color: #333333;
		border: none;
		//border-bottom: 1px solid #ebebeb;
		font-weight: bold;
		opacity: 1;
		text-transform: uppercase;
		padding-left: 0;
		}
		.area_thesaurus .elements_container .list_thesaurus_element.hierarchy_name:hover {
			cursor: default;
			color: inherit;
		}
		.area_thesaurus .elements_container .hierarchy_name .ts_object_add {
			display: inline-block;
			position: relative;
			top: 5px;
			left: 4px;
		}
		*/

	/* HIERARCHY_ROOT_NODE Container (children container)
	------------------------------------------------ */
	.area_thesaurus .hierarchy_root_node > .children_container {
		//background-color: #EDEDED;
		//min-height: @ts_line_height;
		//padding: 7px;
		margin: 0px;
		padding: 0px;
	}
	/* ID_COLUMN_CONTENT
	------------------------------------------------ */
	.area_thesaurus .hierarchy_root_node > .children_container > .wrap_ts_object > .id_column_content {

		}
		.area_thesaurus .hierarchy_root_node > .children_container > .wrap_ts_object > .id_column_content > .ts_object_drag {
			display: none;
		}
		.area_thesaurus .hierarchy_root_node > .children_container > .wrap_ts_object > .id_column_content > .ts_object_delete {
			display: none;
		}

	/* ELEMENTS_CONTAINER
	------------------------------------------------ */
	.area_thesaurus .hierarchy_root_node > .elements_container {
		//height: 0;
		display: none;
		}
		/* HIERARCHY_NAME like 'España'
		------------------------------------------------ */
		.area_thesaurus .hierarchy_root_node > .children_container > .wrap_ts_object > .elements_container > .list_thesaurus_element {
			//width: 100%;
			//padding: 7px;
			//background-color: #727272;
			//padding-left: 10px;
			//font-size: 1.15em;
			text-align: left;
			//color: #333333;
			border: 0px;
			//border-bottom: 1px solid #ebebeb;
			font-weight: bold;
			opacity: 1;
			text-transform: uppercase;
			padding-left: 0px;
		}
		.area_thesaurus .hierarchy_root_node > .children_container > .wrap_ts_object > .elements_container > .list_thesaurus_element:hover {
			//cursor: default;
			color: inherit;
		}



/* SEARCH FORM
------------------------------------------------
.search_form_container {
	//background-color: #A6E1A2;
	padding: 10px;
	padding-top: 5px;
	width: 100%;
	}
	.search_form_container .wrap_component {
		//background-color: #EED31D;
		float: left;
		width: 25%;
		}
		.search_form_container .wrap_component .css_label {
			width: 50%;
			vertical-align: middle;
		}
		.search_form_container .wrap_component .content_data {
			width: 50%;
		}
		.search_form_container .wrap_component .input_css_section_id {
			width: 70px;
		}
		.search_form_container .wrap_component .css_input_text_search {
			width: 100%;
		}

	.search_form_container hr {
		display: none;
	}*/
	.search_form_container {
		margin: 0px;
		margin-left: 40px;
		margin-right: 40px;
		margin-top: 10px;
		//background-color: aliceblue;
	}


	/* BETA
	------------------------------------------------ */
		.beta {
			color: #ee8d09;
			position: absolute;
			right: 25px;
			margin-top: 5px;
			font-weight: bold;
		}


	/* COMPONENT OVERWRITE CSS
	------------------------------------------------ */
		.reset_wrap {
			//background-color: #41E8F5;
			width: inherit;
			border: 0px;
			height: initial;
		}
		.reset_label {
			//background-color: #B6F55B;
			width: initial;
			padding-top: 5px;
		}
		.reset_content_data {
			//background-color: #F556DB;
			display: inline-block;
			width: auto;
			min-width: 30%;
		}

		// Inside all ts objects
		.wrap_ts_object {
			//height: 22px;
			>.wrap_component {
				.reset_wrap;
			}
			>.wrap_component label {
				.reset_label;
			}
			>.wrap_component .content_data {
				.reset_content_data;
			}
			>.wrap_component .content_data .button_add {
				top: 4px;
			}
			>.wrap_component .content_data .css_input_text {
				min-width: 260px;
			}
			/*
			// Related terms standard
			.wrap_component_hierarchy35 {
				.reset_wrap;
				}
				.wrap_component_hierarchy35 label {
					.reset_label;
				}
				.wrap_component_hierarchy35 .content_data {
					.reset_content_data;
				}
			// Children
			.wrap_component_muvaet274 {

				}
			*/
		}//end wrap_ts_object


	#submit_group {
		clear: both;
		padding-top: 10px;
	}

	#hierarchy_selector {
		margin-top: 5px;
	}

	span.label_hierarchy_selector {
		min-width: initial;
		padding: 7px;
		padding-right: 30px;
		padding-top: 10px;
	}

	.css_operator_select {
	    padding: 2px;
	    cursor: pointer;
	    clear: both;
	    width: 100%;
	    margin: 0px;
	}

	.css_wrap_max_rows {
		width: 12%;
	}

	.section_buttons_container {
		margin-right: 45px;
		padding-top: 3px;
	}

}//end .area_thesaurus
