/**
* service_upload
*
* Included from main.less file
*/

.service_upload {

	>.content_data {
		padding: 1rem;
		position: relative;
		padding-bottom: 0;

		>form {
			display			: flex;
			flex-wrap		: wrap;
			align-items		: center;
			justify-content	: center;

			>label {
				padding: 1.5rem;
				padding-left: 1.75em;
				padding-right: 1.75em;
				background-color: @color_grey_13;
				border: 1px dashed @color_orange_dedalo;
				border-radius: 0.25em;
				cursor: pointer;
				width: 100%;

				&.hover {
					background-color: @color_orange_dedalo;
					color: @color_white;
					cursor: move !important;
				}

				&.loading_file {
					opacity: 0.25;
					pointer-events: none;
				}

				img, span {
					pointer-events: none;
				}

				.note {
					font-family: monospace;
					vertical-align: middle;
				}

				>img {
					height: 1.5em;
					padding-right: 1em;
					vertical-align: text-bottom;
				}
			}

			>input {
				width: 0.1px;
				height: 0.1px;
				opacity: 0;
				overflow: hidden;
				position: absolute;
				z-index: -1;
			}

			>.ocr_options_container {
				padding-top: 1.5rem;
				background-color: @color_white;

				.checkbox_label input{
					margin-right: 0.5rem;
				}
				.combobox_label{
					margin-left: 1.5rem;
					input{
						margin-right: 0.5rem;
					}
				}
			}
		}

		>.progress_bar_container {
			padding: 0;

			>div.progress_info {
				font-size: 1.25em;
				color: @color_grey_7;
				font-weight: 300;
				padding-top: 0.75em;
				padding-bottom: 0.25em;
				height: 2.5rem;
			}

			>progress.progress_line {
				 width: 100%;
				 margin-bottom: 0.5em;
			}

		}//end >.progress_bar_container


		// response_container
		>.response_container {
			padding-top: 0.5em;
			display: flex;

			>.response_msg {
				flex: 1 1 70%;

				&.success {
					color: @color_success;
				}
				&.failed {
					color: @color_danger;
				}

				.blink {
				  animation: blinker 1s linear infinite;
				}
				@keyframes blinker {
				  50% {
				    opacity: 0;
				  }
				}
			}
		}

		// system info
		.button.info {
			background-color: @color_black;
			position: absolute;
			right: 0.75rem;
			top: 6.5rem;
		}

		.info_container {
			background-color: @color_grey_15;
			color: @color_grey_8;
			margin-top: 1.5em;
			display: grid;
			grid-template-columns: 1fr 3fr;

			>label, >div {
				padding: 0.75em;
			}

			>label {
				padding-right: 2em;
			}

			>div {

			}
		}
	}//end content_data
}//end .service_upload
