<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/|version|/phpunit.xsd"
         executionOrder="default"
         cacheResult="false"
         bootstrap="../test/bootstrap.php">
    <php>
        <ini name="error_reporting" value="E_ALL &amp; ~E_NOTICE &amp; ~E_WARNING &amp; ~E_DEPRECATED"/>
    </php>
    <testsuites>
        <testsuite name="db">
            <directory>../test/db</directory>
        </testsuite>

        <testsuite name="unit API">
            <directory>../test/api</directory>
        </testsuite>

        <testsuite name="unit login">
            <directory>../test/login</directory>
        </testsuite>

        <testsuite name="unit search">
            <directory>../test/search</directory>
        </testsuite>

        <testsuite name="unit common">
            <directory>../test/common</directory>
        </testsuite>

        <testsuite name="unit section">
            <directory>../test/section</directory>
        </testsuite>

        <testsuite name="unit areas">
            <directory>../test/area</directory>
        </testsuite>

        <testsuite name="unit components">
            <directory>../test/components</directory>
        </testsuite>

         <testsuite name="unit ts_object">
            <directory>../test/ts_object</directory>
        </testsuite>

        <testsuite name="unit hierarchy">
            <directory>../test/hierarchy</directory>
        </testsuite>

        <testsuite name="unit dd_grid">
            <directory>../test/dd_grid</directory>
        </testsuite>

         <testsuite name="tools">
            <directory>../test/tools</directory>
        </testsuite>

    </testsuites>
</phpunit>
