<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.5.11/phpunit.xsd"
         executionOrder="default"
         cacheResult="false"
         bootstrap="bootstrap.php"
         colors="true">
    <php>
        <ini name="error_reporting" value="E_ALL &amp; ~E_NOTICE &amp; ~E_WARNING &amp; ~E_DEPRECATED"/>
    </php>
    <extensions>
        <extension class="TestTimeExtension" file="TestTimeExtension.php"/>
    </extensions>
    <source>
        <exclude>
            <directory>*/acc</directory>
            <directory>*/files</directory>
        </exclude>
    </source>
    <testsuites>
        <testsuite name="API">
            <directory>api</directory>
        </testsuite>

        <testsuite name="area">
            <directory>area</directory>
        </testsuite>

        <testsuite name="base">
            <directory>base</directory>
        </testsuite>

        <testsuite name="common">
            <directory>common</directory>
        </testsuite>

        <testsuite name="core">
            <directory>core</directory>
        </testsuite>

        <testsuite name="db">
            <directory>db</directory>
            <exclude>db/acc</exclude>
        </testsuite>

        <testsuite name="dd_grid">
            <directory>dd_grid</directory>
        </testsuite>

        <testsuite name="hierarchy">
            <directory>hierarchy</directory>
        </testsuite>

        <testsuite name="login">
            <directory>login</directory>
        </testsuite>

        <testsuite name="ontology">
            <directory>ontology</directory>
        </testsuite>

        <testsuite name="search">
            <directory>search</directory>
        </testsuite>

        <testsuite name="section">
            <directory>section</directory>
        </testsuite>

        <testsuite name="section_record">
            <directory>section_record</directory>
        </testsuite>

        <testsuite name="security">
            <directory>security</directory>
        </testsuite>

        <testsuite name="shared">
            <directory>shared</directory>
        </testsuite>

        <testsuite name="tm_record">
            <directory>tm_record</directory>
        </testsuite>

        <testsuite name="tools">
            <directory>tools</directory>
        </testsuite>

        <testsuite name="ts_object">
            <directory>ts_object</directory>
        </testsuite>
    </testsuites>
</phpunit>
