/**
* component_inverse
*
* Included from main.less file
*/
.component_inverse {
	// background-color: #50f9af;

	&.view_default {
		>.content_data {

		}
	}

	&.view_line {
		display: inline-block;
	}
}
