/**
* component_inverse
*
* Included from main.less file
*/
.component_inverse {

	&.view_default {
		>.content_data {
			max-height: 30rem;
			overflow: auto;
		}
	}

	&.view_line {
		display: inline-block;
	}

}
