/**
* component_inverse
*
* Included from main.less file
*/
.component_inverse {

	&.edit {
		box-shadow: inset -1px 0px 0 #f0f0f0;

		>.content_data {
			max-height: 30rem;
			overflow: auto;

			>.label {
				color: @color_white;
				text-align: left;
			}

			>.content_value {

				>.inverse_show_section_id {
					font-weight: 700;
					font-size: larger;
					letter-spacing: .05em;
					color: #fff;
					width: 100%;
					text-align: center;
				}
			}
		}
	}//end .edit

	&.view_line {
		display: inline-block;
	}

}//end .component_inverse
