/**
* add_hierarchy
*
* Included from area_maintenance.less file
*/
.wrapper_widget.add_hierarchy {

	.description {
		line-height: 1.1rem;
		padding-bottom: 0.5rem;
	}

	.hierarchy_container {
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.typology_label {
		font-size: 1.3rem;
		text-align: center;
		padding: 0;
		border-bottom: 0.1rem @color_grey_6 solid;
	}

	// hierarchies_import_block
	.hierarchy_ul {
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 1.5rem;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 0.25rem;

		@media screen and (max-width: @width_break_point_1) {
			grid-template-columns: repeat(4, 1fr);
		}
		@media screen and (min-width: 2000px) {
			grid-template-columns: repeat(8, 1fr);
		}
	}

	.hierarchy_label {
		cursor: pointer;
		line-height: 1.5rem;
		margin-bottom: 2px;
		padding: 0px;
		padding-right: 0.75rem;
		display: inline-block;
		align-items: center;

		&:hover {
			box-shadow: 0px 1px 0px @color_grey_13;
		}

		>.hierarchy_checkbox {
			vertical-align: text-bottom;
			line-height: 1rem;
			height: 1rem;
			width: 1rem;
			margin: 0px;
			margin-right: 0.5rem;
			margin-left: -1.5rem;
		}

		>.active_hierarchy {
			color: @color_green_success;
			font-weight: 800;
		}
	}

	.import_hierarchies_button {
		background-color: @color_white;
		color: @color_black;
	}

	.msg {
		position: relative;
		padding: 2rem;

		.spinner {
			top: 0px;
		}
	}

	.button_refresh {
		padding: 1rem;
		padding-top: 0.25rem;
		padding-bottom: 0.25rem;
		float: right;
	}
}//end add_hierarchy
